.ques {
  padding-bottom: 8rem;
  &.pd-0 {
    padding: 0;
  }
  @include max-media(768px) {
    padding-bottom: 6rem 0;
  }
  &-wrap {
    padding: 5.2rem 6.4rem;
    background: url('') 50% 50% / cover no-repeat;
    @include max-media(1200px) {
      padding: 5rem 3rem;
      margin: 0 -1.5rem;
    }
  }
  &-left {
    width: 59rem;
    margin-right: auto;
    @include max-media(1200px) {
      width: 50%;
    }
    @include max-media(768px) {
      margin: 0 auto;
      width: 100%;
      width: 50rem;
      text-align: center;
    }
  }
  &-right {
    width: max-content;
    a {
      margin-right: 1.6rem;
      white-space: nowrap;
      &:last-child {
        margin-right: 0;
      }
    }
    @include max-media(768px) {
      margin-top: 2.4rem;
      width: 100%;
      a {
        margin-left: 0;
      }
    }
  }
}
.road {
  background: linear-gradient(180deg, rgba(235, 255, 255, 0.7) 0%, #e0ffff 100%);
  .swiper-chung {
    margin: 5.6rem -1.5rem 0;
    @include max-media(768px) {
      margin-top: 3rem;
    }
  }
  .swiper-slide {
    width: 25%;
    padding: 0 1.5rem;
    min-width: 300px;
    &:nth-child(even) {
      .road-num .line {
        background-image: url('../assets/images/svg/ro2.svg');
      }
    }
    &:last-child {
      .road-num .line {
        @include cir(24px);
        transform: translate(-12px, -7px);
        margin: 0;
        background-image: url('../assets/images/svg/ro3.svg');
        background-size: 100% 100%;
      }
    }
  }
  &-item {
    height: 100%;
    padding-top: 1.5rem;
    color: #4f4f4f;
  }
  &-num {
    margin-bottom: 3.2rem;
    .num {
      @include fz(24);
      font-weight: 600;
      color: $c-pri;
      @include sqr(6.4rem);
      border-radius: 12px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 3px 1.5rem 2rem rgba(109, 141, 173, 0.2);
    }
    .line {
      width: calc(100% - 6.2rem - 8px);
      margin-left: 8px;
      height: 6.2rem;
      background: url('../assets/images/svg/ro1.svg') 0% 50% / contain no-repeat transparent;
    }
  }
  &-title {
    @include fz(24);
    font-weight: 600;
    margin-bottom: 8px;
    min-height: 108px;
  }
  &-txt {
    @include fz(16);
  }
}
.grid {
  &-wrap {
    margin: 5.6rem -1.5rem -5rem;
    @include max-media(768px) {
      margin: 3rem -1.5rem -3rem;
      .col-4 {
        width: 50%;
      }
    }
    @include max-media(480px) {
      .col-4,
      .col-6 {
        width: 100%;
      }
    }
  }
  &-item {
    margin-bottom: 5rem;
    img {
      display: block;
      width: 8.3rem;
      margin-bottom: 2rem;
    }
    .txt {
      color: #4f4f4f;
      max-width: 52rem;
    }
    @include max-media(768px) {
      margin-bottom: 3rem;
    }
    @include max-media(480px) {
      img {
        width: 7rem;
        margin: 0 auto 1rem;
      }
      .txt {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }
}
