.ab {
  margin: calc(var(--headH, 0px)) auto 8rem;
  @include max-media(1200px) {
    margin: calc(var(--headH, 0px) + 0rem) auto 8rem;
  }
  &-ban {
    .con {
      position: relative;
    }
    &-num {
      width: 11rem;
      margin-right: 1.5rem;
      padding: 2rem 0;
      line-height: 1;
    }
    &-line {
      width: 7.5rem;
      height: 2px;
      margin: 0 8px;
      background: url('../assets/images/svg/ban-li.svg') 50% 50% / contain;
    }
  }
  .swiper-slide {
    img {
      width: 100%;
    }
  }
  &-mb {
    display: none;
  }
}
.intro {
  overflow: hidden;
  &-title {
    @include fz(40);
    margin-bottom: 4.3rem;
    line-height: 1;
  }
  &-txt {
    @include fz(20);
  }
  &-wrap {
    margin: 0 -1.5rem;
  }
  &-link {
    color: $c-sec;
    justify-content: flex-end;
    a {
      padding: 8px 2.5rem;
      border-radius: 99px;
      transition: 0.2s linear;
      @include hover() {
        background-color: $c-pri;
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .col-4 {
    text-align: right;
    .sec-title {
      white-space: nowrap;
      line-height: 1.3;
      letter-spacing: -1px;
    }
    .intro-txt {
      margin-bottom: 3.5rem;
    }
  }
  &-btn {
    padding: 1.2rem 3rem;
    margin-left: auto;
    margin-bottom: 2rem;
    min-width: 13rem;
  }
  &-decor {
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }
  &-img {
    @include min-media(1301px) {
      width: calc(100% + 10rem);
      margin-left: -10rem;
      img {
        display: block;
      }
    }
  }
  &-quote {
    margin: 8rem auto 0;
    @include max-media(768px) {
      margin: 3rem auto 0;
      .col-6 {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
      }
    }
    &-big {
      font-weight: bold;
      @include fz(40);
      padding-top: 6rem;
      line-height: 1;
      text-align: left;
      @include max-media(768px) {
        text-align: center;
        padding-top: 0;
      }
    }
    &-txt {
      text-align: left;
      position: relative;
      padding-top: 6rem;

      &::after {
        content: '';
        display: block;
        width: 5rem;
        height: 3.5rem;
        background-image: url('../assets/images/hc-4.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
      }
      @include max-media(768px) {
        text-align: center;
        &::after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.drone {
  background: url('../assets/images/bg-g.png') no-repeat;
  background-size: 100% 95%;
  padding: 28rem 0 24rem;

  position: relative;
  z-index: 1;
  .btn-sec {
    min-width: 13rem;
    padding: 1.2rem 3rem;
  }
  &-scroll {
    position: absolute;
    left: 50%;
    top: 6rem;
    &.bottom {
      top: unset;
      bottom: 0;
    }
    transform: translateX(-50%);
    height: 14rem;
    width: 1px;
    background: url('../assets/images/svg/scr-line.svg') 50% 50% / contain no-repeat;
    &::after {
      content: '';
      display: block;
      @include sqr(4rem);
      background: url('../assets/images/svg/scr-ic.svg') 50% 50% /100% no-repeat;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
      animation: jumping 1.5s linear infinite;
    }
  }
  &-content {
    width: 50%;
    margin-bottom: 4.5rem;
    .sec-title {
      line-height: 1;
    }
  }
  &-txt {
    margin-bottom: 3.5rem;
  }
  &-decor {
    width: 80rem;
    position: absolute;
    overflow: hidden;
    right: 0;
    img {
      display: block;
      margin-left: 7rem;
      margin-right: -7rem;
    }
    top: 0;
    pointer-events: none;
  }
  &-item {
    .img {
      margin-bottom: 2.5rem;
      a {
        box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        transition: 0.2s linear;
        @include hover() {
          img {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
      img {
        transition: 1s linear;
      }
    }
    .name {
      display: block;
      @include fz(24);
      font-weight: bold;
      padding-left: 7rem;
      position: relative;
      margin-bottom: 3rem;
      transition: 0.3s ease;
      &::after {
        content: '';
        display: block;
        width: 4rem;
        height: 1px;
        background-color: $c-gre;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s ease;
      }
      .c-gre {
        transition: 0.3s ease;
      }
      @include hover() {
        color: $c-pri;
        .c-gre {
          color: $c-pri;
        }
        &::after {
          background-color: $c-pri;
        }
      }
    }
  }
  .swiper-container {
    margin: 0 -1.5rem;
  }
  .swiper-slide {
    width: 25%;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
}
.last {
  .btn-sec {
    min-width: 13rem;
    padding: 1.2rem 3rem;
  }
  overflow: hidden;
  &-list {
    justify-content: space-between;

    margin: 0 -1.5rem 14rem;
  }
  .sec-title {
    line-height: 1;
    margin-bottom: 7.5rem;
  }
  &-col {
    max-width: 27rem;
  }
  &-title {
    @include fz(24);
    font-weight: bold;
    display: block;
    position: relative;
    margin-bottom: 3rem;
    transition: 0.2s linear;
    line-height: 1;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: $c-pri;
      position: absolute;
      left: 0;
      top: 50%;
      transition: 0.2s ease;
    }
    @include hover {
      padding-left: 5.5rem;
      color: $c-pri;
      &::after {
        width: 4rem;
      }
    }
  }
  .swiper-chung {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100vw;
      height: 1px;
      background: url('../assets/images/svg/la-line.svg') 0 100% / cover no-repeat;
      position: absolute;
      left: 50%;
      top: 7rem;
      transform: translateX(-50%);
      transition: 0.3s ease;
    }
  }
  .swiper-container {
    margin: 0 -1.5rem;
  }
  .swiper-slide {
    width: calc(100% / 3);
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
  &-item {
    .icon {
      width: 10rem;
      margin-bottom: 3rem;
      img {
        display: block;
      }
    }
    .img {
      margin-bottom: 3rem;

      a {
        box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        transition: 0.2s linear;
        @include hover() {
          img {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
      img {
        transition: 1s linear;
      }
    }
    .title {
      display: block;
      @include fz(24);
      font-weight: bold;
      padding-right: 9rem;
      position: relative;
      margin-bottom: 3rem;
      transition: 0.3s ease;
      @include lc(3);

      .c-gre {
        transition: 0.3s ease;
      }
      @include hover() {
        color: $c-pri;
        .c-gre {
          color: $c-pri;
        }
        &::after {
          opacity: 1;
          animation: button 1s linear infinite;
        }
      }
    }
  }
}

@include max-media(1300px) {
  .intro {
    .col-8 {
      width: 65%;
    }
    .col-4 {
      width: 35%;
      padding: 0 1.5rem;
      .intro-txt {
        margin-bottom: 2rem;
      }
      .sec-title {
        white-space: unset;
      }
    }
    &-txt {
      @include fz(17);
    }
  }
}
@include max-media(1200px) {
  .intro-wrap {
    flex-wrap: wrap;
    .col-6 {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .intro-link {
    justify-content: center;
  }
  .intro-title {
    margin-bottom: 3rem;
  }
  .drone {
    &-decor {
      width: 60rem;
    }

    &-item {
      .img {
        margin-bottom: 1rem;
      }
      .name {
        margin-bottom: 1rem;
        padding-left: 5rem;
        @include fz(20);
        &::after {
          width: 3rem;
        }
      }
    }
  }
  .last {
    .sec-title {
      margin-bottom: 5rem;
    }
  }
  .last {
    &-list {
      margin-bottom: 8rem;
    }

    .swiper-chung {
      &::after {
        top: 5rem;
      }
    }
    &-item {
      .icon {
        width: 8rem;
        margin-bottom: 1rem;
      }
      .img {
        margin-bottom: 1rem;
      }
      .title {
        padding-right: 0;
        @include fz(20);
        margin-bottom: 1rem;
      }
    }
  }
}
@include max-media(768px) {
  .intro {
    .col-8 {
      width: 50%;
    }
    .col-4 {
      width: 50%;
    }
  }
  .drone {
    padding: 18rem 0;
    &-scroll {
      top: 0;
    }
    &-decor {
      width: 40rem;
    }
    .swiper-slide {
      width: calc(100% / 3);
    }
    &-content {
      width: calc(100% * 2 / 3);
    }
  }
  .last {
    &-list {
      margin-bottom: 6rem;
    }
    .swiper-slide {
      width: 50%;
    }
    .swiper-chung {
      &::after {
        top: 5rem;
      }
    }
  }
}
@include max-media(600px) {
  .intro {
    .col-8 {
      width: 100%;
    }
    .col-4 {
      width: 100%;
    }
  }
  .drone {
    &-content {
      width: 100%;
    }
    .swiper-slide {
      width: 50%;
    }
  }
  .last {
    &-title {
      margin-bottom: 1rem;
    }
    &-list {
      .col-4 {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
    &-col {
      max-width: 100%;
    }
  }
}
@include max-media(480px) {
  .ab {
    &-des {
      display: none;
    }
    &-mb {
      display: block;
    }
    &-ban {
      &-num {
        width: 8rem;
      }
      &-line {
        width: 4.5rem;
      }
    }
  }
  .intro-title {
    line-height: 1.3;
    br {
      display: none;
    }
  }
  .drone {
    .swiper-slide {
      width: 100%;
    }
  }
  .last {
    &-list {
      margin-bottom: 4rem;
    }
    .swiper-slide {
      width: 100%;
    }
  }
}
