<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Giỏ hàng</title>
      <meta http-equiv="Cache-control" content="no-cache" />
      <meta http-equiv="Expires" content="-1" />
      <meta name="robots" content="noodp,noydir" />
      <meta name="format-detection" content="telephone=no" />
      <meta property="og:site_name" content="" />
      <meta name="description" content=" " />
      <meta name="keywords" content="" />
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <meta property="og:title" content="" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="" />
      <meta property="og:description" content="" />
      <meta name="format-detection" content="telephone=no" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel="stylesheet" type="text/css" href="css/fontawesome/css/all.css" />
   </head>
   <body>

         <!-- Header -->
         <div class="bg-navbar"></div>
         <header class="header">
            <div class="container">
               <div class="header__inner">
                  <a href="#" class="header__logo"><img src="images/logo-2.png" alt=""></a>
                  <div class="nav-icon">
                     <span></span>
                     <span></span>
                     <span></span>
                  </div>
                  <nav class="navbar navbar-collapse" >
                     <ul class="navbar-nav left">
                        <li class="current-menu-item"><a href="">Giới thiệu</a></li>
                        <li><a href="">Sản phẩm</a></li>
                        <li class="dropdown">
                           <a href="">Tuyển dụng</a>
                           <div class="sub-menu-wrap">
                              <ul class="sub-menu">
                                 <li><a href="#">Somethings</a></li>
                                 <li><a href="#">Somethings</a></li>
                                 <li><a href="#">Somethings</a></li>
                                 <li><a href="#">Somethings</a></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                     <ul class="navbar-nav right">
                        <li><a href="">Liên hệ</a></li>
                        <li class="login action-user">
                           <div class="box-user">
                              <a href="#" class="btn-user">
                                 <div class="user-img inline"><img src="images/user.png" alt=""></div>
                                 <p class="user-name inline">Phương Nguyễn</p>
                              </a>
                              <a href="#" class="user-out inline">Thoát</a>
                              <div class="sub-menu-wrap">
                                 <ul class="sub-menu">
                                     <li><a href="login.html">Đăng nhập</a></li>
                                     <li><a href="sign-up.html">Đăng kí</a></li>
                                     <li><a href="#">Tạo đơn hàng</a></li>
                                 </ul>
                             </div>
                           </div>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </header>

         <!-- Popup infor product  -->
         <div class="popup-info-bg">
            <span class="close"><i class="fal fa-times"></i></span>
         </div>
         <div class="popup-info-product">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="order">
                        <h6 class="title">Chi tiết đơn hàng</h6>
                        <table class="order-table">
                           <thead>
                              <tr>
                                  <th>STT</th>
                                  <th>tên hàng</th>
                                  <th>đơn vị</th>
                                  <th>số lượng</th>
                                  <th>đơn giá</th>
                                  <th>thành tiền</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>01</td>
                                 <td>Tên sản phẩm demo</td>
                                 <td>Cái</td>
                                 <td class="amount-product">
                                    1
                                 </td>
                                 <td>780,000</td>
                                 <td>780,000</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="cart-page">
            <div class="section content">
               <div class="wrap-cart">
                   <div class="container">
                       <div class="rows">
                        <div class="box-select relative">
                           <h6 class="cart-welcome">Chào mừng <span>Phương Nguyễn!</span></h6>
                        </div>
                        <div class="box-create text-right">
                            <a href="#" class="btn-create">
                                <span class="icon-plus inline"><i class="fal fa-plus"></i></span>
                                <span class="btn-text inline">tải lên excel</span>
                            </a>
                        </div>
                    </div>
                       <div class="row wrap-table">
                        <div class="col-md-12">
                            <div class="cart-table">
                                <h6 class="table-title">Các đơn đã đặt bằng website</h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="date">Ngày</th>
                                            <th class="number">Số phiếu</th>
                                            <th class="price">Giá trị đơn hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                           <td>25 tháng 10, 2019</td>
                                           <td>
                                              <button class="info-product">Chi tiết đơn hàng</button>
                                              <span>#kt-123abc456</span>
                                          </td>
                                           <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                       <tr>
                                          <td>25 tháng 10, 2019</td>
                                          <td>
                                             <button class="info-product">Chi tiết đơn hàng</button>
                                             <span>#kt-123abc456</span>
                                         </td>
                                          <td>14,230,000đ</td>
                                       </tr>
                                   </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                       <div class="row ">
                          <div class="col-md-12">
                             <div class="box-total text-right">
                                <div class="total inline">Tổng cộng</div>
                                <div class="inline product"><span>9</span> sản phẩm</div>
                                <div class="inline price">178,000,000đ</div>
                             </div>
                          </div>
                       </div>
                   </div>
               </div>
            </div>
         </div>
         <style>
              .footer {
                  display: block;
                  position: relative;
                  bottom: inherit;
                  left: inherit;
               }
               .header {
                display: block;
                opacity: 1;
             }
         </style>
         <!-- Footer -->
         <div class="footer">
            <div class="container h-100">
               <div class="row h-100">
                  <div class="col-md-6 col-sm-12 col-12 h-100">
                     <div class="footer__content h-100">
                        <span class="footer-text">Designed and developed by Mona Media</span>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-12 h-100">
                     <div class="footer__content h-100">
                        <ul class="footer__content--list">
                           <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href=""><i class="fab fa-instagram"></i></a></li>
                           <li><a href=""><i class="fab fa-twitter"></i></a></li>
                           <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="footer__content--hotline">
                           <a href="#">
                              <span>Hotline</span>
                              <p class="number">1900 456 456</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    
      <script type="text/javascript" src="js/jquery3.3.1.js"></script>
      <script type="text/javascript" src="js/Magnific-Popup-master/jquery.magnific-popup.min.js"></script>
      <script type="text/javascript" src="js/slick-1.8.1/slick.min.js"></script>
      <script type="text/javascript" src="js/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
      <script type="text/javascript"src="js/wow-master/wow.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/fullpagejs/easings.min.js"></script>
      <script type="text/javascript" src="js/fullpagejs/scrolloverflow.min.js"></script>
      <script type="text/javascript" src="js/fullpagejs/fullpage.js"></script>
      <script type="text/javascript" src="js/fullpagejs/fullpage.extensions.min.js"></script>

      <!-- Script riêng -->
      <script>
            $('.order-table tbody tr').each(function(){
					$(this).find("td").eq(0).attr("data-title","STT");
					$(this).find("td").eq(1).attr("data-title","TÊN HÀNG");
					$(this).find("td").eq(2).attr("data-title","đơn vị");
					$(this).find("td").eq(3).attr("data-title","số lượng");
					$(this).find("td").eq(4).attr("data-title","đơn giá");
					$(this).find("td").eq(5).attr("data-title","thành tiền");
					$(this).find("td").eq(6).attr("data-title","Xóa");
				  });
      </script>
   </body>
</html>