.breadcrumb{
    @include fz-16;
    padding-left: 3rem;
    position: relative;
    transition: 0.3s linear;
    &:first-of-type{
        padding-left: 0;
        &::after{
            display: none;
        }
    }
    &.active{
        font-weight: bold;
    }
    &:hover{
        color: $c-gre;
    }

    &::after{
        content: "";
        display: block;
        background-image: url('../assets/images/breadcumb.png');
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        left: 0.7rem;
        top: 0.3rem;
    }

}