.detail {
    &__container {
        display: flex;
        padding: 0;
    }
    &__slide {
        width: calc(100% * 2 / 3);
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        &__big {
            width: calc(100% - 13.5rem);
            .slide__item {
                outline: none;
                height: 46.8rem;
                img {
                    height: 100%;
                }
            }
        }
        &__small {
            width: 10.5rem;
            .slide__item {
                margin-bottom: 1.5rem;
                outline: none;
                max-width: none;
                overflow: hidden;
                border: 2px solid transparent;
                transition: 0.3s linear;
            }
            .slick-current {
                border: 2px solid $c-gre;
            }
            .slick-prev {
                width: 10.5rem;
                height: 5.3rem;
                border: 1px solid $c-gre;
                display: block;
                left: 0;
                top: unset;
                bottom: 0;
                transform: none;
                transition: 0.3s linear;
                background-color: #fff;
                &:before {
                    content: "";
                    display: block;
                    width: 1.8rem;
                    height: 1.8rem;
                    background-image: url("../assets/images/arr-left1.png");
                    @include default-background;
                    @include center-abs;
                }
                &:hover {
                    background-color: $c-gre;
                    &:before {
                        background-image: url("../assets/images/arr-left.png");
                    }
                }
            }
            .slick-next {
                width: 10.5rem;
                height: 5.3rem;
                border: 1px solid $c-gre;
                display: block;
                right: 0;
                bottom: 5.3rem;
                top: unset;
                transform: none;
                background-color: #fff;
                transition: 0.3s linear;
                &:before {
                    content: "";
                    display: block;
                    width: 1.8rem;
                    height: 1.8rem;
                    background-image: url("../assets/images/arr-right1.png");
                    @include default-background;
                    @include center-abs;
                }
                &:hover {
                    background-color: $c-gre;
                    &:before {
                        background-image: url("../assets/images/arr-right.png");
                    }
                }
            }
        }
    }
    &__info {
        width: calc(100% / 3);
        padding: 0 1.5rem;
        .sharea {
            margin-bottom: 0;
        }
        .section__title {
            margin-bottom: 2rem;
        }
    }
    &__name {
        background-color: $c-gre;
        color: #fff;
        padding: 0rem 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        display: inline-block;
        text-transform: uppercase;
    }
    &__btn {
        padding: 1.3rem 5rem;
        background-color: $c-gre;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        transition: 0.3s linear;
        &:hover {
            background-color: #fff;
            color: $c-gre;
            box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.3);
        }
    }
    &__list {
        padding: 1.5rem 0;
        margin: 0 -1.5rem;
    }
    &__item {
        padding: 1.2rem 1.5rem;
        display: flex;
        align-items: center;
        img {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1.5rem;
        }
        .bold {
            font-weight: bold;
            margin-right: 0.5rem;
        }
    }
    .share {
        margin-bottom: 0;
        padding: 1rem 2rem;
    }
}
@media only screen and (max-width: 1000px) {
    .detail {
        &__container {
            flex-wrap: wrap;
        }
        &__slide {
            width: 55%;
            position: relative;
            &__big {
                width: calc(100%);
                z-index: 1;
                .slide__item {
                    height: 40rem;
                }
            }
            &__small {
                position: absolute;
                bottom: 0;
                width: calc(100% - 3rem);
                .slick-prev {
                    z-index: 5;
                    bottom: 0;
                }
                .slick-next {
                    z-index: 5;
                    bottom: 0;
                    right: 0;
                    left: unset;
                }
            }
        }
        &__info {
            width: 45%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .detail {
        &__slide {
            width: 100%;
            margin-bottom: 6rem;
            flex-direction: column-reverse;
            &__big {
                width: calc(100%);
                margin-bottom: 0.7rem;

                .slide__item {
                    height: 30rem;
                    img {
                        margin: 0 auto;
                    }
                }
            }
            &__small {
                position: relative;
                bottom: 0;
                width: 100%;
                .slide__item {
                    margin: 0.7rem;
                }
                .slick-list {
                    width: 31.5rem;
                    max-width: 100%;
                    margin: 0 auto;
                }

                .slick-prev {
                    bottom: 50%;
                    transform: translateY(50%);
                    width: 4rem;
                    height: 4rem;
                }
                .slick-next {
                    bottom: 50%;
                    transform: translateY(50%);
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
        &__info {
            width: 100%;
        }
    }
}
