.duan {
    text-align: center;

    .section__title {
        display: block;
        margin: 0 auto;
        width: 70rem;
        max-width: 100%;
        margin-bottom: 4rem;
    }
    &__tab {
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        justify-content: center;
        margin-bottom: 3rem;
        overflow-x: auto;
        &__btn {
            @include fz-18;
            font-weight: bold;
            opacity: 0.4;
            transition: 0.3s linear;
            padding: 1.5rem 3rem;
            border-bottom: 4px solid transparent;
            cursor: pointer;

            &:hover {
                opacity: 1;
                border-bottom: 4px solid $c-gre;
                color: $c-gre;
            }
            &.active {
                opacity: 1;
                border-bottom: 4px solid $c-gre;
                color: $c-gre;
            }
        }
    }
    &__slide {
        margin: 0 -1.5rem;
        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
        }
        .slick-list {
            overflow: visible;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            bottom: -4rem;
            li {
                width: max-content;
                height: max-content;
                button {
                    width: 0.8rem;
                    height: 0.8rem;
                    padding: 0;
                    border-radius: 10rem;
                    border: 2px solid rgba(0, 0, 0, 0.2);
                    overflow: hidden;
                    appearance: none;
                    &::before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        border: 2px solid $c-gre;
                    }
                }
            }
        }
    }
    &__block {
        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }
    &__flex {
        display: flex;
        flex-wrap: wrap;
        margin: -1.5rem;
        .duan__item {
            width: calc(100% / 3 - 3rem);
            margin: 1.5rem;
            &__content {
                background-color: #f8f8f8;
            }
            &__link {
                @include fz-16;
                transition: 0.3s linear;
                &:hover {
                    color: $c-gre;
                }
            }
        }
        &.active {
            display: flex;
            visibility: visible;
            opacity: 1;
        }
    }
    &__item {
        margin: 0 1.5rem;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
        width: 50%;
        background-color: #fff;
        &__img {
            display: block;
            width: 100%;
            padding-bottom: 60%;
            position: relative;
            overflow: hidden;
            outline: none;
            img {
                min-width: 100%;
                max-width: none;
                height: 100%;
                @include center-abs;
                transition: 0.5s linear;
            }
            &:hover {
                img {
                    height: calc(100% + 3rem);
                }
            }
        }
        &__content {
            padding: 3rem;
            position: relative;
        }
        &__title {
            margin-bottom: 0.5rem;
            @include fz-14;
            font-weight: bold;
            color: $c-gre;
            display: block;
        }
        &__link {
            @include fz-20;
            font-weight: bold;
        }
    }
}
.duan__tab__content {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 900px) {
    .duan {
        &__flex {
            .duan__item {
                width: calc(50% - 3rem);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .duan {
        &__tab {
            justify-content: start;
            &__btn {
                min-width: max-content;
                border-bottom: none;
                &.active {
                    border-bottom: none;
                }
                &:hover {
                    border-bottom: none;
                }
            }
        }
        &__flex {
            .duan__item {
                width: calc(100% - 3rem);
            }
        }
    }
}
