.gioithieu {
    padding-bottom: 4rem;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 364px;
        height: 499px;
        background-image: url("../assets/images/dotdot.png");
        z-index: 5;
        top: 24rem;
        left: 12rem;
        pointer-events: none;
    }
    &__container {
        display: flex;
    }
    &__title {
        width: calc(100% / 3);
        background-color: $c-gre;
        color: #fff;
        padding: 5rem 5rem 12rem;
        position: relative;
        .section__title {
            margin-bottom: 0;
        }
        .section__subtitle {
            color: #a5e59d;
        }
    }
    &__content {
        width: calc(100% * 2 / 3);
        padding-left: 7rem;
        &__title {
            display: block;
            margin-bottom: 3rem;
            @include fz-25;
            font-weight: bold;
        }
        .bold {
            font-weight: bold;
            display: block;
            margin-bottom: 2rem;
        }
    }
    &__logo {
        width: 12.5rem;
        height: 12.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
        background-color: #464646;
    }
}
@media only screen and (max-width: 1000px) {
    .gioithieu {
        &::before {
            left: 80%;
        }

        &__title {
            width: 50%;
        }
        &__content {
            width: 50%;
            padding-left: 3rem;
            &__title {
                display: block;
                margin-bottom: 3rem;
                @include fz-25;
                font-weight: bold;
            }
            .bold {
                font-weight: bold;
                display: block;
                margin-bottom: 2rem;
            }
        }
        &__logo {
            width: 10rem;
            height: 10rem;
            transform: none;
        }
    }
}
@media only screen and (max-width: 800px) {
    .gioithieu {
        &::before {
            display: none;
        }
        &__container {
            flex-direction: column;
        }
        &__title {
            width: 100%;
            padding: 3rem;
            padding-right: 14rem;
        }
        &__content {
            width: 100%;
            padding-left: 0;
            padding-top: 3rem;
            &__title {
                display: block;
                margin-bottom: 3rem;
                @include fz-25;
                font-weight: bold;
            }
            .bold {
                font-weight: bold;
                display: block;
                margin-bottom: 2rem;
            }
        }
        &__logo {
            width: 8rem;
            height: 8rem;
            bottom: 50%;
            right: 3rem;
            transform: translateY(50%);
        }
    }
}

@media only screen and (max-width: 450px) {
    .gioithieu {
        &__title {
            padding: 1.5rem;
            padding-right: 9rem;
        }
        &__content {
            width: 100%;
            padding-top: 3rem;
        }
        &__logo {
            width: 6rem;
            height: 6rem;
            bottom: 50%;
            right: 1.5rem;
            transform: translateY(50%);
            img {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
