.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;;
    &.small{
        .header__top{
            max-height: 0;
            overflow: hidden;
        }
    }

    &__top{
        display: flex;
        width: 100%;
        align-items: center;
        max-height: 10rem;
        transition: 0.3s linear;

    }
    &__logo{
        width: 6rem;
        a{
            display: block;
        }
        &__small{
            display: none
        }
    }
    &__name{
        @include fz-20;
        width: calc(100% - 21rem);
        padding: 1.5rem;
        font-weight: bold;
        .green{
            color: $c-gre;
        }
    }
    &__link{
        max-width: 15rem;
        padding: 1.5rem 0;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
        color: $c-gre;
    }
    &__bottom{
        background-color: $c-gre;
        color: #fff;
        &__container{
            display: flex;
            align-items: center;
        }
    }
    &__menu{
        width:calc(100% - 15rem - 24rem);
    }
}


.menu{
    &__list{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        @include fz-14;
        line-height: 3rem;
        position: relative;
        z-index: 11;
        margin-left: -1rem;

        li{
            position: relative;
            z-index: 11;
            transition: 0.3s linear;
            
            &.dropdown{
                &::before{
                    content: "";
                    width: 0;
                    height: 0;
                    border: 1rem solid transparent;
                    border-bottom: 1rem solid $c-gre;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 2.5rem );
                    opacity: 0;
                    transition: 0.3s linear;
                }
            }

            &::after{
                content: "";
                display: block;
                width: 0;
                height: 0.3rem;
                background-color: #fff;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: 0.3s linear;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
                &::before{
                    opacity: 1;
                }
                .submenu{            
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0);
                    pointer-events: unset;
                }
                .submenu__btn{
                    span{
                        transform: rotate(270deg);
                        &::after{
                            opacity: 0;
                        }
                    }
                }
               }
            a{
                display: inline-block;
                height: 100%;
                line-height: 2.8rem;
                padding: 1.5rem 1rem;
                transition: 0.2s linear;
                position: relative;
                z-index: 12;
                text-transform: uppercase;

            }

            &.active{
                &::after{
                    width: 100%;
                }
            }
        }
    }
    &__btn{
        display: none;
    }
    &__bg{
        display: none;
    }
}

.submenu{
    pointer-events: none;
    display: block;
    min-width: 28.5rem;
    width: max-content;
    position: absolute;
    top: calc(100% + 2.5rem);
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 1rem 1rem 3rem rgba(0,0,0, 0.16);
    transform: translateX(2rem);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;

    &::before{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2.5rem;
        background-color: transparent;
        top: -2.5rem;
    } 
    li{
        
        a{
            text-transform: unset;
            font-weight: bold;
           &::after{
               display: none;
           }
           
        }
        &::after{
            display: none;
        }
        &:hover{
            background-color: $c-gre;
            color: #fff;
        }
    }
    &:hover{
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    &__btn{
        width: 0rem;
        padding:0.5rem;
        display: inline-block;
        position: relative;
        transform: translate(-1rem, 0.2rem);
        height: 1.5rem;
        z-index: 13;
        
        &> span{
            position: absolute;
            top: 0.3rem;
            width: 0.2rem;
            height: 0.8rem;
            background-color: #fff;
            transition: 0.5s linear; 

            &::after{
                border: 0;
                content: "";
                display: block;
                width: 0.8rem;
                height: 0.2rem;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s linear;
                z-index: 13; 
            }

        }

        &.active{
            span{
                transform: rotate(270deg);
                &::after{
                    opacity: 0;
                }
            }
        }
    }
    &.active{            
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

.search{
    width: 24rem;
    padding: 0.5rem 1.5rem;
    &__box{
        border: 1px solid #707070;
        border-radius: 0.6rem;
        background-color: #fff;
        overflow: hidden;
        display: flex;
    }
    &__input{
        width: calc(100% - 3.5rem);
        @include fz-14;
        font-style: italic;
        overflow: hidden;
        padding-right: 1rem;
    }
    &__submit{
        position:relative;
        width: 3.5rem;
        padding:1rem;
        display: block;
        background-color: #fff;

        cursor: pointer;

        img{
            display: block;
            width: 1.4rem;
            height: 1.4rem;
        }
    }
    &__btn{
        display: none;
    }
}
.hotline{
    width: 15rem;
    padding: 0.5rem 0;
    padding-left: 1.5rem;
    a{
        display: block;
        text-align: right;
        font-size: 1.8rem;
    }
    .blur{
        opacity: 0.5;
        display: block;
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: bold;
    }
}

.link__map{ 
    a{
        background-color: rgba(73,171,61, 0.1);
        padding: 1rem;
        padding-left: 3.3rem;
        display: block;
        margin-top: 1rem;
        position: relative;
        border-radius: 0.6rem;
        transition: 0.3s linear;

        img{
            position: absolute;
            width: 1.4rem;
            height: 1.4rem;
            top: 1rem;
            left: 1.3rem;
            transition: 0.3s linear;
            &:nth-of-type(2){
                opacity: 0;
            }
        }

        &:hover{
            background-color: $c-gre;
            color: #fff;
            img{
                &:nth-of-type(1){
                    opacity: 0;
                }
                &:nth-of-type(2){
                    opacity: 1;
                }
            }
        }
    }
}
.social{
    display: flex;
    justify-content: flex-end;
    &__item{
        margin-left: 0.5rem;
        a{
            display: block;
            width: 2rem;
            height: 2rem;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .search{
        padding: 0.5rem 0;
        width: 16.5rem;
    }
    .hotline{
        display: none;
    }
    .header{
        &__menu{
            width: calc(100% - 16.5rem);
        }
        &__link{
            padding: 0.5rem 0;
        }
    }
}


@media only screen and (max-width: 900px) {
    .header{
        &__logo__small{
            display: block;
            opacity: 0;
            visibility: hidden;
            width: calc(100% - 22.5rem);
            transition: 0.3s linear;
            padding: 0.5rem 0;
        }
        &.small{
            .header__logo__small{
                opacity: 1;
                visibility: visible;
            }
            .header__menu{
                height: calc(100vh - 7rem);
            }
        }
        &__name{
            .green{
                display: block;
            }
        }

        &__menu{
            display: block;
            width: 36rem;
            height: calc(100vh - 14.8rem);
            top: 7rem;
            left: 0;
            position: absolute;
            z-index: 13;
            transform: translateX(-100%);
            transition: 0.5s linear;
            &.active{
                width: 100%;
                transform: translateX(0);
            }
        }
        &__bottom__container{
            justify-content: flex-end;
        }
    }
    .menu{
        &__list{
            background-color: $c-gre;
            color: #fff;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 36rem;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 13;
            margin: 0;

            li{
                a{
                    height: auto;
                }
                &::after{
                    display: none;
                }
                &.dropdown{
                    &::before{
                        display: none;
                    }
                }
            }
        }
        &__btn{
            display: block;
            padding:1.5rem;
            position: relative;
            z-index: 13;
            cursor: pointer ;
            
            .line{
                display: block;
                position: relative;
                width: 3rem;
                height: 0.3rem;
                background-color: #fff;
                margin-bottom: 0.5rem;
                transition: 0.5s linear;
            }
            &.active{
                .line:nth-of-type(1){
                    transform: rotate(315deg) translate(-0.7rem , 0.7rem);

                }
                .line:nth-of-type(2){
                    opacity: 0;
                    transform: translateX(1rem);
                }
                .line:nth-of-type(3){
                    transform: rotate(45deg) translate(-0.4rem , -0.5rem);
                }
            }
        }
        &__bg{
            display: block;
            position: absolute;
            z-index: 12;
            top: 0;
            left: 0;
            width: 0;
            height: 100vh;
            background-color: rgba(0,0,0, 0.4);
            transition: 0.5s linear;
            &.active{
                width: 100vw;
            }
        }
        &__search{
            display: none;
        }
    }
    .submenu{
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        background-color: $c-gre;
        color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: 1s linear;
        &.active{
            max-height: 50rem;
            margin-left: 1.5rem;
        }
        &:hover{
            background-color: $c-gre;
        }
        &::before{
            display: none;
        }
    }
}

@media only screen and (max-width: 650px) {
    .header{
        &__top{
            justify-content: space-between;
        }
        &__logo{
            padding: 0.5rem 0;
        }
        &__name{
            display: none;
        }
        &__link{
            display: flex;
            width: calc(100% - 6rem);
            max-width: none;
            justify-content: flex-end;
            align-items: center;
            padding:0;
        }
        &__menu{
            height: calc(100vh - 13.7rem);
        }
    }
    .link__map{
        margin-left: 1.5rem;
        a{
            margin-top: 0;
        }
    }
    
}
@media only screen and (max-width: 360px) {
    .link__map{
        display: none;
    }
}














