.rela {
    &__slide {
        margin: -1.5rem;
        width: calc(100% + 3rem);
        display: flex;
        .slick-prev,
        .slick-next {
            width: 4.4rem;
            height: 4.4rem;
            border: 1px solid $c-gre;
            display: block;
            background-color: #fff;
            transition: 0.3s linear;
            z-index: 5;
            transform: translateY(-150%);
            &:before {
                content: "";
                display: block;
                width: 1.8rem;
                height: 1.8rem;
                @include default-background;
                @include center-abs;
            }
            &:hover {
                background-color: $c-gre;
            }
        }
        .slick-prev {
            left: -0.7rem;
            &:before {
                background-image: url("../assets/images/arr-left1.png");
            }
            &:hover {
                &:before {
                    background-image: url("../assets/images/arr-left.png");
                }
            }
        }
        .slick-next {
            right: -0.7rem;
            &:before {
                background-image: url("../assets/images/arr-right1.png");
            }
            &:hover {
                &:before {
                    background-image: url("../assets/images/arr-right.png");
                }
            }
        }
    }
    &__center {
        text-align: center;
        .rela__item {
            width: calc(100% / 3 - 3rem);
        }
        .rela__img {
            width: 100%;
            padding-bottom: 64%;
        }
        img {
            min-width: 100%;
            height: 100%;
            max-width: none;
        }
    }
    &__item {
        outline: none;
        width: calc(100% / 4 - 3rem);
        margin: 1.5rem;
        transition: 0.3s linear;
        background-color: #f8f8f8;
        &:hover {
            box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
        }
    }
    &__img {
        display: block;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        outline: none;
        img {
            position: absolute;
            width: max-content;
            @include center-abs;
            height: 100%;
        }
    }
    &__content {
        display: block;
        padding: 2.5rem;
    }
    &__subtitle {
        @include fz-14;
        color: $c-gre;
        font-weight: bold;
        display: block;
        margin-bottom: 1rem;
    }
    &__title {
        font-weight: bold;
        transition: 0.3s linear;
        outline: none;
        &:hover {
            color: $c-gre;
        }
    }
    &__btn {
        display: block;
        width: max-content;
        @include fz-14;
        text-transform: uppercase;
        background-color: $c-gre;
        border: 1px solid $c-gre;
        color: #fff;
        font-weight: bold;
        padding: 0.5rem 2rem;
        margin-top: 1rem;
        transition: 0.3s linear;

        &:hover {
            background-color: #fff;
            color: $c-gre;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .rela {
        &__slide {
            .slick-prev {
                left: 0rem;
            }
            .slick-next {
                right: 0rem;
            }
        }
    }
}
