.thongtin {
    ul {
        column-count: 2;
        column-gap: 3rem;
        li {
            padding-left: 3rem;
            position: relative;
            display: block;
            margin-bottom: 2rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 1.8rem;
                height: 1.8rem;
                background-image: url("../assets/images/breadcumb.png");
                @include default-background;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .thongtin {
        ul {
            column-count: 1;
        }
    }
}
