.uudiem {
    background-color: #f6f6f6;
    .section__title {
        text-align: center;
    }
    .section__subtitle {
        text-align: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 3rem);
        margin: -1.5rem;
        li {
            width: calc(100% / 3);
            padding: 1.5rem;
            transition: 0.3s linear;
            border-radius: 0.8rem;
            img {
                width: 5.5rem;
                height: 5.5rem;
                margin-bottom: 2rem;
            }
            &:hover {
                background-color: #fff;
                box-shadow: 0 0 3rem rgba(73, 171, 61, 0.6);
                .uudiem__title {
                    color: $c-gre;
                }
                .txt {
                    opacity: 1;
                }
            }
        }
    }
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin-bottom: 1.5rem;
        transition: 0.3s linear;
    }
}
@media only screen and (max-width: 1200px) {
    .uudiem {
        &__list {
            li {
                width: calc(100% / 3 - 3rem);
                margin: 0 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .uudiem {
        &__list {
            margin: 0 -1.5rem;
            li {
                width: calc(50% - 3rem);
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .uudiem {
        &__list {
            justify-content: center;
            li {
                width: 90%;
                max-width: 40rem;
                margin: 0;
                text-align: center;
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}
