.vision {
    background-color: $c-gre;
    color: #fff;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 364px;
        height: 499px;
        background-image: url("../assets/images/dotdot.png");
        z-index: 5;
        bottom: -34rem;
        left: -12rem;
    }
    .section__subtitle {
        color: #a5e59d;
    }
    .bold {
        font-weight: bold;
        display: block;
        margin-bottom: 2.5rem;
    }
    .txt {
        opacity: 0.8;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: calc(100% / 3 - 1.5rem);
        padding: 8rem 0;
    }
    &__slide__container {
        width: calc(100% * 2 / 3 - 1.5rem);
        position: relative;
    }
    &__slide {
        position: absolute;
        top: 0;
        left: 7rem;
        width: calc(50vw + 11.5rem);
        display: flex;
        height: 100%;
        .slick-track {
            display: flex;
            height: 100%;
        }
        .slick-dots {
            width: max-content;
            right: unset;
            left: -3rem;
            bottom: unset;
            top: 50%;
            display: flex;
            transform: translate(-100%, calc(-50% - 2rem));
            flex-direction: column;
            li {
                width: max-content;
                height: max-content;
                margin-bottom: 1.5rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
                button {
                    width: 0.8rem;
                    height: 0.8rem;
                    padding: 0;
                    border-radius: 10rem;
                    border: 2px solid rgba(0, 0, 0, 0.2);
                    overflow: hidden;
                    appearance: none;
                    &::before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        border: 2px solid #fff;
                    }
                }
            }
        }
        &.slick-dotted.slick-slider {
            margin-bottom: 0;
        }
        .slick-prev,
        .slick-next {
            display: block;
            width: 2rem;
            height: 4rem;
            @include default-background;
            position: absolute;
            left: -5rem;
            right: unset;
            top: unset;
            bottom: unset;
            text-transform: none;
            &::before {
                display: none;
            }
            z-index: 2;
        }
        .slick-next {
            top: 15rem;
            background-image: url("../assets/images/next-pro.png");
            &:hover {
                background-image: url("../assets/images/next-pro2.png");
            }
        }
        .slick-prev {
            bottom: 15rem;
            background-image: url("../assets/images/prev-pro.png");
            &:hover {
                background-image: url("../assets/images/prev-pro2.png");
            }
        }
    }
    &__item {
        width: 50%;
        outline: none;
        position: relative;
        &:hover {
            .vision__item__content {
                top: 0;
                background: none;
                background-color: rgba(73, 171, 61, 0.4);
                img {
                    transform: none;
                    margin-bottom: 1.5rem;
                }
            }
            .vision__item__title {
                margin-left: 0rem;
                margin-bottom: 3rem;
            }
        }
        &__content {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 1) 50%,
                rgba(0, 0, 0, 0) 100%
            );
            padding: 15.5rem 7rem;
            text-align: center;
            transition: 0.3s linear;
            img {
                width: 4rem;
                height: 4rem;
                display: block;
                margin: 0 auto;
                transform: translate(-5.5rem, 3rem);
                transition: 0.3s linear;
            }
        }
        &__title {
            display: block;
            @include fz-20;
            font-weight: bold;
            margin-left: 5.5rem;
            margin-bottom: 7rem;
            transition: 0.3s linear;
        }
    }
    &__img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            top: 0;
            left: 0;
            position: relative;
            min-width: 100%;
            max-width: none;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .vision {
        &__container {
            flex-direction: column-reverse;
        }
        &__content {
            width: 100%;
            padding: 6rem 0;
        }
        &__slide__container {
            width: 100%;
            position: relative;
        }
        &__slide {
            position: relative;
            top: 0;
            left: -1.5rem;
            width: calc(100% + 3rem);
            .slick-dots {
                width: 100%;
                left: unset;
                bottom: -5rem;
                top: unset;
                transform: none;
                justify-content: center;
                flex-direction: row;
                &.slick-dotted.slick-slider {
                    margin-bottom: 3rem;
                }
                .slick-prev,
                .slick-next {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .vision {
        &__item {
            height: 40rem;
            &__content {
                padding: 7rem 1.5rem;
            }
        }
    }
}
