.yeucau{
    padding-top: 23rem;

    &__container{
        position: absolute;
        width: calc(100% - 3rem);
        bottom: 0;
        color: #fff;
        background-image: url('../../assets/images/ycbg1.jpg');
        @include default-background;
        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }
    &__content{
        width: calc(100% * 3 / 4);
        background-color: rgba(73,171,61, 0.9);
        float: right;
        padding: 4rem 7rem;
        display: flex;

    }
    &__title{
        width: calc(100% * 2 / 7);
        img{
            display: block;
            width: 5rem;
            height: 5rem;
            margin-bottom: 2rem ;
        }
    }
    &__form{
        width: calc(100% * 5 / 7);
        padding-right: 3rem;
        &__input{
            width: 100%;
            border: 1px solid #D6D6D6;
            padding: 1.5rem;
            margin-bottom: 1rem;
        }
        &__txt{
            width: 100%;
            height: 12rem;
            padding: 1.5rem;
            border: 1px solid #D6D6D6;
            resize: none;
            margin-bottom: 1rem;
        }
        &__btn{
            background-color: #000;
            margin: 0;
            float: right;
        }
    }
}   
@media only screen and (max-width: 900px) {
    .yeucau{
        padding:0;
        &__container{
            position: static;
            width: calc(100% + 3rem);
            margin-left: -1.5rem;
        }
        &__content{
            padding: 3rem;
        }
        &__title{
            img{
                display: block;
                width: 4rem;
                height: 4rem;
            }
        }
        &__form{
            padding-right: 0;
        }
    }   
}
@media only screen and (max-width: 600px) {
    .yeucau{

        &__content{
            width: 100%;
            padding: 3rem;
            flex-direction: column;
            text-align: center;
        }
        &__title{
            width: 100%;
            br{
                display: none;
            }
            img{
                margin: 0 auto;
                margin-bottom: 2rem;
            }
        }
        &__form{
            width: 100%;
        }
    }   
}