.play {
	&-title {
		margin-bottom: 60px;
		font-size: 64px;
		@include acu;
		.line {
			overflow: hidden;
			div {
				max-width: 100%;
				width: max-content;
				position: relative;
				transform: translateY(100%);
				transition: 0.3s linear;
			}
			&:nth-child(2) {
				div {
					transition-delay: 0.1s;
				}
			}
			&:nth-child(3) {
				div {
					transition-delay: 0.2s;
				}
			}
			&:nth-child(4) {
				div {
					transition-delay: 0.3s;
				}
			}
			&:nth-child(5) {
				div {
					transition-delay: 0.4s;
				}
			}
		}
	}
	&-txt {
		font-size: 16px;
		opacity: 0;
		transition: 0.3s linear 0.2s;
		margin-bottom: 90px;
	}
	&-wrap {
		display: flex;
		margin: 0 -12px;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&-img {
		display: block;
		aspect-ratio: 1;
		border-radius: 32px;
		overflow: hidden;
		transform: scale(0.8);
		transition: 0.5s ease-in-out;
		background-color: rgba(0, 0, 0, 0.2);
		margin-bottom: 24px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			opacity: 0;
			transition: 0.5s ease-in-out;
		}
	}
}
.welcome {
	.play {
		&-title {
			.line {
				div {
					transform: translateY(0);
				}
			}
		}
		&-txt {
			opacity: 1;
		}
		&-img {
			transform: scale(1);
			img {
				opacity: 1;
			}
		}
	}
}
