.quote {
	text-align: center;
	&-title {
		font-size: 64px;
		@include acu;
		.line {
			overflow: hidden;
			div {
				max-width: 100%;
				margin: 0 auto;
				width: max-content;
				position: relative;
				transform: translateY(100%);
				transition: 0.3s linear;
			}
			&:nth-child(2) {
				div {
					transition-delay: 0.1s;
				}
			}
			&:nth-child(3) {
				div {
					transition-delay: 0.2s;
				}
			}
			&:nth-child(4) {
				div {
					transition-delay: 0.3s;
				}
			}
			&:nth-child(5) {
				div {
					transition-delay: 0.4s;
				}
			}
		}
	}
	&-btn {
		margin-top: 3.3vw;
	}
}
.active {
	.quote {
		&-title {
			.line {
				div {
					transform: translateY(0);
				}
			}
		}
	}
}
