.daily {
    position: relative;

    width: 100%;
    background-color: #371f62;
    color: #fff;

    .section__title {
        color: #fff;
        margin-bottom: 2rem;
        opacity: 0;
        display: block;
    }
    .section__subtitle {
        color: #fff;
        margin-bottom: 1rem;
        opacity: 0;
        display: block;
        a {
            transition: 0.2s linear;
            &:hover {
                @media only screen and (min-width: 901px) {
                    color: #ea2228;
                }
            }
        }
    }
    &__cir {
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10%;

        img {
            position: absolute;
            transition: 5s ease;
            transform: translateY(-50%);
            border-radius: 99.9rem;
            box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
        }
        .cir1 {
            top: 110%;
            left: 15%;
            z-index: 3;
        }
        .cir2 {
            top: 110%;
            left: 80%;
            z-index: 2;
        }
        .cir3 {
            top: 5%;
            left: -65px;
            z-index: 1;
        }
    }
    .swiper-button-container {
        position: absolute;
        left: calc(50% + 1rem);
        z-index: 5;
        bottom: 0;
    }
    .swiper-chung {
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
        position: relative;
        z-index: 4;
    }
    .swiper-slide {
        width: 100%;
        display: flex;
        position: relative;
        z-index: 4;
    }
    .swiper-slide-active {
        .section__title {
            animation: fadeContentLeft 0.3s linear 0.8s forwards;
        }
        .section__subtitle {
            animation: fadeContentLeft 0.3s linear 1s forwards;
        }

        .txt {
            animation: fadeContentLeft 0.3s linear 1.4s forwards;
        }
        .daily {
            &__date {
                animation: fadeContentLeft 0.3s linear 1.2s forwards;
            }
            &__link {
                animation: fadeContentLeft 0.3s linear 1.6s forwards;
            }
            &__img {
                animation: fadeContentRight 0.5s ease-in-out 0.5s forwards;
            }
        }
    }
    &__img {
        width: 50%;
        padding: 0 1.5rem;
        opacity: 0;
        animation: fadeContentRightOut 0.5s ease-in-out forwards;
        &__ratio {
            width: 100%;
            padding-bottom: 60%;
            position: relative;
            overflow: hidden;
            min-height: 100%;
            img {
                position: absolute;
                min-width: 100%;
                max-width: none;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__content {
        width: 50%;
        padding: 0 1.5rem;
    }
    &__date {
        display: block;
        @include fz-14;
        opacity: 0.5;
        opacity: 0;
    }
    .txt {
        @include fz-14;
        line-height: calc(24 / 14);

        margin: 2rem 0;
        opacity: 0;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__link {
        display: inline-block;
        color: #ea2228;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        opacity: 0;
    }
}
@media only screen and (max-width: 1200px) {
    .daily {
        &__cir {
            overflow: hidden;
            width: 100%;
            height: 100%;
            top: 0;
            img {
                opacity: 0.5;
            }
            .cir1 {
                width: 8rem;
            }
            .cir2 {
                width: 15rem;
            }
            .cir3 {
                width: 20rem;
            }
        }
        .swiper-button-container {
            left: calc(50% - 75px);

            background-color: #262e67;
        }

        .txt {
            margin: 1rem 0;
        }
    }
}
@media only screen and (max-width: 768px) {
    .daily {
        .swiper-slide {
            flex-direction: column;
            align-items: center;
        }
        .swiper-button-container {
            position: static;
            margin: 0 auto;
            background-color: transparent;
        }
        &__content {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
        }
        &__img {
            width: 100%;
            max-width: 50rem;
            margin-bottom: 2rem;
        }
    }
}
