.footer {
    margin-top: auto;
    background-color: #f8f8f8;

    @include fz-14;
    &__list {
        display: flex;
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
    }
    &__item {
        width: calc(100% / 6);
        padding: 0 1.5rem;
        a {
            display: block;
            width: 14rem;
        }
    }
    &__content {
        width: calc(100% * 2 / 3);
        padding: 0 1.5rem;
        &__list {
            display: flex;
            li {
                width: 25%;
                font-weight: bold;
                color: #371f62;
                text-transform: uppercase;
                a {
                    padding: 0.5rem 0;
                    padding-right: 1.5rem;
                    position: relative;
                    transition: 0.2s linear;
                    &::after {
                        content: "";
                        display: block;
                        width: 0.5rem;
                        height: 1rem;
                        background-image: url("../assets/images/ft-arr.png");
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: 0.2s linear;
                    }
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            color: #ea2228;
                            &::after {
                                transform: translate(0.5rem, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
    &__txt {
        line-height: calc(24 / 14);
        margin-bottom: 2.5rem;
    }

    &__menu {
        width: calc(100% / 6);
        padding: 0 1.5rem;
        &__list {
            li {
                font-weight: 500;
                width: 100%;
                a {
                    display: block;
                    transition: 0.2s linear;
                    padding: 0.7rem;
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            color: $c-blu;
                        }
                    }
                }
            }
            margin-bottom: 1rem;
        }
    }
    &__social {
        span {
            display: block;
            font-weight: 500;
            font-size: 10px;
            margin-bottom: 5px;
        }
        &__list {
            display: flex;
            li {
                a {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    margin-right: 0.5rem;
                    img {
                        transition: 0.4s linear;
                    }
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            img {
                                transform: rotateY(360deg);
                            }
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        padding-top: 2rem;
        border-top: 1px solid rgba(38, 46, 103, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        width: max-content;
        display: flex;
        justify-content: flex-end;
        margin-right: -0.7rem;
        li {
            a {
                padding: 0.7rem;
                transition: 0.2s linear;
                &:hover {
                    @media only screen and (min-width: 901px) {
                        color: $c-blu;
                    }
                }
            }
        }
    }
    &__copyright {
        color: #8d8d8d;
        width: max-content;
        align-self: center;
        a {
            transition: 0.3s linear;
            @include fz-16;
            &:hover {
                @media only screen and (min-width: 901px) {
                    color: #000;
                }
            }
            img {
                display: inline-block;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        &__bottom {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: unset;
        }
        &__link {
            margin-right: 0;
            width: 100%;
            justify-content: center;
        }
        &__copyright {
            margin-top: 1rem;
        }
    }
}
@media only screen and (max-width: 900px) {
    .footer {
        &__top {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__logo {
            width: max-content;
        }
        &__content {
            margin-top: 2rem;
            width: 100%;
        }
        &__menu {
            width: 100%;
            text-align: center;
            margin-top: 2rem;
            &__list {
                display: flex;
                justify-content: center;
                li {
                    width: max-content;
                }
            }
        }
        &__social {
            &__list {
                justify-content: center;
                li {
                    a {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .footer {
        &__list {
            column-gap: 0;
        }
    }
}
@media only screen and (max-width: 500px) {
    .footer {
        &__logo {
            a {
                width: 10rem;
            }
        }
        &__content {
            margin-bottom: 2rem;
            &__list {
                flex-wrap: wrap;
                justify-content: space-evenly;
                li {
                    width: 50%;
                    text-align: center;

                    a {
                        display: block;
                        width: 100%;
                        padding: 1rem;
                    }
                }
            }
        }
        &__menu {
            margin-top: 1rem;
            &__list {
                flex-wrap: wrap;
                li {
                    width: 50%;
                }
            }
        }
        &__bottom {
            padding-top: 1rem;
        }
        &__link {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            li {
                display: block;
                width: 50%;
                a {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
