.lib {
    &__filter__list {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem 0;
        li {
            width: max-content;
            a {
                display: block;
                position: relative;
                @include fz-18;
                padding: 1rem 2.5rem;
                color: rgba(0, 0, 0, 0.6);
                transition: 0.2s linear;
                &::after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    display: block;
                    background-image: url("../assets/images/lib-ic.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }

                &:hover {
                    @media only screen and (min-width: 901px) {
                        color: #e7194a;
                    }
                }
            }

            &.active {
                a {
                    font-weight: bold;
                    color: #e7194a;
                    &::after {
                        background-image: url("../assets/images/lib-ic1.png");
                    }
                }
            }
        }
    }
    &__content__list {
        margin-top: 2rem;
        > li {
            display: block;
            width: 100%;
            padding: 2rem 0;
            border-bottom: 1px solid #f4f4f7;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
    &__item {
        width: 100%;
        display: flex;
        &:hover {
            @media only screen and (min-width: 901px) {
                .book {
                    &__cover {
                        transform: rotateY(-150deg) translateZ(-1px);
                        transform-origin: left center;
                        transition: 0.4s linear;
                    }
                    &__page {
                        &:nth-child(2) {
                            transform: rotateY(-145deg) translateZ(0px);
                            transition: 0.6s ease;
                        }
                        &:nth-child(3) {
                            transform: rotateY(-140deg) translateZ(1px);
                            transition: 0.8s ease;
                        }
                        &:nth-child(4) {
                            transform: rotateY(-135deg) translateZ(2px);
                            transition: 1s ease;
                        }
                        &:nth-child(5) {
                            transform: rotateY(-130deg) translateZ(3px);
                            transition: 1.2s ease;
                        }
                        &:nth-child(6) {
                            transform: rotateY(-35deg) translateZ(-5px);
                            transition: 1.3s ease;
                        }
                        &:nth-child(7) {
                            transform: rotateY(-30deg) translateZ(-6px);
                            transition: 1.4s ease;
                        }
                        &:nth-child(8) {
                            transform: rotateY(-25deg) translateZ(-7px);
                            transition: 1.5s ease;
                        }
                    }
                }
            }
        }
    }
    .book {
        width: 15rem;
    }
    &__info {
        width: calc(100% - 15rem);
        padding: 1rem 2rem;
        @include fz-14;
    }
    &__title {
        font-weight: bold;
        line-height: calc(19 / 16);
        display: block;
        width: max-content;
        margin-bottom: 2rem;
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                color: #e7194a;
            }
        }
    }
    &__test__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding: 0 1.5rem;
            margin-bottom: 1rem;
            position: relative;
            line-height: 1;
            &::after {
                content: "";
                width: 6px;
                height: 6px;
                display: block;
                position: absolute;
                border-radius: 9.9rem;
                background-color: #e7194a;
                top: 3px;
                left: 0;
            }
            a {
                color: rgba(0, 0, 0, 0.4);
                font-style: italic;
                transition: 0.2s linear;
                display: flex;
                justify-content: space-between;
                .bold {
                    color: #000;
                    font-style: normal;
                    font-weight: bold;
                    display: inline-block;
                    transition: 0.2s linear;
                }
                &:hover {
                    @media only screen and (min-width: 901px) {
                        color: #e7194a;
                        .bold {
                            color: #e7194a;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .lib {
        .book {
            width: 12rem;
        }
        &__info {
            width: calc(100% - 12rem);
            padding: 1rem;
        }
    }
}
@media only screen and (max-width: 450px) {
    .lib {
        &__test__list {
            li {
                width: 100%;
                a {
                    justify-content: start;
                    .bold {
                        margin-right: 4rem;
                    }
                }
            }
        }
        .book {
            width: 30%;
            li {
                &:nth-child(6) {
                    display: none;
                }
                &:nth-child(5) {
                    display: none;
                }
            }
        }
        &__info {
            width: 70%;
        }
    }
}
