.roll-slide {
  overflow: hidden;
  .swiper-slide {
    width: 18.5vw;
    padding-right: 5.2vw;
  }
  .swiper-container {
    overflow: unset;
  }
  &-item {
    .title {
      text-transform: uppercase;
      @include fz(20);
      font-weight: bold;
      line-height: calc(23 / 20);
      margin-bottom: 2.29vw;
      letter-spacing: 0.1em;
      @include hover() {
        color: $c-pri;
      }
    }
    .mini {
      @include fz(10);
      font-weight: bold;
    }
    .img {
      margin-top: auto;
      display: block;

      img {
        display: block;
        box-shadow: 1.5rem 1.5rem 2rem rgba(0, 0, 0, 0.16);
        transition: 0.5s ease;
      }
      @include hover() {
        transform: scale(1.1);
      }
    }
  }
}
.roll-mem {
  &-title {
    @include fz(160);
    font-weight: 900;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    line-height: 0.9;
    margin-top: 1.56vw;
    text-align: right;
    margin-left: 0.26vw;
  }
  &-left {
    width: max-content;
  }
  &-right {
    flex-grow: 1;
    padding: 1.3vw 4.01vw 0 2.76vw;
  }
  &-sub {
    @include fz(60);
    font-weight: 900;
    line-height: 0.9;
    text-align: center;
    margin-bottom: 0.26vw;
  }
  .txt {
    @include fz(10);
    font-weight: 500;
    color: #7a7a7a;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 1.36vw;
    a {
      text-decoration: underline;
      @include hover() {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
.rb {
  min-height: 100vh;
  &-con {
    position: relative;
    align-items: flex-end;
  }
  &-title {
    @include fz(94);
    font-weight: 800;
    letter-spacing: -0.04em;
    line-height: calc(86 / 94);
    text-transform: uppercase;
    margin-top: 2.6vw;
    padding-bottom: 2.08vw;
    white-space: nowrap;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 4.89vw;
      height: 0.83vw;
      background: url('../assets/images/rb1.png') 50% 50% / 100% no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &-col {
    width: calc(50% - 1.5rem);
    max-width: 22.23vw;
    margin-right: 6.4vw;
    &:last-child {
      margin-right: 0;
    }
  }
  &-small {
    display: block;
    width: 9.42vw;
    margin-left: auto;
  }
  &-big {
    display: block;
    width: 11.71vw;
    margin-bottom: 0.65vw;
  }
  &-sub {
    @include fz(20);
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  &-txt {
    @include fz(15);
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 4.21vw;
  }
}
@include max(1200px) {
  .roll-slide {
    .swiper-slide {
      width: 27rem;
      padding-right: 5rem;
    }
    &-item {
      .title {
        @include fz(18);
        margin-bottom: 3rem;
      }
    }
  }

  .rb {
    min-height: 0;
    &-con {
      position: relative;
      align-items: flex-end;
    }
    &-title {
      margin-top: 6rem;
      padding-bottom: 6rem;
      &::after {
        width: 10rem;
        height: 3rem;
      }
    }
    &-col {
      width: calc(33% - 1rem);
      max-width: 30rem;
    }
    &-small {
      width: 15rem;
    }
    &-big {
      width: 18rem;
    }

    &-txt {
      margin-bottom: 3rem;
    }
  }
}
@include max(900px) {
  .rb {
    &-con {
      flex-wrap: wrap;
    }
    &-title {
      margin-top: 0;
      white-space: normal;
      br {
        display: none;
      }
      &::after {
        width: 10rem;
        height: 3rem;
      }
    }
    &-col {
      &:first-child {
        width: 100%;
        max-width: none;
        margin-bottom: 0;
      }
      width: calc(50% - 1rem);
      max-width: 30rem;
      margin: 0 auto;
      &:last-child {
        margin: 0 auto;
      }
    }
  }
}
@include max(768px) {
  .roll-mem {
    &-left {
      max-width: 100vw;
      overflow: hidden;
    }
    &-title {
      display: none;
    }
    &-right {
      width: 100%;
      padding: 3rem 0;
    }
    &-sub {
      margin-bottom: 2rem;
    }
    .txt {
      margin-bottom: 1.5rem;
    }
  }
}
