$c-gre: #49AB3D;



@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin default-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}