.why {
    padding: 30vh 0;
    &__container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        @include fz-75;
        font-family: "HALDEN PAINTED SOLID", sans-serif;
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
    }
    &__txt {
        display: block;
        margin: 3rem 0 5rem;
        line-height: 1.5;
    }
    .button {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px) {
    .why {
        padding: 25vh 0;
        &__container {
            width: 80%;
        }
        &__txt {
            display: block;
            margin: 1.5rem 0 3rem;
            line-height: 1.5;
        }
    }
}
