.why {
    padding: 30vh 0;
    &__container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        @include fz-75;
        font-family: "HALDEN PAINTED SOLID", sans-serif;
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
    }
    &__txt {
        display: block;
        margin-bottom: 5rem;
    }
    .button {
        margin: 0 auto;
    }
}
