.land {
  margin: calc(var(--headH, 0px) + 3rem) auto 4rem;
  &-title {
    @include fz(30);
    font-weight: bold;
    margin-bottom: 6.5rem;
    text-align: center;
    line-height: 1;
  }
  &-ser {
    width: 97rem;
    max-width: 100%;
    margin: 0 auto 7rem;
    font-weight: bold;
    &.full {
      width: 100%;
    }
    &-white {
      background-color: #fff;
      border-radius: 99px;
      overflow: hidden;
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
      padding: 1rem;
      .land-inp {
        width: 100%;
        padding: 1.5rem 2rem;
        font-weight: bold;
      }
      .btn-pri {
        white-space: nowrap;
      }
    }
    &-grey {
      .land-inp {
        width: 100%;
        margin-right: 10px;
        padding: 1.5rem 2rem;
        background-color: #f8f8f8;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        transition: 0.2s linear;
        &:focus {
          background-color: #fff;
        }
      }
      .btn-pri {
        white-space: nowrap;
        padding: 1.5rem 7rem;
      }
    }
  }
  &-guide {
    @include fz(15);
    .title {
      @include fz(17);
      margin-bottom: 1.5rem;
    }
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }

    li {
      padding-left: 1rem;
      text-indent: -1rem;
    }

    li:before {
      content: '.';
      line-height: 0;
      color: #c4c4c4;
      font-size: 50px;
      padding-right: 5px;
    }
    a {
      color: $c-gre;
      transition: 0.2s linear;
      font-weight: bold;
      text-decoration: underline;
      @include hover() {
        color: $c-pri;
      }
    }
  }
  &-list {
    .ser-item-btn {
      display: flex;
      align-items: center;
      margin-left: auto;
      a {
        margin-left: 1.5rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
@include max-media(768px) {
  .land {
    &-title {
      margin-bottom: 3rem;
    }
    &-ser {
      margin-bottom: 3rem;
    }
    &-list {
      .ser-item-btn {
        flex-direction: column;
        a {
          margin: 0 0 1rem;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
@include max-media(480px) {
  .land {
    &-ser {
      &-grey {
        .btn-pri {
          padding: 1.5rem 3rem;
        }
      }
    }
    &-list {
      .ser-item-btn {
        flex-direction: row;
        a {
          margin: 0 1rem 0 0;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
