.lt {
  .info-main {
    padding: 0;
  }
  &-slide {
    padding: 6.4rem 0;
    .swiper-container {
      padding-bottom: 3.2rem;
    }
    .swiper-chung {
      margin-top: 5.6rem;
      @include max-media(768px) {
        margin-top: 3rem;
      }
    }
    .swiper-wrapper {
      margin: 0 -1.5rem;
      width: calc(100% + 3rem);
    }
    .swiper-slide {
      width: calc(100% / 3);
      padding: 0 1.5rem;
      @include max-media(900px) {
        width: 50%;
      }
      @include max-media(480px) {
        width: 100%;
      }
    }
  }
  &-bg {
    background: linear-gradient(180deg, #ffe7e7 0%, #fff3e5 100%);
  }
  &-item {
    height: 100%;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      opacity: 0.12;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: 0.3s ease;
    }
    @include hover() {
      &::after {
        height: 2px;
        background-color: $c-pri;
        opacity: 1;
      }
      .lt-img {
        box-shadow: 4px 12px 30px rgba(109, 141, 173, 0.3);

        img {
          transform: scale(1.1);
        }
      }
      .lt-list {
      }
      .lt-link::after {
        opacity: 1;
        right: 0;
      }
    }
  }

  &-img {
    padding-top: 60%;
    margin-bottom: 1.6rem;
    transition: 0.3s ease;
    img {
      transform-origin: center center;
      transition: 1s linear;
    }
  }
  &-tag {
    margin-bottom: 8px;
    font-size: 12px;
    color: #7b7b7b;
    font-weight: 600;
    line-height: 1;
    img {
      display: block;
      @include sqr(16px);
      margin-right: 6px;
      margin-top: -2px;
    }
    .rate,
    .date {
      display: flex;
      align-items: center;
    }
    .rate {
      padding-left: 2.4rem;
      position: relative;
      &::after {
        content: '';
        display: block;
        @include cir(4px);
        background-color: #7b7b7b;
        position: absolute;
        left: 1.2rem;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
      }
    }
  }
  &-title {
    @include fz(20);
    font-weight: 600;
    color: #e58a8a;
    margin-bottom: 8px;
    line-height: calc(28 / 20);
  }
  &-list {
    color: #4f4f4f;
    font-size: 14px;
    margin-bottom: 1.6rem;
    li {
      position: relative;
      margin-left: 20px;
      position: relative;
      &::after {
        content: '';
        display: block;
        @include cir(3px);
        background-color: #6f7072;
        position: absolute;
        left: -10px;
        top: 10px;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
      }
    }
  }
  &-link {
    display: block;
    margin-top: auto;
    @include fz(16);
    font-weight: 600;
    color: $c-pri;
    margin-bottom: 1.6rem;
    position: relative;
    width: max-content;
    padding-right: 26px;
    &::after {
      content: '';
      display: block;
      @include sqr(16px);
      background-image: url('../assets/images/svg/lt-ic3.svg');
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s ease;
      opacity: 0;
    }
  }
  &-nav {
    width: 100%;
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
      position: static;
      transform: none;
      width: max-content;
      margin: 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
      @include cir(32px);
      @include hover() {
        &:after {
          background-color: #fff;
          border-color: #fff;
          filter: none;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .swiper-button-prev::after {
      @include cir(32px);
      border: 1px solid #b6b6b6;
      background: url('../assets/images/svg/lt-prev.svg') 50% 50% / 16px no-repeat;
      filter: brightness(0) invert(0.8);
    }
    .swiper-button-next::after {
      border: 1px solid #b6b6b6;
      @include cir(32px);
      background: url('../assets/images/svg/lt-next.svg') 50% 50% / 16px no-repeat;
      filter: brightness(0) invert(0.8);
    }
    .swiper-pagination {
      padding: 0 5rem;
      height: 32px;
      display: flex;
      align-items: center;
    }
    .swiper-pagination-bullet {
      @include cir(8px);

      margin: 0 4px;
      background-color: #d9d9d9;

      z-index: 1;
      &::after {
        content: '';
        display: block;
        @include cir(13px);
        border: 1px solid #ffa032;
        opacity: 1;

        background-color: transparent;
        transition: 0.3s ease;
      }
      &-active {
        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
        background-color: #ffa032;
      }
    }
  }
  &-no-nav {
    .lt-nav {
      display: none;
    }
  }
}
.faq {
  &-q {
    font-weight: 600;
    color: #000;

    cursor: pointer;
    padding-left: 4rem;
    position: relative;
    @include hover() {
      color: $c-pri;
    }
    &::after {
      content: '';
      display: block;
      width: 14px;
      height: 1px;
      background-color: #000;
      border-radius: 99px;
      position: absolute;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s ease;
    }
    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 14px;
      background-color: #000;
      border-radius: 99px;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
    }
    &.active {
      margin-bottom: 8px;
      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      & ~ .faq-a {
        position: relative;
        opacity: 1;
        transition: 0.5s ease;
        transform: translateX(0);
      }
    }
  }
  &-a {
    @include fz(16);
    color: #4f4f4f;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0s;
    transform: translateX(1rem);
  }

  &-item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
.lt-dt {
  .mona-content {
    max-width: none;
    margin: 5rem 0;
  }
  &-list {
    margin: 0 -1.5rem;
    .title {
      font-weight: 600;
      margin-bottom: 1.6rem;
    }
    .txt {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.6rem;
      @include fz(16);
      &:last-child {
        margin-bottom: 0;
      }
      img {
        @include sqr(16px);
        margin-right: 8px;
        margin-top: 4px;
        color: #4f4f4f;
      }
    }
    @include max-media(768px) {
      .col-4 {
        width: 50%;
        margin-bottom: 3rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @include max-media(450px) {
      .col-4 {
        width: 100%;
      }
    }
  }
}
.news {
  &-bg {
    background: linear-gradient(180deg, #ffe7e7 10%, #e0ffff 130%);
  }
  &-grey {
    background-color: #f6f6f6;
  }
  &-item {
    background-color: #fff;
    height: 100%;
    border-top: 2px solid #fff;
    transition: 0.2s linear;
    box-shadow: 0rem 12px 22px rgba(0, 0, 0, 0.12);
    @include hover() {
      border-color: $c-pri;
      .link {
        &-txt {
          opacity: 1;
        }
        &::after {
          right: 0;
        }
      }
      .img {
        img {
          transform: scale(1.1);
        }
      }
    }
    .title {
      @include fz(24);
      font-weight: 600;
    }
    .img {
      margin-top: auto;
      padding-top: 75%;
      img {
        transform-origin: center center;
        transition: 1s linear;
      }
    }
    .link {
      color: $c-pri;
      @include fz(16);
      font-weight: 600;
      padding: 1.6rem 2.4rem;
      display: inline-block;
      width: max-content;
      max-width: 100%;
      padding-right: 26px;
      position: relative;
      &-txt {
        opacity: 0;
        transition: 0.2s linear;
      }
      &::after {
        content: '';
        display: block;
        @include sqr(16px);
        background-image: url('../assets/images/svg/lt-ic3.svg');
        position: absolute;
        right: calc(100% - 16px - 2.4rem);
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s ease;
        opacity: 1;
      }
    }
  }
  &-head {
    padding: 2.4rem;
  }
  &-tag {
    display: flex;
    align-items: center;
    @include fz(13);
    line-height: 2;
    .name {
      font-weight: 600;
    }
    .date {
      color: #6f7072;
    }
    & > div {
      padding-left: 2rem;
      position: relative;
      &::after {
        content: '';
        display: block;
        @include cir(3px);
        background-color: #7b7b7b;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
      }
      &:first-child {
        padding-left: 0;
        &::after {
          display: none;
        }
      }
    }
  }
  &-list {
    max-width: 71rem;
    margin: 0 auto 4rem;
    .swiper-container {
      padding: 0;
    }
    .swiper-slide {
      width: max-content;
    }
    .swiper-wrapper {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .swiper-container-initialized {
      .swiper-wrapper {
        justify-content: unset;
      }
    }
  }
  &-btn {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #4f4f4f;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    transition: 0.2s linear;
    &.active {
      font-weight: 600;
      border-color: $c-pri;
      color: $c-pri;
    }
  }
  &-panel {
    &-wrap {
      position: relative;
    }
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    width: 100%;
    transform: translateY(3rem);
    transition: 0.3s ease;
    &.active {
      position: relative;
      transform: translateY(0);
      pointer-events: auto;
      opacity: 1;
      transition-delay: 0.3s;
    }
  }
}
.po {
  background-color: #f6f6f6;
  &-main {
    .pagination {
      margin-top: 4rem;
    }
  }
  &-wrap {
    margin: 5.6rem -1.5rem;
    @include max-media(768px) {
      margin-top: 4rem;
    }
  }
  &-item {
    transition: 0.2s linear;
    margin-bottom: 3.2rem;
    @include hover() {
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
      .po-img {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  &-content {
    width: calc(100% - 38.5rem);
    padding: 4.5rem 2.4rem;
    background-color: #fff;
    .post-tag {
      margin-bottom: 1rem;
    }
    .title {
      @include fz(24);
      font-weight: 600;
      @include hover() {
        color: $c-pri;
      }
    }
    .txt {
      margin: 8px 0 1rem;
    }
    .line {
      max-width: 5.5rem;
      margin-bottom: 1rem;
      background-color: #000;
    }
  }
  &-img {
    width: 38.5rem;
    .rto-box {
      height: 100%;
      padding-top: 80%;
    }
    img {
      transform-origin: center center;
      transition: 1s linear;
    }
  }
}
.siba {
  top: 90px;
  position: sticky;
  background-color: #fff;
  padding: 3.2rem 2.4rem;
  &-item {
    margin-bottom: 3.2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-title {
    font-weight: 600;
    color: #000;
    margin-bottom: 1.6rem;
  }
  &-tag {
    margin-bottom: -1rem;
    margin-right: -8px;
    a {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 1rem;
      padding: 3px 8px;
      color: #fff;
      font-size: 11px;
      line-height: 1;
      text-transform: uppercase;
      background-color: #222f38;

      @include hover() {
        background-color: $c-pri;
      }
    }
    .bg-pri {
      background-color: $c-pri;
    }
    .bg-sec {
      background-color: $c-sec;
    }
    .bg-ora {
      background-color: #ff9214;
    }
    .bg-pink {
      background-color: #ffa6a6;
    }
  }
  &-ban {
    a {
      display: block;
      border: 1rem solid #ffe5e5;
      padding-top: 56%;
    }
    img {
      transform-origin: center center;
      transition: 1s;
    }
    @include hover() {
      img {
        transform: scale(1.1);
      }
    }
  }
  &-post {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    &:last-child {
      margin-bottom: 0;
    }
    .img {
      width: 10rem;
    }
    .content {
      width: calc(100% - 10rem);
      padding-left: 1.6rem;
    }
    .title {
      font-weight: 600;
      @include hover() {
        color: $c-pri;
      }
    }
  }
  &-form {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  &-ser {
    padding: 1.6rem;
    background-color: #fff;
    img {
      @include sqr(16px);
      display: block;
      filter: brightness(0) invert(0.5);
      transition: 0.2s linear;
    }
    @include hover() {
      img {
        filter: none;
      }
    }
  }
  &-inp {
    width: calc(100% - 16px - 3.2rem);
    padding-right: 1.6rem;
  }
}
@include max-media(1200px) {
  .po {
    &-img {
      width: 30rem;
    }
    &-content {
      width: calc(100% - 30rem);
      padding: 2.4rem;
    }
  }
}
@include max-media(900px) {
  .po {
    &-wrap {
      .col-8 {
        width: 100%;
        margin-bottom: 3rem;
      }
      .col-4 {
        width: 100%;
      }
    }
    &-item {
      .post-tag {
        margin-bottom: 0;
      }
      .txt {
        margin: 0 0 5px;
      }
    }
  }
  .siba {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3.2rem;
    &-item {
      width: calc(50% - 1.5rem);
    }
  }
}
@include max-media(550px) {
  .po {
    &-item {
      flex-wrap: wrap;
    }
    &-img {
      width: 100%;
    }
    &-content {
      width: 100%;
    }
  }
  .siba {
    margin-bottom: -2.4rem;
    &-item {
      width: 100%;
      margin-bottom: 2.4rem;
    }
  }
}
