.pop {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  &-btn {
    margin: 0 auto;
    font-weight: bold;
    min-width: 17rem;
    &-wrap {
      .btn-pri {
        margin: 0;
        margin-right: 3rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &-con {
    background-color: #fff;
    padding: 4.5rem;
    border-radius: 15px;
    width: 57rem;
    max-width: 100%;
  }

  &-title {
    @include fz(30);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 4rem;
  }
  &-txt {
    @include fz(15);
    margin-bottom: 4rem;
  }
  &-close {
    position: absolute;
    @include cir(3rem);
    right: 5px;
    top: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    transition: 0.2s linear;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    @include hover() {
      color: #fff;
      background-color: $c-pri;
    }
  }
}
.acc {
  .new {
    &-wrap {
      padding: 7rem 2rem;
      .acc-form:last-child {
        margin-bottom: 0;
      }
    }
    &-txt {
      @include fz(13);
      margin-bottom: 2rem;
    }
    &-btn {
      margin-top: 4rem;
      .btn-pri {
        min-width: 17rem;
      }
    }
  }
}
