.footer{
    width: 100%;
    background-image: url(../assets/images/foot.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    &__copyright{
        padding: 1.5rem;
        display: block;
        text-align: center;
        border-top: 1px solid rgba(255,255,255, 0.2) ;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        padding: 10rem 0 0;
    }
    &__item{
        padding-bottom: 6rem;
        margin-left: 9rem;

        &:nth-of-type(1){
            width: 15rem;
            margin-left: 0;
        }
        &:nth-of-type(2){
            width: calc((100% - 15rem) * 3 / 10);
        }
        &:nth-of-type(3){
            width: calc((100% - 15rem) * 4  / 10);
        }
        &:nth-of-type(4){
            width: calc((100% - 15rem)  * 2 / 10);
        }
    }
    &__logo{
        img{
            display: block;
            height: 100%;
        }
    }
    &__social{
        display: flex;
        width: 100%;
        margin: -0.6rem;
        margin-top: 1.5rem;
        li{
            padding: 0.6rem;
            a{
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 9.9rem;
                transition: 0.3s linear;
                &:hover{
                    box-shadow: 0rem 0rem 3rem rgba(0,0,0,0.16);
                }
                img{
                    display: block;
                    height: 100%;
                }
            }
        }
    }
    &__title{
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin-bottom: 3rem;
    }
    &__txt{
        opacity: 0.7;
    }
    &__contact{
        display: flex;
        align-items: flex-start;
        margin-bottom: 2rem;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    &__icon{
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1.5rem;
    }
    &__content{
        width: calc(100% - 3.9rem);

        .bold{
            font-weight: bold;
        }
        .phone{
            display: block;
        }
        a{ 
            opacity: 0.7; 
            transition: 0.3s linear;
            &:hover{
                opacity: 1;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: -0.5rem;
        height: 100%;
        max-height: 17rem;
        li {
            width: 50%;
            a{  
                display: block;
                padding: 0.5rem;
                transition: 0.3s linear;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


@media only screen and (max-width: 1300px) {
    .footer{
        &__container{
            flex-wrap: wrap;
        }
        &__item{
            &:nth-of-type(odd){
                margin-left: 0;
            }
            &:nth-of-type(1){
                width: calc(50% - 4.5rem);
            }
            &:nth-of-type(2){
                width:calc(50% - 4.5rem);
            }
            &:nth-of-type(3){
                width:calc(50% - 4.5rem);
            }
            &:nth-of-type(4){
                width:calc(50% - 4.5rem);
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer{
        &__container{
            flex-wrap: wrap;
        }
        &__item{
            &:nth-of-type(even){
                margin-left: 0;
            }
            &:nth-of-type(1){
                width: 100%;
            }
            &:nth-of-type(2){
                width: 100%;
            }
            &:nth-of-type(3){
                width: 100%;
            }
            &:nth-of-type(4){
                width: 100%;;
            }
        }
        &__title{
            font-size: 1.6rem;
        }
    }
}














