.gioithieu{
    display: block;
}
.gt{
    &__container{
        display: flex;
        flex-direction: row-reverse;
    }
    &__right{
        width: 50%;
        padding-right: 7rem;
        position: relative;
        border-right: 2px solid rgba(16,113,189, 0.2);
        .section__title{
            margin-bottom: 3rem;
        }
    }
    &__left{
        padding: 3.5rem 0;
        padding-left: 7rem;
        width: 50%;
        .section__title{
            margin-bottom: 0;
        }
    }
    &__txt{
        display: block;
        padding-left: 2.5rem;
        position: relative;
        margin-bottom: 4rem;
        &::after{
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            display: block;
            background-color: $c-blu;
            position: absolute;
            top: 1rem;
            left: 0;
            transform: rotate(45deg);
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}
@media only screen and (max-width: 1400px) {
    .gt{
        &__right{
            padding-right: 5rem;
        }
        &__left{
            padding-left: 5rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .gt{
        &__right{
            padding-right: 1.5rem;
        }
        &__left{

            padding-left: 1.5rem;
        }
    }
}
@media only screen and (max-width: 900px) {
    .gt{
        &__container{
            flex-direction: column;
        }
        &__right{
            width: 100%;
            padding-right: 0;
            border: none;
            .section__title{
                text-align: center;
            }
        }
        &__left{
            width: 100%;
            padding:0;
            padding-bottom: 6rem;
            .section__title{
                text-align: center;
            }
        }
        &__txt{
            &::after{
                top: 0.5rem;
            }
        }
    }
}