.half{
    padding: 0;

    &:nth-child(even){
        .half__container{
            flex-direction: row-reverse;
        }
        .half__item{
            &:first-of-type{
                padding-right: 0;
                padding-left: 19rem;
            }
            &:last-of-type{
                padding-left: 0;
                padding-right: 19rem;
            }
            &.half__img{
                img{
                    left: 0;
                    right: none;
                }
            }
            &.half__list{
                padding-left: 0;
                padding-right: 22rem;
            }

            &.giaiphapxd{
                padding: 18rem 0;
                padding-right: 18rem;
            }
        }

    }
    &__container{
        display: flex;
    }

    &__item{
        width: 50%;
        padding: 10rem 19rem;
        align-items: stretch;
        &:first-of-type{
            padding-left: 0;
        }
        &:last-of-type{
            padding-right: 0;
        }
        &.half__list{
            padding: 19rem 0;
            padding-left: 22rem;
            
        }
        &.half__img{
            padding: 0;
            position: relative;
            img{
                display: block;
                width: 50vw;
                max-width: none;
                height: 100%;
                position: absolute;
                object-fit: cover;
                vertical-align: center;
                top: 0;
                right: 0;
            }
        }
        &.giaiphapxd{
            padding: 18rem 0;
            padding-left: 18rem;
        }
        .blue{
            display: block;
            &.inline{
                display: inline-block;
            }
        }
        


    }

    &__txt{
        display: block;
        margin-bottom: 4rem;
        padding-left: 2rem;
        position: relative;
        line-height: 3.4rem;
        &:last-of-type{
            margin-bottom: 0;
        }
        &::after{
            content: "";
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            background-color: $c-blu;
            position: absolute;
            top: 1rem;
            left: 0;
            transform: rotate(45deg);
        }
    }

    &__icon{
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 1300px) {
    .half{
        &__item{
            padding: 10rem 1.5rem;
            &:first-of-type{
                padding-right: 1.5rem;
                padding-left: 0;
            }
            &:last-of-type{
                padding-left: 1.5rem;
                padding-right: 0;
            }
            &.half__list{
                padding: 15rem 3rem;
            }
        }
        &:nth-child(even){

            .half__item{
                &:first-of-type{
                    padding-right: 0;
                    padding-left: 1.5rem;
                }
                &:last-of-type{
                    padding-left: 0;
                    padding-right: 1.5rem;
                }
                &.half__list{
                    padding: 15rem 3rem;
                }
            }
            &.giaiphapxd{
                .half__item{
                    padding: 10rem 0;
                    padding-right: 1.5rem;
                }
            }
            
        }
        &.giaiphapxd{
            .half__item{
                padding: 10rem 0;
                padding-left: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .half{
        &__container{
            flex-direction: column;
        }
        &__item{
            text-align: center;
            width: 100%;
            padding: 6rem 0;
            &:first-of-type{
                padding-right: 0;
                padding-left: 0;
            }
            &:last-of-type{
                padding-left: 0;
                padding-right: 0;
            }
            &.half__img{
                img{
                    width: 100vw;
                    margin: 0 -1.5rem;
                    position: relative;
                }
            }
            .button{
                margin: 0 auto;
                margin-top: 4rem;
            }
            &.half__list{
                padding: 6rem 0;
            }
        
        }

        &:nth-child(even){
            .half__container{
                flex-direction: column;
            }
            .half__item{
                
                &:first-of-type{
                    padding-right: 0;
                    padding-left: 0;
                }
                &:last-of-type{
                    padding-left: 0;
                    padding-right: 0;
                }
                &.half__list{
                    padding: 6rem 0;
                }
            }
            
        }
    }
}