.map{
    padding: 0;
    width: 100%;
    height: 65rem;
    background-image: url(../assets/images/loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    iframe{
        border: 0;
    }
}
@media only screen and (max-width: 1200px) {
    .map{
        height: 45rem;
    }
}

@media only screen and (max-width: 800px) {
    .map{
        height: 30rem;
    }
}