.tuyen{
    &.no__bottom{
        padding-bottom: 0;
    }
    &__breadcrumb{
        margin-top: 4rem;
    }
    &__img{
        width: 100%;
        img{
            max-width: 100%;
            display: block;
            height: 100%;
        }
    }
    &__container{
        padding: 6.5rem 6rem;
        border: 2px solid #E5E5E5;
    }
    &__content{
        column-count: 2;
        column-gap: 5rem;
    }
    &__item{
        display: block;
        margin-bottom: 4.5rem;

        &__list{
            li{
                padding-left: 2.2rem;
                position: relative;
                margin-bottom: 2.5rem;
                &:last-of-type{
                    margin-bottom: 0;
                }
                &::after{
                    content: "";
                    display: block;
                    width: 0.8rem;
                    height: 0.8rem;
                    border-radius: 9.9rem;
                    background-color: $c-blu;
                    position: absolute;
                    top: 1rem;
                    left: 0;
                }
            }
        }
    }
    &__title{
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 1200px) {
    .tuyen{
        &__breadcrumb{
            margin-top: 3rem;
        }
    }
}


@media only screen and (max-width: 900px) {
    .tuyen{
        &__container{
            padding: 6rem 0;
            padding-bottom: 0;
            border: 0;
        }
        &__content{
            column-gap: 3rem;
        }
    }
}
@media only screen and (max-width: 900px) {
    .tuyen{

        &__content{
            column-count: 1;
            column-gap: 0;
        }
    }
}