@import url(./reset.css);
@import url(../assets/fonts/Roboto/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: block;
  font-size: 2rem;
  line-height: 3.2rem;
  font-family: "Roboto";
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

input, select, button, textarea {
  outline: none;
  border: none;
}

.rs__form {
  -webkit-appearance: none;
  appearance: none;
}

img {
  width: 100%;
  max-width: max-content;
}

iframe {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #1071BD;
}

::selection {
  background: #1071BD;
  color: #fff;
}

.section {
  width: 100%;
  padding: 10rem 0;
  position: relative;
}
.section.grey {
  background-color: #F8F8F8;
}

.container {
  width: 100%;
  max-width: 151rem;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}

.main {
  margin-top: 11.7rem;
  overflow: hidden;
}

.section__title {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: bold;
  display: block;
  position: relative;
  margin-bottom: 4rem;
}
.section__title.big {
  font-size: 5.5rem;
  line-height: 7.4rem;
}
.section__title .blue {
  color: #1071BD;
}
.section__title .newline {
  display: block;
}
.section__title.white {
  color: #fff;
}

.txt {
  opacity: 0.7;
}

.shape {
  position: absolute;
  right: 0;
}

.button {
  min-width: 17rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7rem;
  color: #fff;
  margin-top: 4rem;
  padding: 1.5rem;
  width: max-content;
  border-radius: 9.9rem;
  background: #1071bd;
  background: linear-gradient(0deg, #1071bd 0%, #2aaae1 100%);
  transition: 0.3s linear;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
}
.button::after {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 9.9rem;
  top: -1px;
  left: 110%;
  background: linear-gradient(-90deg, white 0%, #2aaae1 100%);
  display: block;
  position: absolute;
  z-index: -1;
  transform-origin: bottom;
  transition: 0.5s linear;
}
.button:hover {
  box-shadow: 0rem 0rem 3rem rgba(42, 170, 225, 0.5);
  color: #1071BD;
}
.button:hover::after {
  animation: scan 0.5s linear;
  left: -1px;
  transition: 0.5s linear;
}

@keyframes scan {
  0% {
    left: -110%;
  }
  100% {
    left: -1px;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .main {
    margin-top: 9.7rem;
  }

  .section__title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .section__title.big {
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .section {
    padding: 6rem 0;
  }

  .main {
    margin-top: 9.1rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .button {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 1rem;
}
.header__logo a {
  display: block;
}
.header__logo a img {
  display: block;
  height: 100%;
}
.header__right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem 0 1.5rem;
}
.header__lang {
  display: block;
  margin-top: -1rem;
}
.header__lang a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #767676;
  transition: 0.3s linear;
  padding-right: 1rem;
  padding-left: 2.3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.header__lang a:last-of-type {
  border: none;
  padding-right: 0;
}
.header__lang a:hover {
  color: #1071BD;
}
.header__lang a img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.header__lang a.active {
  color: #1071BD;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.header__small .header__logo {
  width: 16rem;
}
.header__small .header__right {
  padding: 1rem 0;
}
.header__small .search__box {
  top: calc(100% + 2.5rem);
}

.menu__list {
  width: calc(100% - 3.3rem);
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  z-index: 11;
}
.menu__list .hiding {
  opacity: 0;
  transform: translateY(-4rem);
  transition: 0.6s linear;
}
.menu__list .showin {
  opacity: 1;
  transform: translateY(0);
}
.menu__list li {
  position: relative;
  z-index: 11;
}
.menu__list li a {
  display: inline-block;
  line-height: 1.9rem;
  padding: 1.5rem;
  transition: 0.2s linear;
  position: relative;
  z-index: 12;
}
.menu__list li a:hover {
  color: #1071BD;
}
.menu__list li a:hover ~ .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.menu__list li a:hover ~ .submenu__btn span {
  transform: rotate(270deg);
}
.menu__list li a:hover ~ .submenu__btn span::after {
  opacity: 0;
}
.menu__list li.active > a {
  color: #1071BD;
}
.menu__btn {
  display: none;
}
.menu__bg {
  display: none;
}
.menu__search {
  width: 1.8rem;
  margin-left: 1.5rem;
  position: relative;
}

.submenu {
  display: block;
  width: max-content;
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 0;
  background-color: #fff;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  transform: translateX(2rem);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}
.submenu::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5rem;
  background-color: transparent;
  top: -1.5rem;
}
.submenu li a::after {
  display: none;
}
.submenu:hover {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.submenu__btn {
  width: 1.5rem;
  padding: 0.7rem;
  display: inline-block;
  position: relative;
  transform: translateX(-1.5rem);
  height: 1.5rem;
  z-index: 13;
}
.submenu__btn > span {
  position: absolute;
  top: 0.3rem;
  width: 0.1rem;
  height: 0.8rem;
  background-color: #1071BD;
  transition: 0.5s linear;
}
.submenu__btn > span::after {
  border: 0;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.1rem;
  background-color: #1071BD;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s linear;
  z-index: 13;
}
.submenu__btn.active span {
  transform: rotate(270deg);
}
.submenu__btn.active span::after {
  opacity: 0;
}
.submenu.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.search__btn {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s linear;
  margin-top: 0.5rem;
}
.search__btn:hover {
  opacity: 1;
}
.search__box {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  align-items: stretch;
  right: 0;
  top: calc(100% + 4rem);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  width: 40rem;
  max-width: 98vw;
  transform: translateX(2rem);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}
.search__box.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.search__input {
  width: 80%;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  padding: 1.5rem;
}
.search__submit {
  width: 20%;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

@media only screen and (max-width: 1199px) {
  .header__logo {
    width: 16rem;
  }
  .header__logo img {
    width: 14rem;
  }
  .header__right {
    padding: 1rem 0;
  }
  .header__small .search__box {
    top: calc(100% + 4.5rem);
  }

  .search__box {
    top: calc(100% + 4.5rem);
  }

  .submenu__btn {
    cursor: pointer;
  }
}
@media only screen and (max-width: 900px) {
  .header__menu {
    display: block;
    width: 36rem;
    height: calc(100vh - 9.7rem);
    top: 9.7rem;
    left: 0;
    position: absolute;
    z-index: 11;
    transform: translateX(-100%);
    transition: 0.5s linear;
  }
  .header__menu.active {
    width: 100%;
    transform: translateX(0);
  }

  .menu__list {
    background-color: #fff;
    color: #000;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 36rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 13;
  }
  .menu__btn {
    display: block;
    padding: 2rem;
    position: relative;
    z-index: 13;
    cursor: pointer;
  }
  .menu__btn .line {
    display: block;
    position: relative;
    width: 3rem;
    height: 0.3rem;
    background-color: #1071BD;
    margin-bottom: 0.5rem;
    transition: 0.5s linear;
  }
  .menu__btn.active .line:nth-of-type(1) {
    transform: rotate(315deg) translate(-0.7rem, 0.7rem);
  }
  .menu__btn.active .line:nth-of-type(2) {
    opacity: 0;
    transform: translateX(1rem);
  }
  .menu__btn.active .line:nth-of-type(3) {
    transform: rotate(45deg) translate(-0.4rem, -0.5rem);
  }
  .menu__bg {
    display: block;
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .menu__search {
    display: none;
  }

  .submenu {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    background-color: #fff;
    transform: translateX(0);
    max-height: 0;
    overflow: hidden;
    transition: 1s linear;
  }
  .submenu.active {
    max-height: 50rem;
    margin-left: 1.5rem;
  }
  .submenu:hover {
    background-color: #fff;
  }
}
.footer {
  width: 100%;
  background-image: url(../assets/images/foot.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.footer__copyright {
  padding: 1.5rem;
  display: block;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0 0;
}
.footer__item {
  padding-bottom: 6rem;
  margin-left: 9rem;
}
.footer__item:last-of-type {
  padding-bottom: 0;
}
.footer__item:nth-of-type(1) {
  width: 15rem;
  margin-left: 0;
}
.footer__item:nth-of-type(2) {
  width: calc((100% - 15rem) * 3 / 10);
}
.footer__item:nth-of-type(3) {
  width: calc((100% - 15rem) * 4 / 10);
}
.footer__item:nth-of-type(4) {
  width: calc((100% - 15rem) * 2 / 10);
}
.footer__logo img {
  display: block;
  height: 100%;
}
.footer__social {
  display: flex;
  width: 100%;
  margin: -0.6rem;
  margin-top: 1.5rem;
}
.footer__social li {
  padding: 0.6rem;
}
.footer__social li a {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 9.9rem;
  transition: 0.3s linear;
}
.footer__social li a:hover {
  box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.16);
}
.footer__social li a img {
  display: block;
  height: 100%;
}
.footer__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 3rem;
}
.footer__txt {
  opacity: 0.7;
}
.footer__contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.footer__contact:last-of-type {
  margin-bottom: 0;
}
.footer__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.5rem;
}
.footer__content {
  width: calc(100% - 3.9rem);
}
.footer__content .bold {
  font-weight: bold;
}
.footer__content .phone {
  display: block;
}
.footer__content a {
  opacity: 0.7;
  transition: 0.3s linear;
}
.footer__content a:hover {
  opacity: 1;
}
.footer__list {
  column-count: 2;
}
.footer__list li {
  width: 100%;
}
.footer__list li a {
  display: block;
  width: max-content;
  padding: 0.5rem;
  transition: 0.3s linear;
}
.footer__list li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
  .footer__container {
    flex-wrap: wrap;
    padding: 6rem 0;
  }
  .footer__item:nth-of-type(odd) {
    margin-left: 0;
  }
  .footer__item:nth-of-type(1) {
    width: calc(50% - 4.5rem);
  }
  .footer__item:nth-of-type(2) {
    width: calc(50% - 4.5rem);
  }
  .footer__item:nth-of-type(3) {
    width: calc(50% - 4.5rem);
  }
  .footer__item:nth-of-type(4) {
    width: calc(50% - 4.5rem);
  }
}
@media only screen and (max-width: 800px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__item {
    padding-bottom: 3rem;
  }
  .footer__item:nth-of-type(even) {
    margin-left: 0;
  }
  .footer__item:nth-of-type(1) {
    width: 100%;
  }
  .footer__item:nth-of-type(2) {
    width: 100%;
  }
  .footer__item:nth-of-type(3) {
    width: 100%;
  }
  .footer__item:nth-of-type(4) {
    width: 100%;
  }
  .footer__title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}
.banner {
  width: 100%;
  height: 70rem;
  position: relative;
  padding: 0;
  outline: none;
}
.banner__slider .slick-track {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
}
.banner__slider.slick-slider {
  margin-bottom: 0;
}
.banner__slider .slick-dots {
  position: absolute;
  bottom: 3rem;
}
.banner__slider .slick-dots li.slick-active button {
  background-color: #fff;
}
.banner__slider .slick-dots li button {
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 99.9rem;
  transition: 0.3s linear;
}
.banner__slider .slick-dots li button::before {
  display: none;
}
.banner__slider .slick-dots li button:hover {
  background-color: #1071BD;
}
.banner.home {
  height: 90rem;
}
.banner.home .banner__title {
  font-size: 6rem;
  line-height: 7.2rem;
  margin-bottom: 4.5rem;
}
.banner.home .banner__content {
  width: 94rem;
  height: 72rem;
  padding-top: 19rem;
}
.banner__img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner__img img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.banner__content {
  position: absolute;
  width: 85rem;
  height: 63rem;
  background-image: url("../assets/images/ban.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  left: 0;
  bottom: 0;
  padding: 24rem 0 0 22rem;
  display: block;
}
.banner__content .shape-outside {
  shape-outside: polygon(49% 0, 100% 1%, 100% 100%, 25% 100%, 93% 40%);
  width: 70.8rem;
  height: 52.5rem;
  float: right;
}
.banner__content .button {
  display: inline-block;
}
.banner__title {
  font-size: 5rem;
  line-height: 6.1rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
.banner .spanTxt {
  opacity: 0;
  transition: 0.5s linear;
}
.banner .fade {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .banner.home {
    height: 80rem;
  }
  .banner.home .banner__title {
    font-size: 5rem;
    line-height: 6.1rem;
  }
  .banner.home .banner__content {
    width: 84rem;
    height: 65rem;
    padding-top: 16rem;
  }
  .banner__content {
    width: 70rem;
    height: 48rem;
    padding-top: 12rem;
    padding-left: 10rem;
  }
  .banner__title {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .banner {
    height: 50rem;
  }
  .banner__slider .slick-dots {
    bottom: 1.5rem;
  }
  .banner__slider .slick-dots li.slick-active button {
    background-color: #1071BD;
  }
  .banner__slider .slick-dots li button {
    border: 2px solid #1071BD;
  }
  .banner.home {
    height: 50rem;
  }
  .banner.home .banner__title {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
  .banner.home .banner__content {
    width: 60rem;
    height: 38rem;
    padding-top: 6rem;
    padding-left: 8rem;
  }
  .banner__content {
    width: 60rem;
    height: 38rem;
    padding-top: 10rem;
    padding-left: 8rem;
  }
  .banner__title {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .banner.home .banner__title {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
  .banner.home .banner__content {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    padding-top: 16rem;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .banner__content {
    padding: 1.5rem;
    padding-top: 16rem;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .banner__content .shape-outside {
    display: none;
  }
  .banner__title {
    white-space: unset;
    margin-bottom: 3rem;
    padding: 0 10%;
  }
  .banner__title br {
    display: none;
  }
  .banner .button {
    margin: 0 auto;
    margin-top: 3rem;
  }
}
.backToTop {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 9.9rem;
  background-color: #1071BD;
  box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.16);
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  z-index: 10;
  transform: translateX(3rem);
  opacity: 0;
  transition: 0.5s linear;
  cursor: pointer;
}
.backToTop.active {
  transform: translateX(0);
  opacity: 1;
}
.backToTop:hover::after {
  animation: jumping 1s linear 0s infinite;
}
.backToTop::after {
  content: "";
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-bottom: 1rem solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 0.5rem));
}

@keyframes jumping {
  0% {
    transform: translate(-50%, calc(-50% - 1.2rem));
  }
  50% {
    transform: translate(-50%, calc(-50% + 0.5rem));
  }
  100% {
    transform: translate(-50%, calc(-50% - 1.2rem));
  }
}
@media only screen and (max-width: 1600px) {
  .backToTop {
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .backToTop {
    width: 4rem;
    height: 4rem;
    right: 1.5rem;
    bottom: 3rem;
  }
  .backToTop::after {
    border: 0.8rem solid transparent;
    border-bottom: 0.8rem solid #fff;
  }
}
.breadcrumb {
  font-size: 1.8rem;
  line-height: 3.2rem;
  padding-left: 3rem;
  position: relative;
  transition: 0.3s linear;
}
.breadcrumb:first-of-type {
  padding-left: 0;
}
.breadcrumb:first-of-type::after {
  display: none;
}
.breadcrumb.active {
  font-weight: bold;
}
.breadcrumb:hover {
  color: #1071BD;
}
.breadcrumb::after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 9.9rem;
  background-color: #1071BD;
  position: absolute;
  left: 1.2rem;
  top: 0.8rem;
}

.duan {
  padding: 0;
}
.duan:nth-child(even) .duan__container {
  flex-direction: row-reverse;
}
.duan:nth-child(even) .duan__img img {
  left: auto;
  right: 0;
}
.duan:nth-child(even) .duan__content {
  padding-left: 15rem;
  padding-right: 0;
}
.duan__container {
  display: flex;
  width: 100%;
}
.duan__img {
  display: block;
  width: calc(100% / 3);
  position: relative;
  align-self: stretch;
}
.duan__img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50vw - (100% / 2));
  height: 100%;
  max-width: none;
  object-fit: cover;
}
.duan__content {
  width: calc(100% * 2 / 3);
  padding: 13rem 15rem 11rem 0;
  display: flex;
  flex-wrap: wrap;
}
.duan__content .section__title {
  width: 100%;
}
.duan__content__right {
  width: 50%;
}
.duan__content__left {
  width: 50%;
  padding-left: 5rem;
  position: relative;
}
.duan__item {
  padding-left: 5rem;
  position: relative;
  margin-bottom: 2rem;
}
.duan__item:last-of-type {
  margin-bottom: 0;
}
.duan__icon {
  width: 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.duan__title {
  line-height: 3.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}
.duan__list li {
  display: block;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.duan__list li:last-of-type {
  margin-bottom: 0;
}
.duan__list li::after {
  content: "";
  background-color: #1071BD;
  border-radius: 9.9rem;
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
}

@media only screen and (max-width: 1400px) {
  .duan:nth-child(even) .duan__content {
    padding-left: 10rem;
    padding-right: 0;
  }
  .duan__content {
    width: calc(100% * 2 / 3);
    padding: 10rem 10rem 10rem 0;
  }
}
@media only screen and (max-width: 1200px) {
  .duan:nth-child(even) .duan__content {
    padding-left: 1.5rem;
    padding-right: 0;
  }
  .duan__content {
    width: calc(100% * 2 / 3);
    padding: 10rem 1.5rem 10rem 0;
  }
  .duan__list li::after {
    top: 0.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .duan:nth-child(even) .duan__container {
    flex-direction: column-reverse;
  }
  .duan:nth-child(even) .duan__content {
    padding-left: 0;
  }
  .duan__container {
    flex-direction: column-reverse;
  }
  .duan__content {
    width: 100%;
    padding: 6rem 0;
  }
  .duan__img {
    width: 100vw;
    margin: 0 -1.5rem;
  }
  .duan__img img {
    width: 100%;
    height: 40rem;
    position: relative;
  }
}
@media only screen and (max-width: 600px) {
  .duan__content__right {
    width: 100%;
  }
  .duan__content__left {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.gioithieu {
  display: block;
}

.gt__container {
  display: flex;
  flex-direction: row-reverse;
}
.gt__right {
  width: 50%;
  padding-right: 7rem;
  position: relative;
  border-right: 2px solid rgba(16, 113, 189, 0.2);
}
.gt__right .section__title {
  margin-bottom: 3rem;
}
.gt__left {
  padding: 3.5rem 0;
  padding-left: 7rem;
  width: 50%;
}
.gt__left .section__title {
  margin-bottom: 0;
}
.gt__txt {
  display: block;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 4rem;
}
.gt__txt::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  background-color: #1071BD;
  position: absolute;
  top: 1rem;
  left: 0;
  transform: rotate(45deg);
}
.gt__txt:last-of-type {
  margin-bottom: 0;
}

@media only screen and (max-width: 1400px) {
  .gt__right {
    padding-right: 5rem;
  }
  .gt__left {
    padding-left: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .gt__right {
    padding-right: 1.5rem;
  }
  .gt__left {
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .gt__container {
    flex-direction: column;
  }
  .gt__right {
    width: 100%;
    padding-right: 0;
    border: none;
  }
  .gt__right .section__title {
    text-align: center;
  }
  .gt__left {
    width: 100%;
    padding: 0;
    padding-bottom: 6rem;
  }
  .gt__left .section__title {
    text-align: center;
  }
  .gt__txt::after {
    top: 0.5rem;
  }
}
.sonic {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
}
.sonic .newline {
  display: block;
}
.sonic:nth-child(even) {
  flex-direction: row-reverse;
}
.sonic__img {
  width: 34%;
  align-self: stretch;
}
.sonic__img img {
  max-width: none;
  height: 100%;
  object-fit: cover;
  display: block;
}
.sonic__main {
  width: 66%;
  padding: 10rem 18.5rem;
  background-color: #fff;
}
.sonic__main .section__title {
  margin-bottom: 3.5rem;
}
.sonic__content {
  width: 100%;
  column-count: 2;
  column-gap: 8.5rem;
}
.sonic__txt {
  display: block;
  padding-left: 2.5rem;
  margin-bottom: 3rem;
  position: relative;
}
.sonic__txt:last-of-type {
  margin-bottom: 0;
}
.sonic__txt::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  background-color: #1071BD;
  position: absolute;
  top: 1rem;
  left: 0;
  transform: rotate(45deg);
}

@media only screen and (max-width: 1600px) {
  .sonic__main {
    padding: 10rem;
  }
  .sonic__content {
    column-gap: 5rem;
  }
}
@media only screen and (max-width: 1400px) {
  .sonic__img {
    width: 40%;
  }
  .sonic__main {
    width: 60%;
    padding: 10rem 5rem;
  }
  .sonic__content {
    column-gap: 3rem;
  }
  .sonic__txt {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .sonic {
    flex-direction: column;
  }
  .sonic:nth-child(even) {
    flex-direction: column;
  }
  .sonic__img {
    width: 100%;
  }
  .sonic__img img {
    object-fit: cover;
  }
  .sonic__main {
    width: 100%;
    padding: 6rem 1.5rem;
  }
  .sonic__main .section__title {
    text-align: center;
  }
  .sonic__txt:last-of-type {
    margin-bottom: 1.5rem;
  }
  .sonic__txt::after {
    top: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .sonic__content {
    column-count: 1;
  }
}
.half {
  padding: 0;
}
.half:nth-child(even) .half__container {
  flex-direction: row-reverse;
}
.half:nth-child(even) .half__item:first-of-type {
  padding-right: 0;
  padding-left: 19rem;
}
.half:nth-child(even) .half__item:last-of-type {
  padding-left: 0;
  padding-right: 19rem;
}
.half:nth-child(even) .half__item.half__img img {
  left: 0;
  right: none;
}
.half:nth-child(even) .half__item.half__list {
  padding-left: 0;
  padding-right: 22rem;
}
.half:nth-child(even) .half__item.giaiphapxd {
  padding: 18rem 0;
  padding-right: 18rem;
}
.half__container {
  display: flex;
}
.half__item {
  width: 50%;
  padding: 10rem 19rem;
  align-items: stretch;
}
.half__item:first-of-type {
  padding-left: 0;
}
.half__item:last-of-type {
  padding-right: 0;
}
.half__item.half__list {
  padding: 19rem 0;
  padding-left: 22rem;
}
.half__item.half__img {
  padding: 0;
  position: relative;
}
.half__item.half__img img {
  display: block;
  width: 50vw;
  max-width: none;
  height: 100%;
  position: absolute;
  object-fit: cover;
  vertical-align: center;
  top: 0;
  right: 0;
}
.half__item.giaiphapxd {
  padding: 18rem 0;
  padding-left: 18rem;
}
.half__item .blue {
  display: block;
}
.half__item .blue.inline {
  display: inline-block;
}
.half__txt {
  display: block;
  margin-bottom: 4rem;
  padding-left: 2rem;
  position: relative;
  line-height: 3.4rem;
}
.half__txt:last-of-type {
  margin-bottom: 0;
}
.half__txt::after {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #1071BD;
  position: absolute;
  top: 1rem;
  left: 0;
  transform: rotate(45deg);
}
.half__icon {
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1300px) {
  .half__item {
    padding: 10rem 1.5rem;
  }
  .half__item:first-of-type {
    padding-right: 1.5rem;
    padding-left: 0;
  }
  .half__item:last-of-type {
    padding-left: 1.5rem;
    padding-right: 0;
  }
  .half__item.half__list {
    padding: 15rem 3rem;
  }
  .half:nth-child(even) .half__item:first-of-type {
    padding-right: 0;
    padding-left: 1.5rem;
  }
  .half:nth-child(even) .half__item:last-of-type {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .half:nth-child(even) .half__item.half__list {
    padding: 15rem 3rem;
  }
  .half:nth-child(even).giaiphapxd .half__item {
    padding: 10rem 0;
    padding-right: 1.5rem;
  }
  .half.giaiphapxd .half__item {
    padding: 10rem 0;
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .half__container {
    flex-direction: column;
  }
  .half__item {
    text-align: center;
    width: 100%;
    padding: 6rem 0;
  }
  .half__item:first-of-type {
    padding-right: 0;
    padding-left: 0;
  }
  .half__item:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  .half__item.half__img img {
    width: 100vw;
    margin: 0 -1.5rem;
    position: relative;
  }
  .half__item .button {
    margin: 0 auto;
    margin-top: 4rem;
  }
  .half__item.half__list {
    padding: 6rem 0;
  }
  .half:nth-child(even) .half__container {
    flex-direction: column;
  }
  .half:nth-child(even) .half__item:first-of-type {
    padding-right: 0;
    padding-left: 0;
  }
  .half:nth-child(even) .half__item:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  .half:nth-child(even) .half__item.half__list {
    padding: 6rem 0;
  }
}
.why {
  position: relative;
  background-image: url(../assets/images/wave.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.why .section__title {
  text-align: center;
}
.why__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -4rem;
  position: relative;
  z-index: 2;
}
.why__list li {
  width: 50%;
  margin-bottom: 4rem;
  align-self: stretch;
}
.why__list li .why__item {
  padding: 1.5rem;
  width: 35%;
  margin: -1.5rem auto;
  transition: 0.3s linear;
  border-radius: 0.8rem;
  height: 100%;
}
.why__list li .why__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #1071BD;
  box-shadow: 0 0 3rem rgba(16, 113, 189, 0.6);
}
.why__list li .why__item .bold {
  display: block;
  font-weight: bold;
}
.why__list li .why__item img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}
.why__list li:nth-of-type(odd) .why__item {
  text-align: right;
  margin-right: 35%;
}
.why__list li:nth-of-type(even) .why__item {
  text-align: left;
  margin-left: 35%;
}
.why__img {
  position: absolute;
  width: 34.5rem;
  height: 34.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (max-width: 1300px) {
  .why__list li .why__item {
    width: 50%;
    margin: 0;
  }
  .why__list li:nth-of-type(odd) .why__item {
    margin-right: 0;
  }
  .why__list li:nth-of-type(even) .why__item {
    margin-left: 0;
    float: right;
  }
}
@media only screen and (max-width: 900px) {
  .why__list {
    justify-content: center;
  }
  .why__list li {
    align-self: stretch;
  }
  .why__list li .why__item {
    width: 100%;
    margin: 0;
  }
  .why__list li:nth-of-type(odd) .why__item {
    text-align: center;
    padding-right: 1.5rem;
  }
  .why__list li:nth-of-type(even) .why__item {
    text-align: center;
    padding-left: 1.5rem;
  }
  .why__list li:empty {
    display: none;
  }
  .why__img {
    opacity: 0.2;
  }
}
.slide {
  background: #1071bd;
  background: linear-gradient(0deg, #1071bd 0%, #2aaae1 100%);
}
.slide .section__title {
  text-align: center;
}
.slide .container {
  padding: 0;
}
.slide__container {
  width: 100%;
  display: flex;
}
.slide .slick-track {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
  padding-bottom: 3rem;
}
.slide .slick-dots {
  bottom: -3rem;
}
.slide .slick-dots li.slick-active button {
  background-color: #fff;
}
.slide .slick-dots li button {
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 99.9rem;
  transition: 0.3s linear;
}
.slide .slick-dots li button::before {
  display: none;
}
.slide .slick-dots li button:hover {
  background-color: #1071BD;
}
.slide__item {
  position: relative;
  width: calc(100% /3 - 3rem);
  margin: 0 1.5rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  align-self: stretch;
  height: 100%;
  border-radius: 1.6rem;
  outline: none;
}
.slide__item:hover {
  box-shadow: 0rem 0rem 3rem rgba(255, 255, 255, 0.4);
}
.slide__item:hover .slide__item__container::after {
  width: 150rem;
  height: 150rem;
  background-color: #067BCC;
}
.slide__item:hover .slide__content {
  color: #fff;
}
.slide__item__container {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  height: 100%;
  border-radius: 1.6rem;
}
.slide__item__container::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-radius: 99.9rem;
  background-color: #2AAAE1;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s linear;
}
.slide__item a {
  outline: none;
}
.slide__img {
  width: 100%;
  height: 43rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.slide__img img {
  display: block;
  max-width: none;
  height: 100%;
  object-fit: cover;
  transition: 1s linear;
}
.slide__img img:hover {
  transform: scale(1.2);
}
.slide__content {
  overflow: hidden;
  width: 100%;
  padding: 3rem 3.5rem;
  padding-bottom: 9rem;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: 0.3s linear;
}
.slide__title {
  display: block;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.slide__btn {
  font-size: 1.4rem;
  line-height: 1.7rem;
  padding: 1.4rem 4.5rem;
  border-radius: 9.9rem;
  background-color: #2AAAE1;
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s linear;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.16);
  min-width: max-content;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.slide__btn:hover {
  background-color: #fff;
  color: #1071BD;
}

@media only screen and (max-width: 1200px) {
  .slide__img {
    height: 30rem;
  }
}
@media only screen and (max-width: 900px) {
  .slide__content {
    padding-bottom: 6rem;
  }
}
.grid .section__title {
  text-align: center;
}
.grid__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
}
.grid__item {
  text-align: center;
  height: 100%;
}
.grid__item.readmore {
  display: block;
  width: 100%;
  height: 29rem;
  border: 2rem solid #067BCC;
  position: relative;
}
.grid__item.readmore:hover a {
  background-color: rgba(16, 113, 189, 0.6);
  color: #fff;
}
.grid__item.readmore:hover img {
  animation: slide 1s linear 0s infinite;
}
.grid__item.readmore a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 113, 189, 0.1);
  color: #067BCC;
  padding-top: 14rem;
  transition: 0.3s linear;
}
.grid__item.readmore img {
  position: relative;
  width: 6.4rem;
  height: 1.6rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}
.grid__img {
  height: 29rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.grid__img:hover img {
  transform: scale(1.2);
}
.grid__img img {
  display: block;
  height: 100%;
  width: 100%;
  max-width: none;
  object-fit: cover;
  transition: 0.5s linear;
}
.grid__link {
  font-weight: bold;
  line-height: 2.7rem;
  display: block;
  transition: 0.3s linear;
}
.grid__link:hover {
  color: #1071BD;
}
.grid.giaiphap .section__title {
  text-align: left;
  margin-bottom: 2.5rem;
}
.grid.giaiphap .txt {
  line-height: 3.4rem;
  margin-bottom: 4rem;
}
.grid.giaiphap .grid__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.grid.giaiphap .grid__item:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.16);
}
.grid.giaiphap .grid__item.readmore {
  border: 2rem solid #067BCC;
}
.grid.giaiphap .grid__img {
  margin-bottom: 0;
}
.grid.giaiphap .grid__link {
  padding: 3rem 5rem;
  transition: 0.3s linear;
}
.grid.doitac .grid__container {
  grid-template-columns: auto auto auto auto;
}
.grid.doitac .grid__img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}
.grid.doitac .grid__img a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.grid.doitac .grid__img img {
  display: block;
  width: max-content;
  height: max-content;
}
.grid.doitac .grid__link {
  margin: 0 auto;
  width: 30rem;
  max-width: 100%;
}
.grid.tuyen .section__title {
  text-align: left;
  margin-bottom: 2.5rem;
}
.grid.tuyen .txt {
  margin-bottom: 4.5rem;
}
.grid.tuyen .grid__img {
  height: 28rem;
  margin-bottom: 2.6rem;
}
.grid.tuyen .grid__link {
  padding: 0 5rem;
  margin-bottom: 1.5rem;
}
.grid.tuyen .grid__txt {
  padding: 0 2.5rem;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.paginaytion {
  width: 100%;
}

.pag {
  display: flex;
  margin-top: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.pag__link {
  margin-right: 0.5rem;
}
.pag__link a {
  padding: 1.3rem;
  border-radius: 0.6rem;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 3.2rem;
  transition: 0.3s linear;
  min-width: 4.4rem;
  height: 4.4rem;
}
.pag__link a:hover {
  background-color: #1071BD;
  color: #fff;
}
.pag__link.next a:hover {
  background-color: #fff;
}
.pag__link.next a:hover img {
  animation: slide 1s linear 0s infinite;
}
.pag__link.active span {
  background-color: #1071BD;
  font-weight: bold;
  color: #fff;
  padding: 1.3rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
  min-width: 4.4rem;
  height: 4.4rem;
}

.logodt__slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7.5rem;
}
.logodt__slide .slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logodt__slide .logodt__item {
  width: calc(100% / 6);
  outline: none;
}
.logodt__slide .logodt__item a {
  display: block;
  width: max-content;
  margin: 0 auto;
  outline: none;
}
.logodt__slide .logodt__item a img {
  width: max-content;
  display: block;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  .grid.doitac .grid__container {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1200px) {
  .grid__container {
    grid-template-columns: auto auto;
  }
  .grid.doitac .grid__container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 900px) {
  .grid__item a .grid__img {
    height: 24rem;
  }
  .grid__item.readmore {
    height: 24rem;
  }
  .grid__item.readmore a {
    padding-top: 7rem;
  }
  .grid.doitac .grid__link {
    margin: 0 auto;
    width: 20rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .grid__container {
    grid-template-columns: auto;
  }
  .grid.doitac .grid__container {
    grid-template-columns: auto;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-80%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(-80%);
  }
}
.map {
  padding: 0;
  width: 100%;
  height: 65rem;
  background-image: url(../assets/images/loading.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.map iframe {
  border: 0;
}

@media only screen and (max-width: 1200px) {
  .map {
    height: 45rem;
  }
}
@media only screen and (max-width: 800px) {
  .map {
    height: 30rem;
  }
}
.relative {
  padding: 8rem 0;
}
.relative__slide {
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
}
.relative__item {
  display: block;
  width: calc(100% / 3);
  margin: 0 1.5rem;
  outline: none;
}
.relative__img {
  outline: none;
  display: block;
  width: 100%;
  height: 28rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
}
.relative__img:hover img {
  transform: scale(1.1);
}
.relative__img img {
  display: block;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transition: 0.3s linear;
}
.relative__link {
  outline: none;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: 0.3s linear;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}
.relative__link:hover {
  color: #1071BD;
}
.relative .slick-dots {
  bottom: 0;
  position: relative;
}
.relative .slick-dots li {
  width: max-content;
  height: max-content;
  margin: 0.7rem;
}
.relative .slick-dots li.slick-active button {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
}
.relative .slick-dots li button {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #1071BD;
  opacity: 0.4;
  border-radius: 99.9rem;
  transition: 0.3s linear;
}
.relative .slick-dots li button::before {
  display: none;
}
.relative .slick-dots li button:hover {
  opacity: 1;
}
.relative .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.relative__txt {
  text-align: center;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .relative__img {
    height: 23rem;
  }
}
.contact {
  width: 100%;
}
.contact__container {
  display: flex;
  padding: 0;
}
.contact__left {
  width: 50%;
  padding: 0 1.5rem;
}
.contact__right {
  width: 50%;
  padding: 0 1.5rem;
}
.contact__item {
  width: 60%;
  padding-left: 5rem;
  margin-bottom: 3rem;
  position: relative;
}
.contact__item:last-of-type {
  margin-bottom: 0;
}
.contact__item img {
  display: block;
  width: 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.contact__item a {
  transition: 0.3s linear;
}
.contact__item a:hover {
  color: #1071BD;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}
.contact__label {
  padding: 1rem;
  width: 100%;
}
.contact__label.small {
  width: 50%;
}
.contact__label .button {
  float: right;
  margin-top: 1.5rem;
}
.contact__inp {
  display: block;
  width: 100%;
  margin-top: 1rem;
  background-color: #F6F6F6;
  height: 4.4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: 0.3s linear;
}
.contact__inp:focus {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem rgba(16, 113, 189, 0.6);
  border: 0;
  color: #1071BD;
}
.contact__mess {
  height: 17.5rem;
}

@media only screen and (max-width: 900px) {
  .contact__container {
    flex-wrap: wrap;
  }
  .contact__left {
    width: 100%;
    margin-bottom: 6rem;
  }
  .contact__right {
    width: 100%;
  }
  .contact__label .button {
    float: none;
  }
}
@media only screen and (max-width: 600px) {
  .contact__label.small {
    width: 100%;
  }
  .contact__label .button {
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}
.tuyen.no__bottom {
  padding-bottom: 0;
}
.tuyen__breadcrumb {
  margin-top: 4rem;
}
.tuyen__img {
  width: 100%;
}
.tuyen__img img {
  max-width: 100%;
  display: block;
  height: 100%;
}
.tuyen__container {
  padding: 6.5rem 6rem;
  border: 2px solid #E5E5E5;
}
.tuyen__content {
  column-count: 2;
  column-gap: 5rem;
}
.tuyen__item {
  display: block;
  margin-bottom: 4.5rem;
}
.tuyen__item__list li {
  padding-left: 2.2rem;
  position: relative;
  margin-bottom: 2.5rem;
}
.tuyen__item__list li:last-of-type {
  margin-bottom: 0;
}
.tuyen__item__list li::after {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 9.9rem;
  background-color: #1071BD;
  position: absolute;
  top: 1rem;
  left: 0;
}
.tuyen__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1200px) {
  .tuyen__breadcrumb {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .tuyen__container {
    padding: 6rem 0;
    padding-bottom: 0;
    border: 0;
  }
  .tuyen__content {
    column-gap: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .tuyen__content {
    column-count: 1;
    column-gap: 0;
  }
}
.detail__banner {
  background-image: url(../assets/images/chitietbv.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 65rem;
}
.detail__banner .container {
  height: 100%;
  position: relative;
}
.detail__banner__content {
  width: calc(100% * 3.5 / 12);
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  color: #fff;
}
.detail__title {
  font-size: 5.5rem;
  line-height: 7.4rem;
  display: block;
  margin-bottom: 2.5rem;
}
.detail__title .bold {
  font-weight: bold;
}
.detail__txt {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 3.2rem;
}
.detail__tab {
  padding: 2.5rem 0 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detail__tab__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.2rem;
  position: relative;
  cursor: pointer;
  padding-right: 2.5rem;
}
.detail__tab__title::after {
  content: "";
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background-image: url("../assets/images/Mask Group 46.png");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s linear;
}
.detail__tab__content {
  display: flex;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 1s linear;
}
.detail__tab__list {
  width: 50%;
  padding-right: 6rem;
}
.detail__tab__list li {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 3rem;
}
.detail__tab__list li:last-of-type {
  margin-bottom: 0;
}
.detail__tab__list li::after {
  content: "+";
  position: absolute;
  left: 0;
  top: 0;
}
.detail__tab__img {
  width: 50%;
}
.detail__tab__img img {
  max-width: 100%;
}
.detail__tab.active .detail__tab__title::after {
  transform: translateY(-50%) rotate(-180deg);
}
.detail__tab.active .detail__tab__content {
  opacity: 1;
  margin-top: 3rem;
  max-height: 100rem;
}

@media only screen and (max-width: 1200px) {
  .detail__banner {
    height: 50rem;
  }
  .detail__title {
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .detail__txt {
    line-height: 2.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .detail__banner {
    height: 50rem;
  }
  .detail__banner__content {
    width: calc(100% / 3);
  }
  .detail__title {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .detail__txt {
    line-height: 2.6rem;
  }
  .detail__tab {
    padding: 1.5rem 0;
  }
  .detail__tab__content {
    flex-direction: column-reverse;
  }
  .detail__tab__list {
    width: 100%;
    padding-right: 0;
  }
  .detail__tab__img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .detail__tab__title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .detail__banner .container {
    background-color: rgba(16, 113, 189, 0.8);
  }
  .detail__banner__content {
    width: calc(100% - 3rem);
    text-align: center;
  }
  .detail__title {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .detail__txt {
    -webkit-line-clamp: 3;
    white-space: unset;
  }
}

/*# sourceMappingURL=style.css.map */
