.popup__container {
  background: #fff;
}
.popup__container::before {
  background-image: url(../assets/images/GreenCare00008.png);
  background-repeat: repeat;
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-size: 150px;
}
@media screen and (max-width: 768px) {
  .video__wrap {
    pointer-events: auto;
  }
}
@media only screen and (max-width: 450px) {
  .banner__phone {
    padding: 6rem 3rem;
  }
}
