.contact {
  .section__title {
    margin: 2.5rem 0;
  }
  .section__subtitle {
    margin: 2.5rem 0;
  }
  &__form {
    width: calc(100% * 2 / 3);
    padding: 0 1.5rem;
  }
  &__link {
    width: calc(100% / 3);
    padding: 0 1.5rem;
    background-color: #fff;
    display: flex;

    &__wrap {
      width: 100%;
      background-color: $c-primary;
      margin-top: auto;
      border-radius: 15px;
      padding: 3.5rem 3rem 8rem;
      .section__subtitle {
        margin: 0;
        margin-bottom: 2.5rem;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    &:hover {
      @media only screen and(min-width: 901px) {
        .contact__icon {
          opacity: 1;
          img {
            filter: brightness(0) invert(1);
          }
        }
        .contact__info {
          color: #fff;
        }
      }
    }
  }
  &__icon {
    max-width: 3rem;
    min-width: 3rem;
    margin-right: 2.2rem;
    opacity: 0.3;
    transition: 0.3s ease;
    img {
      transition: 0.3s ease;
    }
  }
  &__info {
    flex-grow: 1;
    transition: 0.3s ease;
    .name {
      font-weight: bold;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    .intro__container {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__form {
      width: 100%;
      margin-bottom: 3rem;
    }
    &__link {
      width: 100%;
      max-width: 768px;
      &__wrap {
        padding: 2rem;
      }
    }
    .section__subtitle {
      margin: 0;
      text-align: center;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .contact {
    .section__title {
      margin-top: 0;
    }
  }
}
@media only screen and (max-width: 550px) {
  .contact__list {
    li {
      width: 100%;
    }
  }
}
