.aside {
    &__container {
        display: flex;
        padding: 0;
    }
    &__content {
        width: calc(100% * 7 / 12);
        padding: 0 1.5rem;
    }
    &__link {
        &__container {
            width: calc(100% * 5 / 12);
            padding: 0 1.5rem;
            display: flex;
            flex-direction: column;
        }
        display: block;
        background-color: #f4f4f7;
        width: 100%;
        flex-grow: 1;
    }
    &__read {
        @include fz-14;
        line-height: calc(24 / 14);
        .bold {
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            margin-bottom: 2.5rem;
        }
        .txt {
            display: block;
            margin-bottom: 2.5rem;
        }
    }
}
@media only screen and (max-width: 900px) {
    .aside {
        &__container {
            flex-wrap: wrap;
        }
        &__content {
            width: 100%;
            .section__title {
                text-align: center;
            }
        }
        &__link {
            &__container {
                width: 100%;
                padding: 0;
            }
            .section__subtitle {
                text-align: center;
            }
        }
    }
}
