.book {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 15rem;
    height: 15rem;

    li {
        display: block;
        width: 70%;
        height: 80%;

        position: absolute;
        transform-origin: left center;
        transform-style: preserve-3d;
        transition: all 1s ease;
    }
    .book__cover {
        height: 81%;
        width: 72%;
    }
    &__cover {
        left: 18%;
        top: 9%;
        backface-visibility: hidden;
        transform: rotateY(-32deg) translateZ(8px);

        transition: 1.2s ease;
        background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__page {
        left: 20%;
        top: 10%;
        background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
        transition: 0.8s ease, z-index 0.6s;
        box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
            inset -1px 0px 1px rgba(150, 150, 150, 0.2);
        pointer-events: none;
        &:nth-child(2) {
            transform: rotateY(-32deg) translateZ(-2px);
            transition: 1s ease;
        }
        &:nth-child(3) {
            transform: rotateY(-30deg) translateZ(-3px);
            transition: 0.8s ease;
        }
        &:nth-child(4) {
            transform: rotateY(-28deg) translateZ(-4px);
            transition: 0.6s ease;
        }
        &:nth-child(5) {
            transform: rotateY(-26deg) translateZ(-5px);
            transition: 0.4s ease;
        }
        &:nth-child(6) {
            transform: rotateY(-24deg) translateZ(-6px);
            transition: 0.3s ease;
            padding: 3rem;
            text-align: center;
            font-weight: bold;
            color: #e7194a;
            text-transform: uppercase;
            line-height: 1.2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:nth-child(7) {
            transform: rotateY(-22deg) translateZ(-7px);
            transition: 0.2s ease;
        }
        &:nth-child(8) {
            transform: rotateY(-20deg) translateZ(-8px);
            transition: 0.1s ease;
        }
    }
    .book__back {
        width: 72%;
        height: 81%;
    }
    &__back {
        top: 10%;
        left: 10%;

        background-color: #f8f3e5;
        transform: rotateY(-15deg) translateZ(-9px);
    }
    &__logo {
        display: block;
        transform: rotateY(180deg);
        margin: 0 auto;
        margin-top: 3rem;
        width: 3rem;
        object-fit: cover;
    }
}
