.admin-bar {
    .header {
        top: 32px;
    }
    @media only screen and (max-width: 768px) {
        .header {
            top: 46px;
        }
    }
    @media only screen and (max-width: 600px) {
        .header {
            &.small {
                top: 0;
            }
        }
    }
}
.header {
    .new {
        top: -7px;
    }
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    &.small {
        .header__top {
            max-height: 0;
            padding: 0;
        }
    }

    &__top {
        max-height: 9rem;
        background-color: #fff;
        padding: 1rem 0;
        transition: 0.3s ease;
        overflow: hidden;
        a {
            display: block;
            width: 8.4rem;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    &__bottom {
        background-color: #301a56;
        color: #fff;
        position: relative;
        z-index: 11;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: static;
        }
    }
}

.menu {
    width: 100%;

    &__list {
        display: flex;
        align-items: center;
        @include fz-14;
        margin-left: -1.5rem;
    }
    &__item {
        transition: 0.3s linear;

        animation-duration: 0.5s;

        a {
            @include fz-16;
            display: inline-block;
            height: 100%;
            padding: 1.7rem 1.5rem;
            position: relative;
            z-index: 12;
            transition: 0.2s linear;
            font-weight: 500;

            max-height: 5rem;
        }
        &.active {
            > a {
                color: #e7194a;
            }
        }
        &.show {
            a {
                opacity: 1;
            }
            .submenu__container {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
                pointer-events: auto;
                max-height: 50rem;
                margin-left: 4rem;
                z-index: 12;
                height: auto;
            }
            &.dropdown i {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                > a {
                    background-color: $c-red;
                }
            }
        }

        &.dropdown {
            i {
                cursor: pointer;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                right: 0;
                display: block;
                z-index: 13;
                width: 2rem;
                font-weight: bold;
                height: 2rem;
                line-height: 2.8;
                text-align: center;
                font-size: 0.8rem;
                color: #fff;
                transition: 0.2s linear;
                animation: subBtn2 0.3s linear;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    i {
                        color: #c0b9cc;
                        animation: subBtn 0.3s linear;
                        transform: translate(50%, -1.5rem) rotate(0);
                        top: 100%;
                        right: 50%;
                    }
                    .submenu__container {
                        visibility: visible;
                        transform: none;
                        opacity: 1;
                        pointer-events: unset;
                    }
                }
            }
        }
        .dropdown__btn {
            position: relative;
            > a {
                padding-right: 2.5rem;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    > a {
                        background-color: $c-red;
                    }
                }
            }
        }
    }
    &__btn {
        display: none;
    }
    &__bg {
        display: none;
    }
}

.submenu {
    &__container {
        position: absolute;
        left: 0;
        width: calc(100vw - 8px);
        background-color: #c0b9cc;

        visibility: hidden;
        opacity: 0;
        transition: 0.3s linear;
        pointer-events: none;
    }
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    color: #fff;

    li {
        opacity: 0.5;
        transition: 0.3s linear;
        text-transform: uppercase;
        &:hover {
            @media only screen and (min-width: 901px) {
                opacity: 1;
            }
        }
        a {
            display: block;
        }
    }
    &:hover {
        @media only screen and (min-width: 901px) {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media only screen and (max-width: 900px) {
    .header {
        &__top {
            a {
                width: 6rem;
            }
        }
    }
    .menu {
        display: block;
        width: 30rem;
        height: calc(100vh - 4.6rem);
        height: calc(var(--vh, 1vh) * 100 - 4.6rem);
        top: 4.6rem;
        left: 0;
        position: absolute;
        z-index: 13;
        transform: translateX(-100%);
        transition: 0.5s linear;
        &.active {
            width: 100%;
            transform: translateX(0);
        }

        &__list {
            background-color: #301a56;
            color: #fff;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 30rem;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 13;
            margin: 0;
        }
        &__item {
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            &.dropdown {
                padding-right: 4rem;
                position: relative;
                i {
                    width: 4rem;
                    height: 4rem;
                    top: 2.1rem;
                    right: -4rem;
                    padding: 1rem;
                }
            }
            a {
                width: 100%;
                height: auto;
                padding: 1.5rem;
            }
        }
        &__btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1.5rem 1rem;
            position: relative;
            z-index: 13;
            cursor: pointer;
            margin-left: -1rem;
            .line {
                display: block;
                position: relative;
                width: 30px;
                height: 2px;
                background-color: #fff;
                margin-bottom: 5px;
                transition: 0.5s linear;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            &.active {
                .line:nth-of-type(1) {
                    transform: rotate(315deg) translate(-5px, 6px);
                }
                .line:nth-of-type(2) {
                    opacity: 0;
                    transform: translateX(10px);
                }
                .line:nth-of-type(3) {
                    transform: rotate(45deg) translate(-4px, -5px);
                }
            }
        }
        &__bg {
            display: block;
            position: absolute;
            z-index: 12;
            top: 0;
            left: 0;
            width: 0;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            transition: 0.5s linear;
            &.active {
                width: 100vw;
            }
        }
        &__search {
            display: none;
        }
    }
    .submenu {
        &__container {
            width: 100%;
            position: relative;
            z-index: 5;
            right: 0;
            max-height: 0;
            overflow: hidden;
        }
        width: 100%;

        flex-direction: column;
        position: relative;
        box-shadow: none;
        background-color: #301a56;
        color: #fff;

        transition: 0.5s linear;
        li {
            opacity: 1;
        }
    }
}
