.test {
    .swiper-chung {
        width: calc(100% + 1rem);
        margin: 0 -0.5rem;
    }
    .swiper-slide {
        width: 20%;
        padding: 0.5rem;
    }
    .swiper-button-container {
        justify-content: flex-end;
        width: 20%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 5;
        bottom: 0;
        align-items: center;
        background: linear-gradient(
            270deg,
            rgba(255, 255, 255, 0.8) 25%,
            rgba(255, 255, 255, 0) 100%
        );
        .line {
            background-color: rgba(0, 0, 0, 0.2);
        }
        .swiper-button-prev,
        .swiper-button-next {
            &:hover {
                @media only screen and (min-width: 901px) {
                    &::after {
                        color: #ea2228;
                    }
                }
            }
            &::after {
                color: #707070;
            }
        }
    }
    &__link {
        display: block;
        width: 100%;
        border: 1px solid #d8d8d8;
        text-align: center;
        padding-bottom: 1rem;
        @include fz-14;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4);
        transition: 0.2s linear;
        .bold {
            display: block;
            background-color: #d8d8d8;
            color: #919191;
            font-weight: bold;
            text-transform: uppercase;
            padding: 1.5rem;
            margin-bottom: 1.5rem;
            font-style: normal;
            transition: 0.2s linear;
        }
        &.active {
            border: 1px solid #e7194a;
            .bold {
                background-color: #e7194a;
                color: #fff;
            }
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                border: 1px solid #e7194a;
                .bold {
                    background-color: #e7194a;
                    color: #fff;
                }
            }
        }
    }
    &__title {
        &__container {
            display: flex;
            align-items: center;
            margin: 3rem 0;
        }

        width: calc(100% - 20rem);
        .section__title {
            margin-bottom: 1.5rem;
        }
    }
    &__img {
        width: 20rem;
        height: 20rem;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__star {
        margin-bottom: 1.5rem;
        @include fz-14;
        align-items: center;
        display: flex;
        .star-num {
            color: #f2ba38;
            font-weight: bold;
            margin-right: 1rem;
        }
        .rating-stars {
            position: relative;
            vertical-align: middle;
            display: inline-block;
            .empty-stars,
            .filled-stars {
                text-shadow: none;
                width: 100%;
                white-space: nowrap;

                font-size: 1rem;
                line-height: 1;

                i {
                    margin: 0.2rem;
                }
            }
            .empty-stars {
                color: #c5c5c5;
            }
            .filled-stars {
                color: #f2ba38;
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;
            }
        }
    }
    &__view {
        font-style: italic;
        color: rgba(0, 0, 0, 0.4);
    }
    &__info {
        @include fz-14;
        color: #919191;
        margin-bottom: 0.5rem;
        .bold {
            font-weight: bold;
        }
    }
    &__board {
        width: 100%;
        margin-bottom: 4rem;
        &__title {
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            li {
                width: 20%;
                padding: 2rem 1.5rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                &:first-of-type {
                    border-right: 1px solid rgba(112, 112, 112, 0.1);
                    color: #371f62;
                    padding-right: 3rem;
                    text-align: left;
                }
                &:nth-of-type(2) {
                    color: #fea128;
                }
                &:nth-of-type(3) {
                    color: #38aaf2;
                }
                &:nth-of-type(4) {
                    color: #b72eb7;
                }
                &:nth-of-type(5) {
                    color: #262e67;
                }
            }
        }
        &__list {
            display: flex;
            border-bottom: 1px solid rgba(112, 112, 112, 0.1);
            li {
                width: 20%;
                padding: 2rem 1.5rem;
                text-align: center;
                text-transform: uppercase;
                @include fz-14;
                font-weight: bold;
                .button {
                    min-width: 0;
                    width: 100%;
                    font-size: 10px;
                }
                &:hover {
                    @media only screen and (min-width: 901px) {
                        .test__ic {
                            img {
                                &:nth-of-type(1) {
                                    opacity: 0;
                                }
                                &:nth-of-type(2) {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                &:first-of-type {
                    display: flex;
                    align-items: center;
                    border-right: 1px solid rgba(112, 112, 112, 0.1);
                    color: #919191;
                    padding-right: 3rem;
                    font-weight: bold;

                    text-align: left;
                }
                &:nth-of-type(2) {
                    .button {
                        background-color: #fea128;
                    }
                    .test__sub {
                        color: #fea128;
                    }
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            .test__ic {
                                border: 3px solid #fea128;
                            }
                            .test__per {
                                color: #fea128;
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    .button {
                        background-color: #38aaf2;
                    }
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            .test__ic {
                                border: 3px solid #38aaf2;
                            }
                            .test__per {
                                color: #38aaf2;
                            }
                        }
                    }
                    .test__sub {
                        color: #38aaf2;
                    }
                }
                &:nth-of-type(4) {
                    .button {
                        background-color: #b72eb7;
                    }
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            .test__ic {
                                border: 3px solid #b72eb7;
                            }
                            .test__per {
                                color: #b72eb7;
                            }
                        }
                    }
                    .test__sub {
                        color: #b72eb7;
                    }
                }
                &:nth-of-type(5) {
                    .button {
                        background-color: #262e67;
                    }
                    &:hover {
                        @media only screen and (min-width: 901px) {
                            .test__ic {
                                border: 3px solid #262e67;
                            }
                            .test__per {
                                color: #262e67;
                            }
                        }
                    }
                    .test__sub {
                        color: #262e67;
                    }
                }
            }
        }
    }
    &__ic {
        width: 8rem;
        height: 8rem;
        margin: 0 auto;
        border-radius: 9.9rem;
        border: 3px solid #d8d8d8;
        position: relative;
        transition: 0.3s linear;
        margin-bottom: 1.2rem;
        img {
            transition: 0.3s linear;
            position: absolute;
            top: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            &:nth-of-type(2) {
                opacity: 0;
            }
        }
    }
    &__per {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s linear;
        color: #919191;
        user-select: none;
    }
    &__sub {
        display: none;
        margin-bottom: 0.2rem;
    }
}
@media only screen and (max-width: 1200px) {
    .test {
        .swiper-slide {
            width: 25%;
        }

        &__board {
            &__title {
                li {
                    width: 25%;
                    &:first-of-type {
                        display: none;
                    }
                }
            }
            &__list {
                display: flex;
                position: relative;
                border-bottom: 1px solid rgba(112, 112, 112, 0.1);
                li {
                    width: 25%;
                    padding-top: 5rem;
                    &:first-of-type {
                        position: absolute;
                        border-right: none;
                        padding: 0;
                        top: 2rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: max-content;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    .test {
        &__img {
            width: 12rem;
            height: 12rem;
        }
        &__title {
            &__container {
                align-items: flex-start;
            }
            width: calc(100% - 12rem);
        }
        .swiper-slide {
            width: calc(100% / 3);
        }
        &__board {
            &__title {
                display: none;
            }
            &__list {
                flex-wrap: wrap;
                justify-content: center;
                li {
                    padding: 1.5rem;
                    width: 50%;
                    &:first-of-type {
                        padding-top: 1.5rem;
                        justify-content: center;
                        width: 100%;
                        position: static;
                        text-align: center;
                        transform: none;
                    }
                }
            }

            &::-webkit-scrollbar {
                height: 4px;
            }
        }
        &__sub {
            display: block;
        }
    }
}
