.tips {
    &__img {
        margin-bottom: 2rem;
    }
    &__tag {
        margin-top: -1rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        &__left {
            padding-left: 2rem;
            position: relative;
            @include fz-14;
            color: #262e67;
            font-weight: bold;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 1.2rem;
                height: 1.2rem;
                background-image: url("../../assets/images/tips-ic1.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 0 0;
            }
        }
        &__right {
            padding-left: 2rem;
            position: relative;
            @include fz-14;
            opacity: 0.5;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 1.2rem;
                height: 1.2rem;
                background-image: url("../../assets/images/tips-ic2.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 0 0;
            }
        }
    }
    &__list {
        width: 100%;
    }
    &__item {
        display: flex;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
       


       
        &__img {
            width: 17rem;
            overflow: hidden;
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                .tips__img__link {
                    img {
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                }
            }
        }
    }
    &__img__link {
        display: block;
        width: 100%;
        padding-bottom: 71%;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s linear;
        }
    }
    &__content {
        width: calc(100% - 17rem);
        padding-left: 3rem;
        .txt {
            @include fz-14;
            line-height: calc(17 / 14);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 1.5rem 0;
        }
        .tips__tag {
            margin: 0;
        }
    }
    &__title {
        font-weight: bold;
        line-height: calc(19 / 16);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                color: #e7194a;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .tips {
        .section__title {
            text-align: left;
        }
        &__img {
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .tips {
        &__item__img {
            width: 12rem;
        }
        &__content {
            width: calc(100% - 12rem);
            padding-left: 1.5rem;
        }
    }
}
