<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>Góc học tập</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="con">
        <div class="hd__wrap">
          <div class="hd__logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="hd__menu menu menuBoard hov-df">
            <div class="menuBg menu__bg"></div>
            <div class="menu__wrap">
              <ul id="menu-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="#"> VỀ WISE EDU</a>
                </li>

                <li class="menu-item dropdown">
                  <a href="#"> CHƯƠNG TRÌNH </a>
                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 1</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 2</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 3</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 4</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#"> LỊCH KHAI GIẢNG </a>
                </li>
                <li class="menu-item">
                  <a href="#">GÓC HỌC TẬP</a>
                </li>

                <li class="menu-item">
                  <a href="#"> TUYỂN DỤNG</a>
                </li>
                <li class="menu-item">
                  <a href="#"> LIÊN HỆ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="hd__btn hd__desktop mg-l">
            <a href="#" class="hd__btn__login">Đăng ký </a>
          </div>
          <div class="menu__btn menuBtn">
            <svg class="menu__svg" viewBox="0 0 100 100">
              <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
              <path d="m 30,50 h 40"></path>
              <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
            </svg>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="ban">
        <div class="con">
          <h1 class="page-title">Góc học tập</h1>
          <div class="breadcrumb fl-ct fl-wrap">
            <a href="#">Trang chủ </a>
            <a href="#" class="active">Góc học tập </a>
          </div>
        </div>
      </div>

      <section class="sec-80 po">
        <div class="con">
          <div class="sec-tag c-ora txt-ct" data-aos="fade-up" data-aos-delay="0">KNOWLEDGE</div>
          <h2 class="sec-title txt-ct" data-aos="fade-up" data-aos-delay="200">Kiến thức học tiếng Anh</h2>
          <div class="po-wrap fl-wrap">
            <div class="col-8">
              <div class="po-main">
                <div class="po-item fl-con">
                  <div class="po-img">
                    <a href="#" class="rto-box">
                      <img src="./assets/images/po1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="po-content">
                    <div class="post-tag">
                      <a href="#">IELTS</a>
                    </div>
                    <a href="#" class="title trimJS-2"> Đây là tiêu đề Demo của bài viết tiêu đề demo </a>
                    <div class="txt trimJS-2">Q Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget…</div>
                    <div class="line"></div>
                    <div class="news-tag">
                      <div class="date">Apr 21, 2021</div>
                      <div class="date">Được đăng bởi Admin</div>
                    </div>
                  </div>
                </div>
                <div class="po-item fl-con">
                  <div class="po-img">
                    <a href="#" class="rto-box">
                      <img src="./assets/images/po2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="po-content">
                    <div class="post-tag">
                      <a href="#">IELTS</a>
                    </div>
                    <a href="#" class="title trimJS-2"> Đây là tiêu đề Demo của bài viết tiêu đề demo </a>
                    <div class="txt trimJS-2">Q Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget…</div>
                    <div class="line"></div>
                    <div class="news-tag">
                      <div class="date">Apr 21, 2021</div>
                      <div class="date">Được đăng bởi Admin</div>
                    </div>
                  </div>
                </div>
                <div class="po-item fl-con">
                  <div class="po-img">
                    <a href="#" class="rto-box">
                      <img src="./assets/images/po3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="po-content">
                    <div class="post-tag">
                      <a href="#">IELTS</a>
                    </div>
                    <a href="#" class="title trimJS-2"> Đây là tiêu đề Demo của bài viết tiêu đề demo </a>
                    <div class="txt trimJS-2">Q Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget…</div>
                    <div class="line"></div>
                    <div class="news-tag">
                      <div class="date">Apr 21, 2021</div>
                      <div class="date">Được đăng bởi Admin</div>
                    </div>
                  </div>
                </div>
                <div class="po-item fl-con">
                  <div class="po-img">
                    <a href="#" class="rto-box">
                      <img src="./assets/images/po4.jpg" alt="" />
                    </a>
                  </div>
                  <div class="po-content">
                    <div class="post-tag">
                      <a href="#">IELTS</a>
                    </div>
                    <a href="#" class="title trimJS-2"> Đây là tiêu đề Demo của bài viết tiêu đề demo </a>
                    <div class="txt trimJS-2">Q Proin faucibus nec mauris a sodales, sed elementum mi tincidunt. Sed eget…</div>
                    <div class="line"></div>
                    <div class="news-tag">
                      <div class="date">Apr 21, 2021</div>
                      <div class="date">Được đăng bởi Admin</div>
                    </div>
                  </div>
                </div>
                <div class="pagination">
                  <ul>
                    <li>
                      <a href="#" class="page-numbers">
                        <img src="./assets/images/svg/pag-prev.svg" alt="" />
                      </a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">1</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers current">2</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">3</a>
                    </li>

                    <li>
                      <a href="#" class="page-numbers">
                        <img src="./assets/images/svg/pag-next.svg" alt="" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="siba">
                <div class="siba-item">
                  <div class="siba-title">Tìm kiếm</div>
                  <form action="#">
                    <div class="siba-form">
                      <button class="rs-form siba-ser">
                        <img src="./assets/images/svg/siser.svg" alt="" />
                      </button>
                      <input type="text" class="rs-form siba-inp" placeholder="Tìm kiếm..." />
                    </div>
                  </form>
                </div>
                <div class="siba-item">
                  <div class="siba-title">TAGS</div>
                  <div class="siba-tag">
                    <a href="#" class="bg-sec">IELTS</a>
                    <a href="#" class="bg-ora">CAMBRIDGE</a>
                    <a href="#" class="bg-pink">Tiếng anh thiếu nhi</a>
                    <a href="#" class="bg-pink">Tiếng anh giao tiếp</a>
                    <a href="#" class="bg-bla">TOEIC</a>
                  </div>
                </div>
                <div class="siba-item">
                  <div class="siba-title">Các bài viết nổi bật</div>

                  <div class="siba-post">
                    <div class="img">
                      <a href="#" class="rto-box">
                        <img src="./assets/images/si3.jpg" alt="" />
                      </a>
                    </div>
                    <div class="content">
                      <div class="news-tag">
                        <div class="name c-pri">IELTS</div>
                        <div class="date">Apr 21, 2021</div>
                      </div>
                      <a href="#" class="title trimJS-2">Đây là tiêu đề Demo của bài viết demo của bài viết</a>
                    </div>
                  </div>
                  <div class="siba-post">
                    <div class="img">
                      <a href="#" class="rto-box">
                        <img src="./assets/images/si2.jpg" alt="" />
                      </a>
                    </div>
                    <div class="content">
                      <div class="news-tag">
                        <div class="name c-pri">IELTS</div>
                        <div class="date">Apr 21, 2021</div>
                      </div>
                      <a href="#" class="title trimJS-2">Đây là tiêu đề Demo của bài viết</a>
                    </div>
                  </div>
                </div>
                <div class="siba-item">
                  <div class="siba-ban">
                    <a href="#" class="rto-box">
                      <img src="./assets/images/si1.jpg" alt="" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="lt-slide news-bg">
        <div class="con">
          <div class="sec-tag c-sec txt-ct" data-aos="fade-up" data-aos-delay="0">Book & document</div>
          <h2 class="sec-title txt-ct" data-aos="fade-up" data-aos-delay="200">Sách và tài liệu</h2>
          <div class="tabJS">
            <div class="news-list" data-aos="fade-up" data-aos-delay="400">
              <div class="swiper-chung">
                <div class="swiper-container noloop">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">IELTS</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">CAMBRIDGE</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">TOEIC</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">Thiếu nhi</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">Thiếu niên</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">Giao tiếp</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">Nghe</div>
                    </div>
                    <div class="swiper-slide">
                      <div class="news-btn tabBtn">Nói</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <div class="news-panel-wrap">
              <div class="news-panel tabPanel">
                <div class="swiper-chung dot arr">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="news-item fl-col">
                          <div class="news-head">
                            <div class="news-tag">
                              <div class="name">IELTS</div>
                              <div class="date">Apr 21, 2021</div>
                            </div>
                            <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                          </div>
                          <div class="img rto-box">
                            <img src="./assets/images/news1.jpg" alt="" />
                          </div>
                          <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="news-item fl-col">
                          <div class="news-head">
                            <div class="news-tag">
                              <div class="name">IELTS</div>
                              <div class="date">Apr 21, 2021</div>
                            </div>
                            <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                          </div>
                          <div class="img rto-box">
                            <img src="./assets/images/news2.jpg" alt="" />
                          </div>
                          <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="news-item fl-col">
                          <div class="news-head">
                            <div class="news-tag">
                              <div class="name">IELTS</div>
                              <div class="date">Apr 21, 2021</div>
                            </div>
                            <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                          </div>
                          <div class="img rto-box">
                            <img src="./assets/images/news3.jpg" alt="" />
                          </div>
                          <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="news-item fl-col">
                          <div class="news-head">
                            <div class="news-tag">
                              <div class="name">IELTS</div>
                              <div class="date">Apr 21, 2021</div>
                            </div>
                            <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                          </div>
                          <div class="img rto-box">
                            <img src="./assets/images/news1.jpg" alt="" />
                          </div>
                          <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="news-item fl-col">
                          <div class="news-head">
                            <div class="news-tag">
                              <div class="name">IELTS</div>
                              <div class="date">Apr 21, 2021</div>
                            </div>
                            <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề Demo của bài viết tiêu đề dem</h3>
                          </div>
                          <div class="img rto-box">
                            <img src="./assets/images/news1.jpg" alt="" />
                          </div>
                          <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lt-nav fl-ct">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
              <div class="news-panel tabPanel">Content is udating 2..</div>
              <div class="news-panel tabPanel">Content is udating 3..</div>
              <div class="news-panel tabPanel">Content is udating 4..</div>
              <div class="news-panel tabPanel">Content is udating 5..</div>
              <div class="news-panel tabPanel">Content is udating 6..</div>
              <div class="news-panel tabPanel">Content is udating 7..</div>
              <div class="news-panel tabPanel">Content is udating 8..</div>
            </div>
          </div>
        </div>
      </section>

      <section class="lt-slide news-grey">
        <div class="con">
          <div class="sec-tag c-ora txt-ct" data-aos="fade-up" data-aos-delay="0">EVENTS</div>
          <h2 class="sec-title txt-ct" data-aos="fade-up" data-aos-delay="200">Tin tức và sự kiện</h2>
          <div class="swiper-chung dot arr">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="news-item fl-col">
                    <div class="news-head">
                      <div class="news-tag">
                        <div class="date">Apr 21, 2021</div>
                        <div class="date">Được đăng bởi Admin</div>
                      </div>
                      <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                    </div>
                    <div class="img rto-box">
                      <img src="./assets/images/news4.jpg" alt="" />
                    </div>
                    <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news-item fl-col">
                    <div class="news-head">
                      <div class="news-tag">
                        <div class="date">Apr 21, 2021</div>
                        <div class="date">Được đăng bởi Admin</div>
                      </div>
                      <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                    </div>
                    <div class="img rto-box">
                      <img src="./assets/images/news5.jpg" alt="" />
                    </div>
                    <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news-item fl-col">
                    <div class="news-head">
                      <div class="news-tag">
                        <div class="date">Apr 21, 2021</div>
                        <div class="date">Được đăng bởi Admin</div>
                      </div>
                      <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                    </div>
                    <div class="img rto-box">
                      <img src="./assets/images/news6.jpg" alt="" />
                    </div>
                    <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news-item fl-col">
                    <div class="news-head">
                      <div class="news-tag">
                        <div class="date">Apr 21, 2021</div>
                        <div class="date">Được đăng bởi Admin</div>
                      </div>
                      <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                    </div>
                    <div class="img rto-box">
                      <img src="./assets/images/news4.jpg" alt="" />
                    </div>
                    <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news-item fl-col">
                    <div class="news-head">
                      <div class="news-tag">
                        <div class="date">Apr 21, 2021</div>
                        <div class="date">Được đăng bởi Admin</div>
                      </div>
                      <h3 class="title trimJS-2">Đây là tiêu đề Demo của bài viết tiêu đề demo</h3>
                    </div>
                    <div class="img rto-box">
                      <img src="./assets/images/news4.jpg" alt="" />
                    </div>
                    <a href="#" class="link"> <span class="link-txt"> Xem chi tiết</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="lt-nav fl-ct">
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>

    <footer class="ft">
      <div class="ft-top">
        <div class="con fl-wrap">
          <div class="col-2 ft-full">
            <a href="#" class="ft-logo">
              <img src="./assets/images/logo-2.png" alt="" />
            </a>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">Chương trình</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Luyện thi IELTS</a>
                </li>
                <li>
                  <a href="#">Luyện thi Cambridge</a>
                </li>
                <li>
                  <a href="#">Luyện thi TOEIC</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh giao tiếp</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Nhi</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Niên</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">WISE EDUCATION</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Về chúng tôi</a>
                </li>
                <li>
                  <a href="#">Tuyển dụng</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-4">
            <div class="ft-title">Trung tâm</div>
            <div class="ft-list">
              <ul>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-1.svg" alt="" /> 522 Điện Biên Phủ, P. 11, Q. 10, TP. HCM</div>
                </li>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-2.svg" alt="" /> <a href="tel:0585737529">058 5737529</a></div>
                </li>
                <li>
                  <div class="ft-list-item">
                    <img src="./assets/images/svg/ic-3.svg" alt="" /> <a href="mailto:wiseedu.vn@gmail.com">wiseedu.vn@gmail.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-long">
            <div class="ft-long-wrap">
              <div class="ft-long-item">
                <div class="ft-title">Đăng ký nhận thông tin</div>

                <form action="#">
                  <div class="ft-form fl-con">
                    <input type="text" class="rs-form ft-form-inp" placeholder="Email của bạn" />
                    <button type="submit" class="rs-form ft-form-btn">
                      <img src="./assets/images/svg/ft-ic1.svg" alt="" />
                    </button>
                  </div>
                </form>
              </div>
              <div class="ft-long-item">
                <div class="ft-title">Theo dõi chúng tôi</div>
                <ul class="ft-sc fl-con aln-ct">
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic2.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic3.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic4.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft-bot txt-ct">
        <div class="con">
          <a href="#">Designed and developed by Mona Media</a>
        </div>
      </div>
    </footer>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/gallery/lightgallery-all.min.js"></script>
    <script src="./js/libs/trimline/trimline.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 600,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
