<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>Tiếng Anh cho trẻ em</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="con">
        <div class="hd__wrap">
          <div class="hd__logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="hd__menu menu menuBoard hov-df">
            <div class="menuBg menu__bg"></div>
            <div class="menu__wrap">
              <ul id="menu-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="#"> VỀ WISE EDU</a>
                </li>

                <li class="menu-item dropdown">
                  <a href="#"> CHƯƠNG TRÌNH </a>
                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 1</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 2</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 3</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 4</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#"> LỊCH KHAI GIẢNG </a>
                </li>
                <li class="menu-item">
                  <a href="#">GÓC HỌC TẬP</a>
                </li>

                <li class="menu-item">
                  <a href="#"> TUYỂN DỤNG</a>
                </li>
                <li class="menu-item">
                  <a href="#"> LIÊN HỆ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="hd__btn hd__desktop mg-l">
            <a href="#" class="hd__btn__login">Đăng ký </a>
          </div>
          <div class="menu__btn menuBtn">
            <svg class="menu__svg" viewBox="0 0 100 100">
              <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
              <path d="m 30,50 h 40"></path>
              <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
            </svg>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="ban">
        <div class="con">
          <h1 class="page-title">Tiếng Anh cho trẻ em</h1>
          <div class="breadcrumb fl-ct fl-wrap">
            <a href="#">Trang chủ </a>
            <a href="#">Chương trình</a>
            <a href="#" class="active">Tiếng Anh cho trẻ em </a>
          </div>
        </div>
      </div>

      <section class="sec-80 lt info">
        <div class="con">
          <div class="info-main fl-ct fl-wrap">
            <div class="col-6">
              <div class="sec-tag c-ora" data-aos="fade-up" data-aos-delay="0">KId's english</div>
              <h2 class="sec-title" data-aos="fade-up" data-aos-delay="200">Chương trình tiếng Anh dành cho trẻ em</h2>
              <div class="txt" data-aos="fade-up" data-aos-delay="400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentesque vitae. Quam ante a cursus blandit. Velit,
                cursus lectus consequat sed tristique in. Morbi malesuada arcu, senectus nibh ultricies.
              </div>
              <div class="txt" data-aos="fade-up" data-aos-delay="600">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentesque vitae. Quam ante a cursus blandit.
              </div>
            </div>
            <div class="col-6">
              <div class="info-img">
                <div class="decor">
                  <img class="decor4" src="./assets/images/svg/kid-deco.svg" alt="" />
                </div>

                <div class="pic2" data-aos="zoom-in-up" data-aos-delay="800">
                  <img src="./assets/images/kid1.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="lt-slide">
        <div class="con">
          <div class="sec-tag c-sec txt-ct" data-aos="fade-up" data-aos-delay="0">COURSES</div>
          <h2 class="sec-title txt-ct" data-aos="fade-up" data-aos-delay="200">Các khoá học</h2>
          <div class="swiper-chung dot arr">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="lt-item fl-col">
                    <div class="lt-img rto-box">
                      <img src="./assets/images/lt4.jpg" alt="" />
                    </div>
                    <div class="lt-tag fl-con aln-ct">
                      <div class="date"><img src="./assets/images/svg/lt-ic1.svg" alt="" /> 2 tháng</div>
                      <div class="rate"><img src="./assets/images/svg/lt-ic2.svg" alt="" /> 4.5/5 đánh giá</div>
                    </div>
                    <h3 class="lt-title">Foundation</h3>
                    <ul class="lt-list">
                      <li>Mục tiêu: <b> IELTS 3.0+ </b></li>
                      <li>Dành cho những bạn hoàn toàn chưa có nền tảng tiếng Anh, khóa học giúp học viên làm quen với tiếng Anh học thuật.</li>
                    </ul>
                    <a href="#" class="lt-link">Tìm hiểu khoá học</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="lt-item fl-col">
                    <div class="lt-img rto-box">
                      <img src="./assets/images/lt5.jpg" alt="" />
                    </div>
                    <div class="lt-tag fl-con aln-ct">
                      <div class="date"><img src="./assets/images/svg/lt-ic1.svg" alt="" /> 2 tháng</div>
                      <div class="rate"><img src="./assets/images/svg/lt-ic2.svg" alt="" /> 4.5/5 đánh giá</div>
                    </div>
                    <h3 class="lt-title">Pre-IELTS</h3>
                    <ul class="lt-list">
                      <li>Mục tiêu: <b> IELTS 4.0+ </b></li>
                      <li>Khóa học giúp học viên xây dựng nền tảng từ vựng-ngữ pháp-phát âm, nghe/đọc hiểu được ý chính.</li>
                    </ul>
                    <a href="#" class="lt-link">Tìm hiểu khoá học</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="lt-item fl-col">
                    <div class="lt-img rto-box">
                      <img src="./assets/images/lt7.jpg" alt="" />
                    </div>
                    <div class="lt-tag fl-con aln-ct">
                      <div class="date"><img src="./assets/images/svg/lt-ic1.svg" alt="" /> 2 tháng</div>
                      <div class="rate"><img src="./assets/images/svg/lt-ic2.svg" alt="" /> 4.5/5 đánh giá</div>
                    </div>
                    <h3 class="lt-title">IELTS Basic</h3>
                    <ul class="lt-list">
                      <li>Mục tiêu: <b> IELTS 4.5+ </b></li>
                      <li>Khóa học cung cấp kiến thức và kỹ năng cơ bản cho bài thi IELTS.</li>
                    </ul>
                    <a href="#" class="lt-link">Tìm hiểu khoá học</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="lt-item fl-col">
                    <div class="lt-img rto-box">
                      <img src="./assets/images/lt8.jpg" alt="" />
                    </div>
                    <div class="lt-tag fl-con aln-ct">
                      <div class="date"><img src="./assets/images/svg/lt-ic1.svg" alt="" /> 2 tháng</div>
                      <div class="rate"><img src="./assets/images/svg/lt-ic2.svg" alt="" /> 4.5/5 đánh giá</div>
                    </div>
                    <h3 class="lt-title">Foundation</h3>
                    <ul class="lt-list">
                      <li>Mục tiêu: <b> IELTS 3.0+ </b></li>
                      <li>Dành cho những bạn hoàn toàn chưa có nền tảng tiếng Anh, khóa học giúp học viên làm quen với tiếng Anh học thuật.</li>
                    </ul>
                    <a href="#" class="lt-link">Tìm hiểu khoá học</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="lt-item fl-col">
                    <div class="lt-img rto-box">
                      <img src="./assets/images/lt9.jpg" alt="" />
                    </div>
                    <div class="lt-tag fl-con aln-ct">
                      <div class="date"><img src="./assets/images/svg/lt-ic1.svg" alt="" /> 2 tháng</div>
                      <div class="rate"><img src="./assets/images/svg/lt-ic2.svg" alt="" /> 4.5/5 đánh giá</div>
                    </div>
                    <h3 class="lt-title">Foundation</h3>
                    <ul class="lt-list">
                      <li>Mục tiêu: <b> IELTS 3.0+ </b></li>
                      <li>Dành cho những bạn hoàn toàn chưa có nền tảng tiếng Anh, khóa học giúp học viên làm quen với tiếng Anh học thuật.</li>
                    </ul>
                    <a href="#" class="lt-link">Tìm hiểu khoá học</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="lt-nav fl-ct">
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </section>

      <div class="ques">
        <div class="con">
          <div class="fl-ct fl-wrap ques-wrap" style="background-image: url('./assets/images/ques-bg1.png')" data-aos="zoom-in" data-aos-delay="0">
            <div class="ques-left">
              <div class="sec-title">Bạn đã sẵn sàng để con trẻ khám phá những điều mới?</div>
              <div class="txt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentesque vitae. Quam ante a cursus blandit.
              </div>
            </div>
            <div class="ques-right fl-ct">
              <a href="#" class="btn-pri">Bắt đầu ngay</a>
              <a href="#" class="btn-sec">Lịch khai giảng</a>
            </div>
          </div>
        </div>
      </div>

      <section class="road sec-70">
        <div class="con">
          <div class="sec-tag txt-ct c-ora" data-aos="fade-up" data-aos-delay="0">Progress</div>
          <h2 class="sec-title txt-ct" data-aos="fade-up" data-aos-delay="200">Lộ trình học</h2>
          <div class="swiper-chung">
            <div class="swiper-container noloop">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="road-item fl-col">
                    <div class="road-num fl-con">
                      <div class="num">01</div>
                      <div class="line"></div>
                    </div>

                    <div class="road-title">Lorem ipsum dolor sit amet consectetur adipisc elit consectetur</div>
                    <div class="road-txt">
                      Lorem ipsum dolor sit amet, consectet adipiscing elit. Pretium sed nunc pellen vitae. Quam ante a cursus blandit. Velit, cursus
                      lectus cons sed tristique in. Mor malesuada arcu, senectus nibh ultricies
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="road-item fl-col">
                    <div class="road-num fl-con">
                      <div class="num">02</div>
                      <div class="line"></div>
                    </div>

                    <div class="road-title">Lorem ipsum dolor sit amet consectetur adipisc elit consectetur</div>
                    <div class="road-txt">
                      Lorem ipsum dolor sit amet, consectet adipiscing elit. Pretium sed nunc pellen vitae. Quam ante a cursus blandit. Velit, cursus
                      lectus cons sed tristique in. Mor malesuada arcu, senectus nibh ultricies
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="road-item fl-col">
                    <div class="road-num fl-con">
                      <div class="num">03</div>
                      <div class="line"></div>
                    </div>

                    <div class="road-title">Lorem ipsum dolor s consectetur</div>
                    <div class="road-txt">Lorem ipsum dolor sit amet consectetur</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="road-item fl-col">
                    <div class="road-num fl-con">
                      <div class="num">04</div>
                      <div class="line"></div>
                    </div>
                    <div class="road-title">Lorem ipsum dolor sit amet consectetur adipisc elit consectetur</div>
                    <div class="road-txt">
                      Lorem ipsum dolor sit amet, consectet adipiscing elit. Pretium sed nunc pellen vitae. Quam ante a cursus blandit. Velit, cursus
                      lectus cons sed tristique in. Mor malesuada arcu, senectus nibh ultricies. Quam ante a cursus blandit.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </section>

      <section class="grid sec-80">
        <div class="con">
          <div class="sec-tag txt-ct c-sec" data-aos="fade-up" data-aos-delay="0">detail</div>
          <h2 class="sec-title txt-ct" data-aos="fade-up" data-aos-delay="200">Chi tiết chương trình</h2>

          <div class="grid-wrap fl-wrap">
            <div class="col-6">
              <div class="grid-item">
                <img src="./assets/images/svg/g1.svg" alt="" />
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentes vitae. Quam ante a cursus blandit.
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="grid-item">
                <img src="./assets/images/svg/g2.svg" alt="" />
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentes vitae. Quam ante a cursus blandit. Velit, cursus
                  lectus consequat sed tristique in
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="grid-item">
                <img src="./assets/images/svg/g4.svg" alt="" />
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentes vitae. Quam ante a cursus blandit. Morbi
                  malesuada arcu, senectus nibh ultricies. Velit, cursus lectus consequat sed tristique in
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="grid-item">
                <img src="./assets/images/svg/g5.svg" alt="" />
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sed nunc pellentes vitae. Quam ante a cursus blandit. Velit, cursus
                  lectus consequat sed tristique in
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="su">
        <div class="con">
          <div class="su-wrap" data-aos="zoom-in" data-aos-delay="0">
            <img class="su-bg" src="./assets/images/su-kid.jpg" alt="" />
            <div class="col-6 pd-0 mg-l txt-ct">
              <div class="su-form">
                <form action="#">
                  <h2 class="sec-title">
                    Đăng ký để nhận <br />
                    tư vấn <span class="c-pri">miễn phí</span>
                  </h2>
                  <input type="text" class="rs-form form-inp" placeholder="Họ và tên" />
                  <input type="text" class="rs-form form-inp" placeholder="Email" />
                  <input type="text" class="rs-form form-inp" placeholder="Số điện thoại" />
                  <div class="form-select-wrap">
                    <div class="select2-group">
                      <select class="select2-js rs-form form-select">
                        <option value="1" selected>CHƯƠNG TRÌNH *</option>
                        <option value="2">CHƯƠNG TRÌNH 1</option>
                        <option value="3">CHƯƠNG TRÌNH 2</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn-pri form-submit">Đăng ký ngay</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>

    <footer class="ft">
      <div class="ft-top">
        <div class="con fl-wrap">
          <div class="col-2 ft-full">
            <a href="#" class="ft-logo">
              <img src="./assets/images/logo-2.png" alt="" />
            </a>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">Chương trình</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Luyện thi IELTS</a>
                </li>
                <li>
                  <a href="#">Luyện thi Cambridge</a>
                </li>
                <li>
                  <a href="#">Luyện thi TOEIC</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh giao tiếp</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Nhi</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Niên</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">WISE EDUCATION</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Về chúng tôi</a>
                </li>
                <li>
                  <a href="#">Tuyển dụng</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-4">
            <div class="ft-title">Trung tâm</div>
            <div class="ft-list">
              <ul>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-1.svg" alt="" /> 522 Điện Biên Phủ, P. 11, Q. 10, TP. HCM</div>
                </li>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-2.svg" alt="" /> <a href="tel:0585737529">058 5737529</a></div>
                </li>
                <li>
                  <div class="ft-list-item">
                    <img src="./assets/images/svg/ic-3.svg" alt="" /> <a href="mailto:wiseedu.vn@gmail.com">wiseedu.vn@gmail.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-long">
            <div class="ft-long-wrap">
              <div class="ft-long-item">
                <div class="ft-title">Đăng ký nhận thông tin</div>

                <form action="#">
                  <div class="ft-form fl-con">
                    <input type="text" class="rs-form ft-form-inp" placeholder="Email của bạn" />
                    <button type="submit" class="rs-form ft-form-btn">
                      <img src="./assets/images/svg/ft-ic1.svg" alt="" />
                    </button>
                  </div>
                </form>
              </div>
              <div class="ft-long-item">
                <div class="ft-title">Theo dõi chúng tôi</div>
                <ul class="ft-sc fl-con aln-ct">
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic2.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic3.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic4.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft-bot txt-ct">
        <div class="con">
          <a href="#">Designed and developed by Mona Media</a>
        </div>
      </div>
    </footer>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/gallery/lightgallery-all.min.js"></script>
    <script src="./js/libs/trimline/trimline.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 600,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
