<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>Tuyển dụng chi tiết</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="con">
        <div class="hd__wrap">
          <div class="hd__logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="hd__menu menu menuBoard hov-df">
            <div class="menuBg menu__bg"></div>
            <div class="menu__wrap">
              <ul id="menu-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="#"> VỀ WISE EDU</a>
                </li>

                <li class="menu-item dropdown">
                  <a href="#"> CHƯƠNG TRÌNH </a>
                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 1</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 2</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 3</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 4</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#"> LỊCH KHAI GIẢNG </a>
                </li>
                <li class="menu-item">
                  <a href="#">GÓC HỌC TẬP</a>
                </li>

                <li class="menu-item">
                  <a href="#"> TUYỂN DỤNG</a>
                </li>
                <li class="menu-item">
                  <a href="#"> LIÊN HỆ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="hd__btn hd__desktop mg-l">
            <a href="#" class="hd__btn__login">Đăng ký </a>
          </div>
          <div class="menu__btn menuBtn">
            <svg class="menu__svg" viewBox="0 0 100 100">
              <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
              <path d="m 30,50 h 40"></path>
              <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
            </svg>
          </div>
        </div>
      </div>
    </header>

    <main class="main-grey">
      <div class="ban">
        <div class="con">
          <h1 class="page-title">Tuyển dụng</h1>
          <div class="breadcrumb fl-ct fl-wrap">
            <a href="#">Trang chủ </a>
            <a href="#">Tuyển dụng</a>
            <a href="#" class="active">Sales Development Representative </a>
          </div>
        </div>
      </div>

      <section class="td">
        <div class="con">
          <div class="td-head">
            <a href="#" class="fl-con aln-ct c-pri f-semi td-link">
              <img src="./assets/images/svg/tuyen-ic.svg" alt="" />
              Xem tất cả công việc tại Wise Edu
            </a>
            <div class="txt-ct">
              <h2 class="sec-title" data-aos="fade-up" data-aos-delay="0">
                Sales Development <br />
                Representative
              </h2>
              <div class="txt c-ora" data-aos="fade-up" data-aos-delay="200">Hạn nộp hồ sơ: 30-12-2021</div>
              <a href="#" class="btn-pri td-btn" data-aos="fade-up" data-aos-delay="400">ỨNG TUYỂN NGAY</a>
            </div>
          </div>
          <div class="td-main">
            <div class="mona-content">
              <h3 class="big">Sales Development Representative</h3>
              <p class="small">HO CHI MINH CITY/FULLTIME</p>

              <h4>Who we are:</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra pellentesque quam elementum. Arcu pulvinar neque velit,
                elementum, aliquam, sit. Ipsum euismod tellus in nulla nunc leo velit sed cursus. Platea mauris tincidunt adipiscing euismod
                tristique. Aenean tortor, in lacus vivamus nec pharetra ut rhoncus dignissim.
              </p>
              <h4>What we need:</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra pellentesque quam elementum. Arcu pulvinar neque velit,
                elementum, aliquam, sit. Ipsum euismod tellus in nulla nunc leo velit sed cursus. Platea mauris tincidunt adipiscing euismod
                tristique. Aenean tortor, in lacus vivamus nec pharetra ut rhoncus dignissim.
              </p>
              <h4>Responsibilities:</h4>
              <ul>
                <li>Identify and create new qualified sales opportunities from inbound leads</li>
                <li></li>
                <li>Achieve monthly quota of qualified opportunities</li>
                <li>
                  Engage with customers via phone, email, and web chat to analyse their needs, answer their questions, and handle any objections
                </li>
                <li>Create a great first impression by providing all prospects with a world-class experience from the word go</li>
                <li>
                  Ensure that prospects for whom we can add value are excited to move forward with us, and those for whom we aren’t the right solution
                  still walk away with a positive experience
                </li>
                <li>Pass qualified opportunities over to our Account Executives</li>
                <li>Follow-up with prospects to help uncover new opportunities and nurture existing leads</li>
                <li>Become an expert in our product offering and the dynamics of the fitness industry</li>
                <li>Collaborate with Marketing and Sales to improve lead quality and conversion</li>
              </ul>
              <h4>Skills:</h4>
              <ul>
                <li>Bachelor’s Degree</li>
                <li>1-2 years’ software sales / marketing experience</li>
                <li>Great work ethic and an entrepreneurial spirit</li>
                <li>Excellent communication skills both verbal and written</li>
                <li>Fluency in English</li>
                <li>Interest in the fitness industry a plus</li>
                <li>Team player and ability to work in a high-energy sales environment</li>
                <li>Strong desire to learn and develop quickly</li>
                <li>Strong desire to build a career in sales</li>
              </ul>

              <h4>What you'll get:</h4>
              <ul>
                <li>The chance to work at a hyper-growth venture-backed start-up in an exciting industry remotely</li>
                <li>
                  The opportunity to feel true purpose in your efforts by powering fitness entrepreneurs, making them successful and enabling them to
                  improve the health of people on a global stage
                </li>
                <li>Competitive, performance-based pay - you’re in control of your earning potential with share options</li>
                <li>Laptop and equipment for remote working set up</li>
                <li>Any support you need to level up your skills - conferences, books, screencasts</li>
                <li>Additional bonuses for outstanding performance</li>
                <li>Clear and structured career progression</li>
                <li>A half day on the second Friday of every month</li>
                <li>An annual selfcare day</li>
              </ul>
            </div>
            <div class="td-form">
              <div class="line"></div>
              <form action="">
                <div class="td-form-wrap fl-wrap">
                  <div class="col">
                    <div class="fl-ct td-form-head">
                      <div class="td-form-title">Apply for this Job</div>
                      <div class="mg-l td-form-tag"><span class="c-pri">*</span> Required</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="inp1" class="form-label">Your Name <span class="c-pri">*</span></label>
                    <input type="text" class="rs-form form-inp" id="inp1" />
                  </div>
                  <div class="col-6">
                    <label for="inp2" class="form-label">Email <span class="c-pri">*</span></label>
                    <input type="text" class="rs-form form-inp" id="inp2" />
                  </div>
                  <div class="col-6">
                    <label for="inp3" class="form-label">Phone <span class="c-pri">*</span></label>
                    <input type="text" class="rs-form form-inp" id="inp3" />
                  </div>
                  <div class="col-6">
                    <label for="inp4" class="form-label">Adress</label>
                    <input type="text" class="rs-form form-inp" id="inp4" />
                  </div>
                  <div class="col-6">
                    <label class="form-label">Resume/CV <span class="c-pri">*</span></label>
                    <div class="form-file fileJS">
                      <label for="file1" class="fl-con aln-ct">
                        <input type="file" class="dp-none fileInp" name="" id="file1" />
                        <div class="txt fileTxt">Attach, Paste</div>
                      </label>
                    </div>
                    <label class="form-label">Cover Letter</label>
                    <div class="form-file fileJS">
                      <label for="file2" class="fl-con aln-ct">
                        <input type="file" class="dp-none fileInp" name="" id="file2" />
                        <div class="txt fileTxt">Attach, Paste</div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="td-form-wrap">
                  <div class="col-6">
                    <label for="inp5" class="form-label">Website</label>
                    <input type="text" class="rs-form form-inp" id="inp5" />
                    <label for="inp6" class="form-label">LinkedIn</label>
                    <input type="text" class="rs-form form-inp" id="inp6" />
                    <label for="inp7" class="form-label">Facebook</label>
                    <input type="text" class="rs-form form-inp" id="inp7 " />
                  </div>
                  <div class="col">
                    <button type="submit" class="btn-pri td-btn">NỘP ĐƠN NGAY</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>

    <footer class="ft">
      <div class="ft-top">
        <div class="con fl-wrap">
          <div class="col-2 ft-full">
            <a href="#" class="ft-logo">
              <img src="./assets/images/logo-2.png" alt="" />
            </a>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">Chương trình</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Luyện thi IELTS</a>
                </li>
                <li>
                  <a href="#">Luyện thi Cambridge</a>
                </li>
                <li>
                  <a href="#">Luyện thi TOEIC</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh giao tiếp</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Nhi</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Niên</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">WISE EDUCATION</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Về chúng tôi</a>
                </li>
                <li>
                  <a href="#">Tuyển dụng</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-4">
            <div class="ft-title">Trung tâm</div>
            <div class="ft-list">
              <ul>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-1.svg" alt="" /> 522 Điện Biên Phủ, P. 11, Q. 10, TP. HCM</div>
                </li>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-2.svg" alt="" /> <a href="tel:0585737529">058 5737529</a></div>
                </li>
                <li>
                  <div class="ft-list-item">
                    <img src="./assets/images/svg/ic-3.svg" alt="" /> <a href="mailto:wiseedu.vn@gmail.com">wiseedu.vn@gmail.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-long">
            <div class="ft-long-wrap">
              <div class="ft-long-item">
                <div class="ft-title">Đăng ký nhận thông tin</div>

                <form action="#">
                  <div class="ft-form fl-con">
                    <input type="text" class="rs-form ft-form-inp" placeholder="Email của bạn" />
                    <button type="submit" class="rs-form ft-form-btn">
                      <img src="./assets/images/svg/ft-ic1.svg" alt="" />
                    </button>
                  </div>
                </form>
              </div>
              <div class="ft-long-item">
                <div class="ft-title">Theo dõi chúng tôi</div>
                <ul class="ft-sc fl-con aln-ct">
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic2.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic3.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic4.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft-bot txt-ct">
        <div class="con">
          <a href="#">Designed and developed by Mona Media</a>
        </div>
      </div>
    </footer>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/gallery/lightgallery-all.min.js"></script>
    <script src="./js/libs/trimline/trimline.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 600,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
