<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>Về Wise Edu</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="con">
        <div class="hd__wrap">
          <div class="hd__logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="hd__menu menu menuBoard hov-df">
            <div class="menuBg menu__bg"></div>
            <div class="menu__wrap">
              <ul id="menu-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="#"> VỀ WISE EDU</a>
                </li>

                <li class="menu-item dropdown">
                  <a href="#"> CHƯƠNG TRÌNH </a>
                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 1</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 2</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 3</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> CHƯƠNG TRÌNH 4</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#"> LỊCH KHAI GIẢNG </a>
                </li>
                <li class="menu-item">
                  <a href="#">GÓC HỌC TẬP</a>
                </li>

                <li class="menu-item">
                  <a href="#"> TUYỂN DỤNG</a>
                </li>
                <li class="menu-item">
                  <a href="#"> LIÊN HỆ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="hd__btn hd__desktop mg-l">
            <a href="#" class="hd__btn__login">Đăng ký </a>
          </div>
          <div class="menu__btn menuBtn">
            <svg class="menu__svg" viewBox="0 0 100 100">
              <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
              <path d="m 30,50 h 40"></path>
              <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
            </svg>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="ban">
        <div class="con">
          <h1 class="page-title">Vì sao chọn <span class="c-pri">Wise Edu?</span></h1>
          <div class="breadcrumb fl-ct fl-wrap">
            <a href="#">Trang chủ </a>
            <a href="#">Về Wise Edu </a>
            <a href="#" class="active">Vì sao chọn Wiseedu? </a>
          </div>
        </div>
      </div>

      <div class="ab-ban">
        <div class="con fl-wrap">
          <div class="ab-left">
            <div class="ab-left-top" data-aos="zoom-in" data-aos-delay="400">
              <img src="./assets/images/ab1.jpg" alt="" />
            </div>
            <div class="ab-left-bot" data-aos="zoom-in">
              <img src="./assets/images/ab2.jpg" alt="" />
            </div>
            <div class="ab-left-decor">
              <img src="./assets/images/svg/ab-dc.svg" alt="" />
            </div>
          </div>
          <div class="ab-right">
            <div class="ab-right-top">
              <div class="sec-tag c-sec" data-aos="fade-up" data-aos-delay="0">Quality</div>
              <h2 class="sec-title" data-aos="fade-up" data-aos-delay="200">
                Chương trình đào tạo
                <span class="c-pri"> chất lượng </span>
              </h2>
              <div class="txt" data-aos="fade-up" data-aos-delay="400">
                Giáo trình giảng dạy, sách và tài liệu học được bộ phận học thuật thiết kế và luôn cập nhật thường xuyên.
              </div>
            </div>
            <div class="ab-right-bot" data-aos="zoom-in" data-aos-delay="600">
              <img src="./assets/images/ab3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <section class="info ab-info">
        <div class="con">
          <div class="info-main fl-ct fl-wrap">
            <div class="col-7">
              <div class="sec-tag c-ora" data-aos="fade-up" data-aos-delay="0">commitment</div>
              <h2 class="sec-title" data-aos="fade-up" data-aos-delay="200">
                <span class="c-pri"> Cam kết </span>
                đầu ra
              </h2>
              <div class="txt" data-aos="fade-up" data-aos-delay="400">
                Đảm bảo về chất lượng đào tạo, cam kết đầu ra cho học viên với điều kiện chuyên cần cùng thái độ học tập tích cực.
              </div>
            </div>
            <div class="col-5">
              <div class="info-img">
                <div class="decor">
                  <img class="decor4" src="./assets/images/svg/ab-dc1.svg" alt="" />
                </div>
                <div class="pic" data-aos="zoom-in-up" data-aos-delay="600">
                  <img src="./assets/images/ab5.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="intro-bg ab-intro" style="background-image: url('./assets/images/ab-bg.png')">
        <div class="con">
          <div class="info-main reverse fl-ct fl-wrap">
            <div class="col-7">
              <div class="sec-tag c-sec" data-aos="fade-up" data-aos-delay="0">Our teacher</div>
              <h2 class="sec-title" data-aos="fade-up" data-aos-delay="200">
                Đội ngũ giáo viên <span class="c-pri">chuyên môn cao</span> và <span class="c-pri">giàu kinh nghiệm </span>
              </h2>
              <div class="txt" data-aos="fade-up" data-aos-delay="400">
                Đội ngũ giáo viên chuyên môn cao, với những thành tích xuất sắc trong các kỳ thi <b>IELTS, TOEFL, CAMBRIDGE… </b> cùng với các chuẩn
                bằng cấp tốt nghiệp chất lượng như thạc sĩ giảng dạy, đại học sư phạm Anh, chứng chỉ giảng dạy quốc tế <b>CELTA, TESOL… </b>
              </div>
              <div class="txt" data-aos="fade-up" data-aos-delay="600">
                Chất lượng giáo viên luôn được theo dõi, kiểm định, và nâng cao không ngừng qua các chương trình đào tạo tại WISE EDU.
              </div>
            </div>
            <div class="col-5">
              <div class="info-img">
                <div class="decor">
                  <img class="decor2" src="./assets/images/svg/ab-dc2.svg" alt="" />
                </div>

                <div class="pic" data-aos="zoom-in-up" data-aos-delay="600">
                  <img src="./assets/images/ab4.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="info ab-info">
        <div class="con">
          <div class="info-main fl-ct fl-wrap">
            <div class="col-7">
              <div class="sec-tag c-ora" data-aos="fade-up" data-aos-delay="0">Creative & technology</div>
              <h2 class="sec-title" data-aos="fade-up" data-aos-delay="200">
                Phương pháp giảng dạy
                <span class="c-pri"> sáng tạo </span>
                tích hợp
                <span class="c-pri"> công nghệ </span>
              </h2>
              <div class="txt" data-aos="fade-up" data-aos-delay="400">
                Đội ngũ giáo viên luôn nghiên cứu những phương pháp giảng dạy mới và sáng tạo để phù hợp với từng đối tượng và lứa tuổi.
              </div>
              <div class="txt" data-aos="fade-up" data-aos-delay="600">
                Áp dụng <span class="c-pri">phương pháp 4C</span> vào giảng dạy: <b>Tư duy phản biện</b> (Critical Thinking),
                <b>Sáng tạo</b> (Creativity), <b>Hợp tác </b> (Collaboration), <b>Giao tiếp</b> (Communication).
              </div>
            </div>
            <div class="col-5">
              <div class="info-img">
                <div class="pic" data-aos="zoom-in-up" data-aos-delay="600">
                  <img src="./assets/images/ab6.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="su">
        <div class="con">
          <div class="su-wrap">
            <img class="su-bg" src="./assets/images/su-bg1.jpg" alt="" />
            <div class="col-6 pd-0 mg-l txt-ct">
              <div class="su-form">
                <form action="#">
                  <h2 class="sec-title">
                    Đăng ký để nhận <br />
                    tư vấn <span class="c-pri">miễn phí</span>
                  </h2>
                  <input type="text" class="rs-form form-inp" placeholder="Họ và tên" />
                  <input type="text" class="rs-form form-inp" placeholder="Email" />
                  <input type="text" class="rs-form form-inp" placeholder="Số điện thoại" />
                  <div class="form-select-wrap">
                    <div class="select2-group">
                      <select class="select2-js rs-form form-select">
                        <option value="1" selected>CHƯƠNG TRÌNH *</option>
                        <option value="2">CHƯƠNG TRÌNH 1</option>
                        <option value="3">CHƯƠNG TRÌNH 2</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn-pri form-submit">Đăng ký ngay</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>

    <footer class="ft">
      <div class="ft-top">
        <div class="con fl-wrap">
          <div class="col-2 ft-full">
            <a href="#" class="ft-logo">
              <img src="./assets/images/logo-2.png" alt="" />
            </a>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">Chương trình</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Luyện thi IELTS</a>
                </li>
                <li>
                  <a href="#">Luyện thi Cambridge</a>
                </li>
                <li>
                  <a href="#">Luyện thi TOEIC</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh giao tiếp</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Nhi</a>
                </li>
                <li>
                  <a href="#">Tiếng Anh Thiếu Niên</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-2 ft-3">
            <div class="ft-title">WISE EDUCATION</div>
            <div class="ft-list">
              <ul>
                <li>
                  <a href="#">Về chúng tôi</a>
                </li>
                <li>
                  <a href="#">Tuyển dụng</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-4">
            <div class="ft-title">Trung tâm</div>
            <div class="ft-list">
              <ul>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-1.svg" alt="" /> 522 Điện Biên Phủ, P. 11, Q. 10, TP. HCM</div>
                </li>
                <li>
                  <div class="ft-list-item"><img src="./assets/images/svg/ic-2.svg" alt="" /> <a href="tel:0585737529">058 5737529</a></div>
                </li>
                <li>
                  <div class="ft-list-item">
                    <img src="./assets/images/svg/ic-3.svg" alt="" /> <a href="mailto:wiseedu.vn@gmail.com">wiseedu.vn@gmail.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-3 ft-long">
            <div class="ft-long-wrap">
              <div class="ft-long-item">
                <div class="ft-title">Đăng ký nhận thông tin</div>

                <form action="#">
                  <div class="ft-form fl-con">
                    <input type="text" class="rs-form ft-form-inp" placeholder="Email của bạn" />
                    <button type="submit" class="rs-form ft-form-btn">
                      <img src="./assets/images/svg/ft-ic1.svg" alt="" />
                    </button>
                  </div>
                </form>
              </div>
              <div class="ft-long-item">
                <div class="ft-title">Theo dõi chúng tôi</div>
                <ul class="ft-sc fl-con aln-ct">
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic2.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic3.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic4.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft-bot txt-ct">
        <div class="con">
          <a href="#">Designed and developed by Mona Media</a>
        </div>
      </div>
    </footer>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/gallery/lightgallery-all.min.js"></script>
    <script src="./js/libs/trimline/trimline.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 600,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
