.admin-bar {
  .header {
    top: 32px;
  }
  @media only screen and (max-width: 768px) {
    .header {
      top: 46px;
    }
  }
  @media only screen and (max-width: 600px) {
    .header {
      &.small {
        top: 0;
      }
    }
  }
}
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  padding: 2rem 0;
  z-index: 10;
  width: 100%;
  transition: 0.2s ease;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 24.4rem;
    &__img {
      display: block;
      width: 100%;
    }
  }
  &.small {
    background-color: #fff;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
    padding: 5px 0;
  }
  &__left {
    width: calc(100% - 9rem);
  }
  &__btn {
    padding: 1.5rem 2.5rem;
  }
  &__lang {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 3rem;
    &.active {
      .header__lang {
        &__active {
          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
        &__list {
          transform: translate(0, calc(100% + 1rem));
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
    &__icon {
      margin-right: 1rem;
      width: 24px;
      height: 24px;
    }
    &__list {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #fff;
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
      border-radius: 6px;
      overflow: hidden;
      pointer-events: none;
      opacity: 0;
      transition: 0.2s linear;
      transform-origin: top center;
      transform: translate(50%, calc(100% + 1rem));
      a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 20px;
        transition: 0.2s ease;
        &:hover {
          @media only screen and(min-width: 901px) {
            background-color: $c-primary;
            color: #fff;
          }
        }
      }
    }
    &__active {
      padding-right: 1.5rem;
      position: relative;
      user-select: none;
      transition: 0.2s linear;
      &::after {
        content: '\f078';
        display: block;
        font-size: 12px;
        width: 10px;
        line-height: 0.8;
        color: #000;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease;
      }
      &:hover {
        @media only screen and(min-width: 901px) {
          color: $c-secondary;
          &:after {
            color: $c-secondary;
          }
          max-height: 100px;
        }
      }
    }
  }
}

.menu {
  width: 100%;
  position: relative;
  &__wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__form {
    display: none;
  }
  &__list {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    position: relative;
    z-index: 11;
  }
  &-item {
    position: relative;
    z-index: 11;
    transition: 0.3s linear;
    a {
      @include fz-16;
      font-weight: 600;
      display: block;
      height: 100%;
      padding: 1.5rem 2rem;
      transition: 0.2s linear;
      position: relative;
      z-index: 12;
      transition: 0.2s linear;
    }
    &.current-menu-item {
      > a {
        color: $c-secondary;
      }
    }

    &:hover {
      @media only screen and (min-width: 1025px) {
        > a {
          color: $c-secondary;
        }
      }
    }
  }
  &__btn {
    display: none;
    &.active {
      .menu__svg {
        transform: rotate(45deg);
        path {
          fill: none;
          transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
          stroke: $c-secondary;
          stroke-linecap: round;
          &:nth-child(1) {
            stroke-dasharray: 40 160;
          }
          &:nth-child(3) {
            stroke-dasharray: 40 85;
          }
          &:nth-child(2) {
            transform-origin: 50%;
            transform: rotate(90deg);
          }
          &:nth-child(1),
          &:nth-child(3) {
            stroke-dashoffset: -64px;
          }
        }
      }
    }
  }
  &__bg {
    display: none;
  }
  &__svg {
    width: 50px;
    height: 50px;
    transition: 0.4s ease;

    path {
      fill: none;
      transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
      stroke: $c-primary;
      stroke-width: 5;
      stroke-linecap: round;
      &:nth-child(1) {
        stroke-dasharray: 40 160;
      }
      &:nth-child(2) {
        transform: rotate(0);
      }
      &:nth-child(3) {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 0.4s, stroke-dashoffset 0.4s;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .menu {
    &__list {
      padding: 0 1.5rem;
    }
    &-item {
      a {
        padding: 1.5rem;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    background-color: #fff;
    &.small {
      .menu {
        height: calc(100vh - 6rem);
        height: calc(var(--vh, 1vh) * 100 - 6rem);
        top: 6rem;
      }
    }
    &__logo {
      width: 20rem;
    }

    &__lang {
      margin-right: 0;
      &__list {
        bottom: 100%;
        transform: translateY(0);
        z-index: 15;
        a {
          padding: 5px 20px;
        }
      }
      &.active {
        .header__lang__list {
          transform: translateY(-1rem);
        }
      }
    }
    &__btn {
      border-radius: 0;
      margin-top: 1.5rem;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: calc(100vh - 9.2rem);
    height: calc(var(--vh, 1vh) * 100 - 9.2rem);
    top: 9.2rem;
    right: 0;
    position: fixed;
    z-index: 13;
    width: 100%;
    pointer-events: none;
    &__mobile {
      display: block;
      width: 400px;
    }
    &.active {
      pointer-events: auto;
      .menu {
        &__wrap {
          transform: translateX(0);
        }
        &__bg {
          opacity: 1;
        }
      }
    }
    &__wrap {
      height: 100%;
      width: 400px;
      max-width: 100%;
      background-color: #fff;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      z-index: 13;
      transform-origin: right;
      transform: translateX(100%);
      transition: 0.5s ease;
    }
    &__list {
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      height: calc(100% - 10rem);
      width: 100%;
      max-width: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 13;
      margin: 0;
      margin-bottom: auto;
      transition: 0.3s linear;
    }
    &-item {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &:hover {
        @media only screen and(min-width: 901px) {
          color: $c-secondary;
        }
      }
    }
    a {
      width: 100%;
      height: auto;
    }

    &__btn {
      width: max-content;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 10;
      cursor: pointer;
      margin-left: auto;
    }
    &__bg {
      display: block;
      position: absolute;
      z-index: 12;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      transition: 0.3s linear;
      opacity: 0;
    }
    &__form {
      display: block;
      padding: 3rem 0 2rem;
      &__title {
        @include fz-30;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      .form__item .button {
        margin: 0;
      }
    }
  }

  .submenu {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    background-color: transparent;
    color: #127226;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s linear;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    &.small {
      .menu {
        height: calc(100vh - 60px);
        height: calc(var(--vh, 1vh) * 100 - 60px);
        top: 60px;
      }
    }
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    height: calc(100vh - 86px);
    height: calc(var(--vh, 1vh) * 100 - 86px);
    top: 86px;
  }
}
@media only screen and (max-width: 450px) {
  .header__btn__wrap {
    display: none;
  }
}

// vr
#vrview {
  height: 200vh;
}
