@font-face {
    font-family: 'Disket Mono';
    src: url('DisketMono.woff2') format('woff2'),
        url('DisketMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Disket Mono';
    src: url('DisketMono-Bold.woff2') format('woff2'),
        url('DisketMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

