<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>About us</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="con">
        <div class="hd__wrap">
          <div class="hd__logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="hd__menu menu menuBoard hov-df">
            <div class="menu__wrap">
              <ul id="menu-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="#"> 서비스소개</a>
                </li>

                <li class="menu-item">
                  <a href="#"> 상품소개 </a>
                </li>
                <li class="menu-item">
                  <a href="#"> 토지조회 </a>
                </li>
                <li class="menu-item">
                  <a href="#">의뢰하기</a>
                </li>

                <li class="menu-item dropdown">
                  <a href="javascript:void(0)"> 커뮤니티</a>

                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#">공지사항</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> FAQ </a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> Q&A </a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> 제휴문의</a>
                    </li>
                  </ul>
                </li>

                <li class="menu-item dropdown hd__mb">
                  <a href="javascript:void(0)"> 로그인 </a>

                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#">로그인</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">회원가입 </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="hd__mb">
                <div class="hd__btn">
                  <div class="hd__btn__item actPanel">
                    <div class="hd__toggle__btn actBtn">
                      <img src="./assets/images/svg/hd-btn1.svg" alt="" />
                    </div>
                    <div class="hd-sub">
                      <a href="#"> 현황 분석 문의하기 </a>
                    </div>
                  </div>
                  <div class="hd__btn__item">
                    <a href="#">
                      <img src="./assets/images/svg/hd-btn2.svg" alt="" />
                    </a>
                  </div>
                  <div class="hd__btn__item actPanel">
                    <div class="hd__toggle__btn actBtn">
                      <img src="./assets/images/svg/hd-btn3.svg" alt="" />
                    </div>
                    <div class="hd-sub">
                      <ul>
                        <li>
                          <a href="#"> 로그인 </a>
                        </li>
                        <li>
                          <a href="#"> 회원가입 </a>
                        </li>
                      </ul>
                      <!-- for logged in -->
                      <!-- <ul>
                        <li>
                          <a href="#"> 정보변경 </a>
                        </li>
                        <li>
                          <a href="#"> 조회결과 </a>
                        </li>
                        <li>
                          <a href="#"> 상품의뢰
                          </a>
                        </li>
                        <li>
                          <a href="#"> 질의답변</a>
                        </li>
                        <li>
                          <a href="#"> 로그아웃 </a>
                        </li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="menuBg menu__bg"></div>
          </div>
          <div class="hd__ser">
            <form action="#">
              <div class="hd__ser__wrap">
                <input type="text" class="rs-form hd__ser__inp" placeholder="검색" />
                <button type="submit" class="rs-form hd__ser__btn">
                  <img src="./assets/images/svg/ser-ic.svg" alt="" />
                </button>
              </div>
            </form>
          </div>
          <div class="hd__btn hd__dt">
            <div class="hd__btn__item actPanel">
              <div class="hd__toggle__btn actBtn">
                <img src="./assets/images/svg/hd-btn1.svg" alt="" />
              </div>
              <div class="hd-sub">
                <a href="#"> 현황 분석 문의하기 </a>
              </div>
            </div>
            <div class="hd__btn__item">
              <a href="#">
                <img src="./assets/images/svg/hd-btn2.svg" alt="" />
              </a>
            </div>

            <div class="hd__btn__item actPanel">
              <div class="hd__toggle__btn actBtn">
                <img src="./assets/images/svg/hd-btn3.svg" alt="" />
              </div>
              <div class="hd-sub">
                <ul>
                  <li>
                    <a href="#"> 로그인 </a>
                  </li>
                  <li>
                    <a href="#"> 회원가입 </a>
                  </li>
                </ul>
                <!-- for logged in -->
                <!-- <ul>
                  <li>
                    <a href="#"> 정보변경 </a>
                  </li>
                  <li>
                    <a href="#"> 조회결과 </a>
                  </li>
                  <li>
                    <a href="#"> 상품의뢰
                    </a>
                  </li>
                  <li>
                    <a href="#"> 질의답변</a>
                  </li>
                  <li>
                    <a href="#"> 로그아웃 </a>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="menu__btn menuBtn">
            <svg class="menu__svg" viewBox="0 0 100 100">
              <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
              <path d="m 30,50 h 40"></path>
              <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
            </svg>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="ab">
        <div class="ab-ban banJS">
          <div class="swiper-ban arr">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="ab-des">
                    <img src="./assets/images/home-ban.jpg" alt="" />
                  </div>
                  <div class="ab-mb">
                    <img src="./assets/images/home-ban3.jpg" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ab-des">
                    <img src="./assets/images/home-ban2.jpg" alt="" />
                  </div>
                  <div class="ab-mb">
                    <img src="./assets/images/home-ban3.jpg" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ab-des">
                    <img src="./assets/images/home-ban2.jpg" alt="" />
                  </div>
                  <div class="ab-mb">
                    <img src="./assets/images/home-ban3.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>

            <div class="con">
              <div class="swiper-ban-nav">
                <div class="ab-ban-num fl-ct">
                  <div class="c-pri banAct"></div>
                  <div class="ab-ban-line"></div>
                  <div class="banNext"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
          <div class="con">
            <div class="swiper-name">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">01. 이름 배너 데모</div>
                  <div class="swiper-slide">02. 이름 배너 데모</div>
                  <div class="swiper-slide">03. 이름 배너 데모</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="intro">
        <div class="con">
          <h2 class="intro-title" data-aos="fade-up">
            토지자산관리,  <span class="c-gre f-bold">마이랜디와 함께</span> <br />
            지금 바로 시작하세요!
          </h2>
          <div class="fl-ct intro-wrap">
            <div class="col-6">
              <div class="intro-txt" data-aos="fade-up" data-aos-delay="300">
                마이랜디에 주소만 입력하면
                <br />
                실시간으로 토지현황과 분석 데이터를 받으실 수 있습니다.
              </div>
            </div>
            <div class="col-6">
              <div class="intro-link fl-ct">
                <a href="#sec1" class="custom-scroll">마이랜디</a>
                <a href="#sec2" class="custom-scroll">적용기술</a>
                <a href="#sec3" class="custom-scroll"> WHY 마이랜디 ?</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="intro" id="sec1">
        <div class="intro-decor">
          <img src="./assets/images/home-line.png" alt="" />
        </div>
        <div class="con fl-wrap aln-ct">
          <div class="col-8">
            <div class="intro-img" data-aos="fade-left">
              <img src="./assets/images/hc-1.png" alt="" />
            </div>
          </div>
          <div class="col-4 pd-0">
            <h2 class="sec-title" data-aos="fade-up">
              마이랜디는
              <br />
              이렇게 <span class="c-gre">생각 </span> 합니다.
            </h2>
            <div class="intro-txt" data-aos="fade-up" data-aos-delay="300">
              토지 관리의 목적은 자산 유지가 아닌 <br />
              가치 상승에 있습니다 .
            </div>
            <div class="intro-txt" data-aos="fade-up" data-aos-delay="600">
              매년 토지의 가격은 상승하는데, <br />
              왜 내 땅값은 그대로일까요? <br />
              토지는 부동산 (不動産), <br />
              즉 움직일 수 없는 자산이라 생각하여 <br />
              방치하기 마련이지만 , 모든 토지는 <br />
              지속적인 관심과 관리가 필요합니다.
            </div>
            <a href="#" class="btn-sec intro-btn">지금 탐험</a>
          </div>
        </div>
        <div class="con fl-wrap intro-quote">
          <div class="col-6">
            <div class="intro-quote-big" data-aos="fade-up">"마이랜디(Mylandy)"는</div>
          </div>
          <div class="col-6">
            <div class="intro-txt intro-quote-txt">
              토지의 <span class="c-gre f-bold" data-aos="fade-up" data-aos-delay="300">현황을 정확하게 분석</span> 분석하고 <br />
              <span class="c-gre f-bold">자산으로서 가치평가</span> 가 반영된 <br />
              리포트 서비스를 제공합니다. <br />
              토지 관리의 '새로운 패러다임’과 <br />
              기준을 제시하겠습니다.
            </div>
          </div>
        </div>
      </section>

      <section class="drone" id="sec2">
        <div class="drone-scroll"></div>
        <div class="drone-decor">
          <img style="mix-blend-mode: multiply" src="./assets/images/h-drone.png" alt="" />
        </div>
        <div class="con">
          <div class="drone-content">
            <h2 class="sec-title" data-aos="fade-up">마이랜디의 토지 자산 현황 파악과 분석은 <span class="c-gre">다릅니다.</span></h2>
            <div class="drone-txt" data-aos="fade-up" data-aos-delay="300">
              마이랜디는 드론을 활용한 고정밀의 공간정보와 다양한 데이터를 <br />
              결합해 빅데이터로 활용하며,인공지능으로 분석해 고객에게 <br />
              최적화된 컨설팅을 제공합니다.
            </div>
            <a href="#" class="btn-sec">지금 탐험</a>
          </div>
          <div class="drone-slider">
            <div class="swiper-chung dot">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="drone-item">
                      <div class="img">
                        <a href="#" class="rto-box">
                          <img src="./assets/images/hd-img1.jpg" alt="" />
                        </a>
                      </div>
                      <a href="#" class="name">
                        <div class="c-gre">Filming</div>
                        촬영
                      </a>
                      <div class="txt">드론을 활용해 토지 자산 주변의공간 정보 데이터를 수집하고3차원 가시화 모델을 제작합니다.</div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="drone-item">
                      <div class="img">
                        <a href="#" class="rto-box">
                          <img src="./assets/images/hd-img2.jpg" alt="" />
                        </a>
                      </div>
                      <a href="#" class="name">
                        <div class="c-gre">Manufacturing</div>
                        가공
                      </a>
                      <div class="txt">
                        드론을 활용하여 취득한 데이터를 통해 Point Cloud, OthoMosaic Image(Tiff) DSM(Digital Surface Model) 등 다양한 자료를
                        구축합니다.
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="drone-item">
                      <div class="img">
                        <a href="#" class="rto-box">
                          <img src="./assets/images/hd-img3.jpg" alt="" />
                        </a>
                      </div>
                      <a href="#" class="name">
                        <div class="c-gre">A.I.</div>
                        인공지능
                      </a>
                      <div class="txt">
                        고정밀 공간정보를기반으로 지적편집도, 국가정보기본도, 등록건물, DSM 데이터 등 다양한 데이터를 활용하여 보유 자산의 이슈를
                        인공지능으로 선별하여 제시합니다..
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="drone-item">
                      <div class="img">
                        <a href="#" class="rto-box">
                          <img src="./assets/images/hd-img4.jpg" alt="" />
                        </a>
                      </div>
                      <a href="#" class="name">
                        <div class="c-gre">Big Data</div>
                        빅데이터
                      </a>
                      <div class="txt">
                        국가에서 제공하는공간정보 데이터를 비롯 민간에서 보유하고있는 수치지형 데이터, 각 시도별 조례 기준 지형정보 등의 데이터를
                        결합하여 빅데이터로 활용 합니다.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

        <div class="drone-scroll bottom"></div>
      </section>

      <section class="last sec" id="sec3">
        <div class="con">
          <h2 class="sec-title" data-aos="fade-up" data-aos-delay="0">
            <span class="c-gre">마이랜디 서비스</span> 로 토지를
            <br />
            조회해야 하는 이유?
          </h2>
          <div class="last-list fl-wrap">
            <div class="col-4" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="last-title">지적도 불일치 확인</a>
              <div class="last-col">
                전국 3,700여만 필지 중554만 필지(약15%)가지적도와 불일치 (국토정보공사, 드론으로 디지털 지적정보 구축 - 엔조이드론)
              </div>
            </div>
            <div class="col-4" data-aos="fade-up" data-aos-delay="400">
              <a href="#" class="last-title">토지현황 확인</a>
              <div class="last-col">소유자의 자산 내에 타인의 무단 활 및 점거 (경작/도로/시설물) 등 현황파악</div>
            </div>
            <div class="col-4" data-aos="fade-up" data-aos-delay="500">
              <a href="#" class="last-title">재산권 보호 및 분쟁 해결</a>
              <div class="last-col">
                토지를 놓고 매년 벌어지는 행정소송 비용연간 4천억원, 전문가를 통한 분쟁 해결 (100년만에 다시 그리는 지적도, 지적재조사사업 - 투데이안)
              </div>
            </div>
          </div>
          <div class="swiper-chung dot">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="last-item">
                    <div class="icon">
                      <img src="./assets/images/he-ic1.png" alt="" />
                    </div>
                    <div class="img">
                      <a href="#" class="rto-box">
                        <img src="./assets/images/he-img1.jpg" alt="" />
                      </a>
                    </div>
                    <a href="#" class="title">정밀항공 측위 데이터, 센치미터(cm)단위급의 위치정보 및 측량정보 제공</a>
                    <div class="txt">드론을 활용해 토지 자산 주변의공간 정보 데이터를 수집하고3차원 가시화 모델을 제작합니다.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="last-item">
                    <div class="icon">
                      <img src="./assets/images/he-ic2.png" alt="" />
                    </div>
                    <div class="img">
                      <a href="#" class="rto-box">
                        <img src="./assets/images/he-img2.jpg" alt="" />
                      </a>
                    </div>
                    <a href="#" class="title">자산현황 리포트 서비스 정확한 면적/지표상태/자산 침해 등 토지 리포트 제공</a>
                    <div class="txt">
                      정밀 항공데이터, 오픈 지적도, XR서비스를 통하여 토지 공간의 물리적 침범을 확인하 자산적 가치를 측정해 종합 리포트를 제공합니다.
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="last-item">
                    <div class="icon">
                      <img src="./assets/images/he-ic3.png" alt="" />
                    </div>
                    <div class="img">
                      <a href="#" class="rto-box">
                        <img src="./assets/images/he-img3.jpg" alt="" />
                      </a>
                    </div>
                    <a href="#" class="title">자산감정평가, 행정대행 등 연계서비스 및 부동산 전문가 매칭</a>
                    <div class="txt">토지와 관련된 행정적 처리와 법률상담 등 복잡하고 어려웠던 토지 관리를 전문가와 함께 해결하세요.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
    </main>

    <footer class="ft">
      <div class="con">
        <div class="ft-head fl-ct">
          <div class="ft-logo">
            <a href="#">
              <img src="./assets/images/logo-2.png" alt="" />
            </a>
          </div>
          <div class="ft-line">
            <div class="ft-btn fl-ct backToTop">
              <img src="./assets/images/svg/arr-up.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="ft-wrap fl-wrap">
          <div class="col-3">
            <ul class="ft-list">
              <li><a href="#"> 서비스소개 </a></li>
              <li><a href="#"> 개인정보처리방침 </a></li>
              <li><a href="#"> 이용약관 </a></li>
              <li><a href="#">이메일주소 무단수집거부 </a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul class="ft-list">
              <li>
                <span class="f-bold">㈜드론오렌지 </span>
              </li>
              <li>대표 : 정념</li>
              <li>사업자등록번호 : 895-81-00203</li>
              <li>통신판매신고 : 000-00-000000</li>
            </ul>
          </div>

          <div class="col-6">
            <ul class="ft-list">
              <li><span class="f-bold">제주사무실 </span> 제주도 제주시 제주한라대학교 하이테크센터 1층 1121호</li>
              <li><span class="f-bold">기술연구소 </span> 제주도 제주시 첨단로 213-3 스마트빌딩 321호</li>
              <li><span class="f-bold">서울사무실 </span> 서울특별시 강남구 역삼로 165 해성빌딩 7층</li>
              <li><span class="f-bold">해외법인인 </span> 베트남 호치민 소재법인(2022년 1월)</li>
            </ul>
          </div>
        </div>
        <div class="ft-bot fl-ct jus-spa">
          <a href="https://mona.media/" class="ft-copy">Designed and developed by Mona Media</a>
          <a href="#" class="ft-chat fl-ct">
            <img src="./assets/images/svg/chat-ic.svg" alt="" />
            의뢰하기
          </a>
        </div>
      </div>
    </footer>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 800,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
