<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>Account - inquiry history 2</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="con">
        <div class="hd__wrap">
          <div class="hd__logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="hd__menu menu menuBoard hov-df">
            <div class="menu__wrap">
              <ul id="menu-main-menu">
                <li class="menu-item current-menu-item">
                  <a href="#"> 서비스소개</a>
                </li>

                <li class="menu-item">
                  <a href="#"> 상품소개 </a>
                </li>
                <li class="menu-item">
                  <a href="#"> 토지조회 </a>
                </li>
                <li class="menu-item">
                  <a href="#">의뢰하기</a>
                </li>

                <li class="menu-item dropdown">
                  <a href="javascript:void(0)"> 커뮤니티</a>

                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#">공지사항</a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> FAQ </a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> Q&A </a>
                    </li>
                    <li class="menu-item">
                      <a href="#"> 제휴문의</a>
                    </li>
                  </ul>
                </li>

                <li class="menu-item dropdown hd__mb">
                  <a href="javascript:void(0)"> 로그인 </a>

                  <ul class="submenu">
                    <li class="menu-item">
                      <a href="#">로그인</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">회원가입 </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="hd__mb">
                <div class="hd__btn">
                  <div class="hd__btn__item actPanel">
                    <div class="hd__toggle__btn actBtn">
                      <img src="./assets/images/svg/hd-btn1.svg" alt="" />
                    </div>
                    <div class="hd-sub">
                      <a href="#"> 현황 분석 문의하기 </a>
                    </div>
                  </div>
                  <div class="hd__btn__item">
                    <a href="#">
                      <img src="./assets/images/svg/hd-btn2.svg" alt="" />
                    </a>
                  </div>
                  <div class="hd__btn__item actPanel">
                    <div class="hd__toggle__btn actBtn">
                      <img src="./assets/images/svg/hd-btn3.svg" alt="" />
                    </div>
                    <div class="hd-sub">
                      <ul>
                        <li>
                          <a href="#"> 로그인 </a>
                        </li>
                        <li>
                          <a href="#"> 회원가입 </a>
                        </li>
                      </ul>
                      <!-- for logged in -->
                      <!-- <ul>
                        <li>
                          <a href="#"> 정보변경 </a>
                        </li>
                        <li>
                          <a href="#"> 조회결과 </a>
                        </li>
                        <li>
                          <a href="#"> 상품의뢰
                          </a>
                        </li>
                        <li>
                          <a href="#"> 질의답변</a>
                        </li>
                        <li>
                          <a href="#"> 로그아웃 </a>
                        </li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="menuBg menu__bg"></div>
          </div>
          <div class="hd__ser">
            <form action="#">
              <div class="hd__ser__wrap">
                <input type="text" class="rs-form hd__ser__inp" placeholder="검색" />
                <button type="submit" class="rs-form hd__ser__btn">
                  <img src="./assets/images/svg/ser-ic.svg" alt="" />
                </button>
              </div>
            </form>
          </div>
          <div class="hd__btn hd__dt">
            <div class="hd__btn__item actPanel">
              <div class="hd__toggle__btn actBtn">
                <img src="./assets/images/svg/hd-btn1.svg" alt="" />
              </div>
              <div class="hd-sub">
                <a href="#"> 현황 분석 문의하기 </a>
              </div>
            </div>
            <div class="hd__btn__item">
              <a href="#">
                <img src="./assets/images/svg/hd-btn2.svg" alt="" />
              </a>
            </div>

            <div class="hd__btn__item actPanel">
              <div class="hd__toggle__btn actBtn">
                <img src="./assets/images/svg/hd-btn3.svg" alt="" />
              </div>
              <div class="hd-sub">
                <ul>
                  <li>
                    <a href="#"> 로그인 </a>
                  </li>
                  <li>
                    <a href="#"> 회원가입 </a>
                  </li>
                </ul>
                <!-- for logged in -->
                <!-- <ul>
                  <li>
                    <a href="#"> 정보변경 </a>
                  </li>
                  <li>
                    <a href="#"> 조회결과 </a>
                  </li>
                  <li>
                    <a href="#"> 상품의뢰
                    </a>
                  </li>
                  <li>
                    <a href="#"> 질의답변</a>
                  </li>
                  <li>
                    <a href="#"> 로그아웃 </a>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="menu__btn menuBtn">
            <svg class="menu__svg" viewBox="0 0 100 100">
              <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
              <path d="m 30,50 h 40"></path>
              <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
            </svg>
          </div>
        </div>
      </div>
    </header>

    <main class="main main-grey">
      <div class="acc">
        <div class="con">
          <div class="acc-wrap">
            <div class="acc-link">
              <a href="#">정보변경</a>
              <a href="#">조회결과</a>
              <a href="#">상품의뢰</a>
              <a href="#" class="active">질의답변</a>
            </div>
            <div class="acc-ser-wrap">
              <h1 class="acc-title">질의답변</h1>

              <div class="ser-bar">
                <form action="#">
                  <div class="ser-bar-wrap">
                    <input type="text" name="" id="" class="rs-form ser-bar-inp" placeholder="성별" />
                    <button type="submit" class="rs-form ser-bar-btn btn-pri">검색</button>
                  </div>
                </form>
              </div>

              <div class="acc-ser-main">
                <div class="ser-filter one">
                  <form action="">
                    <div class="form-select-wrap mg-l">
                      <div class="select2-group">
                        <select class="select2-js rs-form form-select">
                          <option value="1" selected>전체</option>
                          <option value="2">전체</option>
                          <option value="3">긴급공지</option>
                          <option value="4">공지</option>
                          <option value="5">이벤트</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="acc-table">
                  <div class="acc-table-head f-bold fl-ct">
                    <div class="col-small">번호</div>
                    <div class="col-small">구분</div>
                    <div class="col-big">제목</div>
                    <div class="col-small right">등록일</div>
                    <div class="col-small right">조회수</div>
                  </div>
                  <div class="acc-table-item fl-ct tableBtn">
                    <div class="col-small">4</div>
                    <div class="col-small">#Status#</div>
                    <div class="col-big">#QNA_Title#</div>
                    <div class="col-small right">2021.08.13</div>
                    <div class="col-small right">12</div>
                    <div class="acc-table-info">
                      <div class="wrap fl-wrap">
                        <div class="col-3">질문</div>
                        <div class="col-9">
                          안녕하세요 <br />
                          프리미엄 상품이랑 컨설팅 상품이 뭐가 다른가요?
                        </div>
                        <div class="col-3">답변</div>
                        <div class="col-9">네 여러가지가 달라요</div>
                      </div>
                    </div>
                  </div>
                  <div class="acc-table-item fl-ct tableBtn">
                    <div class="col-small">3</div>
                    <div class="col-small">접수</div>
                    <div class="col-big">프리미엄 상품 문의</div>
                    <div class="col-small right">2021.08.13</div>
                    <div class="col-small right">12</div>
                    <div class="acc-table-info">
                      <div class="wrap fl-wrap">
                        <div class="col-3">질문</div>
                        <div class="col-9">
                          안녕하세요 <br />
                          프리미엄 상품이랑 컨설팅 상품이 뭐가 다른가요?
                        </div>
                        <div class="col-3">답변</div>
                        <div class="col-9">네 여러가지가 달라요</div>
                      </div>
                    </div>
                  </div>
                  <div class="acc-table-item fl-ct tableBtn">
                    <div class="col-small">2</div>
                    <div class="col-small">접수</div>
                    <div class="col-big">컨설팅 상품이 뭐가 다른가요?</div>
                    <div class="col-small right">2021.08.13</div>
                    <div class="col-small right">12</div>
                    <div class="acc-table-info">
                      <div class="wrap fl-wrap">
                        <div class="col-3">질문</div>
                        <div class="col-9">
                          안녕하세요 <br />
                          프리미엄 상품이랑 컨설팅 상품이 뭐가 다른가요?
                        </div>
                        <div class="col-3">답변</div>
                        <div class="col-9">네 여러가지가 달라요</div>
                      </div>
                    </div>
                  </div>
                  <div class="acc-table-item fl-ct tableBtn">
                    <div class="col-small">1</div>
                    <div class="col-small">접수</div>
                    <div class="col-big">상품 환불요청 드립니다.</div>
                    <div class="col-small right">2021.08.13</div>
                    <div class="col-small right">12</div>
                    <div class="acc-table-info">
                      <div class="wrap fl-wrap">
                        <div class="col-3">질문</div>
                        <div class="col-9">
                          안녕하세요 <br />
                          프리미엄 상품이랑 컨설팅 상품이 뭐가 다른가요?
                        </div>
                        <div class="col-3">답변</div>
                        <div class="col-9">네 여러가지가 달라요</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pagination">
                  <ul>
                    <li>
                      <a href="#" class="page-numbers">
                        <img src="./assets/images/svg/pag1.svg" alt="" />
                      </a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers current">01</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">02</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">03</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">...</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">09</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">10</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">11</a>
                    </li>
                    <li>
                      <a href="#" class="page-numbers">
                        <img src="./assets/images/svg/pag2.svg" alt="" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer"></footer>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 800,
        once: 'true',
      });
    </script>
    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
