.about {
    &__bg {
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 876px;
            height: 876px;
            background-image: url("../assets/images/about__bg.png");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            transform: translate(-10%, 50%);
        }
    }
}
@media only screen and (max-width: 1400px) {
    .about {
        &__bg {
            &::after {
                width: 500px;
                height: 500px;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .about {
        &__bg {
            &::after {
                display: none;
            }
        }
    }
}
