.question {
    &__link {
        padding: 7rem 3rem 3rem;
        position: sticky;
        top: 0;
    }
    &__list {
        margin-top: 1.5rem;
        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-of-type {
                border-bottom: none;
            }
            a {
                display: block;
                padding: 2.5rem 0;
                font-weight: bold;
                transition: 0.2s linear;
                &:hover {
                    @media only screen and (min-width: 901px) {
                        color: #e7194a;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .question {
        &__link {
            padding: 3rem 1.5rem;
            position: static;
        }
    }
}
