
.ban {
  text-align: center;
  padding: 9.6rem 0;
  background: url('../assets/images/bg-mini.jpg') 50% 50% / cover no-repeat;
}
.breadcrumb {
  a {
    @include fz(14);
    line-height: calc(24 / 14);
    margin-left: 20px;
    position: relative;
    &::after {
      content: '';
      display: block;
      @include cir(4px);
      background-color: $c-sec;
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translate(-100%, -50%);
      transition: 0.3s ease;
    }
    &:first-child {
      margin-left: 0;
      &::after {
        display: none;
      }
    }
    &.active {
      color: $c-pri;
      font-weight: 600;
    }
  }
}
@include max-media(1200px) {
  .ban {
    padding: 8rem 0;
  }
}
@include max-media(768px) {
  .ban {
    padding: 6rem 0;
  }
}
