// Class default
.rs-form {
	appearance: none;
}
.no-scroll {
	touch-action: none;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
	overscroll-behavior: none;
	width: calc(100% - 8px);
	@include max(1280px) {
		width: 100%;
	}
}
.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
#smooth-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}
.main {
	padding-top: 150px;
	width: 100%;
	flex-grow: 1;
}
.section-pri {
	padding: 6.6vw 0;
}
.section-sec {
	padding: 3.3vw 0;
}

.section-overflow {
	overflow: hidden;
}
.container {
	margin: 0 auto;
	position: relative;
	padding: 0 12px;
	width: calc(100% * 23 / 24);
	max-width: 1920px;
}

// Flex-box
.row {
	display: flex;
}
.row-wrap {
	display: flex;
	flex-wrap: wrap;
}
.row-ct {
	display: flex;
	align-items: center;
	justify-content: center;
}
.row-ct-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
// Flex-item
.col {
	width: 100%;
	flex-grow: 1;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	padding: 0 12px;
}
.col {
	&-1 {
		width: calc(100% / 12);
	}
	&-2 {
		width: calc(100% * 2 / 12);
	}
	&-3 {
		width: calc(100% * 3 / 12);
	}
	&-4 {
		width: calc(100% * 4 / 12);
	}
	&-5 {
		width: calc(100% * 5 / 12);
	}
	&-6 {
		width: calc(100% * 6 / 12);
	}
	&-7 {
		width: calc(100% * 7 / 12);
	}
	&-8 {
		width: calc(100% * 8 / 12);
	}
	&-9 {
		width: calc(100% * 9 / 12);
	}
	&-10 {
		width: calc(100% * 10 / 12);
	}
	&-11 {
		width: calc(100% * 11 / 12);
	}
	&-12 {
		width: 100%;
	}
}

// Class global
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	letter-spacing: 0;
	font-weight: 400;
	background-color: #000;
	font-size: 24px;
	color: #fff;
	&.white-bg {
		background-color: #fff;
		color: #000;
		input,
		select,
		button,
		textarea {
			color: #000;
		}
	}
}

input,
select,
button,
textarea {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	background-color: transparent;
	color: #fff;
	&::placeholder {
		color: rgba(170, 170, 170, 1);
	}
}
.btn-txt {
	width: max-content;
	overflow: hidden;
	position: relative;
	border-bottom: 2px solid transparent;
	transition: 0.2s ease;
	div {
		transition: 0.2s ease;
		&:first-child {
			transform-origin: bottom center;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			transform: translateY(-100%) rotateY(10deg);
		}
	}
}
.btn-white,
.btn-black {
	padding: 20px 40px;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
	appearance: none;
	background-color: #fff;
	color: #000;
	border-radius: 999px;

	&:hover {
		.btn-txt {
			border-color: #000;
			div {
				&:first-child {
					transform: translateY(0) rotateY(0deg);
				}
				&:last-child {
					transform: translateY(100%);
				}
			}
		}
	}
	&:active {
		transition: 0.1s linear;
		transform: scale(0.9);
	}
}
.btn-sec {
	background-color: #fff;
	color: #000;

	&:hover {
		.btn-txt {
			border-color: #fff;
		}
	}
}
