// Color
$c-pri: #dd724d;
$c-sec: #ffe46c;
$c-thi: #6d81c7;
$c-fou: #b0e0dd;

// mixin default
@mixin center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin default-background {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
@mixin clear {
	&::after {
		content: '';
		clear: both;
		display: table;
	}
}
// mixin advance

@mixin lc($value: 3) {
	display: -webkit-box;
	-webkit-line-clamp: $value;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@mixin max($value) {
	@media screen and (max-width: $value) {
		@content;
	}
}
@mixin min($value) {
	@media screen and (min-width: $value) {
		@content;
	}
}
@mixin hover($value: 1025px) {
	&:hover {
		@media screen and (min-width: $value) {
			@content;
		}
	}
}
@mixin sqr($value: 4rem) {
	width: $value;
	height: $value;
}
@mixin cir($value: 4rem) {
	width: $value;
	height: $value;
	border-radius: 999px;
}
@mixin vw($value) {
	width: calc(#{$value} / 1920 * 100vw);
}
@mixin vwbox($value) {
	width: calc(#{$value} / 1920 * 100vw);
	height: calc(#{$value} / 1920 * 100vw);
}
@mixin acu() {
	font-family: 'Acumin Pro', sans-serif;
}
