.btn {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem 3.5rem;
  color: $white;
  text-align: center;
  cursor: pointer;

  &-lightblue {
    background: $lightblue;
    color:$blue;
    transition: 0.5s;
    &:hover {
      background: #cae9ff;
      transition: 0.5s;
    }
  }

  &-blue {
    background: $blue;
    transition: 0.5s;
    &:hover {
      background: #0e6eb9;
      transition: 0.5s;
    }
  }

}

.sec {
  padding-top: 58px;
  padding-bottom: 76px;
  @include max-media(600px) {
    padding: 4rem 0;
  }

  &-title {
    font-size: 3rem;
    font-weight: 800;
    color: $blue;
    margin-bottom: 20px;
    color: black;

    @include max-media(600px) {
      font-size: 2.8rem;
    }
  }

  &-title.white {
    color: $white;
  }

  &-des {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    line-height: 2.4rem;
  }
}

.row-mt {
  margin-top: 9rem;
  @include max-media(768px) {
    margin-top: 7rem;
  }
}
