.lvpage {
    section:last-of-type {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 364px;
            height: 499px;
            background-image: url("../assets/images/dotdot.png");
            z-index: 5;
            bottom: -24rem;
            left: -10rem;
        }
    }
}
