.trienlam {
    .swiper-chung {
        width: calc(100% + 3rem);
        .swiper-container {
            overflow: unset;
        }
    }
    .swiper-slide {
        width: 100%;
        padding: 0 1.5rem;
    }
    .gallery__img {
        padding-top: 42%;
        img {
            width: 100%;
        }
    }

    &__txt {
        font-weight: 500;
        display: block;
        margin-bottom: 3rem;
        line-height: calc(24 / 16);
    }
    .news {
        &__title {
            &:hover {
                @media only screen and (min-width: 901px) {
                    text-decoration: none;
                    color: #f6b92f;
                }
            }
        }
        &__date {
            margin-bottom: 3rem;
        }
        &__txt {
            -webkit-line-clamp: 3;
        }
    }
}
@media only screen and (max-width: 900px) {
    .trienlam {
        &__date {
            margin-bottom: 2.5rem;
        }
    }
}
@media only screen and (max-width: 600px) {
    .trienlam {
        &__date {
            margin-bottom: 2rem;
        }
    }
}
