@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('NanumGothicExtraBold.woff2') format('woff2'),
        url('NanumGothicExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('NanumGothic.woff2') format('woff2'),
        url('NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('NanumGothicBold.woff2') format('woff2'),
        url('NanumGothicBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

