.back__to__top {
  display: flex;
  @include sqr(40px);
  background-color: #fff;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  padding: 0;
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  z-index: 9;
  transform: translateX(3rem);
  opacity: 0;
  transition: 0.5s linear;
  cursor: pointer;
  visibility: hidden;

  &.active {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
  i {
    color: $c-pri;
    @include fz(16);
  }
  @include hover() {
    animation: bigbabol 0.3s ease;
    i {
      color: #fff;
    }
  }
}
