.dia {
  &__slogan {
    @include fz-23;
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 0.2em;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    text-transform: uppercase;
    pointer-events: auto;
  }
  &__grid {
    pointer-events: none;
    transform: rotate(-45deg);
    position: absolute;
    width: max-content;
    z-index: 3;
    &.reverse {
      transform: rotate(45deg);
      .dia__item__img {
        transform: rotate(-90deg);
      }
    }
    &__right {
      right: 0;
      transform: translateX(32%) rotate(-45deg);
      top: -5rem;
    }
    &__left {
      right: 0;
      top: 50%;
      transform: translate(-8.5rem, -57%) rotate(-45deg);
    }
  }
  &__container {
    transform: rotate(-45deg);
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: block;
    pointer-events: auto;
    &:hover {
      @media only screen and(min-width: 901px) {
        .dia__content {
          transform: translate(-50%, -50%) rotate(45deg) scale(1.05);
        }
      }
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 1s ease;

    img {
      display: block;
      width: max-content;
      max-width: none;
      position: relative;
      z-index: 0;
      opacity: 0;
      transform: scale(1.1);
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
  }
  &__col {
    display: flex;
    flex-direction: column;
    &.al-end {
      align-items: flex-end;
    }
  }
  &__rotate {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
    pointer-events: none;
  }
  &__item {
    margin: 10px;
    pointer-events: auto;
    overflow: hidden;
    &:hover {
      @media only screen and(min-width: 901px) {
        .dia__item__img {
          transform: scale(1.05);
        }
      }
    }
    &__img {
      position: relative;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
      z-index: 1;
      transition: 1s ease;
      img {
        opacity: 0;
        display: block;
        width: max-content;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
  &__sqr {
    background-color: $c-sky-light;
    width: 100%;
    padding-bottom: 100%;
    &.blue {
      background-color: $c-primary;
    }
    &.grey {
      background-color: #e3e3e3;
    }
  }
  &__link {
    user-select: none;
    z-index: 5;
    transform: translate(-50%, -50%);
    transition: top 0.2s ease, left 0.2s ease;
    position: absolute;
    top: 80%;
    left: 70%;
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 9.9rem;
    background-color: $c-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    pointer-events: none;
    &:hover {
      @media only screen and(min-width: 901px) {
        background-color: $c-blu-dark;
        &:after {
          width: 12rem;
          height: 12rem;
          border-color: $c-blu-dark;
        }
        .dia__link__txt {
          transform: translate(-50%, -50%) rotate(405deg);
          color: $c-blu-dark;
          opacity: 0;
          .letter {
            padding-top: 7rem;
          }
        }
      }
    }
    &.rotate0 {
      transform: translate(-50%, -50%) rotate(0);
      left: 280px;
    }
    &::after {
      pointer-events: none;
      content: '';
      display: block;
      width: 16.4rem;
      height: 16.4rem;
      border-radius: 9.9rem;
      border: 1px solid $c-secondary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
      z-index: 1;
    }
    i {
      line-height: 1.5;
      font-size: 2.5rem;
      color: #fff;
    }
    &__txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: 1s ease;
      &.left {
        transform: translate(-50%, -50%) rotate(107deg);
      }
      .letter {
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        position: absolute;
        transform-origin: top center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.5s ease;
        animation: letterBlink 5s linear infinite;
      }
    }
  }
}
.box1,
.box2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: $c-blu-light;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  transition: 1s linear;
  transform: translate(100%, -100%) rotate(45deg);
}
.reverse1 {
  .box1,
  .box2 {
    transform: translate(-100%, 100%) rotate(45deg);
  }
}
.reverse2 {
  .box1,
  .box2 {
    transform: translate(100%, 100%) rotate(45deg);
  }
}
.reverse3 {
  .box1,
  .box2 {
    transform: translate(-100%, -100%) rotate(45deg);
  }
}
.box2 {
  background-color: $c-blu-dark;
  z-index: 2;
  transition: 2s ease-out;
}
.active {
  .dia__content {
    img {
      animation: monaImg 1s linear 0.7s forwards;
    }
  }
  .dia__item__img {
    img {
      animation: monaImg2 1s linear 0.7s forwards;
    }
  }

  .box1,
  .box2 {
    transform: translate(-110%, 110%) rotate(45deg);
  }
  .reverse1 {
    .box1,
    .box2 {
      transform: translate(110%, -110%) rotate(45deg);
    }
  }
  .reverse2 {
    .box1,
    .box2 {
      transform: translate(-110%, -110%) rotate(45deg);
    }
  }
  .reverse3 {
    .box1,
    .box2 {
      transform: translate(110%, 110%) rotate(45deg);
    }
  }
  .img-delay1 {
    img {
      animation-delay: 1.2s;
    }
    .box1,
    .box2 {
      transition-delay: 0.5s;
    }
  }
}
.dia {
  &__012 {
    width: 12px;
    position: absolute;
    top: 47rem;
    right: 86rem;
  }
  &__016 {
    width: 16px;
    position: absolute;
    top: 34rem;
    left: 23rem;
  }
  &__3 {
    width: 30px;
    position: absolute;
    top: 50rem;
    right: 88rem;
  }
  &__4 {
    width: 42px;
    position: absolute;
    top: 5rem;
    left: 39rem;
    z-index: 2;
  }
  &__5 {
    width: 5rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
    align-self: flex-start;
    margin-bottom: -1rem;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  &__7 {
    width: 7rem;
    margin-right: 6rem;
  }
  &__011 {
    width: 11rem;
    margin-left: 27rem;
  }
  &__111 {
    width: 11rem;
    margin-left: auto;
  }
  &__11 {
    width: 11rem;
    margin-left: 52rem;
  }
  &__13 {
    margin-top: auto;
    width: 13rem;
  }
  &__16 {
    width: 16rem;
  }
  &__19 {
    width: 19rem;
    margin-left: 22rem;
  }
  &__21 {
    width: 21rem;
    margin-left: auto;
    margin-bottom: -5rem;
  }
  &__22 {
    width: 22rem;
    align-self: flex-end;
    margin-bottom: 27rem;
  }
  &__23 {
    width: 23rem;
  }
  &__24 {
    margin-top: auto;
    width: 24.8rem;
  }
  &__244 {
    margin-left: auto;
    width: 24.8rem;
  }
  &__25 {
    width: 25rem;
    margin-top: auto;
    margin-left: 23rem;
  }
  &__28 {
    width: 28rem;
  }
  &__30 {
    width: 30rem;
    align-self: flex-start;
  }
  &__37 {
    width: 37rem;
  }
  &__40 {
    width: 40rem;
  }
  &__41 {
    width: 41rem;
  }
  &__43 {
    width: 43rem;
  }
  &__46 {
    width: 46rem;
    position: absolute;
    pointer-events: none;
    left: 0;
    transform: translate(35%, 10%);
  }
  &__48 {
    width: 48rem;
  }
  &__49 {
    width: 49rem;
  }
  &__50 {
    width: 50rem;
  }
  &__55 {
    width: 55rem;
    position: relative;
  }
  &__62 {
    width: 62rem;
  }
  &__65 {
    width: 65rem;
    position: absolute;
    pointer-events: none;
    left: 0;
    transform: translate(25%, -5%);
  }
  &__70 {
    width: 70rem;
    position: absolute;
    pointer-events: none;
    left: 0;
    transform: translate(25%, -16%);
  }
  &__79 {
    width: 79rem;
  }
  &__83 {
    width: 83rem;
  }
  &__103 {
    width: 103rem;
  }
}
@media only screen and (max-width: 1900px) {
  .dia__grid__right {
    transform: translateX(32%) rotate(-45deg) scale(0.7);
    top: 3rem;
  }
}
@media only screen and (max-width: 1440px) {
  .dia__grid__right {
    transform: translateX(32%) rotate(-45deg) scale(0.6);
  }
  .dia__grid__left {
    transform: translate(-4rem, -57%) rotate(-45deg) scale(0.9);
  }
}
@media only screen and (max-width: 1200px) {
  .dia__grid__right {
    .dia__item__img {
      opacity: 0.5;
    }
    z-index: 1;
  }
  .dia__grid__left {
    top: 50%;
    right: -5rem;
    left: unset;
    transform: translateY(-60%) rotate(-45deg) scale(0.7);
  }
  .dia__link {
    pointer-events: auto;
    top: 100%;
    left: 70%;
    width: 7rem;
    height: 7rem;
    &::after {
      width: 120px;
      height: 120px;
    }
    .letter {
      padding-top: 75px;
    }
    &.rotate0 {
      top: 85%;
      left: 46%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .dia__link {
    &.rotate0 {
      left: 50%;
    }
  }
}
@media only screen and (max-width: 900px) {
  .dia__grid__right {
    .dia__item__img {
      opacity: 0.2;
    }
    .dia__sqr {
      opacity: 0.2;
    }
  }
  .dia__grid__left {
    position: relative;
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, 0) rotate(-45deg) scale(0.7);
  }

  .dia__link {
    left: 65%;
    top: 80%;

    &.rotate0 {
      left: 30%;
      top: 77%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .dia__grid__right {
    transform: translateX(38%) rotate(-45deg) scale(0.6);

    .dia__sqr {
      opacity: 0.2;
    }
  }
  .dia__grid__left {
    transform: translate(-50%) rotate(-45deg) scale(0.6);
    margin: -5rem 0 3rem;
  }
  .dia__link {
    width: 60px;
    height: 60px;
    &::after {
      width: 100px;
      height: 100px;
    }
    .letter {
      padding-top: 65px;
    }
  }
}
