.doitac {
  position: relative;
  z-index: 2;
  margin-top: 10rem;
  .dia__22 {
    position: absolute;
    margin: 0.5;
    top: 8rem;
    left: 0;
    transform: translate(-50%, -50%);
  }
  &__sqr {
    width: 100%;
    padding-top: 100%;
    background-color: $c-primary;
    transform: rotate(45deg);
    &::after {
      content: '';
      display: block;
      width: 6.6rem;
      height: 6.6rem;
      background-color: rgba(0, 0, 0, 0.07);
      position: absolute;
      right: -20px;
      top: 0;
      transform: translateX(100%);
    }
  }
  &__subtitle {
    @include fz-24;
    color: $c-primary;
    text-align: center;
    margin-bottom: 2rem;
    .bold {
      font-weight: 900;
    }
  }
  &__logo__link {
    display: block;
    img {
      margin: 0 auto;
      transition: 0.5s ease;
    }
    &:hover {
      @media only screen and(min-width: 901px) {
        img {
          transform: scale(1.3);
        }
      }
    }
  }
  &__dia {
    position: absolute;
    bottom: 0;
    right: 0;

    transform: translate(50%, 50%) rotate(45deg);
  }
  &__title {
    @include fz-40;
    text-align: center;
    width: max-content;
    margin: 0 auto 2rem;
    br {
      display: none;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .doitac__dia {
    display: none;
  }
  .doitac__sqr {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .doitac {
    margin-top: 0;
    &__title {
      width: 100%;
      max-width: 768px;
      margin: 2rem auto 0;
      font-weight: bold;
      br {
        display: none;
      }
    }
    &__subtitle {
      max-width: 768px;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .doitac__title {
    .title__ani__wrap,
    .title__ani {
      display: inline;
    }
  }
}
