.news {
  overflow: hidden;
  .section__title-40 {
    margin-bottom: 5rem;
    display: block;
    width: max-content;
    max-width: 100%;
  }
  &__item {
    position: relative;
  }
  &__name {
    width: max-content;
    position: relative;
    padding: 1rem 1.5rem;
    @include fz-18;
    font-weight: 900;
    color: $c-secondary;
    background-color: #f5f5f5;
    margin-left: 9.25rem;
    margin-bottom: 2rem;
    &::after {
      content: '';
      display: block;
      width: 7rem;
      height: 2px;
      background-color: $c-secondary;
      position: absolute;
      left: -2.25rem;
      top: 50%;
      transform: translate(-100%, -50%);
      transition: 0.3s ease;
    }
  }
  &__title {
    @include fz-24;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 2.5rem;
    transition: 0.2s linear;
    line-height: 1.5;
    &:hover {
      @media only screen and(min-width: 901px) {
        color: $c-primary;
      }
    }
  }
  &__content {
    margin-bottom: 3.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    .bold {
      font-weight: bold;
    }
    .heavy {
      font-weight: 900;
    }
  }
  &__read {
    font-weight: 900;
    color: $c-secondary;
    transition: 0.2s linear;
    &:hover {
      @media only screen and(min-width: 901px) {
        color: $c-primary;
      }
    }
  }

  .swiper-container {
    padding-right: 7rem;
    height: 80rem;
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(0deg, #fff 0%, transparent 50%);

      z-index: 2;
      pointer-events: none;
    }
  }
  .swiper-wrapper {
    margin: -5rem 0;
  }
  .swiper-slide {
    padding: 5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .swiper-button-next,
  .swiper-button-prev {
    z-index: 2;
    top: unset;
    bottom: unset;
    left: unset;
    right: 0;
  }
  .swiper-button-prev {
    top: 0;
    transform: translate(50%, calc(50% + 9px)) rotate(45deg);
  }
  .swiper-button-next {
    bottom: 0;
    transform: translate(50%, -8px) rotate(45deg);
  }
  .swiper-pagination {
    bottom: unset;
    top: 0;
    left: unset;
    right: 0;
    height: 100%;
    width: 2px;
    z-index: 1;
    transform: translate(50%, 0);
  }
  .dia__grid {
    left: 0;
    transform: translate(-58.1%, -40%) rotate(-45deg);
    top: 0;
    position: absolute;
  }
}
@media only screen and (max-width: 1200px) {
  .news {
    .section__title-40 {
      margin: 0 auto 3rem;
    }
    padding-bottom: 0;
    .intro__item {
      position: static;
    }
    .dia__grid {
      opacity: 0.2;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      z-index: -1;
    }
    .swiper-container {
      height: 70rem;
      &::after {
        display: none;
      }
    }
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
      right: 1.5rem;
    }
  }
}

@media only screen and (max-width: 550px) {
  .news {
    &__title {
      br {
        display: none;
      }
    }
    .section__title-40 {
      text-align: center;
      .blue {
        display: block;
      }
    }
    .swiper-wrapper {
      margin: -3rem 0;
    }
    .swiper-slide {
      padding: 3rem 0;
    }
    .swiper-container {
      padding-right: 4rem;
    }
  }
}
