.number {
  &__container {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    .mobile__br {
      display: none;
    }
  }
  &__box {
    .dia__container {
      transition: 0.2s ease;
    }
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin-left: 4rem;
    transition: 0.2s linear;
    user-select: none;
    &:hover {
      @media only screen and(min-width: 901px) {
        .dia__container {
          box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
        }
        color: $c-secondary;
        .number__title {
          opacity: 1;
        }
        .icon {
          color: $c-secondary;
        }
      }
    }
    .num {
      @include fz-60;
    }
    .icon {
      position: absolute;
      top: 20px;
      line-height: 1;
      color: $c-primary;
      @include fz-30;
      transition: 0.2s linear;
    }
  }
  &__title {
    position: absolute;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 0.1em;
    transition: 0.2s linear;

    &.left {
      top: 0;
      left: 0;
      width: 100%;
      transform-origin: bottom left;
      transform: translateY(-100%) rotate(90deg);
      text-align: right;
      padding: 0 5px;
    }
    &.bottom {
      bottom: 0;
      @include fz-30;
      margin-left: 3rem;
      line-height: 1;
      padding: 5px 0;
    }
    &.top {
      display: block;
      top: 0;
      margin-right: 5px;
      right: 0;
    }
  }
  &__pro {
    margin-left: 4.5rem;
    width: 22rem;

    .dia__container {
      .num {
        @include fz-80;
      }
      background-color: $c-primary;
    }
  }
  &__cus {
    width: 18rem;

    .dia__container {
      background-color: #4c4c4c;
    }
  }
  &__sat {
    width: 14rem;

    .dia__container {
      background-color: #6f6f6f;
    }
  }
}

@media only screen and (max-width: 800px) {
  .number {
    &__container {
      justify-content: center;
    }
    &__pro {
      width: 14rem;
      margin-left: 0;
    }
    &__cus {
      width: 14rem;
      margin-left: 6rem;
    }
    &__sat {
      width: 14rem;
      margin-left: 6rem;
    }
    &__title {
    }
  }
}
@media only screen and (max-width: 550px) {
  .number {
    &__container {
      margin-top: 4rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .mobile__br {
        display: block;
        width: 100%;
      }
    }
    &__box {
      &:first-child {
        margin-bottom: -10px;
      }
    }
    &__cus {
      margin-left: 0;
    }
    &__sat {
      margin-left: 0;
    }
  }
}
