.admin-bar {
  .hd {
    top: 32px;
  }
  @media only screen and (max-width: 768px) {
    .hd {
      top: 46px;
    }
  }
  @media only screen and (max-width: 600px) {
    .hd {
      &.small {
        top: 0;
      }
    }
  }
}
.hd {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 3rem 0;
  pointer-events: none;
  transition: 0.2s linear;
  > * {
    pointer-events: auto;
  }
  &__logo {
    width: 23rem;
    img {
      display: block;
    }
    a {
      display: block;
      width: 100%;
    }
  }
  &__menu {
    flex-grow: 1;
  }
  &.small {
    padding: 1.5rem 0;
    background-color: #fff;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
    pointer-events: auto;
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__btn {
    display: flex;
    align-items: center;
    &__item {
      position: relative;
      margin-left: 1.5rem;

      > a,
      .hd__toggle__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        @include cir(4rem);
        background-color: #fff;
        box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
        transition: 0.2s linear;
        cursor: pointer;
        @include hover() {
          background-color: $c-pri;
          img {
            filter: brightness(0) invert(1);
          }
        }
        &.user {
          position: relative;
          img {
            border-radius: 99px;
            display: block;
            width: 100%;
            height: 100%;
          }
          @include hover() {
            img {
              filter: none;
            }
          }
        }
        &.user-noti {
          &::after {
            content: '';
            display: block;
            @include cir(16px);
            background-color: #fa1f1f;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(20%, -20%);
            transition: 0.3s ease;
          }
        }
      }
      img {
        width: 16px;
        height: 16px;
        transition: 0.2s linear;
      }
      &.active {
        .hd-sub {
          opacity: 1;
          transform: translate(-50%, 0);
          pointer-events: auto !important;
          * {
            pointer-events: auto !important;
          }
        }
        .hd__toggle__btn {
          background-color: $c-pri;
          img {
            filter: brightness(0) invert(1);
          }
        }
        .user {
          img {
            filter: none !important;
          }
        }
      }
      @include hover() {
        .hd-sub {
          opacity: 1;
          transform: translate(-50%, 0);
          pointer-events: auto !important;
          * {
            pointer-events: auto !important;
          }
        }
      }
    }
  }
  &-sub {
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    transform: translate(-50%, 2rem);
    opacity: 0;
    pointer-events: none !important;
    width: max-content;
    max-width: 90vw;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
    transition: 0.3s linear;
    line-height: 1;
    text-align: center;
    * {
      pointer-events: none !important;
    }
    &::after {
      pointer-events: auto !important;
      content: '';
      display: block;
      width: 100%;
      height: 10px;
      background-color: transparent;
      position: absolute;
      left: 0;
      top: -10px;
    }
    a {
      margin-bottom: 1rem;
      font-weight: bold;
      transition: 0.2s linear;
      @include hover {
        color: $c-pri;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    li {
      margin-bottom: 15px;
      a {
        display: block;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__ser {
    width: 13rem;
    margin-left: auto;
    &__wrap {
      overflow: hidden;
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
      border-radius: 99px;
      position: relative;
    }
    &__inp {
      padding: 1.3rem 1rem 1.3rem 4rem;
      width: 100%;
      background-color: #fff;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      background-color: #fff;
      position: absolute;
      cursor: pointer;
      @include hover() {
        img {
          filter: brightness(0);
        }
      }
      top: 0;
      left: 0;
      img {
        width: 16px;
        height: 16px;
        transition: 0.2s linear;
        transition: 0.2s linear;
        margin-bottom: -3px;
      }
    }
  }
  &__mb {
    display: none;
  }
}
@include max-media(1200px) {
  .hd {
    padding: 1.5rem 0;
    &__logo {
      width: 20rem;
    }
  }
}
@include max-media(480px) {
  .hd {
    &__logo {
      margin-right: auto;
    }
    &__dt {
      display: none;
    }
    &__mb {
      display: block;
    }
    &__btn {
      justify-content: center;
      margin-top: 3rem;
      position: relative;
      &__item {
        position: static;
        margin: 0 1.5rem;
      }
    }
    &-sub {
      top: unset;
      bottom: calc(100% + 10px);
    }
  }
}
