.less {
    background-color: #f4f4f7;
    .button {
        width: max-content;
        margin-left: auto;
        margin-top: 3rem;
    }
    .section__title {
        margin-bottom: 0.5rem;
        position: relative;
    }
    &__txt {
        @include fz-14;
        line-height: calc(17 / 14);
        display: block;
        margin-bottom: 2.5rem;
    }
    &__list {
        margin: 0 -0.5rem;
        width: calc(100% + 1rem);
        display: flex;
        flex-wrap: wrap;
        > li {
            width: 50%;
            padding: 0.5rem;
        }
    }
    &__item {
        position: relative;
        display: flex;
        background-color: #fff;
        transition: 0.3s linear;
        &.pink {
            .less__subtitle {
                background-color: #b72eb7;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    .less__title {
                        color: #b72eb7;
                    }
                    box-shadow: 0.5rem 0.5rem 1rem rgba(183, 46, 183, 0.5);
                }
            }
        }
        &.blue {
            .less__subtitle {
                background-color: #38aaf2;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    .less__title {
                        color: #38aaf2;
                    }
                    box-shadow: 0.5rem 0.5rem 1rem rgba(56, 170, 242, 0.5);
                }
            }
        }
        &.yellow {
            .less__subtitle {
                background-color: #ffa10b;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    .less__title {
                        color: #ffa10b;
                    }
                    box-shadow: 0.5rem 0.5rem 1rem rgba(255, 161, 11, 0.5);
                }
            }
        }
        &.purple {
            .less__subtitle {
                background-color: #262e67;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    .less__title {
                        color: #262e67;
                    }
                    box-shadow: 0.5rem 0.5rem 1rem rgba(38, 46, 103, 0.5);
                }
            }
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                .less__img {
                    img {
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                }
            }
        }
    }
    &__subtitle {
        position: absolute;
        top: 0;
        left: 0;
        width: 14rem;
        padding: 1rem 2rem;
        @include fz-14;
        font-weight: bold;
        line-height: calc(17 / 14);
        color: #fff;
        z-index: 2;
    }
    &__img {
        display: block;
        width: 27rem;

        a {
            display: block;
            position: relative;
            width: 100%;
            padding-top: 66%;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                width: 100%;
                min-height: 100%;
                transition: 0.3s ease;
                z-index: 1;
            }
        }
    }
    &__content {
        width: calc(100% - 27rem);
        padding: 2rem 0;
        padding-left: 3rem;
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 10px;
        line-height: calc(13 / 10);
        margin-bottom: 1rem;
        img {
            margin-right: 0.5rem;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 9.9rem;
            display: inline-block;
        }
    }
    &__title {
        width: max-content;
        color: #262e67;
        font-weight: bold;
        transition: 0.2s linear;
    }
    &__info__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem 0;
        li {
            width: 50%;
            padding: 0.7rem;
            padding-left: 2rem;
            position: relative;
            @include fz-14;
            img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    &__link {
        font-size: 12px;
        text-transform: uppercase;
        color: #e7194a;
        font-weight: 500;
    }
}
@media only screen and (max-width: 1200px) {
    .less {
        &__list {
            margin: 0 -1rem;
            width: calc(100% + 2rem);
            > li {
                width: 25%;
                padding: 1rem;
            }
        }
        &__item {
            flex-direction: column;
        }
        &__subtitle {
            text-align: center;
        }
        &__img {
            width: 100%;
        }
        &__content {
            width: 100%;
            padding: 2rem 1rem;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .less {
        &__info__list {
            li {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .less {
        &__list {
            margin: 0 -1.5rem;
            width: calc(100% + 3rem);
            > li {
                padding: 1.5rem;
                width: 50%;
            }
        }
        &__info__list {
            li {
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .less {
        &__list {
            margin: 0 -0.5rem;
            width: calc(100% + 1rem);
            > li {
                padding: 0.5rem;
            }
        }
        &__info__list {
            li {
                width: 100%;
            }
        }
        &__subtitle {
            position: static;
            width: 100%;
            order: 1;
        }
        &__content {
            padding: 1rem;
            order: 2;
        }
        .button {
            margin: 0 auto;
            margin-top: 3rem;
        }
    }
}
