.about {
    padding-bottom: 10rem;
    .section__title {
        margin: 4.5rem 0;
    }
    &__content {
        font-weight: 500;
        line-height: calc(24 / 16);
    }
    &__txt {
        display: block;
        margin-bottom: 3rem;
        color: #3e3935;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__title {
        @include fz-20;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 4.5rem;
        li {
            width: 50%;
            padding: 4.5rem 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    &__name {
        font-weight: 500;
        display: block;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    &__position {
        @include fz-14;
        font-style: italic;
    }
}
@media only screen and (max-width: 900px) {
    .about {
        padding-bottom: 6rem;
        .section__title {
            margin: 3rem 0;
        }
        &__list {
            padding-bottom: 3rem;
            li {
                padding: 3rem 1rem;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .about {
        padding-bottom: 3rem;
    }
}
