.adult {
    .tab {
        &__img {
            padding-bottom: 86%;
        }
        &__content {
            &__container {
                bottom: 0;
                left: 0;
                padding: 4.5rem 5rem;
            }
            width: 100%;
            max-width: 102.2rem;
        }
    }
    .swiper-slide {
        width: 50%;
    }
}

@media only screen and (max-width: 1700px) {
    .adult {
        .tab {
            &__content {
                &__container {
                    padding: 3rem;
                }
                padding: 3rem 6rem;
            }
        }
    }
}
@media only screen and (max-width: 1400px) {
    .adult {
        .tab {
            &__list {
                position: relative;
                background-color: #000;
            }
            &__content {
                &__container {
                    padding: 1.5rem;
                }
                padding: 3rem 6rem 4rem;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .adult {
        .tab {
            &__content {
                &__container {
                    padding: 0;
                }
                padding: 1.5rem 3rem 4rem;
                max-width: none;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .adult {
        .tab {
            &__content {
                background-color: rgba(0, 0, 0, 1);
                &__container {
                    padding: 0;
                    position: static;
                    transform: none;
                }
                width: 100%;
                padding: 1.5rem 3rem 4rem;
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    .adult {
        .swiper-slide {
            width: 100%;
        }
    }
}
