.back__to__top {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #000;
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.16);
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 7;
    opacity: 0.5;
    transform: translateX(3rem);
    opacity: 0;
    transition: 0.5s linear;
    cursor: pointer;
    visibility: hidden;

    &.active {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
    }

    &:hover {
        @media only screen and (min-width: 901px) {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }

    &::after {
        content: "";
        width: 0;
        height: 0;
        border: 0.7rem solid transparent;
        border-bottom: 0.7rem solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 0.5rem));
    }
}

@media only screen and (max-width: 1200px) {
    .back__to__top {
        width: 3.5rem;
        height: 3.5rem;
        right: 1.5rem;
        bottom: 3rem;
        &::after {
            border: 0.6rem solid transparent;
            border-bottom: 0.6rem solid #fff;
        }
    }
}
