.cus {
    padding-top: 3rem;
    .swiper-slide {
        width: calc(100% / 3);
    }
    &__img {
        width: 100%;
        height: 100%;
        @include center-flex;
        padding: 1rem;
        a {
            display: block;
            width: max-content;
        }
        img {
            width: auto;
            height: auto;
            max-height: 13rem;
        }
    }
}
@media only screen and (max-width: 1400px) {
    .cus {
        .swiper-button-prev {
            transform: translateX(1.5rem);
        }
        .swiper-button-next {
            transform: translateX(-1.5rem);
        }
    }
}
@media only screen and (max-width: 900px) {
    .cus {
        padding-top: 0;
    }
}
@media only screen and (max-width: 768px) {
    .cus {
        .swiper-slide {
            width: 50%;
            max-height: 15rem;
        }
        &__img {
            padding: 1rem 2rem;
        }
    }
}
