.feed {
    .section__title {
        margin-bottom: 5rem;

        br {
            display: none;
        }
    }
    .swiper-chung {
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
    }
    .swiper-slide {
        width: calc(100% / 3);
        padding: 0 2.5rem;
    }
    &__name {
        text-align: center;
        @include fz-18;
        font-weight: bold;
        text-transform: capitalize;
    }
    &__ava {
        width: 6rem;
        height: 6rem;
        border-radius: 9.9rem;
        overflow: hidden;
        margin: 2rem auto;
        position: relative;
        img {
            @include center-abs;
        }
    }
    &__txt {
        line-height: calc(24 / 16);
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1400px) {
    .feed {
        .swiper-chung {
            width: 100%;
            margin: 0;
        }
    }
}
@media only screen and (max-width: 900px) {
    .feed {
        .swiper-slide {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .feed {
        .swiper-slide {
            width: 100%;
            padding: 0 4rem;
        }
        &__txt {
            text-align: center;
        }
    }
}
@media only screen and (max-width: 450px) {
    .feed {
        .section__title {
            br {
                display: block;
            }
        }
    }
}
