.gallery {
    padding: 4.5rem 0;

    .swiper-chung {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-slide {
        width: calc(100% / 3);
    }
    &__img {
        padding-top: 78%;
        overflow: hidden;
        position: relative;
        cursor: zoom-in;
        img {
            width: 100%;
            transition: 0.3s linear;
            @include center-abs;
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                img {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }
    &__author {
        font-weight: 500;
        font-style: italic;
        display: inline-block;
        margin-top: 1.5rem;
        color: #3e3935;
    }
}
.lg-outer .lg-thumb {
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 900px) {
    .gallery {
        padding: 3rem 0;

        .swiper-slide {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .gallery {
        .swiper-slide {
            width: 100%;
        }
    }
}
