.admin-bar {
    .header {
        top: 32px;
    }
    @media only screen and (max-width: 768px) {
        .header {
            top: 46px;
        }
    }
    @media only screen and (max-width: 600px) {
        .header {
            &.small {
                top: 0;
            }
        }
    }
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &.small {
        .header__container {
            padding: 0.5rem 1.5rem;
        }
        .submenu {
            top: calc(100% + 1.7rem);

            &::before {
                height: 1.7rem;
                top: -1.7rem;
            }
        }
        @media only screen and (max-width: 1500px) {
            .submenu {
                top: calc(100% + 2.2rem);

                &::before {
                    height: 2.2rem;
                    top: 2.2rem;
                }
            }
        }
    }
    &__container {
        width: 100%;
        max-width: 153rem;
        padding: 2.5rem 1.5rem 0;
        margin: 0 auto;
        display: flex;
        transition: 0.2s linear;
    }
    &__left {
        width: 14.2rem;
        a {
            display: block;
        }
    }
    &__right {
        width: calc(100% - 14.2rem);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > div {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0 3rem;
            height: 3rem;
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
            &.menu {
                padding: 0 1.5rem;
            }
        }
    }

    &__link {
        width: max-content;
    }
    &__btn {
        width: max-content;
        display: flex;
        gap: 3rem;
        align-items: center;
        .lang {
            font-weight: bold;
            transition: 0.2s linear;
            @include fz-14;
            &:hover {
                @media only screen and (min-width: 901px) {
                    color: #f6b92f;
                }
            }
        }
    }
}

.menu {
    width: 100%;
    position: relative;
    &__list {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include fz-14;
        position: relative;
        z-index: 11;
    }
    &__item {
        position: relative;
        z-index: 11;
        transition: 0.3s linear;
        opacity: 0;

        a {
            @include fz-16;
            display: inline-block;
            height: 100%;
            opacity: 0.5;
            padding: 1.5rem;
            transition: 0.2s linear;
            position: relative;
            z-index: 12;
            transition: 0.2s linear;
        }
        &.active {
            > a {
                font-weight: bold;
                opacity: 1;
            }
        }
        &.show {
            a {
                opacity: 1;
            }
            .submenu {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
                pointer-events: auto;
                max-height: 50rem;
                margin-left: 1.5rem;
            }
            &.dropdown i {
                font-weight: bold;
                transform: translateY(-50%) rotate(180deg);
            }
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                a {
                    opacity: 1;
                }
            }
        }

        &.dropdown {
            padding-right: 1rem;
            i {
                cursor: pointer;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                right: 0;
                display: block;
                width: 2rem;
                height: 2rem;
                line-height: 2.8;
                text-align: center;
                font-size: 0.8rem;
                color: #000;
                transition: 0.2s linear;
            }
            &:hover {
                @media only screen and (min-width: 901px) {
                    i {
                        font-weight: bold;
                        transform: translateY(-50%) rotate(180deg);
                    }
                    .submenu {
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0);
                        pointer-events: unset;
                    }
                }
            }
        }
    }
    &__btn {
        display: none;
    }
    &__bg {
        display: none;
    }
}

.submenu {
    pointer-events: none;
    display: block;
    width: max-content;
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    color: #fff;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
    transform: translateX(2rem);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
    z-index: 10;
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1.2rem;
        background-color: transparent;
        top: -1.2rem;
    }
    li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        transition: 0.3s linear;
        a {
            display: block;
        }

        &:hover {
            @media only screen and (min-width: 901px) {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
    &:hover {
        @media only screen and (min-width: 901px) {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.social {
    display: flex;
    align-items: center;
    height: 100%;
    &__item {
        margin-right: 1.5rem;
        a {
            display: block;
            width: 2rem;
            height: 2rem;
            opacity: 0.4;
            transition: 0.2s linear;
            &:hover {
                @media only screen and (min-width: 901px) {
                    opacity: 1;
                }
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .header {
        &__right {
            > div {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0 1.5rem;
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
                &.menu {
                    padding: 0 1.5rem;
                }
            }
        }

        &__link {
            display: none;
        }
        &__btn {
            gap: 2rem;
        }
    }
    .menu {
        &__item {
            a {
                padding: 1rem;
            }
        }
    }
    .submenu {
        top: calc(100% + 1.7rem);

        &::before {
            height: 1.7rem;
            top: -1.7rem;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .header {
        &__btn {
            display: none;
        }
        &__right {
            > div {
                border-right: none;
                padding: 0;
                &.menu {
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .header {
        &__container {
            padding: 0.5rem 1.5rem;
        }
        &__left {
            width: 12rem;
        }
        &__right {
            width: calc(100% - 12rem);
            > div {
                height: auto;
            }
            .menu {
                height: calc(100vh - 6.7rem);
            }
        }
    }
    .menu {
        display: block;
        width: 30rem;
        height: calc(100vh - 6.8rem);
        top: 6.7rem;
        left: 0;
        position: absolute;
        z-index: 13;
        transform: translateX(-100%);
        transition: 0.5s linear;
        &.active {
            width: 100%;
            transform: translateX(0);
        }

        &__list {
            background-color: #fff;
            color: #000;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 30rem;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 13;
            margin: 0;
        }
        &__item {
            width: 100%;
            &.dropdown {
                padding-right: 4rem;
                i {
                    width: 4rem;
                    height: 4rem;
                    top: 2rem;
                    right: 0;
                    padding: 1rem;
                }
            }
            a {
                width: 100%;
                height: auto;
                padding: 1.5rem;
            }
        }
        &__btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1.5rem;
            position: relative;
            z-index: 13;
            cursor: pointer;

            .line {
                display: block;
                position: relative;
                width: 3rem;
                height: 0.2rem;
                background-color: #000;
                margin-bottom: 0.5rem;
                transition: 0.5s linear;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            &.active {
                .line:nth-of-type(1) {
                    transform: rotate(315deg) translate(-0.5rem, 0.6rem);
                }
                .line:nth-of-type(2) {
                    opacity: 0;
                    transform: translateX(1rem);
                }
                .line:nth-of-type(3) {
                    transform: rotate(45deg) translate(-0.4rem, -0.5rem);
                }
            }
        }
        &__bg {
            display: block;
            position: absolute;
            z-index: 12;
            top: 0;
            left: 0;
            width: 0;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            transition: 0.5s linear;
            &.active {
                width: 100vw;
            }
        }
        &__search {
            display: none;
        }
    }
    .submenu {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        background-color: #fff;
        color: #000;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s linear;
    }
}
