.news {
    &__ava {
        display: inline-block;
        width: 7rem;
        height: 7rem;
        border-radius: 9.9rem;
        overflow: hidden;
        float: left;
        margin-right: 1.5rem;
        position: relative;
        img {
            width: 100%;
        }
    }
    &__container {
        padding-bottom: 8rem;
    }
    .section__title {
        margin: 4.5rem 0;
    }
    &__list {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__item {
        width: 100%;
        display: flex;
        margin-bottom: 3rem;
    }
    &__img {
        width: calc(100% / 3);
        a {
            display: block;
            width: 100%;
            padding-top: 56%;
            position: relative;
            overflow: hidden;
        }
        img {
            transition: 0.3s linear;
            @include center-abs;
            width: 100%;
        }
        &:hover {
            @media only screen and (min-width: 901px) {
                img {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }
    &__content {
        width: calc(100% * 2 / 3);
        padding-left: 3rem;
    }
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: calc(24 / 16);
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                text-decoration: underline;
            }
        }
    }
    &__date {
        display: inline-block;
        width: max-content;
        font-weight: bold;
        margin: 0.5rem 0;
        margin-right: 1.5rem;
        color: #d3d5d7;
        text-transform: uppercase;
    }
    &__txt {
        line-height: calc(24 / 16);
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__tuyen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
    }
    &__info {
        text-transform: uppercase;
        .bold {
            font-weight: bold;
        }
    }
    &__btn {
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: underline;
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                color: #f6b92f;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .news {
        &__ava {
            width: 6rem;
            height: 6rem;
        }
        &__container {
            padding-bottom: 6rem;
        }
        .section__title {
            margin: 3rem 0;
        }

        &__txt {
            -webkit-line-clamp: 4;
        }
        &__tuyen {
            margin-top: 1.5rem;
        }
    }
}
@media only screen and (max-width: 768px) {
    .news {
        &__container {
            padding-bottom: 4rem;
        }

        &__img {
            width: calc(100% * 5 / 12);
        }
        &__content {
            width: calc(100% * 7 / 12);
            padding-left: 1.5rem;
        }
    }
}
@media only screen and (max-width: 500px) {
    .news {
        &__item {
            flex-direction: column;
        }

        &__img {
            width: 100%;
        }
        &__content {
            width: 100%;
            padding-left: 0;
            padding-top: 1.5rem;
        }
    }
}
