.year {
    &__container {
        position: absolute;
        top: 0;
        left: 1.5rem;
    }
    display: inline-block;
    padding: 1.5rem 1rem;
    font-weight: bold;
    color: #3e3935;
    transition: 0.2s linear;
    &.active {
        text-decoration: underline;
    }
    &:hover {
        @media only screen and (min-width: 901px) {
            color: #f6b92f;
        }
    }
}
@media only screen and (max-width: 900px) {
    .year {
        &__container {
            position: static;
        }
        padding: 1rem;
    }
}
