.guide{
    width: 100%;
    position: relative; 
    

    &__img{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 22.5rem;
        img{
            width: 100%;
            max-width: max-content;
        }
        .rocket{
            mix-blend-mode: lighten;
            width: max-content;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 5rem);
            z-index: 5;

            animation-name: flying;
            animation-timing-function: linear;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        .light{
            mix-blend-mode: color-dodge;
            width: max-content;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
        .star{
            width: max-content;
            mix-blend-mode: screen;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
    }

    &__list{
        width: 100%;
        display: flex;
        margin-top: 4rem;
        flex-wrap: wrap;
        position: relative;
        z-index: 5;
    }
    &__item{
        width: 50%;
        margin-bottom: 16rem;

        &:nth-of-type(even){
            .guide__content{
                float: right;
            }
        }
        &:nth-of-type(1){
            .guide__content{
                transform: translateX(100%);
            }
        }
        &:nth-of-type(2){
            .guide__content{
                transform: translateX(-100%);
            }
        }
    }

    &__content{
        width: 100%;
        text-align: center;
        display: block;
        max-width: 25rem;
        padding: 1.5rem;

    }
    &__title{
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $c-ora;
        display: block;
    }
    &__txt{
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    &__num{
        display: block;
        margin: 0 auto;
        padding-top: 1.7rem;
        position: relative;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 3.3rem;
        width: 7rem;
        height: 7rem;
        background-color: $c-ora;
        border-radius: 9.9rem;
        z-index: 4;

        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 9rem;
            height: 9rem;
            border-radius: 9.9rem;
            background-color: $c-ora;
            opacity: 0.4;
            top: -1rem;
            left: -1rem;
            z-index: -1;

            animation-name:  blink1;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 11rem;
            height: 11rem;
            border-radius: 9.9rem;
            background-color: $c-ora;
            opacity: 0.1;
            top: -2rem;
            left: -2rem;
            z-index: -1;
            animation-name:  blink2;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }

}
@keyframes blink1 {
    0%{ opacity: 0;}
    10%{ opacity: 0.1;}
    20%{ opacity: 0.2;}
    30%{ opacity: 0.3;}
    40%{ opacity: 0.4;}
    70%{ opacity: 0.3;}
    80%{ opacity: 0.2;}
    90%{ opacity: 0.1;}
    100%{ opacity: 0;}
}
@keyframes blink2 {
    0%{ opacity: 0.1;}
    33%{ opacity: 0.2;}
    66%{ opacity: 0.2;}
    100%{ opacity: 0.1;}
}
@keyframes flying{
    0% { transform: translate(-50%, 5rem);}
    5% { transform: translate(0%, -15rem) rotate(30deg);}

    10% { transform: translate(100%, -5rem) rotate(180deg);}

    15% { transform: translate(100%, 20rem) rotate(210deg);}

    20% { transform: translate(0%, 50rem) rotate(270deg);}

    25% { transform: translate(-200%, 30rem) rotate(360deg);}

    30% { transform: translate(-100%, 0rem) rotate(370deg);}

    35% { transform: translate(-75%, -15rem) rotate(360deg);}

    40% { transform: translate(-50%, -1.5rem) rotate(350deg);}

    50% { transform: translate(-50%, 6rem) rotate(365deg);}
    55% { transform: translate(-50%, 5.5rem) rotate(355deg);}


    100% { transform: translate(-50%, 5rem) rotate(360deg);}
}
@media only screen and (max-width: 1199px) {
    .guide{
        &__list{
            justify-content: space-between;
        }
        &__item{
            width: 50%;
            
            margin-bottom: 16rem;
            &:nth-of-type(even){
                .guide__content{
                    float: none;
                }
            }
            &:nth-of-type(1){
                order: 3;

                .guide__content{
                    transform: translateX(0);
                }
                    
            }
            &:nth-of-type(2){
                order: 4;
                .guide__content{
                    transform: translateX(0);
                    float: right;
                }
            }
            &:nth-of-type(3){
                order: 2;
                .guide__content{
                    float: right;
                }
            }
            &:nth-of-type(4){
                order: 5;
            }
            &:nth-of-type(5){
                order: 1;
            }
            &:nth-of-type(6){
                order: 6;
                .guide__content{
                    float: right;
                }
            }
            &:nth-of-type(even){

            }

        }
    }
}

@media only screen and (max-width: 600px) {
    .guide{
        &__item{
            width: 100%;
            margin-bottom: 3rem;
            &:last-of-type{
                margin-bottom: 0;
            }
            .guide__content{
                float: none!important;
            }
        }
        &__content{
            margin: 0 auto;
        }
    }
}