.link{
    display: block;
    position: fixed;
    bottom: 6rem;
    right:4rem;
    transform: translateX(15rem);
    opacity: 0;
    transition: 1s ease-out;
    z-index: 9;

    &.active{
        transform: translateX(0);
        opacity: 1;
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__item{
        display: block;
        padding: 1rem;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;
            height: 6rem;
            border-radius: 9.9rem;
            background-color:#00A9E8;
            box-shadow: 1rem 1rem 3rem rgba(0,0,0, 0.16);
            cursor: pointer;

            &:hover{
                img{
                    animation: shaking;
                    animation-duration: 0.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }

            img{
                display: block;
                width: 100%;
                max-width: max-content;
            }
        }
        &__red{
            a{
                background-color: #FF0000;
            }
        }
    }
}

@keyframes shaking {
    0%{transform: rotate(-10deg);}
    25%{transform: rotate(15deg);}
    50%{transform:rotate(-10deg);}
    75%{transform:rotate(15deg);}
    100%{transform: rotate(-10deg);}
}

@media only screen and (max-width: 1199px) {
    .link{
        bottom: 5rem;
        right: 1.5rem;

        &__item{
            padding: 1rem 0;
            a{
                width: 5rem;
                height: 5rem;
            }
        }
    }
    
}