@import url(./reset.css);
@import url(../assets/fonts/averta/stylesheet.css);



$c-ora: #FF9601;
$c-pur: #764193;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Averta';
    color: #fff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  input, select, button, textarea {
    outline: none;
    border: none;
  }
  
  img {
    width: 100%;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  
  li {
    list-style-type: none;
  }

::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #764193;
}

::-webkit-scrollbar-thumb{
    background-color: $c-ora;
}
::selection {
    background: $c-ora;
    color: $c-pur;
}

.section{
    width: 100%;
    padding: 10rem 0;
    position: relative;
}
.container{
    width:100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    position: relative;
    margin: 0 auto;
}
.main{
    overflow: hidden;
    z-index: 1;
    display: block;
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgba(55,24,83,1) 0%, rgba(118,65,147,1) 100%);
    &__bg{
      position: relative;
      width: 100%;
      height: 100%;
      img{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        object-fit: cover;
        width: max-content;

      }
      .bg1{
        animation-name: roll1;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count:  infinite;
      }
      .bg2{
        animation-name: roll2;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      .bg3{
        transform: translate(-50%, 90%);
      }

      z-index: 2;
    }
}

@keyframes roll1{
  0%{
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
  25%{
    transform: translate(-51%, -34%) rotate3d(1, 1, 0, -45deg);
  }
  75%{
    transform: translate(-46%, -29%) rotate3d(1, 1, 0, 40deg);
  }
  100%{
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
}
@keyframes roll2{
  0%{
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
  25%{
    transform: translate(-48%, -25%) rotate3d(1, 1, 0, 45deg);
  }
  75%{
    transform: translate(-53%, -31%) rotate3d(1, 1, 0, -40deg);
  }
  100%{
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
}
.section__title{
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: max-content;
  position: relative;

  &::after{
    content: "";
    display: block;
    width: 9.8rem;
    height: 0.2rem;
    background-color: $c-ora;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
  }

  &.center{
    margin: 0 auto;

    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
  }
}



.button{
  display: block;
  text-transform: uppercase;
  padding: 1.8rem;
  width: max-content;
  min-width: 26rem;
  text-align: center;
  border-radius: 9.9rem;
  background-color: $c-ora;
  transition: 0.3s linear;

  &:hover{
    color: #fff;
    box-shadow: 1rem 1rem 3rem rgba(0,0,0, 0.16);
    animation: coloring 1.5s linear 0s infinite forwards;
  }
}
@keyframes coloring{
  0%{ 
      background-color: $c-ora;
  }
  50%{ 
      background-color: $c-pur;
  }
  100%{
      background-color: $c-ora;
  }

}
@media only screen and (max-width: 900px) {
    .section{
      padding:  6rem 0;
    }
}

@media only screen and (max-width: 600px) {
  .section__title{
    font-size: 2rem;
  }
}




@import 'header.scss', 'link.scss', 'chat.scss';
@import 'banner.scss';
@import 'guide.scss';
@import 'grid.scss'; 
@import 'footer.scss'; 