@import url(./reset.css);
@import url(../assets/fonts/averta/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: "Averta";
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

input, select, button, textarea {
  outline: none;
  border: none;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #764193;
}

::-webkit-scrollbar-thumb {
  background-color: #FF9601;
}

::selection {
  background: #FF9601;
  color: #764193;
}

.section {
  width: 100%;
  padding: 10rem 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}

.main {
  overflow: hidden;
  z-index: 1;
  display: block;
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, #371853 0%, #754092 75%);
}
.main__bg {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main__bg img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  object-fit: cover;
  width: max-content;
}
.main__bg .bg1 {
  animation-name: roll1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.main__bg .bg2 {
  animation-name: roll2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.main__bg .bg3 {
  transform: translate(-50%, 90%);
}

@keyframes roll1 {
  0% {
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
  25% {
    transform: translate(-51%, -34%) rotate3d(1, 1, 0, -45deg);
  }
  75% {
    transform: translate(-46%, -29%) rotate3d(1, 1, 0, 40deg);
  }
  100% {
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
}
@keyframes roll2 {
  0% {
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
  25% {
    transform: translate(-48%, -25%) rotate3d(1, 1, 0, 45deg);
  }
  75% {
    transform: translate(-53%, -31%) rotate3d(1, 1, 0, -40deg);
  }
  100% {
    transform: translate(-50%, -30%) rotate3d(1, 1, 0, 0deg);
  }
}
.section__title {
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: max-content;
  position: relative;
}
.section__title::after {
  content: "";
  display: block;
  width: 9.8rem;
  height: 0.2rem;
  background-color: #FF9601;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}
.section__title.center {
  margin: 0 auto;
}
.section__title.center::after {
  left: 50%;
  transform: translateX(-50%);
}

.button {
  display: block;
  text-transform: uppercase;
  padding: 1.8rem;
  width: max-content;
  min-width: 26rem;
  text-align: center;
  border-radius: 9.9rem;
  background-color: #FF9601;
  transition: 0.3s linear;
}
.button:hover {
  color: #fff;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  animation: coloring 1.5s linear 0s infinite forwards;
}

@keyframes coloring {
  0% {
    background-color: #FF9601;
  }
  50% {
    background-color: #764193;
  }
  100% {
    background-color: #FF9601;
  }
}
@media only screen and (max-width: 900px) {
  .section {
    padding: 6rem 0;
  }
}
@media only screen and (max-width: 600px) {
  .section__title {
    font-size: 2rem;
  }
}
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.header__top {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__top__container {
  display: flex;
  justify-content: space-between;
}
.header__top__logo {
  display: block;
  min-width: max-content;
  background-color: #fff;
  padding: 2rem 3rem;
  transition: 0.5s linear;
}
.header__top__logo:hover {
  background-color: transparent;
}
.header__top__logo img {
  width: max-content;
}
.header__right {
  display: flex;
  align-items: center;
  width: 50%;
}
.header__right__item {
  display: flex;
}
.header__right__item > a {
  display: block;
  margin: 0 1rem;
  line-height: 2.1rem;
  font-size: 1.6rem;
  transition: 0.3s linear;
}
.header__right__item > a .header__top__title {
  display: block;
  font-weight: bold;
}
.header__right__item > a:hover {
  color: #FF9601;
}
.header__right__img {
  display: block;
  margin-left: 1rem;
}
.header__right .header__top__line {
  display: block;
  width: 0.2rem;
  height: 2.5rem;
  background-color: #fff;
  margin: 0 1rem;
}
.header__logo {
  padding: 0.5rem 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.header__bottom {
  width: 100%;
}
.header__bottom__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__menu {
  display: block;
}
.header__icon {
  display: block;
  margin-left: 8rem;
}
.header__small {
  background-color: #fff;
}
.header__small .header__top {
  display: none;
}
.header__small .header__bottom__container {
  justify-content: space-between;
  color: #764193;
}
.header__small .header__logo {
  display: block;
  opacity: 1;
  visibility: visible;
  min-width: max-content;
  transition: 0.3s linear;
}
.header__small .header__logo a {
  display: block;
}
.header__small .header__logo a img {
  display: block;
  height: 100%;
}
.header__small .submenu {
  background-color: #fff;
}
.header__small .submenu__btn {
  background-color: #764193;
}
.header__small .submenu__btn::after {
  background-color: #764193;
}
.header__small .submenu__btn.active {
  background-color: #764193;
}
.header__small .header__icon {
  margin: 0;
}
.header__small .icon__list li img:nth-of-type(1) {
  opacity: 0;
}
.header__small .icon__list li img:nth-of-type(2) {
  opacity: 1;
}

.menu__list {
  width: max-content;
  display: flex;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  z-index: 11;
}
.menu__list li {
  padding: 0 2.5rem;
  position: relative;
}
.menu__list li a {
  display: inline-block;
  padding: 1.5rem 0;
  position: relative;
  transition: 0.2s linear;
}
.menu__list li a:hover {
  color: #FF9601;
}
.menu__list li a:hover::after {
  width: 100%;
}
.menu__list li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: #FF9601;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s linear;
}
.menu__list li a:hover ~ .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.menu__list li a:hover ~ .submenu__btn {
  transform: rotate(270deg);
  background-color: #FF9601;
}
.menu__list li a:hover ~ .submenu__btn::after {
  opacity: 0;
}
.menu__list li.active a::after {
  width: 100%;
}
.menu__btn {
  display: none;
}
.menu__bg {
  display: none;
}

.submenu {
  display: block;
  width: max-content;
  position: absolute;
  top: calc(100% + 1.2rem);
  left: 2.5rem;
  background-color: #764193;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  transform: translateX(2rem);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}
.submenu::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.2rem;
  background-color: transparent;
  top: -1.2rem;
}
.submenu li a::after {
  display: none;
}
.submenu:hover {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.submenu__btn {
  display: inline-block;
  position: relative;
  top: 0rem;
  width: 0.15rem;
  height: 1rem;
  background-color: #fff;
  margin: 0 1rem;
  transition: 0.5s linear;
}
.submenu__btn::after {
  border: 0;
  content: "";
  display: block;
  width: 1rem;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s linear;
}
.submenu__btn.active {
  transform: rotate(270deg);
  background-color: #FF9601;
}
.submenu__btn.active::after {
  opacity: 0;
}
.submenu.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.icon__list {
  width: max-content;
  display: flex;
}
.icon__list li {
  padding: 0 0.5rem;
}
.icon__list li a {
  display: block;
  position: relative;
}
.icon__list li:last-of-type {
  padding-right: 0;
}
.icon__list li img {
  transition: 0.3s linear;
}
.icon__list li img:nth-of-type(2) {
  left: 0;
  position: absolute;
  opacity: 0;
}
.icon__list li img:nth-of-type(3) {
  left: 0;
  position: absolute;
  opacity: 0;
}
.icon__list li:hover img:nth-of-type(1) {
  opacity: 0;
}
.icon__list li:hover img:nth-of-type(2) {
  opacity: 0;
}
.icon__list li:hover img:nth-of-type(3) {
  opacity: 1;
}

@media only screen and (max-width: 1199px) {
  .header__top {
    display: none;
  }
  .header .header__bottom__container {
    justify-content: space-between;
  }
  .header__logo {
    display: block;
    opacity: 1;
    visibility: visible;
    float: left;
    min-width: max-content;
    transition: 0.3s linear;
  }
  .header__logo a {
    display: block;
  }
  .header__logo a img {
    display: block;
    height: 100%;
  }
  .header__icon {
    display: none;
  }

  .submenu__btn {
    cursor: pointer;
  }
}
@media only screen and (max-width: 900px) {
  .header__menu {
    display: block;
    width: 36rem;
    height: calc(100vh - 7.4rem);
    top: 7.4rem;
    left: 0;
    position: absolute;
    z-index: 11;
    transform: translateX(-100%);
    transition: 0.5s linear;
  }
  .header__menu.active {
    width: 100%;
    transform: translateX(0);
  }
  .header__bottom__container {
    background-color: #fff;
  }

  .menu__list {
    background-color: #fff;
    color: #764193;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 36rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 13;
  }
  .menu__btn {
    display: block;
    padding: 2rem;
    position: relative;
    z-index: 13;
    cursor: pointer;
  }
  .menu__btn .line {
    display: block;
    position: relative;
    width: 3rem;
    height: 0.3rem;
    background-color: #764193;
    margin-bottom: 0.5rem;
    transition: 0.5s linear;
  }
  .menu__btn.active .line:nth-of-type(1) {
    background-color: #FF9601;
    transform: rotate(315deg) translate(-0.7rem, 0.7rem);
  }
  .menu__btn.active .line:nth-of-type(2) {
    background-color: #FF9601;
    opacity: 0;
    transform: translateX(1rem);
  }
  .menu__btn.active .line:nth-of-type(3) {
    background-color: #FF9601;
    transform: rotate(45deg) translate(-0.4rem, -0.5rem);
  }
  .menu__bg {
    display: block;
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .submenu {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    background-color: #fff;
    transform: translateX(0);
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }
  .submenu.active {
    max-height: 50rem;
  }
  .submenu:hover {
    background-color: #fff;
  }
  .submenu__btn {
    background-color: #764193;
  }
  .submenu__btn::after {
    background-color: #764193;
  }
  .submenu__btn.active {
    background-color: #764193;
  }
}
.link {
  display: block;
  position: fixed;
  bottom: 6rem;
  right: 4rem;
  transform: translateX(15rem);
  opacity: 0;
  transition: 1s ease-out;
  z-index: 9;
}
.link.active {
  transform: translateX(0);
  opacity: 1;
}
.link__list {
  display: flex;
  flex-direction: column;
}
.link__item {
  display: block;
  padding: 1rem;
}
.link__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 9.9rem;
  background-color: #00A9E8;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.link__item a:hover img {
  animation: shaking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.link__item a img {
  display: block;
  width: 100%;
  max-width: max-content;
}
.link__item__red a {
  background-color: #FF0000;
}

@keyframes shaking {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@media only screen and (max-width: 1199px) {
  .link {
    bottom: 5rem;
    right: 1.5rem;
  }
  .link__item {
    padding: 1rem 0;
  }
  .link__item a {
    width: 5rem;
    height: 5rem;
  }
}
.chat {
  display: block;
  position: fixed;
  bottom: 0;
  right: 1.5rem;
  background-color: #035AA6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem 3rem;
  padding-left: 5rem;
  cursor: pointer;
  z-index: 9;
  transform: translateY(100%);
  transition: 0.5s linear;
}
.chat__icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}
.chat.active {
  transform: translateY(0);
}

.banner {
  background-image: url("../assets/images/hero_bg-2.png");
  background-position: top left;
  background-size: cover;
  width: 100%;
  position: relative;
}
.banner__blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, #371853 0%, rgba(118, 65, 147, 0.6) 50%, #764193 100%);
}
.banner__container {
  margin-top: 13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
.banner__left {
  width: calc(50% - 1.5rem);
  position: relative;
  z-index: 5;
}
.banner__right {
  width: calc(50% - 1.5rem);
  position: relative;
  z-index: 5;
}
.banner__search {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 8rem;
  position: relative;
  z-index: 5;
}
.banner__subtitle {
  display: block;
  width: max-content;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.7rem;
  margin: 1rem auto 2rem;
}
.banner__btn {
  width: max-content;
  margin: 0 auto;
}
.banner__btn a {
  display: inline-block;
  width: max-content;
  min-width: 25.7rem;
  padding: 2.5rem 5rem;
  padding-left: 7.5rem;
  border-radius: 9.9rem;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 2.1rem;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
  transition: 0.3s linear;
}
.banner__btn a:hover {
  color: #fff;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  animation: coloring 1.5s linear 0s infinite forwards;
}
.banner__btn img {
  position: absolute;
  width: max-content;
  top: 50%;
  left: 7rem;
  transform: translate(-100%, -50%);
}
.banner__app {
  width: max-content;
  margin: 0 auto;
}
.banner__app a {
  display: inline-block;
}
.banner__app a img {
  display: block;
  height: 100%;
  width: max-content;
}
.banner__txt {
  font-size: 2.5rem;
  line-height: 3.3rem;
  display: block;
  margin-bottom: 2rem;
}
.banner__title {
  display: block;
  font-size: 7rem;
  font-weight: bold;
  line-height: 9.4rem;
  margin-bottom: 2rem;
}
.banner__title .spanTxt {
  opacity: 0;
  transition: 0.5s linear;
}
.banner__title .fade {
  opacity: 1;
}

.search__container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  min-width: calc(117rem * 3 / 4 - 3rem);
  padding: 6.5rem 4rem;
  background: linear-gradient(0deg, #371853 0%, #764193 100%);
}
.search__left {
  position: relative;
  transform: translateX(calc(-100% / 3 - 1.5rem));
}
.search__right {
  position: relative;
  transform: translateX(calc(-100% / 3 + 1.5rem));
}
.search__title {
  font-size: 2.5rem;
  line-height: 3.3rem;
  font-weight: bold;
  color: #FF9601;
  text-transform: uppercase;
  align-self: center;
  margin-right: 1.5rem;
  min-width: max-content;
}
.search__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20%;
  max-width: max-content;
  padding: 1.6rem;
  padding-right: 3.7rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  appearance: none;
  background: url("../assets/images/Mask Group 86.png") right 2rem center/1rem no-repeat;
  background-color: #fff;
  cursor: pointer;
}
.search__input {
  display: block;
  margin: 0 0.5rem;
  width: 30%;
  justify-self: stretch;
  padding: 1.5rem 2rem;
  color: rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}
.search__input:focus {
  color: #000;
}
.search__btn {
  display: block;
  padding: 1.8rem 5.4rem 1.5rem;
  max-width: max-content;
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  transition: 0.3s linear;
  width: 20%;
}
.search__btn img {
  width: 2.3rem;
}
.search__btn:hover {
  background-color: #FF9601;
}

@media only screen and (max-width: 1770px) {
  .banner__search {
    display: block;
    padding-bottom: 0;
  }

  .search__container {
    padding: 4rem 2rem;
    border-radius: 1rem;
  }
  .search__left {
    transform: translate(0);
    margin-bottom: 1.5rem;
  }
  .search__right {
    transform: translate(0);
  }
  .search__input {
    width: 80%;
  }
}
@media only screen and (max-width: 1199px) {
  .banner__left {
    width: 100%;
    margin-bottom: 9rem;
    text-align: center;
  }
  .banner__left .button {
    margin: 0 auto;
  }
  .banner__right {
    width: calc(100%);
  }
  .banner__btn a {
    margin-bottom: 1.5rem;
  }

  .search__container {
    padding: 4rem 2rem;
    border-radius: 1rem;
  }
  .search__input {
    width: 100%;
  }
  .search__left {
    transform: translate(0);
    margin-bottom: 1.5rem;
  }
  .search__right {
    transform: translate(0);
  }
}
@media only screen and (max-width: 900px) {
  .search__container {
    min-width: 0;
    padding: 1.5rem;
    flex-wrap: wrap;
  }
  .search__title {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .search__input {
    width: calc(100% - 23.5rem);
  }
  .search__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: max-content;
    padding: 1rem;
    padding-right: 3rem;
    background: url("../assets/images/Mask Group 86.png") right 1rem center/1rem no-repeat;
    background-color: #fff;
  }
  .search__btn {
    width: max-content;
    padding: 1rem 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .banner__container {
    padding-bottom: 0;
  }
  .banner__title {
    font-size: 5.5rem;
    line-height: 6.4rem;
    margin-bottom: 5rem;
  }
  .banner__left {
    margin-bottom: 9rem;
  }
  .banner__txt {
    font-size: 2rem;
  }
  .banner__btn a {
    font-size: 1.4rem;
    padding: 1.5rem 4rem;
    padding-left: 6.5rem;
    display: block;
  }
  .banner__btn img {
    left: 6rem;
  }
  .banner__app a {
    display: block;
    margin-bottom: 1.5rem;
  }

  .search__btn {
    padding: 1rem 2rem;
  }
  .search__input {
    width: calc(100% - 19.5rem);
  }
}
.guide {
  width: 100%;
  position: relative;
}
.guide__img {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 22.5rem;
}
.guide__img img {
  width: 100%;
  max-width: max-content;
}
.guide__img .rocket {
  mix-blend-mode: lighten;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5rem);
  z-index: 5;
  animation-name: flying;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.guide__img .light {
  mix-blend-mode: color-dodge;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.guide__img .star {
  width: max-content;
  mix-blend-mode: screen;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.guide__list {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.guide__item {
  width: 50%;
  margin-bottom: 16rem;
}
.guide__item:nth-of-type(even) .guide__content {
  float: right;
}
.guide__item:nth-of-type(1) .guide__content {
  transform: translateX(100%);
}
.guide__item:nth-of-type(2) .guide__content {
  transform: translateX(-100%);
}
.guide__content {
  width: 100%;
  text-align: center;
  display: block;
  max-width: 25rem;
  padding: 1.5rem;
}
.guide__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FF9601;
  display: block;
}
.guide__txt {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
.guide__num {
  display: block;
  margin: 0 auto;
  padding-top: 1.7rem;
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.3rem;
  width: 7rem;
  height: 7rem;
  background-color: #FF9601;
  border-radius: 9.9rem;
  z-index: 4;
}
.guide__num::after {
  content: "";
  display: block;
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 9.9rem;
  background-color: #FF9601;
  opacity: 0.4;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  animation-name: blink1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.guide__num::before {
  content: "";
  display: block;
  position: absolute;
  width: 11rem;
  height: 11rem;
  border-radius: 9.9rem;
  background-color: #FF9601;
  opacity: 0.1;
  top: -2rem;
  left: -2rem;
  z-index: -1;
  animation-name: blink2;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink2 {
  0% {
    opacity: 0.1;
  }
  33% {
    opacity: 0.2;
  }
  66% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes flying {
  0% {
    transform: translate(-50%, 5rem);
  }
  5% {
    transform: translate(0%, -15rem) rotate(30deg);
  }
  10% {
    transform: translate(100%, -5rem) rotate(180deg);
  }
  15% {
    transform: translate(100%, 20rem) rotate(210deg);
  }
  20% {
    transform: translate(0%, 50rem) rotate(270deg);
  }
  25% {
    transform: translate(-200%, 30rem) rotate(360deg);
  }
  30% {
    transform: translate(-100%, 0rem) rotate(370deg);
  }
  35% {
    transform: translate(-75%, -15rem) rotate(360deg);
  }
  40% {
    transform: translate(-50%, -1.5rem) rotate(350deg);
  }
  50% {
    transform: translate(-50%, 6rem) rotate(365deg);
  }
  55% {
    transform: translate(-50%, 5.5rem) rotate(355deg);
  }
  100% {
    transform: translate(-50%, 5rem) rotate(360deg);
  }
}
@media only screen and (max-width: 1199px) {
  .guide__list {
    justify-content: space-between;
  }
  .guide__item {
    width: 50%;
    margin-bottom: 16rem;
  }
  .guide__item:nth-of-type(even) .guide__content {
    float: none;
  }
  .guide__item:nth-of-type(1) {
    order: 3;
  }
  .guide__item:nth-of-type(1) .guide__content {
    transform: translateX(0);
  }
  .guide__item:nth-of-type(2) {
    order: 4;
  }
  .guide__item:nth-of-type(2) .guide__content {
    transform: translateX(0);
    float: right;
  }
  .guide__item:nth-of-type(3) {
    order: 2;
  }
  .guide__item:nth-of-type(3) .guide__content {
    float: right;
  }
  .guide__item:nth-of-type(4) {
    order: 5;
  }
  .guide__item:nth-of-type(5) {
    order: 1;
  }
  .guide__item:nth-of-type(6) {
    order: 6;
  }
  .guide__item:nth-of-type(6) .guide__content {
    float: right;
  }
}
@media only screen and (max-width: 600px) {
  .guide__item {
    width: 100%;
    margin-bottom: 3rem;
  }
  .guide__item:last-of-type {
    margin-bottom: 0;
  }
  .guide__item .guide__content {
    float: none !important;
  }
  .guide__content {
    margin: 0 auto;
  }
}
.grid__section {
  padding-top: 0;
  position: relative;
  z-index: 5;
}
.grid__section .container {
  padding: 0;
}
.grid__section .section__title {
  margin-bottom: 5.5rem;
}
.grid__section .section__title:not(.center) {
  margin-left: 1.5rem;
}
.grid .slick-track {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.grid__item {
  width: 100%;
  position: relative;
  align-self: stretch;
  height: auto;
  margin: 0 1.5rem;
  background-color: #fff;
  box-shadow: 0.6rem 0.6rem 1.3rem rgba(0, 0, 0, 0.16);
  color: #000;
  outline: none;
  overflow: hidden;
}
.grid__item::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-top: 4rem solid transparent;
  border-right: 4rem solid #FF9601;
  bottom: 0;
  right: 0;
  transition: 0.6s linear;
  z-index: 1;
}
.grid__item:hover {
  color: #fff;
}
.grid__item:hover .grid__txt {
  color: #fff;
}
.grid__item:hover .grid__txt {
  color: #fff;
}
.grid__item:hover .grid__link {
  color: #fff;
}
.grid__item:hover .grid__link:hover {
  color: #FF9601;
}
.grid__item:hover::after {
  width: 100%;
  border-right: 100rem solid #764193;
  border-top: 100rem solid #fff;
}
.grid__img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
}
.grid__img a {
  outline: none;
}
.grid__img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid__content {
  padding: 1.3rem 2rem;
  position: relative;
  transition: 0.3s linear;
  z-index: 3;
}
.grid__title {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: bold;
  outline: none;
  display: block;
  margin-bottom: 1.3rem;
  transition: 0.3s linear;
}
.grid__title:hover {
  color: #FF9601;
}
.grid__txt {
  display: block;
  margin-bottom: 3rem;
  color: #1F1C1D;
}
.grid__icon {
  padding-left: 7rem;
}
.grid__icon .icon {
  display: block;
  overflow: hidden;
  width: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.1rem;
  overflow: hidden;
}
.grid__icon .icon img {
  width: 2.5rem;
  position: relative;
  z-index: 5;
}
.grid__icon .icon::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: 8rem solid #FF9601;
  border-bottom: 20rem solid transparent;
  position: absolute;
  top: -6px;
  right: -1px;
  z-index: 3;
}
.grid__link {
  display: block;
  width: max-content;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: #FF9601;
  position: relative;
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.3s linear;
  outline: none;
}

.footer {
  width: 100%;
  background-color: #fff;
  color: #000;
}
.footer__container {
  display: flex;
  width: 100%;
  padding: 8rem 1.5rem;
}
.footer__list__container {
  width: 25%;
  margin: 0 1.5rem;
}
.footer__list__container:first-of-type {
  margin-left: 0;
}
.footer__list__container:last-of-type {
  margin-right: 0;
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__list__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #FF9601;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer__list li {
  width: 100%;
  position: relative;
  padding: 1rem 0;
  padding-right: 1rem;
}
.footer__list li a {
  display: block;
  transition: 0.3s linear;
}
.footer__list li:hover {
  color: #FF9601;
}
.footer__list li:hover .footer__list__icon img {
  animation: moving 1s linear 0s infinite;
}
.footer__list li:hover .footer__list__icon img:nth-of-type(1) {
  opacity: 0;
}
.footer__list li:hover .footer__list__icon img:nth-of-type(2) {
  opacity: 1;
}
.footer__list li .footer__list__icon {
  position: absolute;
  height: max-content;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footer__list li .footer__list__icon img {
  display: block;
  height: 100%;
  width: max-content;
  transition: 0.3s linear;
}
.footer__list li .footer__list__icon img:nth-of-type(2) {
  position: absolute;
  top: 0;
  opacity: 0;
}
.footer__logo {
  margin-bottom: 2.5rem;
}
.footer__logo img {
  max-width: max-content;
}
.footer__item {
  width: 100%;
  margin-bottom: 1rem;
}
.footer__item:last-of-type {
  margin-bottom: 0;
}
.footer__item .bold {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.footer__icon {
  flex-direction: row;
  justify-content: flex-start;
}
.footer__icon li {
  width: max-content;
  padding-right: 2rem;
}
.footer__icon li a {
  display: block;
  position: relative;
}
.footer__icon li:hover img:nth-of-type(1) {
  opacity: 0;
}
.footer__icon li:hover img:nth-of-type(2) {
  opacity: 1;
}
.footer__icon li img {
  display: block;
  transition: 0.3s linear;
}
.footer__icon li img:nth-of-type(2) {
  width: max-content;
  position: absolute;
  top: 0;
  opacity: 0;
}
.footer__copyright {
  font-weight: 600;
  background-color: #371853;
  color: #fff;
}
.footer__copyright a {
  display: block;
  width: max-content;
  padding: 1rem;
  margin: 0 auto;
  transition: 0.3s linear;
}
.footer__copyright a:hover {
  color: #FF9601;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 900px) {
  .footer__container {
    padding: 4rem 1.5rem;
    flex-wrap: wrap;
  }
  .footer__list__container {
    width: calc(50% - 1.5rem);
  }
  .footer__list__container:nth-of-type(even) {
    margin-right: 0;
  }
  .footer__list__container:nth-of-type(odd) {
    margin-left: 0;
  }
  .footer__list__container:nth-of-type(2) {
    order: 4;
  }
  .footer__list__container:nth-of-type(3) {
    order: 3;
  }
  .footer__list__container:nth-of-type(4) {
    order: 2;
  }
}
@media only screen and (max-width: 600px) {
  .footer__list__container {
    width: 100%;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
