@import url('../assets/fonts/averta/stylesheet.css');

@import url('../js/libs/aos/aos.css');
@import url('../js/libs/fontawesome/css/all.css');
@import url('../js/libs/magnific/magnific-popup.css');
@import url('../js/libs/swiper/swiper-bundle.min.css');

// core //
@import './core/reset';
@import './core/var-mix';
@import './core/mona';
@import './core/animation';
@import './core/font';

// style //
:root {
  --animate-duration: 0.8s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include fz-16;
  line-height: calc(24 / 16);
  font-family: 'Averta', sans-serif;
  color: #000;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
button,
textarea {
  outline: none;
  border: none;
  font-family: 'Averta', sans-serif;
  @include fz-16;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.rs__form {
  -webkit-appearance: none;
  appearance: none;
}
img {
  display: block;
  max-width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: $c-primary;
}
::selection {
  background: $c-primary;
  color: #fff;
}
.no-scroll,
.no-scroll-pop {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}
.realPRL {
  pointer-events: auto !important;
}
.section {
  width: 100%;
  padding: 10rem 0;
  position: relative;
  &-80 {
    padding: 8rem 0;
  }
  &-70 {
    padding: 7rem 0;
  }
  &-60 {
    padding: 6rem 0;
  }
}
.container__big {
  width: 100%;
  max-width: 144rem;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}

.overflow {
  max-width: 100%;
  overflow: hidden;
}
.page__title {
  @include fz-60;
  font-weight: bold;
  line-height: calc(8 / 6);
  .bold {
    font-weight: 900;
  }
}
.section__title {
  display: inline-block;
  @include fz-40;
  line-height: calc(53 / 40);
  font-weight: bold;
  position: relative;
  .thin {
    font-weight: 400;
  }
}
.section__subtitle {
  @include fz-25;
  font-weight: bold;
  display: block;
  margin: 2.5rem 0;
}
.txt {
  opacity: 0.7;
  transition: 0.3s linear;
  margin: 3rem 0;
  line-height: calc(24 / 16);
  .red {
    color: $c-secondary;
  }
}

.button {
  position: relative;
  display: block;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  background-color: $c-primary;
  transition: 0.3s linear;
  border-radius: 99px;
  cursor: pointer;
  padding: 1.5rem 4.7rem;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  &.red {
    background-color: $c-secondary;
    &::after {
      background-color: $c-primary;
      color: $c-primary;
    }
  }

  &::after {
    content: attr(hover);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $c-secondary;
    color: $c-secondary;
    position: absolute;
    left: 50%;
    top: 0;
    transition: color 0.8s ease, transform 0.5s ease;
    transform: translate(-50%, 100%);
    z-index: 1;
  }
  &:hover {
    @media only screen and(min-width: 901px) {
      &::after {
        transform: translate(-50%, 0%);
        color: #fff;
      }
    }
  }
  &:disabled {
    background-color: rgb(94, 94, 94);
    color: #000;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 1200px) {
  .button {
    padding: 1.5rem 3rem;
  }
}
@media only screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: block;
    width: 2px;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  .section__title-40 {
    font-weight: bold;
  }
}
@media only screen and (max-width: 900px) {
  .section {
    padding: 6rem 0;
    &-80 {
      padding: 5rem 0;
    }
    &-70 {
      padding: 4rem 0;
    }
    &__title {
      margin-bottom: 2rem;
    }
    &__subtitle {
      margin-bottom: 1rem;
    }
  }
  .txt {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
}

// component //
@import './components/footer';
@import './components/intro';
@import './components/simp';
@import './components/contact';
@import './components/form';
@import './components/video';
@import './components/about';
@import './components/banner';
@import './components/swiper';
@import './components/backtotop';
@import './components/header';
@import './components/phone';
@import './components/simpopup';
@import './components/ques';
