.about {
  padding: 18rem 0;

  .section__title {
    display: block;
    text-align: center;
    margin: 0 auto 2.5rem;
  }
  .txt {
    @include fz-20;
    margin: 0 auto;
    text-align: center;
  }
  &__prl {
    background-image: url('../assets/images/ab-bg.png');
    background-size: contain;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 7rem;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    &:hover {
      @media only screen and(min-width: 901px) {
        .about {
          &__phone {
            transform: translate3d(0, 0, 25px);
            box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
          }
          &__content__wrap {
            transform: translate3d(-50%, -50%, 50px);
          }
          &__icon {
            transform: translate3d(-50%, -50%, 75px);
            box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
          }
          &__content {
            &:nth-child(even) {
              .about__icon {
                transform: translate3d(50%, -50%, 75px);
                box-shadow: -1rem 1rem 3rem rgba(0, 0, 0, 0.16);
              }
            }
          }
        }
      }
    }
  }
  &__content {
    &__wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      transform: translate3d(-50%, -50%, 0);
      z-index: 2;
      transition: 0.3s ease;
    }
    opacity: 0;
    padding: 2rem;
    border-radius: 16px;
    width: 40rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
    text-align: right;
    position: relative;
    left: 50%;
    z-index: 3;
    background-color: #fff;
    transform: translate(calc(-200% - 1.5rem), 50%);

    &:nth-child(even) {
      text-align: left;
      background-color: $c-primary;
      transform: translate(100%, calc(50% - 3rem));
      .about__icon {
        left: unset;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
  &__title {
    @include fz-20;
    font-weight: bold;
    margin-bottom: 1.5rem;
    transition: 0.2s ease;
    position: relative;
  }
  &__icon {
    display: block;
    width: 36%;
    padding-bottom: 36%;
    border-radius: 9.9rem;
    background-color: #f6faec;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translate3d(-50%, -50%, 0);
    transition: 0.3s ease;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% / 3);
    }
  }
  &__txt {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 0.2s ease;
    position: relative;
  }
  &__phone {
    position: relative;
    width: max-content;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 0.3s ease;
    border-radius: 40px;
    opacity: 0;
  }
  &__chat {
    position: absolute;
    width: max-content;
    max-width: calc(100% - 7rem);
    left: 50%;
    top: 70%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
}
.aos-animate {
  .about__phone {
    opacity: 1;
  }
  .about__content {
    transform: translate(calc(-100% - 1.5rem), 50%);
    opacity: 1;
    transition: 1.2s ease;
    &:nth-child(1) {
      transition-delay: 1.2s;
    }
    &:nth-child(even) {
      transition-delay: 1.5s;
      transform: translate(1.5rem, calc(50% - 3rem));
    }
    &:nth-child(3) {
      transition-delay: 1.8s;
    }
  }

  .about__chat {
    transition: 1s ease;
  }
  .chat {
    &1 {
      top: 7rem;
      transform: translateX(-50%) scale(1);
      opacity: 1;
      transition-delay: 0.6s;
    }

    &2 {
      top: 14rem;
      transform: translateX(-50%) scale(1);
      opacity: 1;
      transition-delay: 0.9s;
    }
    &3 {
      top: 21rem;
      transform: translateX(-50%) scale(1);
      opacity: 1;
      transition-delay: 1.2s;
    }
    &4 {
      top: 29rem;
      transform: translateX(-50%) scale(1);
      opacity: 1;
      transition-delay: 1.5s;
    }
  }
  .dot {
    transform: translate(-50%, -3rem) scale(1);
    opacity: 1;
    transition-delay: 1.8s;
  }
}
@media only screen and (max-width: 1024px) {
  .about {
    padding: 10rem 0;
    &__icon {
      width: 10rem;
      padding-bottom: 10rem;
    }
    &__content {
      width: 300px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 6rem 0;
    &__content {
      width: 160%;
    }
  }
  .aos-animate {
    .about__content {
      transform: translate(calc(-45% - 1.5rem), 0%);
      margin: 4rem 0;
      &:nth-child(even) {
        transform: translate(calc(-45% - 1.5rem), 0%);
      }
    }
  }
}
