.info {
  width: 100%;
  padding: 0;
}
.info__container {
  width: 100%;
  display: flex;
}
.info__item {
  display: flex;
  padding: 8rem 6rem 15rem;
  justify-content: space-between;
}
.info__item:nth-of-type(1) {
  background-color: #118DF0;
  color: #fff;
}
.info__item:nth-of-type(2) {
  background-color: #0E2F56;
  color: #fff;
}
.info__item:nth-of-type(3) {
  background-color: #F2F4F6;
}
.info__img {
  width: 5rem;
}
.info__img img {
  width: 100%;
}
.info__txt {
  display: block;
  width: calc(100% - 9rem);
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.info__title {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2.7rem;
}

.about {
  z-index: 6;
  width: 100%;
  transform: translateY(-17.5rem);
  margin-bottom: -17.5rem;
  padding-bottom: 25rem;
  position: relative;
}
.about__img {
  width: 100%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.16);
  margin-bottom: 2.6rem;
}
.about__img img {
  max-width: 117rem;
}
.about__title {
  display: block;
  margin-bottom: 2.5rem;
}
.about__content {
  width: 100%;
  display: flex;
}
.about__left {
  width: 25%;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-line-clamp: 5;
  opacity: 0.7;
  padding-right: 3rem;
}
.about__right {
  width: 75%;
}
.about__txt {
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  opacity: 0.7;
}
.about__sign {
  margin-top: 1rem;
  text-align: right;
  color: #118DF0;
}
.about__sign__name {
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0E2F56;
}
.about__profile {
  color: #fff;
  width: 100%;
  background-color: #118DF0;
  padding: 5.5rem 4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(50% + 25rem));
  display: flex;
  align-items: center;
}

.profile__left {
  width: 50%;
  padding: 3rem;
}
.profile__left__txt {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.7rem;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.profile__right {
  width: 50%;
  padding: 3rem;
}
.profile__right__txt {
  line-height: 2.4rem;
  display: block;
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}
.profile__right__txt a {
  font-weight: bold;
  text-decoration: underline;
}
.profile__right__txt a:nth-of-type(1) {
  text-decoration: none;
}
.profile__btn {
  color: #118DF0;
  background-color: #fff;
  padding: 1.3rem 2.8rem;
}

.history {
  z-index: 5;
  width: 100%;
  color: #fff;
  padding: 0;
  position: relative;
}
.history__title {
  position: absolute;
  display: block;
  left: 0;
  bottom: 10rem;
}
.history__year {
  position: absolute;
  display: block;
  width: 100%;
  transform: translateY(-100%);
  background-color: rgba(14, 47, 86, 0.7);
}

.year__list {
  width: 100%;
  padding: 1.8rem 0;
  font-weight: bold;
  font-size: 1.8rem;
}
.year__list li {
  width: calc(100% * 1 / 6);
}

.history__txt {
  width: 100%;
  background-color: #F2F4F6;
  color: #0E2F56;
  padding: 3.1rem 0 7.5rem;
}

.txt__list {
  padding: 1.5rem;
  margin: -1.5rem;
}
.txt__list li {
  width: calc(100% * 1 / 6);
}
.txt__list__item {
  -webkit-line-clamp: 5;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-right: 3rem;
}

@media only screen and (max-width: 1170px) {
  .info__item {
    padding: 5rem 3rem;
  }

  .about {
    transform: none;
    margin-bottom: 0;
    padding-bottom: 9rem;
  }
  .about__profile {
    position: relative;
    transform: translateY(0);
    margin-top: 9rem;
  }

  .history__title {
    left: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .info {
    overflow-x: scroll;
  }
  .info__container {
    flex-wrap: wrap;
  }
  .info__item {
    width: 100%;
    padding: 5rem 3rem;
  }

  .about {
    transform: none;
    margin-bottom: 0;
    padding-bottom: 9rem;
  }
  .about__profile {
    position: relative;
    transform: translateY(0);
    margin-top: 9rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
  }
  .about__title {
    text-align: center;
  }
  .about__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__left {
    width: 90%;
  }
  .about__right {
    width: 90%;
  }

  .profile__left {
    width: 90%;
  }
  .profile__right {
    width: 90%;
    text-align: center;
    padding: 0;
  }
  .profile__btn {
    margin: 0 auto;
    padding: 1.3rem;
  }

  .history__year {
    width: 100%;
    overflow-x: hidden;
  }

  .year__list {
    width: 300vw;
    transition: linear;
    animation-name: autoShow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    padding: 1.8rem 1.5rem;
  }
  .year__list li {
    width: 50vw;
  }

  .history__txt {
    overflow-x: hidden;
  }

  .txt__list {
    width: 300vw;
    overflow-x: hidden;
    transition: linear;
    animation-name: autoShow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  .txt__list li {
    width: 50vw;
  }
  .txt__list__item {
    white-space: unset;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding: 1.5rem;
    margin-right: 0rem;
  }
}
@keyframes autoShow {
  0% {
    transform: translateX(0%);
  }
  5% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-50vw);
  }
  25% {
    transform: translateX(-50vw);
  }
  45% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-100vw);
  }
  70% {
    transform: translateX(-150vw);
  }
  75% {
    transform: translateX(-150vw);
  }
  95% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-200vw);
  }
}

/*# sourceMappingURL=about.css.map */
