$c-dark : #0E2F56;
$c-light : #118DF0;

.info{
    width: 100%;
    padding: 0;

    &__container{
        width: 100%;
        display: flex;
    }

    &__item{
        display: flex;
        padding: 8rem 6rem 15rem;
        justify-content: space-between;

        &:nth-of-type(1){
            background-color: $c-light;
            color: #fff;
        }
        &:nth-of-type(2){
            background-color: $c-dark;
            color: #fff;
        }
        &:nth-of-type(3){
            background-color: #F2F4F6;
        }
    }
    &__img{
        width: 5rem;
        img{
            width: 100%;
        }
    }
    &__txt{
        display: block;
        width: calc(100% - 9rem);
        white-space: pre-wrap; 
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    &__title{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-size: 2rem;
        line-height: 2.7rem;
    }
}

.about{
    z-index: 6;
    width: 100%;
    transform: translateY(-17.5rem);
    margin-bottom: -17.5rem;
    padding-bottom: 25rem;
    position: relative;
    &__img{
        width: 100%;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, 0.16);
        margin-bottom: 2.6rem;
        img{
            max-width: 117rem;
        }
    }
    &__title{
        display: block;
        margin-bottom: 2.5rem;
    }
    &__content{
        width: 100%;
        display: flex;
    }
    &__left{
        width: 25%;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-line-clamp: 5;
        opacity: 0.7;
        padding-right: 3rem;
    }
    &__right{
        width: 75%;

    }
    &__txt{
        white-space: pre-wrap; 
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 11;
        opacity: 0.7;
    }
    &__sign{
        margin-top: 1rem;
        text-align: right;
        color: $c-light;
        &__name{
            margin-top: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $c-dark;
        }
    }

    &__profile{
        color: #fff;
        width: 100%;
        background-color: $c-light;
        padding: 5.5rem 4rem;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(calc(50% + 25rem));
        display: flex;
        align-items: center;
    }
}
.profile{
    &__left{
        width: 50%;
        padding: 3rem;

        &__txt{
            font-size: 2rem;
            font-weight: bold;
            line-height: 2.7rem;
            -webkit-line-clamp: 2;
            white-space: pre-wrap; 
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
    }
    &__right{
        width: 50%;
        padding: 3rem;

        &__txt{
            line-height: 2.4rem;
            display: block;
            margin-bottom: 1.5rem;
            white-space: pre-wrap; 
            a{
                font-weight: bold;
                text-decoration: underline;
                &:nth-of-type(1){
                    text-decoration: none;
                }
            }
        }
    }

    &__btn{
        color: $c-light;
        background-color: #fff;
        padding: 1.3rem 2.8rem;
    }
}

.history{
    z-index: 5;
    width: 100%;
    color: #fff;
    padding: 0;
    position: relative;

    &__title{
        position: absolute;
        display: block;
        left: 0;
        bottom: 10rem;
    }
    &__year{
        position: absolute;
        display: block;
        width: 100%;
        transform: translateY(-100%);
        background-color: rgba(14,47,86, 0.7);
    }
}
.year__list{
    width: 100%;
    padding: 1.8rem 0;
    font-weight: bold;
    font-size: 1.8rem;
    li{
        width: calc(100% * 1 / 6);
    }
}
.history__txt{
    width: 100%;
    background-color: #F2F4F6;
    color: $c-dark;
    padding: 3.1rem 0 7.5rem;
}
.txt__list{
    padding: 1.5rem;
    margin: -1.5rem;

    li{
        width:calc(100% * 1 / 6);
    }
    &__item{
        -webkit-line-clamp: 5;
        white-space: pre-wrap; 
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 1170px){
    .info{
        &__item{
            padding: 5rem 3rem;
        }
    }
    .about{
        transform: none;
        margin-bottom: 0;
        padding-bottom: 9rem;

        &__profile{
            position: relative;
            transform: translateY(0);
            margin-top: 9rem;
        }
    }
    .history__title{
        left: 1.5rem;   
    }
}

@media only screen and (max-width: 768px){
    .info{
        overflow-x: scroll;
        &__container{
            flex-wrap: wrap;
        }
        &__item{
            width: 100%;
            padding: 5rem 3rem;
        }
    }
    .about{
        transform: none;
        margin-bottom: 0;
        padding-bottom: 9rem;

        &__profile{
            position: relative;
            transform: translateY(0);
            margin-top: 9rem;
            flex-wrap: wrap;
            justify-content: center;
            padding: 3rem 0;
        }
        &__title{
            text-align: center;
        }
        &__content{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__left{
            width: 90%;
        }
        &__right{
            width: 90%;
        }
    }

    .profile{
        &__left{
            width: 90%;
        }
        &__right{
            width: 90%;
            text-align: center;
            padding: 0
        }
        &__btn{
            margin: 0 auto;
            padding: 1.3rem;
        }
    }
    .history__year{
        width: 100%;
        overflow-x: hidden;
    }
    .year__list{
        width: 300vw;
        transition: linear;
        animation-name: autoShow;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        padding: 1.8rem 1.5rem;
        li{
            width: 50vw;
        }
    }
    .history__txt{
        overflow-x: hidden ;
    }
    .txt__list{
        width: 300vw;
        overflow-x: hidden;
        transition: linear;
        animation-name: autoShow;
        animation-duration: 20s;
        animation-iteration-count: infinite;

        li{
            width: 50vw;
        }
        &__item{
            white-space: unset; 
            -webkit-line-clamp: 6;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            padding: 1.5rem;
            margin-right: 0rem;
        }
    }

    
}
@keyframes autoShow {
    0% {
        transform: translateX(0%);
    }
    5% {
      transform: translateX(0%);
    }
    20% {
        transform: translateX(-50vw);
    }
    25% {
        transform: translateX(-50vw);
    }
    45% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-100vw);
    }
    70% {
        transform: translateX(-150vw);
    }
    75% {
        transform: translateX(-150vw);
    }
    95% {
        transform: translateX(-200vw);
    }
    100% {
        transform: translateX(-200vw);
    }
}