$c-dark : #0E2F56;
$c-light : #118DF0;
.header{

    .header__logo{
        
        img{
            opacity: 1;
            display: block;
        }
        img:nth-of-type(2){
            opacity: 0;
            display: none;
        }
    }

    .header__phone{
        img{
            opacity: 1;
            display: block;
        }
        img:nth-of-type(2){
            opacity: 0;
            display: none;
        }
    }
}
.header__home{
    background-color: transparent;
    color: #fff;
    .header__logo{
        img{
            opacity: 0;
            display: none;
        }
        img:nth-of-type(2){
            opacity: 1;
            display: block;
        }
    }
    .header__list{
        > li:hover{
            color: $c-dark;
        }
    }
    .header__phone{
        img{
            opacity: 0;
            display: none;
        }
        img:nth-of-type(2){
            opacity: 1;
            display: block;
        }
        a{
            color: #fff;
            &:hover{
                color: $c-dark;
              }
        }
        &__title{
            color: #fff;
        }
        &::before{
            background-color: #fff;
        }
    }
    .header__lang{
        color: $c-dark;
    }
    .lang__set{
        background-color: #fff;

        &::after{
            background-image: url('../assets/images/Mask\ Group\ 1.1.png');
          }
    }
}
.main__home{
    padding-top: 0;
}


///////// slick custom//////////
.slick-dots{
    position: absolute;
    bottom: 4rem;
}
.slick-arrow{
    display: none!important;
}
.slick-track{
    height: max-content!important;
}
.slick-dots li.slick-active button:before {
    color: #fff!important;
}
.slick-dots li:hover button:before{
    color: #fff;
}
.slick-dotted.slick-slider {
    margin-bottom: -0.1rem;
}


///////// slick custom//////////

.banner{
    width: 100%;
    padding: 0;
}
.banner__slide{
    display: block;
    width: 100%;

}
.banner__item{
    width: 100%;
    img{
        max-width: 100%;
        min-width: 117rem;
    }
}
.banner__content{
    display: block;
    width: calc(100% * 7 / 12);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10rem 3.4rem;
    color: #fff;
    &::after{
        content: "";
        display: block;
        width: 0.1rem;
        height: 37rem;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 10rem;
    }


    &__bold{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 2.7rem;
        margin-bottom: 0.8rem;
        display: block;



    }
    &__title{
        font-size: 6rem;
        font-weight: lighter;
        line-height: 8rem;
        white-space: pre-line;

        display: block;
        margin-bottom: 1.6rem;

    }
    &__btn{
        background-color: #fff;
        color: $c-light;
        padding: 0.9rem 4.3rem;
    }
}


.info{
    display: block;
    width: 100%;
    padding: 0;
    background-color: $c-dark;
    &::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
	height: 0.8rem;
	background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
	background-color: $c-light;
	border:none;
}

    &__list{
        width: 100%;

        li{
            width: calc(100% * 1 / 6);
            color: #fff;
            padding: 6rem 3.6rem;   
            transition: 0.3s linear;

            &:hover{
                background-color: $c-light;
                .info__img{
                    img:nth-of-type(1){
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                    }
                    img:nth-of-type(2){
                        display: block;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .info__btn{    
                    &::after{
                        background-image: url('../assets/images/Mask\ Group\ 4.png');

                    }
                }
            }
        }
    }
    &__item{
        width: 100%;
    }
    &__img{
        display: block;
        margin-bottom: 1.4rem;
        img:nth-of-type(2){
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
    &__title{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 1.4rem;
    }
    &__txt{
        display: block;
        opacity: 0.8;
        width:100%;
        white-space: pre-wrap; 
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        margin-bottom: 2rem;
    }
    &__btn{
        display: block;
        position: relative;
        width: max-content;
        padding-right: 3rem;
        font-weight: bold;
        line-height: 1.9rem;

        &::after{
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            background-image: url('../assets/images/Mask\ Group\ 11.png');
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
        }
        &:hover{
            &::after{
                animation-name: arr-move;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
        }
    }
}
@keyframes arr-move {
    0% {
      transform: translate(0%, -50%);
    }
    25% {
      transform: translate(100%, -50%);
    }
    50% {
      transform: translate(0%, -50%);
    }
    75% {
      transform: translate(100%, -50%);
    }
    100% {
      transform: translate(0%, -50%);
    }
}
.product{
    text-align: center;
    width: 100%;
    background-image: url('../assets/images/Image\ 3.png');
    background-size: cover;
    background-repeat: no-repeat;

    &__btn{

        margin: 0 auto;
    }

    &__subtitle{
        color: $c-light;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.9rem;
    }
    &__title{
        margin-bottom: 2rem;
    }
    &__txt{
        display: block;
        width: 66%;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        opacity: 0.7;
        white-space: pre-wrap; 
        overflow: hidden;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        display: -webkit-box;

        &__bold{
            font-weight: bold;
            text-transform: uppercase;
            align-items: center;
        }
    }
    
}

.exp{
    width: 100%;
    overflow: hidden;
    background-color: #F2F4F6;

    &__container{
        display: flex;
    }
    &__left{
        width: 50%;
    }
    &__right{
        width: 50%;
        position: relative;
        z-index: 5;
    }
    &__title{
        margin-bottom: 2rem;
    }
    &__txt{
        display: block;
        width: calc(100% * 5 / 6);
        margin-bottom: 2.5rem;
        opacity: 0.7;
        white-space: pre-wrap; 
        overflow: hidden;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        display: -webkit-box;

        &__bold{
            font-weight: bold;
            text-transform: uppercase;
            align-items: center;
        }
    }

    &__list{
        position: absolute;
        bottom: 0;
        left: 3.8rem;
        transform: translateY(6.2rem);
        width: 100%;
        
        li{
            text-transform: uppercase;
            color: $c-dark;
            font-weight: bold;
            white-space: pre-wrap;
            background-color: #fff;
            border-radius: 0.5rem;
            margin: 0.7rem;
            position: relative;
            transition: 0.5s linear;

            &::after{
                content: "";
                width: 0;
                height: 0;
                border-top: 2rem solid $c-light;
                border-left: 2rem solid transparent;
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
            }

            &:hover{
                background-color: $c-light;
                color: #fff;
                .exp__num{
                    color: #fff;
                }
            }
        }

        &__item{
            padding: 3rem;
            padding-top: 5.6rem;
            padding-right: 5rem;
        }
    }
    &__num{
        font-size: 3.6rem;
        line-height: 4.8rem;
        color: $c-light;
        font-weight: normal;
        text-transform: none;
    }
    &__bg{
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 4;
    }
}




@media only screen and (max-width: 1920px){
    .info{
        width: 100%;
        overflow-x: scroll;
        &__list{
            min-width: 192rem;
        }
    }

}

@media only screen and (max-width: 1170px){
    .exp{

        &__container{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__left{
            width: 100%;
            text-align: center;
            z-index: 5;
            background-color: #F2F4F6;
            .button{
                margin: 0 auto;
                margin-bottom: 2.5rem;
            }
        }
        &__right{
            width: 100%;
        }
        &__txt{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2.5rem;
        }
        &__list{
            position: relative;
            left:0;
            transform: translateY(0);
            justify-content: center;
        }
        &__bg{
            display: none;
        }
    }
}





@media only screen and (max-width: 1024px){
    .header{
      &.header__home{
        .header__btn{
          .line{
            background-color: #fff;
          }
        }
      }
    }
    .banner__content{
        width: 100%;
        left: 0;

        &::after{
            
            display: none;
        }

        &__bold{
            font-size: 1.6rem;
        }

        &__title{
            font-size: 4rem;
            line-height:6rem;
        }
    }
    .product{
        &__txt{
            width: 90%;
        }
    }

}
@media only screen and (max-width: 570px){
    .exp{
        &__list{
            li{
                font-size: 1.2rem;
                margin: 0.5rem;
            }
            &__item{
                padding: 1rem;
                padding-top: 2.5rem;
                padding-right: 2.5rem;

            }
        }
        &__num{
            font-size: 3rem;
            line-height: 4rem;
        }
    }
}
