$c-dark : #0E2F56;
$c-light : #118DF0;


.product__tab{
    width: 100%;
    padding: 0;
    &__list{
        width: 100%;
        background-color: $c-dark;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.7rem;

        li{
            text-align: center;
            width: 33.33%;
            padding: 2rem;
            transition: 0.3s linear;
            position: relative;
            &:hover{
                background-color: $c-light;
            }
            &.active{
                background-color: $c-light;
                &::after{
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-1.5rem);

                    border-left: 1.5rem solid transparent;
                    border-right: 1.5rem solid transparent;
                    border-bottom: 1.5rem solid #F6F7F8;
                }
            }
        }
    }
}

.tab__panel{
    background-color: #F6F7F8;
    display: none;
    &.active{
        display: block;
    }
}
.product__top{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 5.5rem;
    .top{
        
        &__left{
            width: 66.66%;
        }
        &__right{
            width: max-content;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fff;
            border: 0.5rem solid #fff;
            border-radius: 9.9rem;
            height: max-content;
            display: flex;
            a{
                width: max-content;
            }
        }
        &__title{
            display: block;
            margin-bottom: 1.5rem;
        }
        &__txt{
            opacity: 0.7;
            -webkit-line-clamp: 2;
            white-space: pre-wrap; 
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        &__btn{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1.9rem;
            border-radius: 9.9rem;
            padding: 0.8rem 4rem;
            transition: 0.3s linear;
            &:hover{
                background-color: $c-light;
                color: #fff;
            }
            &.active{
                background-color: $c-light;
                color: #fff;
            }
        }

    }

}
.product__bottom{
    display: block;
    width: 100%;
    margin-top: 3rem ;

    .bottom__list{
        float: right;
        width: max-content;
        &__center{
            float: none;
            margin: 0 auto;
        }
        li{
            width: 3.4rem;
            height: 3.4rem;
            text-align: center;
            padding-top: 0.8rem;
            border-radius: 9.9rem;
            font-weight: bold;
            transition: 0.3s linear;

            &:hover{
                background-color: $c-light;
                color: #fff;
            }
            &.here{
                background-color: $c-light;
                color: #fff;
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .product__tab{
        &__list{

            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    .product__top{
        flex-direction: column;
        align-items: center;
        .top{
            &__left{
                width: 100%;
                margin-bottom: 3rem;
            }
            &__right{
                margin: 0 auto;
                position: relative;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .product__tab{
        &__list{

            font-size: 2rem;
            line-height: 2.7rem;
            li{
                display: none;
            }
            li.active{
                width: 100%;
                display: block;
                &::after{
                    display: none;
                }
            }
        }
    }

}

@media only screen and (max-width: 500px){
    .product__top{
        .top{

            &__right{
                font-size: 1.4rem;
            }
            &__btn{
                padding: 0.8rem 1rem;
            }
        }
    }
}