$c-dark : #0E2F56;
$c-light : #118DF0;

///////// slick custom//////////

.slick-arrow{
    display: none!important;
}
.slick-track{
    height: max-content!important;
}
.slick-dots li.slick-active button:before {

    color: $c-light!important;
}
.slick-dots li:hover button:before{
    color: $c-light;
}
.read__slide__item .slick-slide .slick-current .slick-active{
    outline: none!important;
}

.read{
    background-color: #F6F7F8;
    width: 100%;

    &__container{
        width: 100%;
        display: flex;
    }
    &__main{
        width: 66.66%;
        padding-right: 3rem;
    }
    &__recent{
        width: 33.33%;
    }

    &__txt__container{
        padding: 3rem 0;
    }

    &__txt{
        width: 100%;
        white-space: pre-line;
    }
    &__highlight{
        display: block;
        width: 100%;
        margin: 3rem 0;
        padding: 0 2rem;
        border-left: 2px solid $c-light;   
    }
    &__name{
        font-weight: bold;
        display: block;
    }
    &__pos{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        color: $c-light;
    }

    &__more{
        display: flex;
        padding: 2rem 4rem;
        border-top: 1px solid rgba(0,0,0, 0.2);
        position: relative;


    }
    &__prev{
        width: 50%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        color: rgba(0,0,0, 0.4);
        margin-right: 1rem;
        &:hover{
            .read__prev__name{
                color: $c-light;
            }
        }

        img{
            position: absolute;
            top: 3.2rem;
            left: 0;
        }
        &__name{
            font-size: 1.4rem;
            white-space: pre-line;
            display: block;
            color: $c-dark;
            text-transform: none;
            transition: 0.3s linear;
        }
    }
    &__next{
        width: 50%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        color: rgba(0,0,0, 0.4);
        text-align: right;
        margin-left: 1rem;

        &:hover{
            .read__next__name{
                color: $c-light;
            }
        }
        img{
            position: absolute;
            top: 3.2rem;
            right: 0;
        }
        &__name{
            font-size: 1.4rem;
            text-transform: none;
            white-space: pre-line;
            display: block;
            color: $c-dark;
            transition: 0.3s linear;
        }
    }
    

}
.recent{
    &__title{
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.8rem;
    }
    &__list{
        flex-direction: column;
        li{
            width: 100%;
            padding: 1.5rem 0;
            border-bottom: 1px solid rgba(0,0,0, 0.12);

            &:last-of-type{
                border: none;
            }
        }
    }
    &__item{
        display: flex;

    }
    &__img{
        width: 7rem;
        margin-right: 1.5rem;

    }
    &__txt{
        width: calc(100% - 7rem);
        text-transform: uppercase;
        color: rgba(0,0,0, 0.4);
        font-size: 1.2rem;
        font-weight: bold;
    }
    &__link{
        white-space: pre-line;
        display: block;
        font-size: 1.8rem;
        color: $c-dark;
        text-transform: none;
        transition: 0.3s linear;
        &:hover{
            color: $c-light;
        }
    }

}

@media only screen and (max-width: 1024px){
    .read{
        &__container{
            flex-direction: column;
            align-items: center;
        }
        &__main{
            width: 90%;
            padding-right: 0rem;
        }
        &__recent{
            margin-top: 9rem;
            width: 90%;
        }
    }
    .recent{
        &__link{
            font-size: 1.6rem;
            white-space: unset;
        }
    }
}
