@import url(./reset.css);
@import url(../assets/fonts/averta/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: "Averta";
  color: #0E2F56;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 3.6rem;
  line-height: 4.8rem;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
}

input, select, button, textarea {
  outline: none;
  border: none;
}

img {
  width: 100%;
  max-width: max-content;
}

iframe {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

.backToTop {
  width: 5rem;
  height: 5rem;
  position: fixed;
  background-color: #118DF0;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
  border-radius: 9.9rem;
  right: 5rem;
  bottom: 5rem;
  transition: 0.3s linear;
  opacity: 0;
  transform: translateY(3rem);
  z-index: 10;
}
.backToTop::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backToTop:hover {
  animation-name: btn-jump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.backToTop.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes btn-jump {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.section {
  width: 100%;
  padding: 10rem 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}

.main {
  padding-top: 10.5rem;
}

.page__title {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  background-color: #0E2F56;
  background-image: url("../assets/images/Depositphotos_-2.png");
  color: #fff;
}
.page__title__big {
  white-space: pre-line;
}
.page__title__small {
  text-transform: uppercase;
  font-weight: bold;
}
.page__title__blue {
  display: inline-block;
  padding-left: 3rem;
  position: relative;
  color: #118DF0;
}
.page__title__blue::after {
  content: "";
  width: 0.05rem;
  height: calc(100% - 0.5rem);
  background-color: #118DF0;
  position: absolute;
  left: 1.5rem;
  top: 0.2rem;
  transform: rotate(25deg);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: block;
  padding: 1.5rem;
}
.header__list {
  width: max-content;
  height: 100%;
}
.header__list li {
  position: relative;
  display: block;
  padding: 5.6rem 1rem 2.5rem;
  border-bottom: 0.4rem solid transparent;
  transition: 0.3s linear;
}
.header__list li.here {
  background-color: #F2F2F2;
  border-bottom: 0.4rem solid #118DF0;
}
.header__list li:hover {
  background-color: #F2F2F2;
  border-bottom: 0.4rem solid #118DF0;
}
.header__list li:hover .header__sublist {
  opacity: 1;
  visibility: visible;
  transform: translateY(calc(100% + 0.4rem));
}
.header__sublist {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-200%);
  transition: 0.5s ease-out;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  z-index: -1;
  width: 100%;
  min-width: max-content;
}
.header__sublist li {
  padding: 2rem;
  border-bottom: none;
  background-color: #F2F2F2;
}
.header__sublist li:hover {
  border-bottom: none;
  background-color: #118DF0;
  color: #fff;
}
.header__phone {
  z-index: 10;
  display: block;
  padding: 5.6rem 2rem 2.5rem 6.5rem;
  position: relative;
}
.header__phone img {
  position: absolute;
  bottom: 2.5rem;
  left: 3rem;
}
.header__phone a {
  color: #118DF0;
  transition: 0.3s linear;
  z-index: -1;
}
.header__phone a:hover {
  color: #0E2F56;
}
.header__phone__title {
  color: #000;
}
.header__phone::before {
  content: "";
  width: 0.1rem;
  height: 2.4rem;
  background-color: #0E2F56;
  position: absolute;
  left: 0;
  top: 5.35rem;
}
.header__btn {
  display: none;
}
.header__lang {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  right: 2.5rem;
}
.header .header__lang__container {
  width: 100%;
  display: block;
  position: relative;
  z-index: 11;
}
.header .header__lang__container.active .lang__list {
  visibility: visible;
  transform: translateY(calc(100% - 0.7rem));
}
.header .lang__set {
  display: block;
  line-height: 1.6rem;
  position: relative;
  padding: 0.7rem 3.8rem 0.7rem 1.5rem;
  background-color: #118DF0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0rem 3rem 6rem rgba(0, 0, 0, 0.16);
}
.header .lang__set::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("../assets/images/Mask Group 1.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
}
.header .lang__list {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  flex-direction: column;
  background-color: #F2F2F2;
  color: #0E2F56;
  padding-top: 0.7rem;
  visibility: hidden;
  transform: translateY(calc(-100% -5rem));
  transition: 0.3s linear;
}
.header .lang__list li {
  text-align: center;
  padding: 0.2rem;
  transition: 0.3s linear;
  cursor: pointer;
}
.header .lang__list li:hover {
  color: #118DF0;
}
.header__bg {
  display: none;
}

.footer {
  width: 100%;
}
.footer__top {
  width: 100%;
  background-color: #fff;
  padding: 10rem 0;
}
.footer__bottom {
  width: 100%;
  background-color: #0E2F56;
}
.footer__bottom__container {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer .logo {
  width: calc(100% * 2 / 12);
  align-self: center;
}
.footer .office {
  width: calc(100% * 5 / 12);
  height: 100%;
  padding-top: 6.8rem;
}
.footer .social {
  width: calc(100% * 2 / 12);
  height: 100%;
  padding-top: 6.8rem;
}
.footer__contact {
  width: calc(100% * 3 / 12);
  position: relative;
}
.footer .office__list__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.2rem;
}
.footer__title {
  display: block;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .office__bold {
  font-weight: bold;
  color: #118DF0;
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.footer .office__blur {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.3);
  display: block;
  text-transform: uppercase;
  padding-left: 1.5rem;
}
.footer .office__list {
  flex-direction: column;
}
.footer .office__list li {
  padding: 1rem 1.5rem;
}
.footer .office__list__left {
  padding: 1.5rem 0;
  margin: -1.5rem;
  width: 60%;
}
.footer .office__list__right {
  width: 40%;
}
.footer .social__list {
  flex-direction: column;
  margin: 0 -1.5rem;
}
.footer .social__list li {
  padding: 1rem;
  padding-left: 4.5rem;
  position: relative;
}
.footer .social__list li img {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.footer .social__list li:hover {
  color: #118DF0;
}
.footer__form {
  padding: 3rem 2.4rem;
  background-color: #fff;
  border-top: 0.4rem solid #118DF0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer__form .button {
  width: 100%;
}
.footer__form__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #0E2F56;
  display: block;
  margin-bottom: 0.8rem;
}
.footer__form__input {
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  border: 0.2rem solid #F2F2F2;
  border-radius: 0.5rem;
  opacity: 0.4;
  outline: none;
}
.footer__form__input:focus {
  border: 0.2rem solid #118DF0;
  color: #0E2F56;
  opacity: 1;
}
.footer .button {
  font-size: 1.2rem;
}

.button {
  background-color: #118DF0;
  color: #fff;
  padding: 1rem;
  display: block;
  width: max-content;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 0.3s linear;
  padding: 1rem 4.3rem;
}
.button:hover {
  background-color: #0E2F56;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
}
.grid__img {
  width: 100%;
}
.grid__img img {
  max-width: none;
}
.grid__info {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  transition: 0.3s linear;
}
.grid__info:hover {
  background-color: #118DF0;
  color: #fff;
}
.grid__info:hover .grid__date {
  color: #fff;
}
.grid__info:hover .grid__read {
  color: #fff;
}
.grid__date {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
}
.grid__title {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}
.grid__read {
  text-transform: uppercase;
  color: #118DF0;
  font-weight: bold;
  display: block;
  width: max-content;
  margin-top: 1.2rem;
}

.grid__text {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3rem;
}
.grid__text__item {
  background-color: #fff;
  padding: 3.3rem 2rem;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}
.grid__text__item:hover {
  background-color: #118DF0;
  color: #fff;
}
.grid__text__item:hover .grid__text__icon img:nth-of-type(1) {
  opacity: 0;
  visibility: hidden;
}
.grid__text__item:hover .grid__text__icon img:nth-of-type(2) {
  opacity: 1;
  visibility: visible;
}
.grid__text__item:hover .grid__text__contact {
  color: #fff;
}
.grid__text__item:hover .grid__text__contact:hover {
  color: #0E2F56;
}
.grid__text__icon {
  display: block;
  margin-bottom: 1.8rem;
  position: relative;
  transition: 0.3s linear;
}
.grid__text__icon img:nth-of-type(2) {
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.grid__text__title {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
.grid__text__txt {
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.grid__text__contact {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  color: #118DF0;
  display: block;
  margin-top: 1.5rem;
  transition: 0.3s linear;
}

@media only screen and (max-width: 1200px) {
  .grid__text {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1024px) {
  .header__list {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 36rem;
    height: 100vh;
    color: #fff;
    background-color: #118DF0;
    transform: translateX(-100%);
    transition: 0.3s linear;
    font-size: 1.8rem;
  }
  .header__list.active {
    transform: translateX(0);
  }
  .header__list li {
    padding: 2rem;
  }
  .header__list li:hover {
    background-color: #0E2F56;
    border-bottom: 0.4rem solid transparent;
    background-color: #118DF0;
  }
  .header__list li:hover .header__sublist {
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    z-index: 0;
  }
  .header__list li:hover .header__sublist li {
    background-color: #118DF0;
  }
  .header__list li.here {
    background-color: #118DF0;
    border-bottom: 0.4rem solid transparent;
  }
  .header__sublist {
    right: 0;
    bottom: 0;
    position: relative;
    transform: none;
    color: #fff;
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    z-index: 0;
    padding-bottom: 0;
  }
  .header__sublist li {
    color: #fff;
    background-color: #118DF0;
    border-bottom: 0.4rem solid transparent;
  }
  .header__sublist li:hover {
    background-color: #118DF0;
    color: #0E2F56;
    border-bottom: 0.4rem solid transparent;
  }
  .header__phone {
    display: none;
  }
  .header__btn {
    display: block;
    align-self: center;
    margin: 3rem;
    width: 3rem;
  }
  .header__btn .line {
    display: block;
    width: 100%;
    height: 0.4rem;
    margin-bottom: 0.5rem;
    background-color: #118DF0;
    transition: 0.5s ease-out;
  }
  .header__btn.active .line:nth-of-type(1) {
    transform: rotate(405deg) translate(0.5rem, 0.6rem);
    background-color: #fff;
  }
  .header__btn.active .line:nth-of-type(2) {
    opacity: 0;
  }
  .header__btn.active .line:nth-of-type(3) {
    transform: rotate(-45deg) translate(0.6rem, -0.7rem);
    background-color: #fff;
  }
  .header__bg {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.3s linear;
  }
  .header__bg.active {
    transform: translateX(0);
  }

  .footer__top {
    padding: 5rem 0;
  }
  .footer__bottom__container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer .logo {
    width: 100%;
    padding: 5rem;
  }
  .footer .logo img {
    display: block;
    margin: 0 auto;
  }
  .footer .office {
    width: calc(100% * 7 / 12);
    height: 100%;
    padding-top: 0;
  }
  .footer .social {
    width: calc(100% * 3 / 12);
    height: 100%;
    padding-top: 0;
  }
  .footer__contact {
    width: 100%;
  }
  .footer__form {
    display: block;
    position: relative;
  }
  .footer__form .button {
    padding: 1rem 3rem;
    width: max-content;
  }
  .footer__form__title {
    text-align: center;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .footer .office {
    width: 80%;
    word-break: break-word;
  }
  .footer .social {
    width: 80%;
    margin-bottom: 5rem;
  }

  .grid {
    grid-template-columns: auto auto;
  }

  .grid__text {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: auto;
  }

  .grid__text {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=style.css.map */
