.cmt {
    &__container {
        @include fz-14;
        margin-top: 1rem;
    }
    &__form {
        margin: 2rem 0 3rem;
        display: flex;
        form {
            background-color: #f8f8f8;
            display: flex;
            border-radius: 4px;
            width: calc(100% - 7rem);
            padding: 0.5rem;
        }
    }
    &__inp {
        width: 100%;
        background-color: transparent;
        padding: 1rem;
    }
    &__submit {
        border-radius: 4px;
        color: #fff;
        background-color: #e7194a;
        padding: 1.3rem 2rem;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                background-color: #262e67;
            }
        }
    }
    &__ava {
        width: 5rem;
        height: 5rem;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 2rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__list {
    }
    &__item {
        margin-bottom: 3rem;
        padding-left: 7rem;
        position: relative;
        .cmt__item {
            margin-bottom: 0;
        }

        .cmt__ava {
            position: absolute;
            top: 0;
            left: 0;
        }
        &.dropdown {
            overflow: hidden;
            &::after {
                content: "";
                width: 2px;
                height: 100%;
                display: block;
                background-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                left: 2.5rem;
                top: 6.3rem;
            }
            .cmt__content {
                margin-bottom: 2.5rem;
            }
            .cmt__item .cmt__content {
                margin-bottom: 2rem;
            }
            .cmt__item:last-child .cmt__content {
                margin-bottom: 0;
            }
        }
        .txt {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
    &__more {
        font-weight: bold;
        text-decoration: underline;
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                color: #e7194a;
            }
        }
    }
    &__name {
        display: block;
        font-weight: bold;
        line-height: calc(17 / 14);
    }
    &__time {
        display: block;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    &__btn {
        font-weight: bold;
        margin-right: 2.5rem;
        opacity: 0.5;
        transition: 0.2s linear;
        &:hover {
            @media only screen and (min-width: 901px) {
                color: #e7194a;
                opacity: 1;
            }
        }
        &.active {
            color: #e7194a;
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 900px) {
    .cmt {
        &__form {
            margin: 2rem 0 2rem;

            form {
                width: calc(100% - 6rem);
            }
        }

        &__ava {
            width: 5rem;
            height: 5rem;
            margin-right: 1rem;
        }

        &__item {
            margin-bottom: 2rem;
            padding-left: 5rem;
            position: relative;

            .cmt__ava {
                position: absolute;
                width: 4rem;
                height: 4rem;
                top: 0;
                left: 0;
            }
            &.dropdown {
                &::after {
                    left: 2rem;
                    top: 5.3rem;
                }
                .cmt__content {
                    margin-bottom: 2.5rem;
                }
                .cmt__item .cmt__content {
                    margin-bottom: 2rem;
                }
                .cmt__item:last-child .cmt__content {
                    margin-bottom: 0;
                }
            }
            .txt {
                display: block;
                margin-bottom: 1.5rem;
            }
        }

        &__name {
            display: block;
            font-weight: bold;
            line-height: calc(17 / 14);
        }
        &__time {
            display: block;
            font-style: italic;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        &__btn {
            font-weight: bold;
            margin-right: 2.5rem;
            opacity: 0.5;
            transition: 0.2s linear;
            &:hover {
                @media only screen and (min-width: 901px) {
                    color: #e7194a;
                    opacity: 1;
                }
            }
            &.active {
                color: #e7194a;
                opacity: 1;
            }
        }
    }
}
