.news {
  &__wrap {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 94rem;
    margin: 0 auto;
  }
  &__img {
    width: 38.8rem;
  }
  &__content {
    width: calc(100% - 38.8rem);
    padding: 3rem;
  }
  &__title {
    @include svnX();
    @include fz(30);

    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 2rem;
  }
  &__txt {
    @include svnM();
    line-height: 21px;
    margin-bottom: 3rem;
  }
  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #7f7f7f;
    cursor: pointer;
    padding: 1.25rem 1.5rem;
  }
}
@include max-media(768px) {
  .news {
    &__wrap {
      max-width: 400px;
    }
    &__img {
      display: none;
    }
    &__content {
      width: 100%;
    }
    &__title,
    &__txt {
      margin-bottom: 1.5rem;
    }
  }
}
@include max-media(400px) {
  .news {
    &__content {
      padding: 1.5rem;
    }
    &__close {
      top: 0;
      right: 0;
    }
  }
}
