.contact {
    .section__title {
        margin-bottom: 3rem;
    }
    .login__form {
        form {
            padding-right: 0;
        }
        .form__item {
            margin-bottom: 1rem;
        }
        .form__btn {
            margin-top: 1rem;
        }
    }
    &__info {
        padding: 14rem 3rem 0;
    }
    &__list {
        margin-top: 3rem;
        li {
            width: 100%;
            padding-left: 4rem;
            position: relative;
            margin-bottom: 3rem;
            @include fz-14;
            img {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            span,
            a {
                display: block;
                @include fz-16;
                font-weight: bold;
                line-height: calc(24 / 16);
                margin-top: 0.7rem;
                transition: 0.2s linear;
                &:hover {
                    @media only screen and (min-width: 901px) {
                        color: #e7194a;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .contact {
        &__info {
            padding: 3rem 1.5rem;
            .section__subtitle {
                text-align: center;
            }
        }
        &__list {
            li {
                margin-bottom: 2rem;
            }
        }
    }
}
