.admin-bar {
  .hd {
    top: 32px;
    &-bg {
      top: 32px;
    }
  }
  @media only screen and (max-width: 768px) {
    .hd {
      top: 46px;
      &-bg {
        top: 46px;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .hd {
      top: 0;
      &-bg {
        top: 0px;
      }
    }
  }
}
.hd {
  padding: 2.08vw 2.6vw;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  transition: 0.2s linear;
  pointer-events: none;
  .hd-bg {
    position: absolute;
    top: 0;
    right: 0;
  }
  @include max(1200px) {
    padding: 1.5rem;
  }
  &-logo {
    width: 11.35vw;
    pointer-events: auto;
    img {
      display: block;
    }
    a {
      display: block;
      width: 100%;
    }
    @include max(1200px) {
      width: 15rem;
      margin-right: auto;
    }
    @include max(768px) {
      width: 12rem;
    }
  }
  &-menu {
    padding: 0 1.822vw;
    margin-right: auto;
    @include max(1200px) {
      display: none;
    }
  }
  &-nav {
    align-items: flex-start;
  }
  &-btn {
    margin-left: 2.85vw;
    cursor: pointer;
    pointer-events: auto;
    img {
      transition: 0.2s linear;
    }
    width: 1.3vw;
    &:first-child {
      margin-left: 0;
    }
    @include hover() {
      animation: sca 2s linear;
    }
    @include max(1200px) {
      width: 20px;
      margin-left: 3rem;
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -15;
    pointer-events: none;
    width: 93.75vw;
    position: fixed;
    top: 0;
    right: 0;
    img {
      display: block;
      width: 100%;
    }
  }
}
