<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>SOLO - SHEETMUSIC DETAIL</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="hd-bg">
        <img src="./assets/images/big-bg.png" alt="" />
      </div>
      <div class="hd-wrap fl-con">
        <div class="hd-logo">
          <a href="#">
            <img src="./assets/images/svg/logo.svg" alt="" />
          </a>
        </div>

        <div class="hd-menu menu hov-df">
          <div class="menu__wrap">
            <ul id="menu-main-menu">
              <li class="menu-item">
                <a href="#"> Abrsm</a>
              </li>

              <li class="menu-item">
                <a href="#">
                  Sheet <br />
                  music
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  Teaching <br />
                  Material
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  MUSIC <br />
                  ACCESSORIES
                </a>
              </li>

              <li class="menu-item">
                <a href="#">
                  RECORDING <br />
                  EQUIPMENT
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  Solo <br />
                  gifts</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="hd-nav fl-con">
          <div class="hd-btn mpBtn" data-type="search">
            <img src="./assets/images/svg/hd-search.svg" alt="" />
          </div>
          <div class="hd-btn mpBtn" data-type="cart">
            <img src="./assets/images/svg/hd-cart.svg" alt="" />
          </div>
          <div class="hd-btn mpBtn" data-type="menu">
            <img src="./assets/images/svg/hd-menu.svg" alt="" />
          </div>
        </div>
      </div>
    </header>
    <div class="hd-bg">
      <img src="./assets/images/big-bg.png" alt="" />
    </div>

    <main class="main">
      <section class="product">
        <div class="common-ctn">
          <div class="common-info">
            <div class="info-txt">
              SHEET <br />
              MUSIC
            </div>

            <div class="info-desc">G. HENLE VERLAG, BARENREITER & MORE</div>

            <div class="info-menu">
              <div class="info-menu-item">
                <div class="info-menu-tt">Composers</div>
                <div class="menu-ul h-170">
                  <ul>
                    <li class="active"><a href="#">All</a></li>
                    <li>
                      <a href="#"
                        >BACH
                        <p>JOHANN SEBASTIAN</p></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >BEETHOVEN
                        <p>LUDWIG VAN</p></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >BACH
                        <p>JOHANN SEBASTIAN</p></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >BEETHOVEN
                        <p>LUDWIG VAN</p></a
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <div class="info-menu-item">
                <div class="info-menu-tt">INSTRUMENTS</div>
                <div class="menu-ul h-170">
                  <ul>
                    <li class="active"><a href="#">All</a></li>
                    <li>
                      <a href="#">Piano</a>
                    </li>
                    <li>
                      <a href="#">VIOLIN</a>
                    </li>
                    <li>
                      <a href="#">Piano</a>
                    </li>
                    <li>
                      <a href="#">VIOLIN</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="common-main">
            <div class="common-dt">
              <div class="dt-wrap">
                <div class="dt-img bookmusic cover">
                  <img src="./assets/images/Henle Beethoven 8.png" alt="" />
                </div>

                <div class="dt-img-dt">
                  <div class="dt-img bookmusic">
                    <img src="./assets/images/pd-dt-2.png" alt="" />
                  </div>
                  <div class="dt-img bookmusic">
                    <img src="./assets/images/pd-dt-3.png" alt="" />
                  </div>
                </div>

                <div class="dt-desc">
                  <div class="tt">PIECES</div>
                  <div class="desc-dt">
                    <p>
                      Prelude & Fugue in C major BWV 846 <br />
                      Prelude & Fugue in C major BWV 847 <br />
                      Prelude & Fugue in C sharp major <br />
                      BWV 848 <span> LRSM </span><br />
                      Prelude & Fugue in C sharp major <br />
                      BWV 848 <span> LRSM </span><br />
                      Prelude & Fugue in D major BWV 850
                      <span>LRSM</span> Prelude & Fugue in D major BWV 850
                      <span>LRSM</span>
                    </p>
                    <p>Show more</p>
                  </div>
                </div>

                <div class="dt-desc">
                  <div class="tt">INFORMATION</div>
                  <div class="desc-dt">
                    <p>
                      This book contains all the scales and arpeggios required for ABRSM’s Grade 1 Piano exam. It covers all the new requirements from
                      2021.
                    </p>
                    <p>Show more</p>
                    <p>
                      Ernst-Günter Heinemann (Editor) <br />
                      András Schiff (Fingering) <br />
                      Urtext Edition, paperbound <br />
                      Pages 139 (XI+128), Size 23,5 x 31,0 cm <br />
                      Weight 563 g <br />
                      HN 14 · ISMN 979-0-2018-0014-1
                    </p>
                  </div>
                </div>
              </div>

              <div class="dt-cart">
                <div class="cart-info prod-name">
                  <a href="#" class="cart-tt name">PIANO SCALES & ARPEGGIOS</a>
                  <div class="cart-desc desc">
                    <p>Part 1 . BWV 846-869</p>
                    <p>Piano Solo . DipABRSM ABRSM</p>
                    <p>G. Henle Verlag</p>
                  </div>
                </div>
                <div class="cart-dt">
                  <div class="cart-price prod-price">
                    <div class="price-cover">
                      <div class="num">250,000 VND</div>
                      <div class="sale-off">20% OFF</div>
                    </div>
                    <div class="price-disc">
                      <div class="num">225,000 VND</div>
                      <a href="#" class="membership">SOLO Membership</a>
                    </div>
                  </div>
                  <div class="cart-btn prod-addcart">
                    <a href="#">ADD TO CART</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="common-prod buy-together">
              <div class="prod-tt">BUY TOGETHER</div>

              <div class="prod-list">
                <div class="prod-item">
                  <div class="prod-wrap">
                    <div class="prod-img bookmusic">
                      <a href="#" class="img">
                        <img src="./assets/images/prod-jsbach-1.png" alt="" />
                      </a>
                    </div>

                    <div class="prod-name">
                      <a href="#" class="name">THE WELL-TEMPERED CLAVIER</a>
                      <div class="desc">
                        <p>Part 1 . BWV 846-869</p>
                        <p>Piano Solo . DipABRSM, LRSM & FRSM ABRSM</p>
                        <p>G. Henle Verlag</p>
                      </div>
                    </div>

                    <div class="prod-price">
                      <div class="price-cover">
                        <div class="num">250,000 VND</div>
                        <div class="sale-off">20% OFF</div>
                      </div>
                      <div class="price-disc">
                        <div class="num">225,000 VND</div>
                        <a href="#" class="membership">SOLO Membership</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="prod-item">
                  <div class="prod-wrap">
                    <div class="prod-img bookmusic">
                      <a href="#" class="img">
                        <img src="./assets/images/prod-jsbach-2.png" alt="" />
                      </a>
                    </div>

                    <div class="prod-name">
                      <a href="#" class="name">THE WELL-TEMPERED CLAVIER</a>
                      <div class="desc">
                        <p>Part 2 . BWV 870-893</p>
                        <p>Piano Solo . DipABRSM, LRSM & FRSM ABRSM</p>
                        <p>G. Henle Verlag</p>
                      </div>
                    </div>

                    <div class="prod-price">
                      <div class="price-cover">
                        <div class="num">250,000 VND</div>
                        <div class="sale-off">20% OFF</div>
                      </div>
                      <div class="price-disc">
                        <div class="num">225,000 VND</div>
                        <a href="#" class="membership">SOLO Membership</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="prod-cart">
                <div class="prod-total">
                  <div class="prod-price">
                    <div class="price-cover">
                      <div class="num">450,000 VND</div>
                      <div class="sale-off">SAVE 5%</div>
                    </div>
                    <div class="price-disc">
                      <div class="total">Total</div>
                      <div class="num">225,000 VND</div>
                    </div>
                  </div>
                </div>
                <div class="prod-addcart">
                  <a href="#">ADD TO CART</a>
                </div>
              </div>
            </div>

            <div class="common-prod related">
              <div class="prod-tt">RELATED</div>

              <div class="prod-list">
                <div class="prod-item">
                  <div class="prod-wrap">
                    <div class="prod-img bookmusic">
                      <a href="#" class="img">
                        <img src="./assets/images/prod-jsbach-1.png" alt="" />
                      </a>
                    </div>

                    <div class="prod-name">
                      <a href="#" class="name">INVENTIONS AND SINFONIAS</a>
                      <div class="desc">
                        <p>Piano Solo . DipABRSM (ABRSM)</p>
                        <p>G. Henle Verlag</p>
                      </div>
                    </div>

                    <div class="prod-price">
                      <div class="price-cover">
                        <div class="num">250,000 VND</div>
                        <div class="sale-off">20% OFF</div>
                      </div>
                      <div class="price-disc">
                        <div class="num">225,000 VND</div>
                        <a href="#" class="membership">SOLO Membership</a>
                      </div>
                    </div>

                    <div class="prod-addcart not-avai">
                      <a href="#">ADD TO CART</a>
                    </div>
                  </div>
                </div>
                <div class="prod-item">
                  <div class="prod-wrap">
                    <div class="prod-img bookmusic">
                      <a href="#" class="img">
                        <img src="./assets/images/prod-jsbach-2.png" alt="" />
                      </a>
                    </div>

                    <div class="prod-name">
                      <a href="#" class="name">INVENTIONS AND SINFONIAS</a>
                      <div class="desc">
                        <p>BWV 825-830</p>
                        <p>Piano Solo . DipABRSM (ABRSM)</p>
                        <p>G. Henle Verlag</p>
                      </div>
                    </div>

                    <div class="prod-price">
                      <div class="price-cover">
                        <div class="num">250,000 VND</div>
                        <div class="sale-off">20% OFF</div>
                      </div>
                      <div class="price-disc">
                        <div class="num">225,000 VND</div>
                        <a href="#" class="membership">SOLO Membership</a>
                      </div>
                    </div>

                    <div class="prod-addcart not-avai">
                      <a href="#">ADD TO CART</a>
                    </div>
                  </div>
                </div>
                <div class="prod-item">
                  <div class="prod-wrap">
                    <div class="prod-img bookmusic">
                      <a href="#" class="img">
                        <img src="./assets/images/prod-jsbach-1.png" alt="" />
                      </a>
                    </div>

                    <div class="prod-name">
                      <a href="#" class="name">INVENTIONS AND SINFONIAS</a>
                      <div class="desc">
                        <p>Piano Solo . DipABRSM (ABRSM)</p>
                        <p>G. Henle Verlag</p>
                      </div>
                    </div>

                    <div class="prod-price">
                      <div class="price-cover">
                        <div class="num">250,000 VND</div>
                        <div class="sale-off">20% OFF</div>
                      </div>
                      <div class="price-disc">
                        <div class="num">225,000 VND</div>
                        <a href="#" class="membership">SOLO Membership</a>
                      </div>
                    </div>

                    <div class="prod-addcart not-avai">
                      <a href="#">ADD TO CART</a>
                    </div>
                  </div>
                </div>
                <div class="prod-item">
                  <div class="prod-wrap">
                    <div class="prod-img bookmusic">
                      <a href="#" class="img">
                        <img src="./assets/images/prod-jsbach-2.png" alt="" />
                      </a>
                    </div>

                    <div class="prod-name">
                      <a href="#" class="name">INVENTIONS AND SINFONIAS</a>
                      <div class="desc">
                        <p>BWV 825-830</p>
                        <p>Piano Solo . DipABRSM (ABRSM)</p>
                        <p>G. Henle Verlag</p>
                      </div>
                    </div>

                    <div class="prod-price">
                      <div class="price-cover">
                        <div class="num">250,000 VND</div>
                        <div class="sale-off">20% OFF</div>
                      </div>
                      <div class="price-disc">
                        <div class="num">225,000 VND</div>
                        <a href="#" class="membership">SOLO Membership</a>
                      </div>
                    </div>

                    <div class="prod-addcart not-avai">
                      <a href="#">ADD TO CART</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="ft-real ft fl-wrap jus-spa">
        <div class="ft-title">SOLO MUSIC BOOKSTORE</div>

        <div class="ct-con fl-con">
          <div class="ct-sc">
            <ul>
              <li>
                <a href="#">
                  <img src="./assets/images/svg/ft-ic1.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/svg/ft-ic3.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/svg/ft-ic2.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
          <div class="ct-list">
            <ul>
              <li>
                23 Vo Thi Sau <br />

                District 1 <br />

                Ho Chi Minh City <br />

                Vietnam
              </li>
              <li>
                <a href="tel:84902450122">+84 902 450 122 </a>
                <div class="ct-mini">English and Vietnamese</div>
              </li>
              <li>
                <a href="mailto:Info@SOLOMusicBookstore.com">Info@SOLOMusicBookstore.com </a>
                <div class="ct-mini">For General Enquiries</div>
                <a href="mailto:Orders@SOLOMusicBookstore.com">Orders@SOLOMusicBookstore.com </a>
                <div class="ct-mini">For Order Enquiries</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="ft-info">
          <div class="ft-info-title">official retailer</div>
          <div class="fl-con jus-spa">
            <div class="ft-col">
              <img src="./assets/images/ft1.png" alt="" />
              <div class="link">
                <a href="#">BARENREITER</a>
              </div>
              <div class="link">
                <a href="#">EDITION PETERS</a>
              </div>
              <div class="link">
                <a href="#">HAL LEONARD</a>
              </div>
            </div>
            <div class="ft-col">
              <img src="./assets/images/ft2.png" alt="" />
              <div class="link">
                <a href="#">edition peters</a>
              </div>
              <div class="link">
                <a href="#">dover publications</a>
              </div>
              <div class="link">
                <a href="#">united music</a>
              </div>
            </div>
            <div class="ft-col">
              <img src="./assets/images/ft3.png" alt="" />
              <div class="link">
                <a href="#">Hal leonard</a>
              </div>
              <div class="link">
                <a href="#">g. schirmer</a>
              </div>
              <div class="link">
                <a href="#">and more.</a>
              </div>
            </div>
          </div>
        </div>
        <img src="./assets/images/ft-dot.png" alt="" class="ft-deco" />
      </div>
    </main>

    <div class="pop mpPanel" data-type="menu">
      <div class="pop-wrap">
        <img class="pop-bg" src="./assets/images/small-bg.png" alt="" />
        <img class="pop-dot" src="./assets/images/svg/pop-dot.svg" alt="" />
        <div class="pop-con">
          <div class="menu-col">
            <ul id="menu-main-2">
              <li class="menu-item">
                <a href="#"> Abrsm</a>
              </li>

              <li class="menu-item">
                <a href="#"> Sheet music </a>
              </li>
              <li class="menu-item">
                <a href="#"> Teaching Material </a>
              </li>
              <li class="menu-item">
                <a href="#"> MUSIC ACCESSORIES </a>
              </li>

              <li class="menu-item">
                <a href="#"> RECORDING EQUIPMENT </a>
              </li>
              <li class="menu-item">
                <a href="#"> Solo gifts</a>
              </li>
            </ul>

            <ul class="menu-link-wrap">
              <li class="menu-item">
                <a href="#">SOLO MEMBERSHIP </a>
              </li>

              <li class="menu-item">
                <a href="#"> BOOK REQUEST </a>
              </li>
              <li class="menu-item">
                <a href="#"> ABRSM BOOK EXCHANGE </a>
              </li>

              <li class="menu-item">
                <a href="#"> SHIPPING INFORMATION </a>
              </li>
              <li class="menu-item">
                <a href="#"> CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/gallery/lightgallery-all.min.js"></script>
    <script src="./js/libs/trimline/trimline.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 600,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
