<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <link rel="icon" type="image/png" href="./assets/images/favicon/fav.png" />

    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />

    <title>SOLO - Roll</title>
  </head>
  <body>
    <header class="hd hdJS">
      <div class="hd-bg">
        <img src="./assets/images/big-bg.png" alt="" />
      </div>
      <div class="hd-wrap fl-con">
        <div class="hd-logo">
          <a href="#">
            <img src="./assets/images/svg/logo.svg" alt="" />
          </a>
        </div>

        <div class="hd-menu menu hov-df">
          <div class="menu__wrap pageJS">
            <ul id="menu-main-menu">
              <li class="menu-item">
                <a href="#hfp1"> Abrsm</a>
              </li>

              <li class="menu-item">
                <a href="#hfp2">
                  Sheet <br />
                  music
                </a>
              </li>
              <li class="menu-item">
                <a href="#hfp3">
                  Teaching <br />
                  Material
                </a>
              </li>
              <li class="menu-item">
                <a href="#hfp4">
                  MUSIC <br />
                  ACCESSORIES
                </a>
              </li>

              <li class="menu-item">
                <a href="#hfp5">
                  RECORDING <br />
                  EQUIPMENT
                </a>
              </li>
              <li class="menu-item">
                <a href="#hfp6">
                  Solo <br />
                  gifts</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="hd-nav fl-con">
          <div class="hd-btn mpBtn" data-type="search">
            <img src="./assets/images/svg/hd-search.svg" alt="" />
          </div>
          <div class="hd-btn mpBtn" data-type="cart">
            <img src="./assets/images/svg/hd-cart.svg" alt="" />
          </div>
          <div class="hd-btn mpBtn" data-type="menu">
            <img src="./assets/images/svg/hd-menu.svg" alt="" />
          </div>
        </div>
      </div>
    </header>
    <div class="hd-bg">
      <img src="./assets/images/big-bg.png" alt="" />
    </div>

    <main class="main hp fullPage">
      <div class="hp1 fpSec" data-anchor="hfp1">
        <div class="ban sec-full">
          <img class="ban-bg" src="./assets/images/banner.jpg" alt="" />
          <div class="ban-con fl-con">
            <div class="ban-item fl-col">
              <a href="#" class="btn-grey ban-btn">Abrsm</a>

              <div class="ban-line"></div>
            </div>
            <div class="ban-item fl-col">
              <a href="#" class="btn-grey ban-btn">Sheet Music</a>

              <div class="ban-line"></div>
            </div>
            <div class="ban-item fl-col">
              <a href="#" class="btn-grey ban-btn">Teaching material</a>

              <div class="ban-line"></div>
            </div>
            <div class="ban-item fl-col">
              <a href="#" class="btn-grey ban-btn">Solo gifts</a>

              <div class="ban-line"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="hp2 fpSec" data-anchor="hfp2">
        <section class="roll-slide sec-mg">
          <h2 class="sec-title">Products</h2>
          <div class="swiper-pg">
            <div class="swiper-container dot">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">Abrsm</a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">Sheet music</a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"
                      >Teaching <br />
                      Material</a
                    >
                    <a href="#" class="img">
                      <img src="./assets/images/rs-3.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"
                      >Music <br />
                      Accessories</a
                    >
                    <a href="#" class="img">
                      <img src="./assets/images/rs-4.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"
                      >Recording <br />
                      equipment</a
                    >
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>
      </div>

      <div class="hp3 fpSec" data-anchor="hfp3">
        <section class="roll-mem sec-mg fl-con">
          <div class="roll-mem-left">
            <h2 class="roll-mem-title">
              solo <br />
              mem <br />
              ber <br />
              ship
            </h2>
          </div>
          <div class="roll-mem-right">
            <div class="roll-mem-sub">Be a SOLO Member</div>
            <div class="txt">
              Be a SOLO Member today and enjoy the many <a href="#">benefits</a> that <br />
              SOLO Music Bookstore has to offer !
            </div>
            <form action="" class="formJS">
              <div class="form fl-wrap jus-spa">
                <div class="form-half">
                  <div class="form-inp">
                    <input type="text" class="rs-form" />
                    <label class="">First Name</label>
                  </div>
                </div>
                <div class="form-half">
                  <div class="form-inp">
                    <input type="text" class="rs-form" value="Moh" />
                    <label>Last Name</label>
                  </div>
                </div>
                <div class="form-half">
                  <div class="form-inp">
                    <input type="text" class="rs-form" />
                    <label>Phone Number</label>
                  </div>
                </div>
                <div class="form-half">
                  <div class="form-inp">
                    <input type="text" class="rs-form" value="dd/mm/yy" />
                    <label>Date of Birth</label>
                  </div>
                </div>
                <div class="form-full">
                  <div class="form-inp">
                    <input type="text" class="rs-form" />
                    <label>Email</label>
                  </div>
                </div>
                <div class="form-full">
                  <div class="form-inp">
                    <input type="text" class="rs-form" />
                    <label>Address</label>
                  </div>
                </div>
                <div class="form-full">
                  <div class="form-inp">
                    <input type="text" class="rs-form" />
                    <label>City</label>
                  </div>
                </div>

                <div class="form-half">
                  <div class="select-custom">
                    <div class="select2-group">
                      <select class="select2-js rs-form form-select">
                        <option value="2">Vietnam</option>
                        <option value="3">Korea</option>
                        <option value="4">England</option>
                      </select>
                    </div>
                    <label>Country</label>
                  </div>
                </div>
                <div class="form-half">
                  <div class="select-custom">
                    <div class="select2-group">
                      <select class="select2-js rs-form form-select">
                        <option value="2">Vietnam</option>
                        <option value="3">Korea</option>
                        <option value="4">England</option>
                      </select>
                    </div>
                    <label>Occupation</label>
                  </div>
                </div>
                <div class="form-half mg-l">
                  <div class="txt ta-l">
                    <label class="x-check" for="abcd">
                      <input id="abcd" type="checkbox" />
                      <div class="box"></div>
                      <span>
                        By being a SOLO Member, you agree to SOLO Music Bookstore’s <br /><a href="#">Privacy Policy</a> and
                        <a href="">Term of Use </a>
                      </span>
                    </label>
                  </div>
                  <button type="submit" class="rs-form btn-pri form-btn">JOin us</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>

      <div class="hp4 fpSec" data-anchor="hfp4">
        <section class="roll-slide sec-mg">
          <div class="fl-con sec-title-wrap">
            <h2 class="sec-title">ABRSM</h2>
            <div class="sub-title">
              <div class="img"><img src="./assets/images/svg/tt-ic1.svg" alt="" /></div>
              <div class="txt">
                ASSOCIATED BOARD OF THE ROYAL <br />
                SCHOOLS OF MUSIC
              </div>
            </div>
          </div>
          <div class="swiper-pg">
            <div class="swiper-container dot">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">PIANo</a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"> Violin </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"> Cello </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"> FLUTE </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"> Clarinet </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"> More </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-1.jpg" alt="" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>
      </div>

      <div class="hp5 fpSec" data-anchor="hfp5">
        <section class="rb sec-mg">
          <div class="rb-con fl-con">
            <div class="rb-col">
              <h1 class="rb-title">
                Exchange <br />
                Your USED <br />
                ABRSM Books <br />
                FOR <span class="c-red">NEW</span> <br />
                ONES.
              </h1>
            </div>
            <div class="rb-col mg-l">
              <img class="rb-small" src="./assets/images/rb2.png" alt="" />
              <a href="#" class="btn-pri">info</a>
            </div>
            <div class="rb-col">
              <img class="rb-big" src="./assets/images/rb3.png" alt="" />
              <div class="rb-sub">Book request</div>
              <div class="rb-txt">Can’t find what you are looking for? FIll in the form below and SOLO will be in touch!</div>
              <a href="#" class="btn-pri">REQUEST</a>
            </div>
          </div>
        </section>
      </div>

      <div class="hp6 fpSec" data-anchor="hfp7">
        <section class="roll-slide sec-mg">
          <div class="fl-con sec-title-wrap">
            <h2 class="sec-title">
              SHEET <br />
              MUSIC
            </h2>

            <div class="sub-list">
              <ul>
                <li>G. HENLE Verlag</li>
                <li>BARenreiter</li>
                <li>Edition peters</li>
                <li>dover publications</li>
                <li>boosey & hawkes</li>
                <li>united music</li>
                <li>durand salabert eschig</li>
                <li>and more.</li>
              </ul>
            </div>
          </div>
          <div class="swiper-pg">
            <div class="swiper-container dot">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">
                      bach
                      <div class="mini">JOhann sebastian</div>
                    </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">
                      Beethoven
                      <div class="mini">ludvig van</div>
                    </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">
                      CHopin
                      <div class="mini">frederic</div>
                    </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">
                      Debussy
                      <div class="mini">claude</div>
                    </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title">
                      MOzart
                      <div class="mini">amadeus</div>
                    </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="roll-slide-item fl-col full-h">
                    <a href="#" class="title"> more </a>
                    <a href="#" class="img">
                      <img src="./assets/images/rs-2.jpg" alt="" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>
      </div>

      <div class="hp7 fpSec hp-footer" data-anchor="hfp7">
        <section class="roll-slide sec-ft">
          <div class="ft fl-wrap jus-spa">
            <div class="ft-title">SOLO MUSIC BOOKSTORE</div>

            <div class="ct-con fl-con">
              <div class="ct-sc">
                <ul>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic1.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic3.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ft-ic2.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="ct-list">
                <ul>
                  <li>
                    23 Vo Thi Sau <br />

                    District 1 <br />

                    Ho Chi Minh City <br />

                    Vietnam
                  </li>
                  <li>
                    <a href="tel:84902450122">+84 902 450 122 </a>
                    <div class="ct-mini">English and Vietnamese</div>
                  </li>
                  <li>
                    <a href="mailto:Info@SOLOMusicBookstore.com">Info@SOLOMusicBookstore.com </a>
                    <div class="ct-mini">For General Enquiries</div>
                    <a href="mailto:Orders@SOLOMusicBookstore.com">Orders@SOLOMusicBookstore.com </a>
                    <div class="ct-mini">For Order Enquiries</div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="ft-info">
              <div class="ft-info-title">official retailer</div>
              <div class="fl-con jus-spa">
                <div class="ft-col">
                  <img src="./assets/images/ft1.png" alt="" />
                  <div class="link">
                    <a href="#">BARENREITER</a>
                  </div>
                  <div class="link">
                    <a href="#">EDITION PETERS</a>
                  </div>
                  <div class="link">
                    <a href="#">HAL LEONARD</a>
                  </div>
                </div>
                <div class="ft-col">
                  <img src="./assets/images/ft2.png" alt="" />
                  <div class="link">
                    <a href="#">edition peters</a>
                  </div>
                  <div class="link">
                    <a href="#">dover publications</a>
                  </div>
                  <div class="link">
                    <a href="#">united music</a>
                  </div>
                </div>
                <div class="ft-col">
                  <img src="./assets/images/ft3.png" alt="" />
                  <div class="link">
                    <a href="#">Hal leonard</a>
                  </div>
                  <div class="link">
                    <a href="#">g. schirmer</a>
                  </div>
                  <div class="link">
                    <a href="#">and more.</a>
                  </div>
                </div>
              </div>
            </div>
            <img src="./assets/images/ft-dot.png" alt="" class="ft-deco" />
          </div>
        </section>
      </div>
    </main>

    <div class="pop mpPanel" data-type="menu">
      <div class="pop-wrap">
        <img class="pop-bg" src="./assets/images/small-bg.png" alt="" />
        <img class="pop-dot" src="./assets/images/svg/pop-dot.svg" alt="" />
        <div class="pop-con">
          <div class="menu-col">
            <ul id="menu-main-2">
              <li class="menu-item">
                <a href="#"> Abrsm</a>
              </li>

              <li class="menu-item">
                <a href="#"> Sheet music </a>
              </li>
              <li class="menu-item">
                <a href="#"> Teaching Material </a>
              </li>
              <li class="menu-item">
                <a href="#"> MUSIC ACCESSORIES </a>
              </li>

              <li class="menu-item">
                <a href="#"> RECORDING EQUIPMENT </a>
              </li>
              <li class="menu-item">
                <a href="#"> Solo gifts</a>
              </li>
            </ul>

            <ul class="menu-link-wrap">
              <li class="menu-item">
                <a href="#">SOLO MEMBERSHIP </a>
              </li>

              <li class="menu-item">
                <a href="#"> BOOK REQUEST </a>
              </li>
              <li class="menu-item">
                <a href="#"> ABRSM BOOK EXCHANGE </a>
              </li>

              <li class="menu-item">
                <a href="#"> SHIPPING INFORMATION </a>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0)" class="mpBtn" data-type="contact"> CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pop mpPanel" data-type="search">
      <div class="pop-wrap">
        <img class="pop-bg" src="./assets/images/small-bg.png" alt="" />
        <img class="pop-dot" src="./assets/images/svg/pop-dot.svg" alt="" />
        <div class="pop-con">
          <div class="ser-wrap">
            <form action="">
              <div class="ser-form">
                <button class="ser-btn">
                  <img src="./assets/images/svg/hd-search.svg" alt="" />
                </button>
                <div class="ser-inp">
                  <input type="text" class="rs-form" placeholder="SEARCH" />
                </div>
              </div>
            </form>
            <div class="ser-popular">Popular search terms</div>
            <ul class="ser-list">
              <li>
                <a href="#">ABRSM</a>
              </li>
              <li>
                <a href="#">PIANO </a>
              </li>
              <li>
                <a href="#">VIOLIN </a>
              </li>
              <li>
                <a href="#">THEORY </a>
              </li>
              <li>
                <a href="#">BEETHOVEN</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pop mpPanel" data-type="contact">
      <div class="pop-wrap">
        <img class="pop-bg" src="./assets/images/small-bg.png" alt="" />
        <img class="pop-dot" src="./assets/images/svg/pop-dot.svg" alt="" />
        <div class="pop-con">
          <div class="ct-wrap">
            <div class="ct-title">CONTACT</div>
            <div class="ct-sub">SOLO MUSIC BOOKSTORE</div>
            <div class="ct-con fl-con">
              <div class="ct-sc">
                <ul>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ct1.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ct2.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/svg/ct3.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="ct-list">
                <ul>
                  <li>
                    23 Vo Thi Sau <br />

                    District 1 <br />

                    Ho Chi Minh City <br />

                    Vietnam
                  </li>
                  <li>
                    <a href="tel:84902450122">+84 902 450 122 </a>
                    <div class="ct-mini">English and Vietnamese</div>
                  </li>
                  <li>
                    <a href="mailto:Info@SOLOMusicBookstore.com">Info@SOLOMusicBookstore.com </a>
                    <div class="ct-mini">For General Enquiries</div>
                    <a href="mailto:Orders@SOLOMusicBookstore.com">Orders@SOLOMusicBookstore.com </a>
                    <div class="ct-mini">For Order Enquiries</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/libs/jquery-3.6.0.min.js"></script>
    <script src="./js/libs/fullpage/fullpage.min.js"></script>
    <script src="./js/libs/select2/select2.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/gallery/lightgallery-all.min.js"></script>
    <script src="./js/libs/trimline/trimline.js"></script>
    <script src="./js/libs/aos/aos.min.js"></script>
    <script>
      AOS.init({
        disable: function () {
          var maxWidth = 480;
          return window.innerWidth < maxWidth;
        },
        duration: 600,
        once: 'true',
      });
    </script>

    <script src="./js/main.js" type="module" defer></script>
  </body>
</html>
