// icon
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
//

//header
.header__inner .navbar .navbar-nav.left {
    left: -15px;
}
.header__inner .navbar .navbar-nav.right {
    right: -15px;
}
.header__inner .navbar .navbar-nav li.danhgia-li{
    margin: 0;
}
.header__inner .navbar .navbar-nav li a.danhgia-btn{
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;
    padding: 1.3rem 5rem;
    border-radius: 9.9rem;
    color: #3896D1;
    background-color: rgba(56,150,209, 0.1);
    display: block;
    margin: 1.8rem 0;
    transition: 0.3s linear;
    &::after{
        display: none;
    }
    &:hover{
        background-color:#3896D1 ;
        color: #fff;
    }
}
@media only screen and (max-width: 1199px) {
    .header__inner .navbar .navbar-nav li{
        margin: 0 1rem;
    }
    .header__inner .navbar .navbar-nav li a.danhgia-btn{
        padding: 1.3rem 2rem;
    }
}
@media only screen and (max-width: 991px) {
    .header__inner .navbar .navbar-nav li a.danhgia-btn{
        padding: 2rem 0;
        margin: 0;
        border-radius: 0;
        color: #fff;
        font-weight: 300;
    }
    .header__inner .navbar .navbar-nav.left {
        left: 0px;
    }
    .header__inner .navbar .navbar-nav.right {
        right: 0px;
        margin: 0 2rem;
    }
}
//



// feedback
.fb{
    &__title__container{
        display: flex;
        .sec-title{
            font-weight: 800;
        }
        .fb__subtitle{
            font-weight: 300;
            opacity: 0.5;
        }
    }

    &__title{
        width: 50%;
        border-bottom: 1px solid #CFCFCF;
        &.active{
            border-bottom: 1px solid #3896D1 ;
        }
    }

    &__content{
        padding-top: 4rem;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        &__left{
            width: calc(50% - 10rem);
        }
        &__right{
            width: 50%;
            padding-left: 1.5rem;
        }
        &__title{
            font-size: 1.8rem;
            line-height: 2.4rem;
            font-weight: 800;
            display: inline-block;
            margin-bottom: 2.2rem;
        }
    }
    &__vote{
        width: 100%;
        background-color: #fff;
        padding: 1.8rem 3.5rem;
        border-radius: 0.6rem;
        margin-bottom: 2.5rem;
        display: flex;
    }
    &__alert{
        display: block;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: #F01717;
    }
    &__input{
        width: 100%;
        padding: 1.3rem 1.5rem;
        border-radius: 0.6rem;
        border: 1px solid #DDDDDD;
        margin-bottom: 1rem;
        transition: 0.3s linear;
        &:focus{
            color: #000;
            border: 1px solid #3896D1;
            border-radius: 0.6rem;
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        label{
            width: calc(100% - 3.6rem);
            margin-bottom: 2rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    &__check{
        overflow: hidden;
        width: 2.6rem;
        height: 2.6rem;
        background-color: #EBEBEB;
        border-radius: 0.4rem;
        border: 1px solid rgba(0,0,0, 0);
        margin-right: 1rem;
        margin-bottom: 2rem;
        position: relative;
        &::after{
            content: "";
            background-image: url('../images/icons/Mask\ Group\ 44.png');
            width: 1.6rem;
            height: 1.6rem;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100%);
            transition: 0.3s linear;
        }
        &:checked{
            background-color: #3896D1;
            &::after{
                transform: translate(-50%, -50%);
            }
        }
        &:checked + label{
            font-weight: 700;
        }
        &:focus{
            border-radius: 0.4rem;
        }
    }
    &__mess{
        width: 100%;
        height: 15rem;
        resize: none;
        border: 1px solid #E2E2E2;
        border-radius: 0.6rem;
        transition: 0.3s linear;
        padding: 2.1rem;
        margin-bottom: 2rem ;
        &:focus{
            border: 1px solid #3896D1;
            border-radius: 0.6rem;
        }
    }
    &__submit{
        background-color: #3896D1;
        outline: none;
        border: none;
        padding: 1.5rem 6.4rem;
        border-radius: 0.6rem;
        font-size: 1.2rem;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        float: right;
        font-family: "SFPro";
        cursor: pointer;
        transition: 0.3s linear;
        &:hover{
            box-shadow: 0 0 3rem rgba(0,0,0, 0.16);
            background-color: #1688CF;
        }
    }
    &__blackstar{
        position: fixed;
        right: 0;
        bottom: 7rem;
        a{
            display: block;
            width: 8rem;
            height: 8rem;
            background-color: #1C1C1C;
            color: #fff;
        }
        &::after{
            content: "\f006";
            font-family:FontAwesome;
            font-size: 2.6rem;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            transition: 0.3s linear;
        }
        &:hover{
            &::after{
                content: "\f005";
                color: #F2B329;
            }
        }
    }
}
.fb__emp__page{
    .fb__list{
        display: none;
    }
    .fb__title{
        text-align: center;
    }
}

.vote{

    &__number{
        width: 10rem;
        height: 10rem;
        border-radius: 9.9rem;
        background-color: #F8F8F8;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F2B329;
        font-size: 5rem;
        line-height: 6rem;
        font-weight: 300;
        letter-spacing: -0.05rem;
    }
    &__content{
        padding-left: 3.5rem;
        display: flex;
        flex-direction: column;
    }
    &__status{
        margin-top: 1rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 300;
    }
}

 /****** Style Star Rating Widget *****/
 .vote__star{border:none;float:left;}
 .vote__star>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
 .vote__star>label:before{margin:5px;font-size:4rem;font-family:FontAwesome;display:inline-block;content:"\f006";}/*1 ngôi sao*/
 .vote__star>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
 /*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
 .vote__star>input:checked~label:before,
 .vote__star:not(:checked)>label:hover, 
 .vote__star:not(:checked)>label:hover~label{color:#F2B329;}

 .vote__star>input:checked~label:before{content:"\f005";}


 @media only screen and (max-width: 1170px) {
    .fb{

        &__form{
            &__left{
                width: 50%;
                padding-right: 1.5rem;
            }
            &__title{
                br{
                    display: none;
                }
            }
        }
        &__vote{
            padding: 1.5rem;
        }
    }
    .vote__star>label:before{
        font-size: 3rem;
    }
    .vote{
        &__content{
            padding-left: 1.5rem;
        }
    }

 }

 
 @media only screen and (max-width: 768px) {
    .fb{
        &__title{
            width: 100%;
            display: none;
            &.active{
                display: block;
            }
        }
        &__form{
            flex-wrap: wrap;
            &__left{
                width: 100%;
                margin-bottom: 3rem;
                padding-right: 0;
            }
            &__right{
                width: 100%;
                padding-left: 0;
            }
            &__title{
                display: block;
                br{
                    display: none;
                }
                text-align: center;
            }
        }
        &__vote{
            padding: 1.5rem;
        }
    }
    .vote__star>label:before{
        font-size: 3rem;
    }
    .vote{
        &__content{
            padding-left: 1.5rem;
        }
        &__number{
            width: 7rem;
            height: 7rem;
            font-size: 3rem;
        }
    }
 }
 @media only screen and (max-width: 400px) {
    .vote__star>label:before{
        font-size: 2rem;
    }
 }
//






 //product-detail
 .product__dt__page{
     .section{
        background-image: none;
    }
    .wrap-product{
        padding-top: 5rem;
    }
 }
 .product{
     &__container{
         background-color: #fff;
         padding: 3rem;
     }
     &__detail{
         padding-bottom: 3rem;
         border-bottom: 1px solid rgba(0,0,0, 0.1);
         display: flex;
     }
     &__slide{
         width: 37rem;
         &__big{
            background-color: #F8F8F8;  
            .big__item{
                position: relative;
                width: 37rem;
                height: 37rem;
                overflow: hidden;
                background-color: #f8f8f8;
                cursor: pointer;
                img{
                    display: block;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    opacity: 0;
                    transition: 0.5s linear;
                }
                &.slick-active{
                    img{
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                }
            }
         }
         &__small{
             .slick-arrow{
                 width: 2rem;
                 height: 2rem;
                 background-color: #1688CF;
                 border-radius: 9.9rem;
                 &.slick-prev{
                     left: -1rem;
                     z-index: 2;
                     &::after{
                         content: "";
                         z-index: 3;
                         display: block;
                         position: absolute;
                         width: 0;
                         height: 0;
                         border: 6px solid transparent;
                         border-right: 6px solid #fff;
                         top: 50%;
                         left: 50%;
                         transform: translate(-80%, -50%);
                     }
                 }
                 &.slick-next{
                    right: -1rem;
                    z-index: 2;
                    &::after{
                        content: "";
                        z-index: 3;
                        display: block;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border: 6px solid transparent;
                        border-left: 6px solid #fff;
                        top: 50%;
                        left: 50%;
                        transform: translate(-20%, -50%);
                    }
                }
             }
             .slick-list{
                 margin-top: 0.5rem;

             }
            .small__item{
                outline: none;
                cursor: pointer;
                background-color: #f8f8f8;
                margin: 0 0.3rem;
                padding: 0.5rem;
                border: 2px solid #fff;
                transition: 0.3s linear;
                &.slick-current{
                    border: 2px solid #1688CF;
                }
            }
         }
     }
     &__center{
        width: calc(100% - 37rem * 2);
        padding: 3rem;
        &__code{
            font-size: 1.6rem;
            margin: 0 0 1.5rem;
            display: inline-block;
        }
        &__name{
            margin-bottom: 2.5rem;
        }
        &__info{
            font-size: 1.6rem;
            margin-bottom: 1rem;
            &:last-of-type{
                margin-bottom: 0;
            }
            .bule{
                font-weight: bold;
                color: #1688CF;
            }
        }
        &__btn{
            font-size: 1.4rem;
            font-weight: 900;
            line-height: 2rem;
            color: #1688CF;
            border: 1px solid #1688CF;
            border-radius: 0.4rem;
            padding: 1.3rem 6rem;
            display: inline-block;
            margin-top: 3rem;
        }
        
     }
     &__right{
         width: 37rem;

     }
     &__subtitle{
        margin: 3rem 0 2rem;
        display: block;
        width: 100%;
     }
     &__txt{
         display: block;
         margin-bottom: 2rem;
         font-size: 1.4rem;
         line-height: 2rem;
         &:last-of-type{
             margin-bottom: 0;
         }
     }
     &__list{
         display: flex;
         flex-wrap: wrap;
         margin-bottom: 3.5rem;

     }
     &__item{
         width: calc(100% / 3);
         display: flex;
         margin-bottom: 1.5rem;
         &__img{
             width: 9rem;
             height: 9rem;
             padding: 0.5rem;
             background-color: #f8f8f8;
         }
         &__content{
             width: calc(100% - 9rem);
             padding: 1.4rem 1.2rem;

             .code{
                 font-size: 1.2rem;
                 display: inline-block;
             }
             .name{
                 font-size: 1.4rem;
                 font-weight: bold;
                 margin: 0.5rem 0;
             }
             .price{
                 font-size: 1.4rem;
             }
         }
     }
 }

 @media only screen and (max-width: 1199px) {
    .product{
        &__detail{
            flex-wrap: wrap;
        }
        &__center{
            width: calc(100% - 37rem);
        }
        &__right{
            width: 100%;
        }

    }
 }
 @media only screen and (max-width: 768px) {
    .product{
        &__container{
            padding: 1.5rem;
        }
        &__detail{
            flex-wrap: wrap;
        }
        &__slide{
            width: 100%;
            &__big{
                width: 100%;
            }
            &__small{
                justify-content: center;
            }
        }
        &__center{
            width: 100%;
            padding: 3rem 0;
            &__name{
                br{
                    display: none;
                }
            }
        }

        &__list{
            margin-bottom: 0;
        }
        &__item{
            width: 50%;
        }
    }
 }
 @media only screen and (max-width: 550px) {
    .product{
        &__slide{
            &__big{
                height: auto;
            }
        }
        &__item{
            width: 100%;
        }
    }
 }





 // product pro board //
 .product__page{
        .section{
           background-image: none;
       }
       .wrap-pro{
           padding-top: 4rem;
       }
 }

 .pro{
     &__getName{
        position: absolute;
        display: none;
        z-index: 5;
        width: 18rem;
        max-width: 18rem;
        background-color: #fff;
        box-shadow: 1rem 1rem 3rem rgba(0,0,0, 0.16);
        border-radius: 0.5rem;
        overflow: hidden;
        &:hover{
            .pro__name__list{
                max-height: 20rem;
                overflow-y: auto;
            }
            .pro__name__title{
                border-bottom: 2px solid #fff;
                &::after{
                    transform: rotate(90deg);
                }
            }
        }
     }
     &__name{
         &__title{
             display: block;
             font-size: 1.4rem;
             padding: 1rem;
             padding-right: 3rem;
             background-color: #1688CF;
             color: #fff;
             border-bottom: 2px solid transparent;
             transition: 0.3s linear;
             position: relative;
             &::after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-left: 5px solid #fff;
                position: absolute;
                top: 1.3rem;
                right: 1.5rem;
                transition: 0.3s linear;
             }
         }
         &__list{
            max-height: 0;
            overflow: hidden;
            transition: 0.3s linear;
            &::-webkit-scrollbar {
                transition: 0.3s linear;
                display: block;
                width: 8px;
                height: 8px;
                background-color: rgba(0,0,0, 0.2);
            }
            
            &::-webkit-scrollbar-thumb{
                background-color: #66A5CC;
            }
            li{
                font-size: 1.2rem;
                padding: 1.5rem;
                transition: 0.3s linear;
                cursor: pointer;
                &:hover{
                    background-color: #1688CF;
                    color: #fff;
                }
            }
         }
     }
     &__container{
         display: flex;
         align-items: center;
     }
     &__board{
         width: calc(100% * 2 / 3);
         position: relative;
         height: 80vh;
     }
     &__img{
         position: absolute;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
         background-color: #f8f8f8;
         width: 90rem;
         margin-right: 3rem;
         img{
             display: block;
             width: 100%;

         }
     }
     &__del{
         display: inline-block;
         font-size: 1.4rem;
         color: #fff;
         background-color: #ff3f32;
         padding: 1rem 2rem;
         text-transform: uppercase;
         border-radius: 1rem;
         opacity: 0.5;
         transition: 0.3s linear;
         cursor: pointer;
         position: absolute;
         right: 3rem;
         bottom: 0;
         transform: translate(calc(-100% - 1.5rem),100%);
         &:hover{
             opacity: 1;
         }
     }
     &__save{
        display: inline-block;
        font-size: 1.4rem;
        color: #fff;
        background-color: #1688CF;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border-radius: 1rem;
        opacity: 0.5;
        transition: 0.3s linear;
        position: absolute;
        right: 3rem;
        bottom: 0;
        transform: translateY(100%);
        &:hover{
            opacity: 1;
        }
    }
     &__dots{
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         .dot{
             cursor: pointer;
             position: absolute;
             z-index: 1;
            &__tooltip{
                pointer-events: none;
                position: absolute;
                width: max-content;
                font-size: 1.4rem;
                font-weight: 300;
                padding: 0.5rem 2rem;
                background-color: #1688CF;
                color: #fff;
                border-radius: 0.8rem;
                top: 0;
                left: 50%;
                transform: translate(-50%,  -1.5rem);
                opacity: 0;
                visibility: hidden;
                transition: 0.5s linear;
                &::after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border: 5px solid transparent;
                    border-top: 5px solid #1688CF;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 95%);
                }
            }
             a{
                width: 3rem;
                height: 3rem;
                border-radius: 9.9rem;
                background-color: #CECECE;
                color: #000;
                font-size: 1.8rem;
                line-height: 1.8rem;
                transition: 0.3s linear;
                display: flex;
                align-items: center;
                justify-content: center;
             }
             &::after{
                 content: "";
                 z-index: -1;
                 width: 0rem;
                 height: 0rem;
                 background-color: #CECECE;
                 display: block;
                 border-radius: 9.9rem;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 animation: blink 1.5s linear 0s infinite;
                 pointer-events: none;
             }
             &:hover{
                 z-index: 2;
                 a{
                    background-color: #1688CF;
                    color: #fff;
                 }
                 .dot__tooltip{
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, calc(-100% - 1.5rem));
                 }
                 &::after{
                    background-color: #1688CF;
                 }
             }
             &.active{
                z-index: 2;
                a{
                    background-color: #1688CF;
                    color: #fff;
                }
                .dot__tooltip{
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, calc(-100% - 1.5rem));
                 }
                &::after{
                    background-color: #1688CF;
                 }
             }
             
        }
     }
     &__list{
        height: 75vh;
        width: calc(100% / 3);

        .proList{
            height: calc(100% - 5.3rem);
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: block;
                width: 8px;
                height: 8px;
                background-color: rgba(0,0,0, 0.2);
            }
            
            &::-webkit-scrollbar-thumb{
                background-color: #66A5CC;
            }
        }
    }
    &__search{
        position: relative;
        margin-bottom: 1rem;
        &__inp{
            width: 100%;
            border: 1px solid #1688CF;
            padding: 1.3rem;
            padding-left: 4rem;
        }
        &__btn{
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            border: none;
            background-color: #fff;
            cursor: pointer;
            img{
                display: block;
                width: 100%;
            }
        }
    }
    &__item{
        padding: 2rem 0;
        display: flex;
        background-color: #fff;
        margin-bottom: 1rem;
        opacity: 1;
        border: 3px solid transparent;
        transition: 0.3s linear;
        &:hover{
            opacity: 1;
            border: 3px solid #1688CF;
        }
        &.active{
            opacity: 1;
            border: 3px solid #1688CF;
        }
        &__img{
            width: 12rem;
            margin: 0.5rem 0 0.5rem 1rem;
            img{
                display: block;
                width: 100%;
            }
        }
        &__content{
            padding: 0 2rem;
            width: calc(100% - 12rem);
            font-size: 1.4rem;
        }

        .status{
            font-weight: bold;
            color: #1694B0;
            margin-left: 1rem;
        }
        .link{
            font-size: 1.6rem;
            font-weight: bold;
            display: block;
            margin: 0.5rem 0;
            color: #000;
            transition: 0.3s linear;
            &:hover{
                text-decoration: underline;
                color: #1688CF;
            }
        }
        .button{
            width: 100%;
            border-radius: 0.4rem;
            border: 1px solid #1688CF;
            font-size: 1.4rem;
            font-weight: bold;
            color: #1688CF;
            padding: 1.3rem 0;
            text-align: center;
            margin-top: 1rem;
            transition: 0.3s linear;
            &:hover{
                background-color: #1688CF;
                color: #fff;
            }
        }
    }
 }
@keyframes blink{
    0%{width: 3rem; height: 3rem; opacity: 0.6;}
    100%{width: 5rem; height: 5rem; opacity: 0.3;}
}
@media only screen and (max-width: 1600px) {
    .pro__img{
        width: calc(100% - 3rem);
        img{
            width:100%
        }
    }
}

@media only screen and (max-width: 1199px) {
    .pro{
        &__img{
            width: 100%;
            margin-right: 0;
            position: relative;
            transform: none;
        }
        &__container{
            flex-wrap: wrap;
        }
        &__board{
            width: 100%;
            padding: 10rem 6rem;
            height: auto;
            padding-top: 12rem;
        }
        &__list{
            width: 100%;
            height: auto;
            padding: 0 6rem;
        }
        &List{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }

        &__item{
            width: calc(50% - 0.5rem);
            margin-right: 1rem;
            &:nth-of-type(even){
                margin-right: 0;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .pro{
        &__board{
            width: 100%;
            padding: 12rem  0 6rem ;
        }
        &__list{
            padding: 0 ;
        }
    }
}
@media only screen and (max-width: 600px) {
    .pro{
        &List{
            padding-top: 1.5rem;
        }
        &__item{
            width: 100%;
            margin-right: 0;
        }
    }
}






















































