$c-blue: #0C2545;
$c-yellow: #CF9A2C;

$f-title: "Playfair Display";
$f-txt: "Google Sans";

@mixin center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list{
    padding: 0;
    width: 100%;
    position: relative;
    transform: translateY(-6rem);
    
    &__grid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 3rem;

    }

    &__item{
        width: 100%;
        box-shadow: 1rem 1rem 3rem rgba(0,0,0, 0.16);
        background-color: #fff;
        height: 100%;
        position: relative;
        a{
            outline: none;
        }

        &__info{
            padding: 3.5rem;
            padding-bottom: 6rem;
            text-align: center;
            
            
        }
        &__link{
            font-size: 1.8rem;
            line-height: 3rem;
            font-weight: bold;
            transition: 0.3s linear;
            &:hover{
                color: $c-yellow;
            }
        }
        &__img{
            width: 100%;
            img{
                max-width: none;
                object-fit: cover;
            }
        }
        .readmore{
            display: block;
            margin-top: 0.5rem;
            padding: 0.5rem;
            color: $c-yellow;
            font-family: $f-title;
            text-decoration: underline;
            position: absolute;
            bottom: 3.7rem;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.3s linear;
            font-weight: bold;

            &:hover{
                color: #fff;
                background-color: $c-yellow;
            }
        }
    }

    &__pag{
        width: 100%;
        display: block;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
}

.pag{
    &__list{
        width: max-content;
        margin: 0 auto;
    }

    &__item{
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 9.9rem;
        border: 1px solid #D5D5D5;
        margin: 0 0.5rem;
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: center;
        padding-top: 0.5rem;
        font-weight: bold;
        background-color: #fff;
        transition: 0.3s linear;
        color: #000;

        &:hover{
            background-color: $c-yellow;
            color: #fff;
        }

        &.active{
            background-color: $c-yellow;
            color: #fff; 
        }
    }
}

@media only screen and (max-width: 1100px){
    .list{
        &__grid{
            grid-template-columns: auto auto;
        }
    }
}
@media only screen and (max-width: 800px){
    .list{ 
        transform: translateY(0);
        padding:3rem 0;
    }
}
@media only screen and (max-width:600px){
    .list{
        &__grid{
            grid-template-columns: auto ;
        }
    }
}





