.pd {
  &__img {
    overflow: hidden;
    .rto-box {
      transition: 0.2s linear;
      padding-top: 125%;
    }
    img {
      object-fit: contain;
      transition: 0.2s linear;
      &:last-child {
        opacity: 0;
      }
      &:first-child {
        z-index: 1;
        opacity: 1;
      }
    }
    @include hover() {
      img {
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
  }
  &__list {
    margin-bottom: 2rem;
    width: calc(100% + 3rem);
    margin: 0 -1.5rem;
  }
  &__btn {
    padding: 5px;
    width: 27rem;
  }
  &__item {
    margin-bottom: 2rem;
  }
  &__page {
    .pd__item {
      margin-bottom: 4.5rem;
    }
  }
  &__top {
    position: relative;
  }
  &__color {
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    bottom: 2.25rem;
    padding: 0 2.25rem;
    max-width: 100%;
    .co__btn {
      cursor: pointer;
      padding: 0 2.5px;
      cursor: pointer;
      img {
        @include sqr(12px);
      }
    }
  }
  &__bot {
    @include fz(16);
    line-height: 24px;
  }
  &__title {
    @include lc(2);
    @include fz(16);
    line-height: 1.5;
    color: #7f7f7f;
    @include hover() {
      color: #000;
    }
  }

  &__price {
    span {
      margin-right: 1.5rem;
    }
    del {
      display: inline-block;
      color: rgba($color: #707070, $alpha: 0.3);
    }
    @include fz(18);
    line-height: 26px;
  }
  &__sale {
    position: relative;
    &::after {
      content: attr(stt);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include svnM();
      padding: 5px 1.3rem;
      color: #e2002a;
      background-color: #fff;
    }
    &-whi {
      &::after {
        content: attr(stt);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include svnM();
        padding: 5px 1.3rem;
        color: #e2002a;
        background-color: #fff;
      }
    }
  }
  &__out {
    position: relative;
    pointer-events: none;
    .pd__img,
    .pd__color {
      opacity: 0.2;
    }

    &::after {
      content: attr(stt);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      @include svnM();
      padding: 5px 1.3rem;
      transform: translate(-50%, -50%);
      color: #000;
      @include svnM();
      width: 100%;
      padding: 10px 0;
      text-align: center;
    }
  }
}
@include max-media(768px) {
  .pd {
    &__list {
      .col-3 {
        width: 50%;
      }
    }
    &__page {
      .pd__item {
        margin-bottom: 3rem;
      }
    }
  }
}
@include max-media(480px) {
  .pd {
    &__price {
      @include fz(16);
    }
    &__list {
      .pd {
        &__title,
        &__price {
          font-size: 12px;
        }
      }
    }
    &__color {
      bottom: 0;
    }
  }
}
